[2017-02-18 04:58] #1497 closed

[2017-02-18 06:34] kares commented on #1146
still resisting a bit ... just hit a regression in their point release (1.14.4) that only seemingly broke in a .war
... to be fair its JRuby 1.7 but they claim support for 1.9.3 the work-around is not that straight-forward as you can not really gem manage bundler itself (chicken-egg problem). having it in would mean a small disaster :stuck_out_tongue_winking_eye:

[2017-02-18 06:38] kares commented on #1408
@enebo not in any release out there. it needs a "scary" change thus its open for re-consideration (9.2) #3807

[2017-02-19 10:37] kares commented on #4484
... adding an `instanceof RubyObject` check (in both places) resolved the compatibility issue

[2017-02-19 10:37] #4484 closed

[2017-02-19 18:21] nbarrientos commented on #4479
Indeed :sad:

[code]

[2017-02-19 18:35] nbarrientos commented on #4479
Java7 seems to do something sensible:

[code]

[2017-02-19 19:11] nbarrientos commented on #3663
https://github.com/jruby/jruby/pull/4496

[2017-02-19 19:14] nbarrientos commented on #4479
Btw, we're have IPv6 disabled over here because of #3663. Could the issue please be reopened and the patched looked at?

[2017-02-19 20:04] nbarrientos commented on #3663
And yes, this is still an issue in jRuby 9.1.7.0.

[code]

[2017-02-20 11:01] tavisca-IdrisW commented on #3824
Hi, Facing the same issue. This does not resolve even after running with sudo. Any other suggestions?

[2017-02-20 16:12] mwarnock commented on #4442
By way of confirmation: I had the same error in wildfly 10.1.0 and jruby-jars 9.1.7.0. Reverting to jruby-jars 9.1.5.0 fixed the issue.

Thanks for all your hard work

[2017-02-20 18:40] zhxchen17 commented on #3465
The same issue on ARM (RPi 3 model B) with arch linux, takes about 1min+ to start a `jirb`. Using the same JDK VM here.

[2017-02-20 20:35] aldrinmartoq commented on #4442
@headius I've tried your suggestion and it seems the jars are not left over between deploys.

Here is my reporte, please note that this same sequence works in jruby-9.1.5.0.

[code]

[2017-02-20 22:52] nico-hn opened #4497 "The return value of `ARGF.file#lineno` differs from that of MRI"
### Environment

* ruby -v
  * jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 23.5-b02 on 1.7.0_09-b05 +jit [linux-x86_64]
  * jruby 1.7.26 (1.9.3p551) 2016-08-26 69763b8 on Java HotSpot(TM) 64-Bit Server VM 1.7.0_09-b05 +jit [linux-amd64]
* Installed using rbenv
* Operating system and platform: Ubuntu 16.04
  (uname -a: Linux name-of-my-PC 4.4.0-62-generic #83-Ubuntu S

[2017-02-21 01:28] jshort commented on #1764
I get this generating YardDoc for a jROR application on Jruby 1.7 and the latest JDK even if I set JRUBY_OPTS to turn off invokedynamic

[2017-02-21 04:10] mskutin commented on #4442
Get into the similar problem with JRuby [9.0.5.0, 9.1.5.0, 9.1.7.0] and Weblogic 12.

* `jruby 9.0.5.0 (2.2.3) Java HotSpot(TM) 64-Bit Server VM 25.92-b14 on 1.8.0_92-b14 +jit [darwin-x86_64]`
* `WebLogic Server 12.2.1.2.0`
* `Rails 4.2.7`

[code]

[2017-02-21 08:34] nbarrientos commented on #4479
I got some extra eyes over here on the issue, we'll keep you posted.

[2017-02-21 09:19] nbarrientos commented on #4479
This ticket can be closed, the issue seems to be directly related to Java8 and nscd:

[code]

[2017-02-21 23:23] headius opened #4499 "Make failed indy call sites still use specific-arity dispatch"
While fixing #4482, I discovered that indy paths not directly bound (e.g. initial or re-bind, failed sites, Java invocations, ...) always used varargs boxing and call path. This would negatively affect the performance of invokedynamic dispatches that never move on to direct binding.

The bind and rebind cases are not much of a concern; they immediately either directly bind or fail the site altoget

[2017-02-21 23:23] headius commented on #4499
This will be fixed along with #4482 via #4498.

[2017-02-22 01:21] #4482 closed

[2017-02-22 01:21] #4499 closed

[2017-02-22 03:46] headius commented on #4455
Thank you for the reproduction. I've managed to reproduce the error locally with various different errors. Setting `-Xjit,threshold=0` produces the following error consistently:

[code]

I'll start here.

[2017-02-23 00:05] iconoclast commented on #3495
@headius any other info you need from this end that may be of help?

[2017-02-23 01:45] #4455 closed

[2017-02-23 01:50] headius commented on #4455
The problem was that invokedynamic was incorrectly binding instance variables in the cases where we allocate regular Java fields for them. The field variables of the object in my error above were at "logical" instance variable indices of 0, 1, and 2. The @opts variable accessed above was in the additional table of instance variables at index 1. When indy bound that variable, it used the table offs

[2017-02-23 15:15] headius commented on #3663
I commented on #4496 but I'll mention again here: I'd be more comfortable patching standard library if we could prove MRI exhibits the same problem.

I also apologize for missing all your activity! Much of your self-conversation here took place while @enebo and I were at FOSDEM and not monitoring issues as closely. We'll get this wrapped up for 9.1.8.0.

[2017-02-23 15:21] headius commented on #4391
So we still have a lot of LambdaForm classes floating around. If you want to pull another couple heap dumps, I'd like to take a look at it. I'm glad we've resolved your base issue, at least for now.

If there's no instances of the eval classes, they shouldn't survive a full GC (or two). If they do that's something worth looking into.

The RubyParser classes are known; it's a very large parser and

[2017-02-23 15:40] headius commented on #4492
I'll keep this open until we have the psych release integrated into JRuby.

[2017-02-23 15:48] #4492 closed

[2017-02-23 16:47] headius commented on #4442
@mskutin You are seeing this happen with 9.0.5.0 and 9.1.5.0 as well as later releases? That doesn't seem to fit other folks saying that 9.1.5.0 works ok.

@mwarnock @aldrinmartoq Ok. We need a way to reproduce this. I'm very confused where the duplicate class is coming from.

So a few suggestions:

1. If one of you can put together a dummy app and push it to github with instructions to run it, th

[2017-02-23 16:54] mskutin commented on #4442
@headius Hey, I forgot to write that `jruby-jars` was absent in the `Gemfile`, so adding `jruby-jars ~> 9.1.5.0` made me a trick.

[2017-02-23 16:55] headius commented on #713
A simple fix for this for now would be to not immediately compile the target script if it contains BEGIN or END. The larger fix would be to make the compiler handle BEGIN and END properly. I'll look at doing the former for 9.1.8.0.

[2017-02-23 16:56] nbarrientos commented on #3663
No problem, thanks anyway for your time :smiley:

I've just replied on the merge request.

[2017-02-23 17:06] hydrogen18 commented on #4391
Thanks,

I'll contact you via email with the heap dumps

[2017-02-23 17:06] headius commented on #713
Another option long term might be to stop precompiling the target script. We can jit blocks now, so most scripts that have hot code should eventually optimize as well...so long as they're not just benchmarking in the top scope.

[2017-02-23 17:10] headius commented on #713
I've pushed a change to avoid precompiling the target script if it has BEGIN or END in it. This isn't really a fix, though; the bytecode compiler needs to do something for BEGIN and END. So this remains open but I'll bump to 9.2 for the larger piece.

[2017-02-23 17:44] headius commented on #4413
Finally circling back this.

After tweaking things a bit I appear to have your preconf-test.rb script "working" but I'm unsure if this is an expected result or not:

[code]

Beyond that, smoketest.rb and vulkan.rb both run to completion without any indication of errors. Perhaps this branch (jruby-hotfix) has patched around the problem? I tried to revert npomf/hephaestus@4d40fe7871bace77d29cd685472

[2017-02-23 17:53] npomf commented on #4413
Good to hear that the smoketest is working as expected; I haven't checked that one for that branch recently.

However, there's a difference in the two tests.  The one you've shown above relies on the Vulkan validation layers, specifically those shipped from LunarG in their VulkanSDK.  The error you're getting indicates that the layer was not found on the indicated `PATH`.

You should be able to ac

[2017-02-23 18:24] npomf commented on #4413
The jruby-hotfix branch has been updated with a cleaner `preconf_test.rb` file that should bypass validation layers if they aren't found and ignore the adapter specification.

I'm presently unable to commit to merging the latest code in due to a limitation in refinements with the current JRuby (does not seem to honor `.singleton_class` refinements yet).

[2017-02-23 19:30] headius commented on #4413
Ok, so I had some trouble getting it to find the libraries, which led me to copy them directly into cwd and modify the ffi_lib lines. I'll try to get it working against exactly what's in the sdk.

[2017-02-23 19:36] nerdrew opened #4500 "IO#close_write seems to close the read side too for unix sockets"
This works in MRI 2.3.3 and 2.4.0, but fails on jruby-9.1.7.0:

[code]

jruby failure:

[code]

Travis failure (has all the jruby version info + platform info):
https://travis-ci.org/square/debug_socket/jobs/204702060

Test case: https://github.com/square/debug_socket/blob/a94f1c857b2626273eba9331dbc43d3d2ad0cf4e/spec/debug_socket_spec.rb#L29

[2017-02-23 19:38] headius commented on #4413
Well, I got further!

[code]

I'm going to try booting back into X11 (instead of Wayland) and see if that helps.

[2017-02-23 19:39] headius commented on #4413
Oh, I was running X. Not sure what this error means or how to remedy it. Poking around.

[2017-02-23 20:30] headius commented on #4413
Ah-ha, I'm guessing this might be a problem with running the open-source NVidia driver, "Nouveau". I'll see if I can get a proper NVidia driver installed.

[2017-02-23 20:46] enebo opened #4501 "JRuby native no longer loads on windows"
[code]

[2017-02-23 20:47] npomf commented on #4413
That's the same issue I've had when trying to test on a linux VM (no native system for testing yet).  However, it *should* only crop up if no device could be found (as obviously you have the necessary libvulkan .so's) which met the minimal criteria for use, which ... doesn't make sense if you're passing the smoketest.

Though the Nouveau drivers COULD be at fault.  Hard to say.  This VM refuses to

[2017-02-23 21:54] headius commented on #4413
Well I'm running NVidia drivers now and it still gives me the same error, after briefly popping up a blank window. I guess I'm stumped.

I've been meaning to get a Windows VM set up but it will be a while.

[2017-02-23 21:55] headius commented on #4413
And smoketest does indeed still result in "SUCCESS".

[2017-02-23 21:58] nerdrew commented on #4500
New failing spec: https://github.com/jruby/jruby/compare/master...nerdrew:nerdrew/close-write-spec?expand=1

[2017-02-23 22:03] npomf commented on #4413
I need to see if there was a code fix for polling that I need to port over.  Insofar I am unable to merge the master branch into this due to Issue #4482.  Will update shortly with more info.

[2017-02-23 22:17] headius commented on #4413
I've built the Vulkan samples and they work fine...so I'm out of ideas :-)
![screenshot from 2017-02-23 16-16-22](https://cloud.githubusercontent.com/assets/10135/23281584/80b18320-f9e3-11e6-8c6b-d7cc6d453d7a.png)

[2017-02-23 22:45] #4501 closed

[2017-02-23 22:56] npomf commented on #4413
Worked to hand-build a version of the code to bypass the above issue and the funky `refine SomeClass.singleton_class` issue I've run into.  I'm encountering the same problem as well, now.  I'll need to do more research in MRI and JRuby as to why that's failing.  Using a "known" adapter should work, though, and I've updated the file to use `ARGV[0]` as the suggested adapter name.

You can find that

[2017-02-23 23:01] headius commented on #4413
Looks like my GPU ID is "940MX" according to vulkaninfo. So...we're closer!

[code]

[2017-02-23 23:17] headius commented on #4413
Ok, I swapped MAILBOX for FIFO and I have now, finally, amazingly reproduced your original error!

[code]

[2017-02-23 23:42] headius commented on #4413
I think you're going to like this:

[code]

With that fix, I believe it runs correctly:

[code]

I do get the following error during shutdown, but I presume it's unrelated:

[code]

[2017-02-23 23:57] headius commented on #4413
Looks like this was just a mistake from the earliest days of JRuby FFI, and nobody had run into it until now: 7b7b5adf88373cf8a3abaa1be4bbc4ea91a0e7ed

I'll push the fix. Perhaps you can come up with an FFI test or spec we can use?

[2017-02-24 00:00] #4413 closed

[2017-02-24 02:34] npomf commented on #4413
I might just be able to piece something together, sure!

Super glad to hear there was an easy fix for this one, too.  Thanks a ton!

(Don't worry, the cleanup method is really poorly tested and needs desperate work.)

[2017-02-24 08:03] perlun opened #4505 "SystemCallError: Unknown error - <STDOUT>"
### Environment

Provide at least:
* JRuby version: `9.1.7.0`
* Operating system and platform: Ubuntu 12.04.5 LTS
* Java version: 1.7.0_76, vendor: Oracle Corporation

### Expected Behavior

`bundle install` should succed.

### Actual Behavior

[code]

I will try upgrading the Java version to see if it makes any difference.

[2017-02-24 08:15] k77ch7 commented on #4442
Is this related to #4312 ? The same exception appears in both cases.

[2017-02-24 08:22] perlun commented on #4505
Seem to be able to reproduce this on Java 1.8.0_31 as well.

[2017-02-24 15:10] headius commented on #4500
Weird...the code in jnr-unixsocket looks right, calling `shutdown` with read or write as appropriate. Must be in JRuby, perhaps not seeing that the other half is open and calling close to shut the whole thing down.

[2017-02-24 15:12] #4500 closed

[2017-02-24 15:24] headius commented on #4500
Thanks for the PR!

[2017-02-24 15:30] headius commented on #3528
This appears to have been fixed by other invokedynamic patches already pushed for 9.1.8.0. Thanks for the excellent repro script!

[2017-02-24 15:30] #3528 closed

[2017-02-24 15:46] thomasoberle commented on #4442
Rails dummy app to reproduce
https://github.com/thomasoberle/wardemo

Instruction in README.md

create the war file:
jruby -S rake assets:precompile
jruby -S warble war

install a wildfly 10.1 / startup parameters

JBOSS_HOME="{path}/wildfly"

JBOSS_LOG_FILE="${JBOSS_HOME}/standalone/log/jboss_startup.log"

SHORT_DATE=$(date +"%Y%m%d%H%M")
export RAILS_ENV=development
export JAVA="{path}/jdk/bin/j

[2017-02-24 16:00] headius commented on #4442
I believe @k77ch7 is right that this is fixed by #4312, and I have merged that for JRuby 9.1.8.0.

In #4312, @shirosaki discovered (and I have reproduced) a separate issue with jnr-ffi segfaulting in its finalizer. I will investigate that now.

[2017-02-24 16:00] #4442 closed

[2017-02-24 16:03] headius opened #4506 "Segfault in jnr-ffi finalizer"
This is copied from #4312 where @shirosaki discovered jnr-ffi crashes in the finalizer for its generated assembly code stubs. Repro and output follows.

[code]

[code]

hs_err_pid11608.log contains:
[code]

[2017-02-24 16:29] #1653 closed

[2017-02-24 16:30] enebo commented on #1653
As we are EOL'ing 1.7.x soon we did not fix it there.  All are encouraged to upgrade to 9.x.

[2017-02-24 18:56] perlun commented on #4505
Good! I'll see if I can reproduce this with a build from master as well. Can it easily be installed on Travis/i.e. using rvm somehow?

[2017-02-24 19:28] headius commented on #4505
Specifying jruby-head should pull from our more recent green build. I'll make sure we have a green build (things are a little fluxy today).

[2017-02-24 19:31] headius commented on #4505
I think there should be a good recent build for you to try if you go with jruby-head. We have logic to ping Travis for every green build so they update their pre-built "jruby-head".

[2017-02-24 19:32] headius commented on #4505
Oh, and if you just want to do it yourself, I believe rvm install jruby-head will just build master fine.

[2017-02-25 01:16] enebo opened #4508 "$. never seems to change once JIT'd"
I was debugging some stuff around $. and ARGF and noticed $. was not changing:

[code]
look at the $. output:

[code]

If I run in interp:

[code]

(Note: This is local on my branch on the $. number in the first output will display like this until I land my changes)

So $. is always 1 and that is because global bootstrapping is setting up a switchpoint and caching a value but $. is special in that

[2017-02-25 06:21] headius commented on #4506
I have not found a solution for this, but I have a hunch. I believe the jffi library is getting unloaded by classloader finalization before all the memory allocated by it has been cleaned up.

Evidence based on my local dump:

1. SIGSEGV says that the si_addr, the address that caused the fault, is 0x00007ff1ea1659b0.
2. The native stack says the top frame, which should be the native half of freeCa

[2017-02-25 06:33] headius commented on #4506
My JVM friend says my theory is "highly plausible".

And I think I have proof now. I modified your example to extend URLClassLoader and log when it gets finalized, along with logging when these jffi methods attempt to free resources. The last three lines before the segfault:

[code]

So it does indeed seem like the jffi structures are attempting to free, via JNI functions, after those JNI function

[2017-02-25 07:08] headius commented on #4506
Ok, so I think there is *some* silver lining here. Your particular example is an extreme case, in which JRuby and all its dependencies are getting unloaded, including jffi. If you were to have JRuby and friends in a higher-level classloader, so they don't unload, this would not be a problem.

Typically if people are embedding JRuby, they don't also isolated it to its own classloader. That's the ke

[2017-02-25 11:22] jellymann opened #4510 "Fiddle::Function returns FFI::Pointer instead of Fiddle::Pointer"
### Environment

* JRuby version: 9.1.8.0-SNAPSHOT
* Operating System: Mac OS X 10.11.6

### Expected Behavior

code:
[code]

MRI:
[code]

### Actual Behavior

JRuby:
[code]

[2017-02-25 12:26] #4463 closed

[2017-02-25 21:39] ckpeter commented on #3967
Verified that JRuby 9.1.7.0 no longer produces the message.

[2017-02-25 21:39] #3967 closed

[2017-02-26 14:48] npomf commented on #4413
Possible minimalist test created.  Can't seem to get RSpec to actually output anything, though?

View it on [Gist](https://gist.github.com/npomf/f55c7088a9499af6c05db68be518d921), including a simplified format that just says OK or FAILED:

[code]

[2017-02-26 21:11] perlun commented on #4505
The problem with my use case is we use a jruby-complete here to run the bundle install. So even though I can `rvm install jruby-head` (thanks for that suggestion), it still uses the wrong JRuby when doing the bundle install. Can you get a jruby-complete snapshot as wel somewhere?

[2017-02-27 11:46] kares opened #4512 "release and upgrade BC (jruby-openssl)"
due BC 1.56 http://bouncycastle.org/releasenotes.html

... its already pretty much prepared for release, will do a release when 9.1.8.0 is near

[2017-02-27 11:47] kares commented on #4512
1.7 probably deserves an jruby-openssl upgrade as well if there's to be one single "final" 1.7.x release

[2017-02-27 14:18] k77ch7 commented on #4219
This works properly in jruby 9.1.8.0-SNAPSHOT (2.3.1) 2017-02-27 ffb61b4 and jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae.

[2017-02-27 15:06] mwarnock commented on #4442
Thanks guys! Sorry to be entirely unhelpful, I've been sick the last 4 days.

[2017-02-27 15:42] enebo commented on #4219
@k77ch7 thanks for letting us know.  Marking against this upcoming release so anyone who cares can see it has been fixed.

[2017-02-27 15:42] #4219 closed

[2017-02-27 16:23] jeremyevans opened #4513 "cgi/escape does not define CGI.escapeHTML and other methods"
### Environment

This is likely to be OS-independent, but:

[code]

### Expected/Actual Behavior

`cgi/escape`, in addition to prepending to `CGI::Util`, also extends `CGI` itself: https://github.com/ruby/ruby/blob/ruby_2_3/ext/cgi/escape/escape.c#L104

Example of differences:

[code]

[2017-02-27 17:25] heisee commented on #4219
cool, thanks!

[2017-02-27 21:51] enebo commented on #4508
$FILENAME is also unsurprisingly affected.

[2017-02-27 22:30] itspomf opened #4514 "[9.1.7.0] Refinements of a superclass's singleton_class not being honored"
## Scenario

A Refinement performed against the `.singleton_class` of an object's super-class is not being made active / available even when `using` the refinement in which it is declared and being within a scope wherein this refinement would be active.

**IMPORTANT**:  This may be limited to JRuby's implementation of `FFI::Struct` within Java?

### Environment

* JRuby 9.1.7.0
* Java HotSpot(TM)

[2017-02-27 22:45] #4497 closed

[2017-02-28 20:52] headius commented on #4513
The CGI module we use is unmodified from C Ruby. Perhaps this is a 2.4 method?

[2017-02-28 20:53] headius commented on #4513
Oh nevermind, I see you tried Ruby 2.3. Strange that we don't have this. I think it might be a C ext they added and we never did.

[2017-02-28 20:56] headius commented on #4513
This was fixed in fd9515b5d7edaca80de426a1f43fa2af63a15a7b and will be part of our 2.4-compatible release, but it could be included in 9.1.8.0. @enebo?

[2017-02-28 22:23] enebo commented on #4513
@headius yeah I think it is a good idea.  My only question is will we add some 2.4ism if we cherry-pick this.  Maybe it does not matter all that much since escapeHTML will be what people are trying to hit and if we provide anything extra likely no one will be hitting it (and our 2.4 release will be pretty soon).

[2017-02-28 23:23] headius commented on #4513
@enebo I think it's pretty safe. There's only a couple functions in here...only took a couple hours to port.

[2017-02-28 23:28] headius commented on #4513
Actually I just realized this is already on master, but I think it's being wired up wrong.

[2017-02-28 23:33] #4513 closed

[2017-02-28 23:34] headius commented on #4512
No plans at the moment to do a 1.7 release, but you can go ahead with OpenSSL any time. We want to release 9.1.8.0 this week.

[2017-03-01 00:04] jeremyevans commented on #4513
Thanks for the quick fix. I just want to point out that `cgi/escape` is in ruby 2.3, not just in 2.4 (see link to ruby repo in the original post), so this should be backported to 9.1.  Also, note that JRuby 9.1.7.0 already supported `cgi/escape`, it just didn't extend `CGI` with `CGI::Escape`.

[2017-03-01 05:02] cmthakur commented on #4191
@zoras you can try appending this lines to `deploy.rb` file. It works for me with `jruby 9.1.7.0 (2.3.1)`. I think its a `net-ssh` error.
[code]

[2017-03-01 14:51] enebo commented on #4513
@jeremyevans if you have the time to verify we landed all the missing bits or at least the bits you were trying to use (in this case we apparently already had them but just had them hooked up wrong).

Sorry for the confusion about 2.3 vs 2.4.  I mostly meant if there was any change to cgi/escape in 2.4 and we ported for 2.4 something 2.4ish would come back to 2.3.  In any case, we did not have to

[2017-03-01 17:49] #4508 closed

[2017-03-01 17:52] til opened #4515 "Output of backticks call not returned but written to stdout instead"
### Expected Behavior
Output of command is returned from calling backticks, like in this working example on MRI (2.3.3):
[code]
### Actual Behavior
Output is written to stdout, and the return value of the backticks call is an empty string:
[code]
### Environment

Ubuntu 16.04 / Linux 4.4.0-042stab120.6

jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae OpenJDK 64-Bit Server VM 9-internal+0-2016-04-14-19524

[2017-03-01 18:27] headius commented on #4510
Ok, I merged your PR, and thanks again for that.

This issue is a bit trickier, since it's trying to let FFI classes masquerade as Fiddle classes. The `call` for the Fiddle::Function gets bound directly to the `call` of the FFI::Function, so unsurprisingly it returns an FFI::Pointer. I think we need to rework this to wrap the FFI::Function rather than binding it directly to `call`, so we can produ

[2017-03-01 18:33] headius commented on #4510
No time to work on this for 9.1.8.0 but with your help we'd like to fix it for 9.1.9.0 or 9.2 (whichever comes first).

[2017-03-01 18:38] headius commented on #4515
Wow, this seems super unlikely to be broken since there are definitely backquote tests in various test suites we run. I also can't confirm what you're seeing:

[code]

Perhaps something's weird with your shell? I have no explanation for what you're seeing, but if either of those behaviors were actually happening we'd have dozens of broken tests.

[2017-03-01 18:42] headius commented on #4505
The snapshot builds at http://ci.jruby.org/ appear to be up to date.

[2017-03-01 18:43] headius commented on #4506
This is not new and not easy to fix. It won't be in 9.1.8.0.

[2017-03-01 18:44] #3663 closed

[2017-03-01 18:45] snowp opened #4516 "DynamicScope sizeError"
* JRuby version: 9.1.7.0
* Linux 2.6.32-642.6.2.el6.x86_64 #1 SMP Wed Oct 26 06:52:09 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Saw this appear in our exception monitoring: `org.jruby.runtime.scopes.DynamicScope1 only supports scopes with 1 variables`

The code in question that fails looks something like this:
[code]
where items is a Java collection. Failure happens while trying to evaluate the blo

[2017-03-01 18:46] headius opened #4517 "Investigate behavioral differences in address lookup"
For #3396, @nbarrientos provided #4496 that patches the standard library to do some extra verification of the resulting addresses.

MRI does not need this patch. We need to figure out why we do.

[2017-03-01 19:14] headius commented on #4391
Ok, I'm looking at app4 now and I see the 20k of various LambdaForm classes. But the retained heap is under 5MB, so I'm not too worried about them. I surveyed the first few thousand instances and they all appear to be from jitted methods, which is to be expected since that's how we bind jitted methods back into our class structure.

Given that we've drastically reduced the number of handles and La

[2017-03-01 19:14] #4391 closed

[2017-03-01 20:38] enebo commented on #4516
@snowp wow we want to get this one fixed.  Any chance you can get a snippet we can see this fail locally?

[2017-03-01 20:44] til commented on #4515
I could reproduce it now on a fresh digitalocean instance with Ubuntu 16.04, without any additional configuration, with java installed from the package `openjdk-9-jre-headless`:

[code]

With `openjdk-8-jre-headless` it works as expected:

[code]

[2017-03-01 20:48] snowp commented on #4516
The code that triggered it uses a job framework in our in-house Java service container, so most of this code can't be shared. I'll try to simulate what it does in some code, but might be tricky.

 I'll also note that this happened today for the first time on one of our staging boxes today, and we've probably done around  30-40 deploys a day with 9.1.7.0 since it came out, making this a pretty rare

[2017-03-01 21:52] ckpeter opened #4519 "64-bit immediate return to prompt on console interrupt before termination"
### Environment

Windows Server 2008 R2 with JRuby 9.7.1.0 and Java8u101 64-bit JVM

### Expected Behavior

When capturing an interrupt, the program will fully terminate before control returns to console prompt. This is the case on 32-bit JVM.

### Actual Behavior

The prompt returns to console prompt immediately, before the JRuby program is terminated.

Test case (foo.rb):

[code]

Log contrastin

[2017-03-02 09:58] AlexWayfer opened #4520 "File.mtime doesn't return milliseconds"
### Environment

* JRuby version is `9.1.7.0` (and older)
* ArchLinux, Kernel version is `4.9.11`
* Ruby version manager is `rbenv`

### Expected Behavior

`File.mtime` returns `Time` with milliseconds:

[code]

### Actual Behavior

`File.mtime` returns `Time` without milliseconds:

[code]

[2017-03-02 19:03] fatum commented on #3612
We're faced on the same trouble (jruby-9.1.2.0)
![screen shot 2017-03-02 at 21 46 14](https://cloud.githubusercontent.com/assets/313161/23522097/c84f70ac-ff92-11e6-917f-dc375e14400e.png)
![screen shot 2017-02-28 at 16 01 50](https://cloud.githubusercontent.com/assets/313161/23522106/d0c88c78-ff92-11e6-93fa-cc0ff5f76116.png)

More details in ratpack's issue:

https://github.com/ratpack/ratpack/issu

[2017-03-02 21:08] headius commented on #4516
Can you get us the entire method surrounding that block?

The error you're getting basically means that we allocated a single-slot scope for the method+closure and then it turned out to need more than one slot. Normally I'd suspect our compiler, but with Java integration in the mix it's possible something there is messing it up as well.

Like @enebo says, we very much want to fix this for our 9.1.

[2017-03-02 21:17] kares commented on #4512
0.9.20 released and updated on master (CI :green_heart: )

[2017-03-02 21:17] #4512 closed

[2017-03-02 21:24] headius commented on #4478
Well I'm not sure if it was 55b3080, but this appears to be fixed on master.

[code]

[2017-03-02 21:24] #4478 closed

[2017-03-02 21:26] headius commented on #4477
Works ok with a plain class and module, so it's something specific to singleton/meta classes.

[2017-03-02 21:46] snowp commented on #4516
Looks like I was slightly off what line the error seemed to occur on:

[code]

This is basically what I referred to as `some_helper_method` in the above code snippet. For reference, the `builder` is a protobuf builder from protoc, so the return value of `buidler.getField` in this case is of type `java.util.List`

Let me know if theres anything else I can provide.

[2017-03-03 01:48] dekellum commented on #4194
This just bit me.   Before finding this issue I managed to produce a minimized reproduction, in case it helps, shown below.  @headius : some further notes on this.

* As best I can tell, this only happens with IOException and derivatives, not other java exception classes or ruby exceptions.
* You suggest the LoadError is wrapping the IOException, but wouldn't jruby's normal exception dumping show

[2017-03-03 05:55] headius commented on #4516
The full stack trace (or at least the top 10-20 frames of it) would also be very helpful. You may need `-d` or `-Xbacktrace.style=full` or some combination.

I'm leaning toward this being a peculiar IR bug, but I don't see anything in this code that should trip up the compiler.

[2017-03-03 06:01] headius commented on #4516
Other notes:

* There are two nested closures here. In the interpreter, these all would need a DynamicScope. In the JIT, the innermost would not need one.
* The outermost scope needs three variables (builder, field_name, and field), the first closure needs one additional (values), and the innermost needs one more (value).
* This could *very* likely be related to jitting blocks, which we have a fix

[2017-03-03 06:04] headius commented on #4460
Great research! Your patch might be good enough for 9.1.8.0, but I'm surprised that MRI doesn't have trouble with Bignum hashes too. Going to poke around a little bit.

[2017-03-03 06:54] headius commented on #4460
Ok, I believe I'd figured out the problem.

MRI appears to allow `#hash` impls to return a Bignum if that Bignum's value can fit into an unsigned long's bits. Or at least that's how I interpret this code from MRI's bignum.c

[code]

So this would seem to accommodate numbers from LONG_MIN to something like LONG_MIN * 2 -1 and allow our cases through.

However, the following patch does not seem to b

[2017-03-03 06:59] headius commented on #4460
I should rephrase; changing our `big2long` logic appears to break other specs. This may mean we're not supposed to be using `big2long` for the places that fail.

[code]

[2017-03-03 07:00] headius commented on #4460
For the record I'm mostly ok with the IPAddr patch, but I'd really like to fix our big2long logic properly.

[2017-03-03 07:05] headius commented on #3350
Note to self: include modified benchmarks in the original report.

I suspect the cost of writing is that even after we've given up on caching the global value, we continue to invalidate a SwitchPoint for the indy logic in the global variable. This is certainly not free, because invalidating it means we also construct a new one. I think the right way to fix this would be to also mark the variable a

[2017-03-03 10:15] #1643 closed

[2017-03-03 10:18] til commented on #4515
Please excuse my ignorance regarding Java versions - since `openjdk-9` packages are included in a recent Ubuntu release, I had assumed that it is a version automatically supported by jruby. On Ubuntu one should probably install the `default-jdk` package (or the `default-jre-headless` variant) instead, which depends on `openjdk-8`.

Downgrading openjdk works fine for me, so I'm closing this issue,

[2017-03-03 20:15] #4477 closed

[2017-03-03 21:01] headius commented on #3350
Split up read/write benchmark. Note that the reads of some of these types of variables will be optimized completely away by either our IR or by the JVM, so they're really just measuring the block dispatch overhead.

[code]

[2017-03-03 21:06] headius commented on #3350
I was wrong; the overhead is not from constantly re-invalidating -- we have a failover point at which we just leave it permanently invalid -- but from doing a slow hash lookup of the variable every time. Since this affects all globals, including some that are expected to be updated if you're using them at all, I'll make appropriate modifications to avoid this lookup.

[2017-03-03 21:21] headius commented on #3350
Calling this one done. Global variable reads cache their value unless invalidated too many times (set by -Xinvokedynamic.global.maxfail=100) and cache the wrapper object after that to avoid hash lookup overhead. Global variable sets cache the wrapper object. That's about as cheap as I can make these right now.

[2017-03-03 21:21] #3350 closed

[2017-03-03 21:25] headius commented on #4449
Without some work on jzlib I don't think we can fix this. Certainly will not make it for 9.1.8.0.

[2017-03-03 21:27] headius commented on #843
@kares Are you planning to work on this since you tagged it for 9.1.8.0?

[2017-03-03 21:30] headius commented on #3640
More work needed here than we have time for in 9.1.8.0, but I want to work on this for 9.2. I'll re-target.

Note that I had some patches in #1662 that seemed to help, and there's a bit of Java integration happening here that we don't optimize as well as we could (e.g. indy does not bind directly but still goes through reflection).

[2017-03-03 21:32] headius commented on #1554
Class variables are so weird. Not going to make 9.1.8.0 but should be fixed for 9.2.

[2017-03-03 21:35] headius commented on #4145
I'm still unclear what's happening here. Do you have any updates @presidentbeef? I've retargeted for 9.2 but this is in danger of slipping forever.

[2017-03-03 21:39] headius commented on #4516
Ok, let's optimistically assume this was fixed by @enebo's block jitting work in 9.1.8.0.

@snowp If you see this again after updating to 9.1.8.0, reopen and we'll take a closer look.

[2017-03-03 21:39] #4516 closed

[2017-03-03 21:41] snowp commented on #4516
That sounds good to me. I haven't been able to reproduce it since that one time, but I'll give it a shot this weekend.

[2017-03-03 21:48] npomf commented on #3350
Thanks for this!  Just saw your progress and I'm glad to hear there's a good resolution.

[2017-03-03 21:51] headius commented on #4460
I'm going to go with the IPAddr patch for now. The spec failures above show how sensitive this big2long logic is to changes, and we shouldn't rush that into 9.1.8.0 at the last minute.

We should undo the IPAddr patch after fixing this properly in 9.2.

[2017-03-03 22:00] headius commented on #4460
I have applied your temporary patch to ipaddr.rb.

There's also a simpler workaround that doesn't involve stdlib, since this is simply a flaw in how our Range handles start or end hash resulting in a Bignum:

[code]

We raise the error above while MRI handles this ok.

[2017-03-03 22:02] headius commented on #843
I'm clearing the target on this one since it has been an outstanding issue for a long time. We welcome someone picking this up and trying to fix it.

[2017-03-03 22:04] headius commented on #4514
Still broken as of 9.1.8.0. We'll want to get this fixed up sooner rather than later, so targeting 9.2.

[2017-03-04 00:51] anthonylebrun commented on #1329
Phew, this bug has been haunting me for the last few days.

I've been using the [u2f gem](https://github.com/castle/ruby-u2f) with the latest JRruby (9.1.7.0) and jruby-openssl. When trying to register my U2F device, I was getting `OpenSSL::X509::CertificateError: No message available` errors when the DER certificate file generated by my YubiKey got passed to `OpenSSL::X509::Certificate.new`.

Tur

[2017-03-05 08:31] kares commented on #843
@headius will take a stub at this old timer. wanted to get a few ones in, which you already looked into. thx

[2017-03-06 00:08] thedarkone commented on #3612
@fatum would you be willing to run your app with some debug output? Namely uncommenting these lines in `NonBlockingHashMapLong.java`:
 * [line 754](https://github.com/jruby/jruby/blob/d24c148505227d213b88ec31957308233982afe7/core/src/main/java/org/jruby/util/collections/NonBlockingHashMapLong.java#L754)

[code]

* [lines 927-928](https://github.com/jruby/jruby/blob/d24c148505227d213b88ec3195730823

[2017-03-06 11:46] harshvardhansharma commented on #4520
did some research and found these links:
 - http://stackoverflow.com/questions/18403588/how-to-return-millisecond-information-for-file-access-on-mac-os-x-in-java/18404059#18404059
 - https://github.com/rubinius/rubinius/issues/3502

[2017-03-06 12:11] AlexWayfer commented on #4520
@harshvardhansharma We cannot bypass some limitations of file systems. But this should work on file systems that allow, especially where MRI works.

[2017-03-06 13:22] harshvardhansharma commented on #4520
@AlexWayfer, right and seems to be working on a machine with MRI interpreter, will try with jRuby one and see how it can be fixed.
Do you have any other thoughts on this?

[2017-03-06 13:33] AlexWayfer commented on #4520
@harshvardhansharma I found this: #4393 and #1951

But they are not about files.

I think it's a flaw in JRuby, but can't say for sure, because not worked with him closely.

[2017-03-06 16:41] headius commented on #4520
@harshvardhansharma Thanks for the investigation on this one! It appears that in order to support this we would need to conditionally access the newer st_mtim etc timespec fields on the stat struct. This needs to be done in https://github.com/jnr/jnr-posix before we can use it in JRuby.

[2017-03-06 16:42] headius commented on #4520
Good news! It looks like we may have the nsec fields mapped already in jnr-posix. I'll see if I can wire them up.

[2017-03-06 16:55] enebo commented on #3462
Original PR was reverted to reopening

[2017-03-06 17:06] headius commented on #4520
And more good news...as of Java 7, the "NIO 2" file APIs also appear to support nsec resolution. It may be possible to expose them without tying jnr-posix to Java 7, but I'm just going to wire it up for native UNIX stats for now.

[2017-03-06 18:41] #4520 closed

[2017-03-06 18:49] pilhuhn commented on #4274
Still broken in 9.1.8.0 :-(((

[2017-03-06 19:11] headius commented on #4274
Indeed...we had to cut off 9.1.8.0 before it got too fat. This tab is still on my list.

[2017-03-06 19:18] headius commented on #4520
Someone want to contribute a spec to https://github.com/ruby/spec for this behavior? I don't see any existing stat a/c/mtime nanosecond specs in there and we don't want this to get missed.

[2017-03-06 19:22] presidentbeef commented on #4145
Considering the repro has been condensed down to `File.realpath(__FILE__)`, I am fairly certain the issue lies somewhere in [expandPathInternal](https://github.com/jruby/jruby/blob/c1b5f15a7412631c1102ad74dc1916f585468ed5/core/src/main/java/org/jruby/RubyFile.java#L1595).

I will do my best to take a look and see if I can figure out where/why things are going wrong.

[2017-03-06 21:47] snood1205 commented on #4469
I get an error while attempting to compile the second version as well. Shouldn't it compile to something equivalent to

[code]

in both scenarios? I feel like the `method_name?` paradigm in ruby is always `isMethodName` in Java. That's just my two cents.

[2017-03-06 21:58] AlexWayfer commented on #4520
@headius I'm trying!

[2017-03-07 12:17] brometeo opened #4523 "String#% fails with Hash parameter"
### Environment

JRuby version: 9.1.8.0 (2.3.1)
Platform: Linux 4.2.0-1-amd64 #1 SMP Debian 4.2.6-3 (2015-12-06) x86_64 GNU/Linux

### Expected Behavior

When I try this code line:
`'%<foo>.2f %<bar>.2f' % {foo: 10, bar: 5}`

I expect this output:
`"10.00 5.00`

### Actual Behavior

What I get is an exception with this error:
`ArgumentError: name<bar> after <foo>`

--
David

[2017-03-07 15:01] #4523 closed

[2017-03-07 15:36] headius commented on #4519
I suspect this is due to how the native 'jruby' command fires up the JVM.

The executable we ship is (I believe) compiled for 32-bit to work on both bitwidths. When you are using a 32-bit JVM, it starts up that JVM in the same process via JNI calls. In this case, since there's only a single process, there's no trouble routing interrupts and signals correctly.

However, when you are using our nativ

[2017-03-07 15:49] headius commented on #4519
From what I can tell, we're not doing anything wrong per se with our `CreateProcess` call. There is a flag to disable Ctrl+C handling in the child, but we're not using it.

https://github.com/jruby/jruby-launcher/blob/master/jvmlauncher.cpp#L408

I'm poking around to see if there's a simple way to tie the console of the parent proess directly to the child, so such events are handled by the child.

[2017-03-07 16:01] headius commented on #4519
I believe we may be able to disable Ctrl+C from being handled by the parent process with a call to `SetConsoleCtrlHandler`: https://msdn.microsoft.com/en-us/library/windows/desktop/ms686016(v=vs.85).aspx

If we call this and specify null for the handler, the parent process will ignore Ctrl+C, and presumably only the child process will handle those events.

[2017-03-07 17:09] clonezone opened #4524 "JRuby 9.1.8.0: Kernel#sprintf() reference-by-name throws ArgumentError."
### Environment

jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [linux-x86_64]

Ubuntu 14.04: Linux hostname 3.13.0-110-generic #157-Ubuntu SMP Mon Feb 20 11:54:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### Expected Behavior

Expect the example from the bottom of the MRI Kernel#sprintf() docs for reference-by name to work: http://ruby-

[2017-03-07 17:20] enebo commented on #4524
This was just fixed this morning in #4523

[2017-03-07 17:20] #4524 closed

[2017-03-07 17:22] enebo commented on #4524
@clonezone hey is this occurring as part of a gem?  two people reporting it in one day makes me wonder...

[2017-03-07 17:53] AlexWayfer commented on #4520
And done!

[2017-03-07 18:27] clonezone commented on #4524
Nope. I'm running into it as part of my server startup processing its configuration.

[2017-03-07 22:25] #4519 closed

[2017-03-07 23:39] headius commented on #4519
This has been fixed! You can grab the new binaries from master and copy them into your JRuby install. They'll be there in the next release.

[2017-03-08 06:00] ckpeter commented on #4519
Thank you. I am using 1.7.25 and I can confirm that the revised launcher binary does wait to terminate on CONTROL-C with 64-bit JVM.

[2017-03-08 11:38] perlun commented on #4505
Thanks @headius. So weird - when trying this snapshot, I cannot reproduce this error any more...

I suggest we close it for now; _if_ we find a way to reproduce this with the latest code on `master` we can dig into it more. For now, the added debugging info you put there is a great start. Thank you thus far.

[2017-03-08 11:38] #4505 closed

[2017-03-08 13:01] cFire opened #4525 "Update "Improving startup time" documentation"
The wiki page has a section found here:
https://github.com/jruby/jruby/wiki/Improving-startup-time#running-sub-rubies-in-the-same-jvm
that suggests setting the `-J-Djruby.launch.inproc=true` flag, however, according to this issue: https://github.com/jruby/jruby/issues/2754
this mode has been disabled.

I think it would be helpful to mention this change in the "Improving startup time" wiki page.

[2017-03-08 15:40] erikogan opened #4526 "Marshal.load fails with an explicit nil proc"
### Environment

Provide at least:
* JRuby version: `jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.60-b23 on 1.8.0_60-b27 +jit [darwin-x86_64]`
* Operating system and platform: OS X El Capitan `Darwin Ilarnek 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST 2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64`

[code]

Originally I thought this might be

[2017-03-08 18:00] enebo commented on #3179
No info in a couple of years.  Please re-open if you can provide some more info.

[2017-03-08 18:00] #3179 closed

[2017-03-09 01:23] headius commented on #4520
Thank you!

[2017-03-09 01:32] headius commented on #4515
Actually I do want to look into those. We have not focused on JDK9 support, but we should do that soon.

[2017-03-09 01:33] headius commented on #4512
Awesome, thanks @kares!

[2017-03-09 13:05] yujideveloper opened #4527 "Guard gem does not work on JRuby 9.1.8.0"
### Environment

Provide at least:
* JRuby version: `jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab OpenJDK 64-Bit Server VM 25.111-b15 on 1.8.0_111-b15 +jit [linux-x86_64]`
* Operating system: `CentOS Linux release 7.2.1511 (Core)` / `Linux 3.10.0-123.el7.x86_64`
* Guard version: `2.14.1` (with guard-rubocop `1.2.0`)
* Bundler version: `1.13.7`

### Expected Behavior

* No error occurs

### Actual Beha

[2017-03-09 18:20] headius commented on #4526
Ahh so this may be pretty simple. I'll have a look.

[2017-03-09 19:23] #4526 closed

[2017-03-09 19:37] headius commented on #4527
Icky.

[2017-03-09 19:41] headius commented on #4527
I can reproduce on 9.1.8.0 locally with a default Guardfile.

It does not fail with 9.1.7.0. This appears to be a regression, probably from bfb5eebe8e0a58f2dd5665adad003444739faa45.

@enebo Looks like we might want a 9.1.9 sooner rather than later.

[2017-03-09 20:17] headius commented on #4527
Ok, this is kinda funny.

So my TTY change above caused this to regress, but only because it exposed a bug in our spawn logic. When you spawn a command that doesn't exist (`emacsclient` in this case) it should raise ENOENT. This is handled by various pieces of logic along the spawn/open3 pipeline. The logic for the error lives in `PopenExecutor.procSpawnCmdInternal` when it uses `dlnFindExeR` to s

[2017-03-09 20:54] ioquatix opened #4528 "Not every class has a superclass?"
It seems like sometimes  `ObjectSpace.each_object(Class).collect(&:superclass)` may fail in JRuby but works fine in MRI.

Example of failure here: https://travis-ci.org/rubyworks/facets/jobs/209292853

[code]

[2017-03-09 22:21] headius commented on #4527
On second thought I won't make the change to the TTY logic. MRI does not do it, and if other places are using real errno when they should not be, it would be better to find them.

[2017-03-09 22:51] headius commented on #4528
I believe this is a small bug in each_object: it is returning modules as well as classes for `each_object(Class)`.

[2017-03-09 22:52] ioquatix commented on #4528
Ah, awesome, so it would be a good fix. Perhaps even a candidate for a spec?

[2017-03-09 23:02] headius commented on #4528
Actually it looks even narrower. I'm only seeing a small handful of these unusual modules. They shouldn't be coming up at all.

[code]

Only one of these modules has a name: `Java::JavaPackage`. There's definitely a spec in here somewhere, but we're doing something pretty extraordinary.

[2017-03-09 23:07] headius commented on #4528
Ahh, they are indeed the pseudo-modules we use to represent the Java package structure:

[code]

I'll try to figure out why they're being returned.

[2017-03-09 23:26] #4527 closed

[2017-03-09 23:28] headius commented on #4528
Hmm, I thought this patch would help but it doesn't seem to. Any thoughts on this one @kares?

[code]

[2017-03-09 23:31] headius commented on #4528
Oh wait, I know why. It's the reverse problem. When ObjectSpace does `each_object(Class)` it uses the kindOf for Class, which is set up to just check the Java class hierarchy for RubyClass. Since the BlankSlateWrapper extends IncludedModuleWrapper, it does indeed include RubyClass in its Java hierarchy, even though we are pretending it is a module.

This will take some thought. Seems like we need

[2017-03-09 23:40] ioquatix commented on #4528
We worked around the problem by using a different approach, but I think it's important to fix this issue too, especially if it's not the same as what MRI does?

[2017-03-09 23:50] headius commented on #4525
Fixed in https://github.com/jruby/jruby/wiki/Improving-startup-time/fa6cb32ac61999368cc68579a8a9c0f6da717bdb with a link to the RedBridge embedding API and a short example.

[2017-03-09 23:50] #4525 closed

[2017-03-09 23:51] headius commented on #4528
@ioquatix I agree.

[2017-03-10 05:35] kares commented on #4528
najs, edgy (in the sense that its not obvious) case with those wrappers - haven't thought about it.
extending RubyModule might work and it sounds reasonable -> this is good candidate for a fix in 9.2

[2017-03-10 15:28] headius commented on #4528
I agree...this is fairly low impact to leave it as is for 9.1.9.0 but we can switch to a RubyModule subclass soon (nowish) for 9.2 on the ruby-2.4 branch and let it bake.

[2017-03-10 20:20] #4328 closed

[2017-03-10 22:39] ckpeter commented on #4519
One more request: I am still on 1.7 branch. Are there further 1.7 releases planned? I would like to request the launcher fix be available for 1.7 release as well. Thank you.

[2017-03-11 21:37] headius commented on #4519
I think we are still planning to do at least one more 1.7 release. I'll make sure these executables get into that branch.

[2017-03-12 05:55] ckpeter commented on #4519
Great. Thank you.

[2017-03-12 10:37] jellymann commented on #4510
@headius I've made a PR to fix this into your Fiddle Fixes branch here: headius/jruby#2

[2017-03-12 15:56] #4154 closed

[2017-03-12 15:57] enebo commented on #4211
This issue is unrelated to #4154

[2017-03-12 19:29] #4211 closed

[2017-03-12 19:39] enebo commented on #2126
This appears to be have been resolved a while ago.

[2017-03-12 19:39] #2126 closed

[2017-03-12 23:39] prasunanand commented on #4487
Fixed with the current jruby-head :)
`jruby 9.1.9.0-SNAPSHOT (2.3.1)`

[2017-03-12 23:39] #4487 closed

[2017-03-13 07:29] #843 closed

[2017-03-13 20:47] headius commented on #4528
This is an alternative way to fix this particular issue: just make "superclass" call "singleton_class":

[code]

It occurred to me that we can't really make the blank slate actually just extend RubyModule because there's plenty of other odd behavior that would come from having an object whose .class is a module rather than a class. We really just want this thing to be a blank slate.

I suspect the

[2017-03-14 05:09] adriannotimportant commented on #1614
same here. When will this be addressed?

[2017-03-14 10:54] kares opened #4529 "plenty of [org.jruby.EvalType] (value [NONE]) in thread-locals"
### Environment

Tomcat .war deployed with `9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 24.55-b03 on 1.7.0_55-b13 +jit [linux-x86_64]`

### Expected Behavior

if possible less (eagerly) thread-locals that are potentially unnecessary.
JRuby 1.7.x caused much less noise on re-deploy ...

### Actual Behavior

3000 lines of thread-local warnings such as :
[code]

**there was a

[2017-03-14 13:42] fatum commented on #3612
Hi @thedarkone, nice to e-meet you. Sorry for delay

As you can see they are huge (33M) and continuously growing. This leads to high CPU consuming

Seems like we have a leak or smth with jruby? Thanks for your help

![Heap Dump](http://puu.sh/uIrq7/4cae654677.png)

Heap is stable
![Heap](http://puu.sh/uIjJo/7011a90b80.png)

But native memory is leaking
![Native memory](http://puu.sh/uIjG0/1df9ec27

[2017-03-14 14:01] enebo commented on #1614
@adriannotimportant can you also specify which version of JRuby you are using?  I do not see this occurring in either 1.7.27 nor 9.1.8.0 (although I am on win7).  If you are seeing it with the latest versions of JRuby then perhaps explain a little more about run you run and something about the env.

[2017-03-14 14:50] enebo commented on #4462
I do not think this is a bug.   What is croaking is p calling inspect:

[code]

Since p calls inspect it is pretty easy to make MRI fail this as well:

[code]

I did figure what is causing this for us and it is 'JRuby.ref' returning our implementations of classes like RubyNil which not surprisingly does have two JI accessiable inspect()s which are our implementations of inspect.   Had this been so

[2017-03-14 14:56] enebo commented on #4088
@tom-mayer can you still test this to see if it is broken?  We have fixed a number of fairly random AOT bugs (some of which were us not dumping some instrs properly).

[2017-03-14 15:00] enebo commented on #3897
I just tested the original case and we seem to be passing it now.  I am guessing this got fixed via another issue at some point in the past.

[2017-03-14 15:00] #3897 closed

[2017-03-14 19:51] thedarkone commented on #3612
@fatum hi, nice to meet you as well.

Wow. 33m, yeah that is a problem for the current impl (it's reprobing heuristics break down for huge tables). I have an idea how to improve on that, I'll try to have a PR ready by the end of the week.

----

One more thing, can you please confirm that the 33m hashmap is the one attached to one of the `RubyToJavaInvoker`'s subclasses (`ConstructorInvoker`, `Sta

[2017-03-14 21:42] cmichon commented on #1614
@thomas_enebo,

I guess you're talking about 1.7.26, unless you're planning a maintenance
release on the 1.7 branch.

I could not see this tag/release anyway.

I confirm that this bug is gone both in my personal setup (win10home) and
professional setup (win7pro).

On Tue, Mar 14, 2017 at 3:01 PM, Thomas E Enebo <notifications@github.com>
wrote:

[2017-03-15 00:33] headius opened #4531 "Order of prepends and extends can break super"
In debugging the behavior of CGI::Escape (a C ext added in Ruby 2.3) I discovered problems with the superclass logic surrounding prepended and extended modules.

Specifically, the following example will blow out the stack:

[code]

Small changes in order here will work properly, producing an error about "blah" not being available on Foo (for the super call).

For example, this works:

[code]

For

[2017-03-15 01:00] headius commented on #4531
The related tests were added to MRI in ruby/ruby@72d88bac5bbce17bf363fee0ada900c093508bcc.

[2017-03-15 01:01] headius commented on #4531
The MRI commit in question does not appear to have been backported to the 2.3 branch, but I have cherry-picked this change there anyway.

[2017-03-15 10:20] kares commented on #4528
right, I recall know -> as `JavaPackage` was re-factored it needed to act-like a module but be a class (due reasons stated above).

not sure I get the benefit of `superclass` -> `singleton_class`. would leave it as is and attempt to introduce `BasicObject` as a superclass for all "blank-state" wrappers, that sounds as a really good fit on improving JI.

[2017-03-15 12:30] fatum commented on #3612
@thedarkone Thanks for your help

Yes, this is `InstanceMethodInvoker`.

Should we use 1.7.x to avoid this issue?

Thanks,
Max

[2017-03-15 13:51] kares commented on #3612
for the record (might be related) there was a "leak" if anyone used Java integration's proc-to-interface feature "heavily" (this has been resolved in 9.1.8.0 see https://github.com/jruby/jruby/pull/4494). you can rule out if its related if you give 9.1.8.0 a try.

[2017-03-15 14:57] enebo commented on #1614
@cmichon yeah I did mean 1.7.26 and we do mean to release a 1.7.27; so if people are still seeing this we want to make sure we address it.  I am hoping it was just an older release though.

[2017-03-15 16:51] headius commented on #3612
There were also a couple other leaks (or simply excessive memory use) fixed in 9.1.8.0. I'd really like to see if there's still problems with that release.

[2017-03-15 16:56] headius commented on #3612
So yes, the cache associated with InstanceMethodInvoker (and others) looks like it can grow without bounds. For a normal application this shouldn't be a lot of data; there are only so many combinations of argument types you might use to call from Ruby to Java. However if something is causing many new classes to be created (e.g. the proc/interface leak @kares mentioned, or our own code generation w

[2017-03-15 18:44] kares commented on #3612
@headius makese sense but given ^^ ... would wait to confirm it its still an issue with 9.1.8.0

a bound would be needed, in case of proc-to-iface, only if it would keep passing in blocks with constantly changing (increasing/decreasing) arities - which is quite an extreme - not worth doing.
than there's also the case with always changing types passed in e.g. generated classes which might be worth

[2017-03-15 19:04] headius commented on #4446
We are looking at doing a 1.7.27 within the next week. I'll talk to @enebo about this fix.

[2017-03-15 19:08] headius commented on #4305
I suspect that 9k is not actually observing the inproc flag, which is probably why it's working there.

I would also be surprised if this is a recent regression.

[2017-03-15 19:09] headius commented on #4232
Hmm...got sidetracked and lost track of this one. Can we pick it up again? I assume it is still a problem for you with 1.7.26, but that would be good to confirm if you have not already.

[2017-03-15 19:12] headius commented on #4006
I will fix this.

[2017-03-15 19:14] JasonLunn commented on #4232
Thanks to 9.1.7.0, last week we were able to deploy 9K in production without having to revert back to the 1.7.x series as we had had to do with all the previous 9K releases we had tried. At this point I am no longer concerned about 1.7.x's behavior, so if you want to close this I'm okay with that.

[2017-03-15 19:43] headius commented on #4006
I came up with the following patch, but I have been unable to reproduce the problem locally with a simple `main()` added to one of the jnr-constants classes.

[code]

[2017-03-15 19:46] headius commented on #4006
@kares @mkristian @trejkaz @donv Can one of you test if this patch helps, or provide a simple way to reproduce?

[2017-03-15 19:52] headius commented on #3989
We haven't circled back to this in a while, so I think we need a refresh.

First off, I assume it still happens with 1.7.26?

Do we know that it's `io/console` triggering this? If so, we could just figure out the right way to silence the stty calls done there.

This is obviously a much bigger issue, but does JRuby 9.1.8.0 have the same problem?

[2017-03-15 19:55] headius commented on #3725
I don't think the problem really lies in JRuby. Rather, the arguments the outermost process gets from the shell (cmd.exe in this case) have already had their quotes stripped, as per console quoting rules. So we can't really tell what the original argument string was.

The best solution for this would be to finally ship both a 32-bit and 64-bit executable and have people install the one that corres

[2017-03-15 20:04] headius commented on #3665
Sounds like when the JVM's cwd is a UNC path it causes plenty of problems...more than we can really work around. I almost wonder if we shouldn't warn on startup: "JRuby starting from a UNC path. This may cause paths to resolve incorrectly" or something.

[2017-03-15 21:58] headius commented on #3725
It appers that GetCommandLine does what it says: it returns the original command line without any shell-processing. However there's a new wrinkle: if there are `-Xfoo.bar` properties passed to the jruby executable, we'll still need to process them out of the original command line. That means we'll have to deal with re-quoting, etc.

It still seems to me that the best option would be to ship both 3

[2017-03-15 22:10] headius commented on #4232
Ok, I'll close this. We've had no other reports of this kind of leak in 1.7.25, and not much to go on for leads, so let's hope you were just lucky :-)

[2017-03-15 22:10] #4232 closed

[2017-03-15 22:43] headius commented on #3781
I've done a somewhat ugly fix in 9dcc41c that just re-pushes the need information into the thread context around the exception creation. It allows this to work correctly as in JRuby 9k, and since the hook has the frame's top-level it should get a usable binding too.

This is about as far as I want to push it. Given that set_trace_func hooks always acquire a binding, I'm not sure we can do less tha

[2017-03-15 22:43] #3781 closed

[2017-03-15 22:45] headius commented on #3846
This is unlikely to be fixed in 1.7.x. It appears to still be an issue in 9k, which has a longer tail.

[2017-03-15 22:46] headius commented on #3657
Almost a year since we visited this. Still an issue for anyone on recent JRuby 9.x?

[2017-03-15 22:46] headius commented on #3592
No information in over a year.

[2017-03-15 22:46] #3592 closed

[2017-03-15 22:48] headius commented on #3459
@hydrogen18 I don't know actually. We are looking at doing a 1.7.27 to wrap up that line, but I'm not sure this needs to be fixed...and if it does I'm not sure we'll bother since it works properly in 9k.

[2017-03-15 22:49] headius commented on #3423
Very old. If someone pipes up that this is still affecting them, we might look at it...but for now I'm closing.

[2017-03-15 22:49] #3423 closed

[2017-03-15 22:50] headius commented on #3259
This is very old and there have been various fixes to 1.7 since then. In addition, 1.7.27 will be the last of the 1.7 line and we strongly encourage all users to migrate to JRuby 9k. Closing.

[2017-03-15 22:50] #3259 closed

[2017-03-15 22:52] headius commented on #3145
I'm not sure what there is to fix here. Since the last reports, the libraries in question have been updated to do a better job of searching for needed libraries. I'm going to close this as invalid. If someone's still affected by this on 1.7 (or 9k) please open a new issue with your reproduction.

[2017-03-15 22:52] #3145 closed

[2017-03-15 22:53] headius commented on #2863
This works on 1.7 HEAD, so I'll call it fixed in 1.7.26.

[2017-03-15 22:53] #2863 closed

[2017-03-15 22:54] headius commented on #2477
This is not going to get fixed in the 1.7 line. There's a separate issue for 9k to implement the path caching logic from MRI, which would include this partial-path logic.

[2017-03-15 22:54] #2477 closed

[2017-03-15 22:55] headius commented on #2308
Not going to be fixed in 1.7. This works properly on Windows with JRuby 9k. Please upgrade.

[2017-03-15 22:55] #2308 closed

[2017-03-15 22:59] headius commented on #1829
I'm not sure we're going to bother fixing this after so long, especially since it works properly on 9k. Please upgrade. If you are really stuck by this, open a new issue.

[2017-03-15 22:59] #1829 closed

[2017-03-15 23:37] toy opened #4532 "Enumerable#each_entry behaves differently from MRI"
`Enumerable#each_entry` is supposed to convert multiple arguments to an array, but the behaviour is different from MRI and jruby 1.7 when multiple arguments are yielded.

`jruby -v`:
  jruby 9.0.5.0 (2.2.3) 2016-01-26 7bee00d Java HotSpot(TM) 64-Bit Server VM 24.76-b04 on 1.7.0_76-b13 +jit [linux-amd64]
  jruby 9.1.5.0 (2.3.1) 2016-09-07 036ce39 Java HotSpot(TM) 64-Bit Server VM 24.76-b04 on 1.7.0

[2017-03-16 06:16] kares commented on #4532
confirmed on latest 9K (9.1.8.0) as well: `each_entry: [[1], [1, 2], [nil]]`

[2017-03-16 07:38] fatum commented on #3612
Deployed 9.1.8 in one region and after ~20hours of production load (~10-15K RPS) everything is fine:

- CPU load much stable (no peaks)
- Performance is improved
- long[] doesnt accumulate now

Thank you for your help!

[2017-03-16 07:59] kares commented on #3612
@fatum where do I send the invoice than? just kidding, glad to hear that - hopefully this is done for good. thanks for testing this out.

[2017-03-16 08:05] fatum commented on #3612
@kares 👍

PS Before that we tested 9.1.7 and there was leak - we got OOM after couple of hours

[2017-03-16 22:16] InfraRuby opened #4533 "String#codepoints for one-byte encodings"
On many versions of JRuby, including 9.1.8.0:

    "\x80".force_encoding("WINDOWS-1252").codepoints.first # => 0x80

I expected 0x20AC: https://en.wikipedia.org/wiki/Windows-1252

See:
  https://github.com/jruby/jruby/blob/9.1.8.0/core/src/main/java/org/jruby/RubyString.java#L5117-L5118
  https://github.com/jruby/jruby/blob/9.1.8.0/core/src/main/java/org/jruby/util/StringSupport.java#L1473

[2017-03-16 22:30] headius commented on #4533
We behave like MRI does here, so I'd be reluctant to change it.

[code]

If you believe this is wrong, I think you should take it up with them on [their bug tracker](https://bugs.ruby-lang.org) first.

[2017-03-16 22:50] InfraRuby commented on #4533
Ok: https://bugs.ruby-lang.org/issues/13321

[2017-03-16 23:11] headius commented on #4532
I pushed a possible fix. Feels like we are endlessly tweaking this logic back and forth.

I did try to do a Ruby implementation, and I don't think it's possible without extra logic to tell the kind of arguments passed in from `each`. If I implement each_entry as Ruby code, it behaves like JRuby.

[code]

[2017-03-16 23:54] lopex commented on #4533
I'ts an issue with codepoints method ifself or jcodings ?

[2017-03-17 00:23] hydrogen18 opened #4535 "New generation exhausted rapidly"
Hello, as I've mentioned before we are trying to get our Ruby on Rails 4.1 app running on JRuby 9000.

When we initially ran on JRuby 9000 we found we had problems with new generation exhaustion. I set the new generation to 3000 megabytes with a survivor ratio of 5. This helped tremendously. Next I noticed promotion failures in the GC log, so I set the initiating occupancy fraction to 70%. This se

[2017-03-17 03:17] InfraRuby commented on #4533
@headius: that's expected behavior over there! https://bugs.ruby-lang.org/projects/ruby-trunk/repository/revisions/58000/diff

[2017-03-17 03:17] #4533 closed

[2017-03-17 07:15] rovf commented on #3989
It basically occurs still, but much rarer: We have now only a single output of this message in our Jenkins job, while I could see the message several times in the past. I don't know where this message exactly comes from. It's a bit difficult to retest ist with JRuby 9.x, because this is a Java 1.6 application, and I can't rund JRuby 9 on it.

In our application, we do not explicit use io/console.

[2017-03-17 14:14] donv opened #4536 "Failing "-x" command line option"
Given a script `mixed_script`:

[code]

Run with

[code]

With MRI installed as current Ruby this produces

[code]

With JRuby this produces

[code]

### Environment

Darwin Gratass.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64
jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.112-b16 on 1.8.0_112-b16

[2017-03-17 14:31] enebo commented on #4532
@headius I commented on the PR but we seemingly changed all other yield calls in RubyEnumerable to yield from yieldSpecific already.  This is the last one in that file.  Glancing at other yieldSpecific in other files and they mostly seem ok since we know the argument we are passing internally.

[2017-03-17 15:26] headius commented on #4532
@enebo Ok, might as well go with it then.

[2017-03-17 15:27] #4532 closed

[2017-03-17 15:34] headius commented on #4535
Wow, this is very peculiar!

I would recommend hooking up a sampling profiler. You can do this with IntelliJ, and I believe also with NetBeans or VisualVM. It should not be too invasive but will give an idea of what's causing all this allocation.

One possibility is that you've got some code somewhere that's forcing GC to run, so you might audit for that. Another is that some code somewhere is all

[2017-03-17 15:35] headius commented on #4529
Yeah I've never really liked this use of thread-locals. We should find a better way, like just having a field on ThreadContext.

[2017-03-17 17:05] hydrogen18 commented on #4535
We do have some logic that can result in the allocation of large arrays of small objects. However, those did not appear to the cause of the issue. We log stuff when those run and I couldn't find any indication of them running.

One possible idea I had was moving the new generation in the opposite direction, and manually setting the tenuring threshold to 1. Making the new generation smaller would r

[2017-03-17 19:33] hydrogen18 commented on #4535
Looking at our logs some more, it is possible that some of our cache population logic does align with the issues we saw. However, what I can't figure out is why this is well behaved on JRuby 1.7 but so problematic on JRuby 9.1.8.0

[2017-03-17 21:20] brauliobo commented on #4195
+1. Would be useful for SDBM too

[2017-03-18 10:04] #4529 closed

[2017-03-18 10:06] kares commented on #4529
sounds good - in the mean-time (for 9.1.9.0) I've put in a intermediate patch so that there's less of them.

[2017-03-18 10:58] hydrogen18 commented on #4535
I was dreaming up some elaborate benchmarking schemes for this, but realized I can just run the code with GC logging enabled in both versions and compare. The code in question takes the an SQL query that returns a single column. The rows get put into a list in Redis so they can be paginated quickly. Obviously when we do this to ~100 rows its a non issue, but at ~1 million rows its a case where nei

[2017-03-18 10:59] hydrogen18 commented on #4535
Visualization result

![comparison_in_gcviewer](https://cloud.githubusercontent.com/assets/130230/24071451/f9a79864-0b9f-11e7-87a1-98ad6ef98953.png)

[2017-03-18 16:25] toy commented on #4532
@headius `each_entry` is always yielding one argument, so 1 argument is passed as is, 2 or more arguments are converted to array and 0 arguments will yield nil. So your ruby implementation should be like:
[code]

[2017-03-18 21:30] perlun commented on #3657
@headius I think so. I am not personally using JRuby so much on Windows any more so it has been less of an issue, the workaround mentioned is in place in our specific use case and is presumably working since I haven't had any reports about it from the customer etc. 😄

But yeah, the underlying issue is likely still active.

[2017-03-20 11:10] donv commented on #4536
I could use some help with this.  Is is preventing my next deployment.

I can find where the error message comes from:

https://github.com/jruby/jruby/blob/b3c3613df6affdb8db1b891e60ad48c5cd2c5ced/core/src/main/java/org/jruby/Main.java#L299

This is based on `RubyInstanceConfig#hasShebangLine` which is set here:

https://github.com/jruby/jruby/blob/b1e84356a81097da873e437201f9bcf9540bd301/core/src

[2017-03-20 14:02] agabrys opened #4538 "(SystemCallError) Unknown error - uri:classloader:/ in racc-1.4.14-java.gemspec"
I use sass-maven-plugin:2.23 ([pom.xml](https://repo1.maven.org/maven2/nl/geodienstencentrum/maven/sass-maven-plugin/2.23/sass-maven-plugin-2.23.pom)) which depends on:
* org.jruby:jruby-complete:9.1.7.0
* rubygems:compass:1.0.3
* rubygems:sass:3.4.23

It sometimes throws exception:
[code]
The sass-maven-plugin team redirected me to this project (see GeoDienstenCentrum/sass-maven-plugin#149).

Thi

[2017-03-20 17:29] HeikoBornholdt opened #4539 "jrubyc does not find classes inside modules"
I've got this ruby file (`foo/bar.rb`) and want to create a corresponding `.java` file:
[code]

### Expected Behavior
`jrubyc` creates a `.java` file:

### Actual Behavior
`jrubyc` throws an error:

[code]

### Environment
[code]

[2017-03-20 17:55] olleolleolle commented on #4539
I tried the program with 9.1.8.0: same

[code]

[2017-03-20 19:28] heikobornholdt commented on #3804
Same problem here. I have to compile

`jruby 9.1.6.0 (2.3.1) 2016-11-09 0150a76 Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [darwin-x86_64]`

[2017-03-20 23:14] ivoanjo opened #4540 "Performance regression when going from 9.1.7.0 to 9.1.8.0 with virtus gem"
### Environment

Rubies:
* `jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [linux-x86_64]`
* `jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [linux-x86_64]`

Kernel: `Linux maruchan 4.10.0-11-generic #13-Ubuntu SMP Wed Mar 1 21:27:28 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux` (`U

[2017-03-21 11:26] mkristian commented on #4006
@headius patch looks good. the only thing I wondered if the last `Class.forName(fullName)` could be `Class.forName(fullName, true, LOADER)` ? at least both `Class.forName` methods are treated the same by the SecurityManager.

[2017-03-21 17:53] HeikoBornholdt opened #4541 "annotations does not working without generating java class"
I've got this ruby class (`hello_world.rb`) and want to get the java annotations:
[code]

It look like, that annotations only work after generation to true java class.

### Expected Behavior
[code]
(both times I get `false`)

### Actual Behavior
[code]
(I get `true` and `false`)

### Environment
[code]

[2017-03-22 08:40] andreaseger commented on #4367
Hi
first sorry for the long silence.
Over the last weeks we worked around the leak by regular restarts of the app while also monitoring the leak during several jruby upgrades. Both 9.1.6.0 and 9.1.7.0 showed the leak.

Yesterday we performed the upgrade to 9.1.8.0 and as of now it looks like we're no longer leaking memory.

This shows the used system memory before and after the jruby upgrade.

![s

[2017-03-22 16:38] headius commented on #4367
@andreaseger Great news! Thanks for updating us.

[2017-03-22 16:39] headius commented on #4541
It's possible we've never hooked up `java_annotation` to `become_java`.

[2017-03-23 02:20] mwpastore opened #4542 "Regression(?) in String#% from 9.1.7.0 to 9.1.8.0"
### Environment

[code]

### Expected Behavior

[code]

[code]

### Actual Behavior

[code]

[code]

[2017-03-23 02:41] mwpastore commented on #4542
Kernel.sprintf suffers from the same regression.

Using the format-less `%{ .. }` syntax (instead of `%< .. >s`) seems to work around the issue in both cases.

[2017-03-23 04:24] presidentbeef commented on #4145
I have located what I believe to be the smoking gun.

In my example (and in the real app), the `__FILE__` of the *second* file loaded (in this case `lib/test.rb`) is `"uri:classloader:/lib/test.rb"`. This is consistent across platforms.

If I am tracing the code right, [this is the code that is execuded in expandPathInternal](https://github.com/jruby/jruby/blob/c1b5f15a7412631c1102ad74dc1916f58546

[2017-03-23 14:11] ptoomey3 commented on #4145
I played around with this for a minute and think I have it. It looks like java seems to resolve symbolic links when doing `file.getCanonicalPath()`. On Mageia, `/lib` is a symbolic link to `/usr/lib`(not the case on Ubuntu). You can get the same behavior on OS X by doing something like doing a `file.getCanonicalPath()` with a path in `/tmp`, since `/tmp` is a symbolic link to `/private/tmp` on OS

[2017-03-23 14:41] enebo commented on #4542
Several commits since 9.1.8.0 have fixed all known %/sprintf bugs (except one negative value with %u issue).  This particular case is working as expected.  9.1.9.0 in a week or so...

[2017-03-23 14:41] #4542 closed

[2017-03-23 14:46] mkristian commented on #4145
wow - great findings. so `getCanonicalPath()` is not a good idea for uniform the path on something like `uri:classloader:/lib/test.rb`

[2017-03-23 15:05] presidentbeef commented on #4145
Holy cow @ptoomey3! I thought this was a lost cause 😀 Amazing work.

[2017-03-23 15:23] mwpastore commented on #4542
Great! Thank you.

[2017-03-23 15:33] headius commented on #4145
@ptoomey3 Yeah great investigation!

So I think we just need to stop calling path canonicalization methods on all in-jar or in-classpath paths, eh?

[2017-03-23 15:44] headius commented on #4145
I am testing the following patch:

[code]

This skips the canonicalization for any classloader URIs:

[code]

[2017-03-23 16:05] headius commented on #4145
Ok, I realized with my patch that we do expect canonicalization of classpath URIs to expand filesystem relative paths like "/lib/../foo". I have modified my patch to canonicalize classpath URIs using a bogus path prefix that will never resolve to anything on the actual filesystem. Seems to be working ok.

[2017-03-23 16:09] headius commented on #4145
Pushed a PR, we'll see how it feels.

[2017-03-23 16:16] headius commented on #4006
@mkristian Good idea, I will make that change.

[2017-03-23 16:33] headius commented on #4006
Pushed #4544 to test this fix.

[2017-03-23 16:35] headius commented on #4540
Wow, now that's a regression. I'll investigate.

[2017-03-23 16:37] headius commented on #4540
Confirmed locally.

[2017-03-23 16:38] headius commented on #4540
It appears something is causing a lot of stack traces to be generated. Here's top items from `--sample`:

[code]

[2017-03-23 17:11] headius commented on #4540
Ok, so here's the problem. The libraries involved are raising so many exceptions!

Here's the backtrace of one of these exceptions. This is happening on initialization of the Virtus object for every attribute that has a default value of nil. It attempts to coerce the value to a string using `to_str`.

[code]

Here's the rescue and swallow, from `virtus/attribute/coercer.rb` at line 31:

[code]

JR

[2017-03-23 18:13] enebo commented on #4540
I think from an insanely pathological standpoint we cannot even use @headius solution if we go through n nested rescues where a non-standard === might redefine another exceptions === implementation while unwinding the stack.  I think that is crazy sauce so perhaps we don't care if someone does that but even thinking about this solution opens up lots of unclear implementation details/concerns.

I h

[2017-03-23 18:26] headius commented on #4540
@ivoanjo I believe we must push back against either virtus or coercible here. Even though MRI handles this performance case better than us, and 9.1.7.0 was (incorrectly) able to remove the backtrace cost altogether, there's an obviously wrong pattern here: default nil values are failing to coerce every time. It seems like one of the two libraries needs to fix this, in virtus perhaps by not having

[2017-03-23 18:33] enebo commented on #4540
I just looked at Coercible and I have another thought but it may or may not be a good suggestion.  Add a third argument to raise for the backtrace.  We will execute even faster than an empty rescue (our big opto).  That depends on whether Coercible finds it important for coercers to generate actual backtraces or not.

[2017-03-23 18:39] headius commented on #4540
@ivoanjo FYI you can pass `-Xlog.backtraces` to JRuby to see where backtraces are being generated, or just `-Xlog.exceptions` to see the exceptions being raised.

[2017-03-23 18:40] enebo commented on #4540
@headius yeah I think we can ignore the pathology in this case as well.  I think the universe will explode from heat death before the scenario I described happens in real code.

[2017-03-24 00:32] ivoanjo commented on #4540
Thanks @headius and @enebo for the help in analysing this!

I fully agree that generating exceptions in the hot path of the path is definitely not the way to go. I guess the next steps is to report this to the gem developers and suggest that they adopt another way of doing these coercion checks.

[2017-03-24 15:34] #4145 closed

[2017-03-24 16:34] headius commented on #4006
Still needs testing on 1.7.

[2017-03-24 17:38] LYNx785 opened #4546 "Jruby 9.1.8.0: unknown encoding name: UTF8 (argument error)"
### Environment
* jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [mswin32-x86_64]
* OS: Windows 7 (x64)

* Installed gems:
  * activesupport (5.0.2)
  * builder (3.2.3)
  * bundler (1.14.6)
  * concurrent-ruby (1.0.5 java)
  * cucumber (2.4.0)
  * cucumber-core (1.5.0)
  * cucumber-wire (0.0.1)
  * did_you_mean (default: 1.0.1)
  * diff-

[2017-03-24 18:14] enebo commented on #4546
@LYNx785 as a workaround for now if you can change the env to UTF-8 things should start working for you.  Looks like Ruby itself has no concept of 'UTF8' as a valid encoding name and we are passing that in from the Java side via that environment variable.

[2017-03-24 18:27] LYNx785 commented on #4546
The environment variable gets picked up by the jvm properly, but has no bearing on the error that jruby is throwing it seems.

Here is JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8

[code]

Here I've deleted the environment variable completely:

[code]

Any ideas?

[2017-03-24 18:40] enebo commented on #4546
@LYNx785 not now :)  This is confusing.  I guess we should figure out where this is leaking in to figure out how best to fix it.  Worst case we can break from C Ruby and add UTF8 as a valid name for UTF-8 encodings.  I don't actually see any harm in that but I am more curious right now about how it enters into our side of things.

Can you run with env JRUBY_OPTS="-d -Xbacktrace.style=raw"  I am ho

[2017-03-24 19:13] LYNx785 commented on #4546
[code]

[2017-03-24 20:20] enebo commented on #4546
ok so I know this seems to be from some file which has something like:

[code]

So somewhere there is a file you are loading which has this encoding in it.  If you know how to compile java you could add the name of the file in RubyLexer.java:setEncoding which prints out getFile().  I should probably add UTF8 to our list of aliases for UTF-8.  I would still like to know what that source file is.  I

[2017-03-24 21:31] #4006 closed

[2017-03-24 21:31] headius commented on #4006
Fixed for both 1.7.27 and 9.1.9.0.

[2017-03-25 05:26] ioquatix commented on #4540
I once wrote a C++ parser that used exceptions for flow control to unwind the stack when it couldn't parse any further. It was insanely slow compared to a code path that just manually returned a failure token. It was a good lesson about using exceptions for flow control.

[2017-03-26 23:09] fevin86 opened #4547 "Symbol encoding changes after defining a method with same name"
### Environment

Provide at least:
* JRuby-9.1.8.0
* OSX, Fedora...

### Expected Behavior

[code]

### Actual Behavior

[code]

[2017-03-27 07:26] theindra commented on #3625
I have hte same problem with Jruby 9.1.8.0 on Windows 10.

[2017-03-27 12:38] LYNx785 commented on #4546
I'll try to find the source file this morning, though its definitely unknown to me.

[2017-03-27 13:03] AnttiMa commented on #3625
I also experienced this problem with JRuby 9.1.8.0 in RubyMine 2017.1 on Windows 7.
On starting IRB console from the menu (Tools|Run IRB Console...) IRB crashes with following output:

[code]

[2017-03-27 17:19] LYNx785 commented on #4546
well, it turns out a comment I had nestled atop a file where I make java based service calls contained the offending 'UTF8'.

[code]

Changing it immediately fixed the issue! :)

That said, is pulling an assumed encoding from a comment expected behavior?

[2017-03-27 21:04] stergiom commented on #4188
@presidentbeef is this still an issue for you? @headius I'm having the same `classpath:C:/` case in both _9.1.7.0_ and _9.1.8.0_ on windows..

[code]

[code]

-is there a workaround if so?

[2017-03-27 22:20] headius commented on #4188
@stergiom I think your issue may be the same root cause as #4145 which I have fixed on master for 9.1.9.0. Can you try a build from master and see how it goes?

[2017-03-28 12:29] jsvd opened #4549 "threaded calls to InetAddress.getByName stop working after NIC disconnects twice"
### Environment

* Red Hat Enterprise Linux Server release 7.3 (Maipo)
* Amazon EC2 T2 Micro
* uname -a:  `Linux ip-10-77-5-109.eu-west-1.compute.internal 3.10.0-514.el7.x86_64 #1 SMP Wed Oct 19 11:24:13 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux`
* `jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab OpenJDK 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [linux-x86_64]`
* Problem also occurs with `jruby 1.7

[2017-03-28 12:30] pandar1 opened #4550 "[Windows][9.1.6.0] Script output redirection fails"
### Environment

jruby 9.1.6.0 (2.3.1) 2016-11-09 0150a76 Java HotSpot(TM) Client VM 23.3-b01 on 1.7.0_07-b10 +jit [mswin32-x86]

Using rails 5.0.1

### Behaviour

Launching a script from command line and redirecting the output to a file give the following error:

C:\jrails4_update\applications\datawarehouse>jruby import_accounts.rb > ppp.txt

LoadError: load error: ./config/config -- java.lang.Nu

[2017-03-28 14:02] headius commented on #4540
Just circling back to this because it's in my tabs...

Using exceptions for flow control isn't always so bad, but in this case the cost of also generating stack traces for those exceptions destroys all performance. So the workarounds/fixes available are:

* Use catch/throw if you need to unroll stack to a known point without using exceptions.
* Use a pre-allocated cached exception to do the unroll

[2017-03-28 15:27] enebo commented on #4546
AHA!  C Ruby (and JRuby) just looking for 'coding' and = or :.  The exact expression is slightly more complicated but nonetheless MRI also errors out:

[code]

First line of Ruby comments is always scanned for encoding and pragmas like frozen-string-literal.   Have you env comment been on the second line you would not have not run into this issue.

[2017-03-28 15:32] enebo commented on #4540
@headius yeah I think we can solve this with some pathological breakage but we should open up a new issue on the work we need to do.  Otherwise we would end up needing to edit this issue and it would read pretty weird.

[2017-03-28 15:45] #4540 closed

[2017-03-28 15:54] headius opened #4551 "Improve backtrace elision"
For #4540 we investigated a performance regression that turned out to be our more-strict (i.e. less broken) backtrace elision in JRuby 9.1.8.0.

Our recommendation for that bug was to fix the excessive exception raising in the libraries in question, but this bug will track improvements to backtrace elision.

The current thought is that we could, for some subset of rescue clauses, scan the rescue a

[2017-03-28 15:54] headius commented on #4540
Opened #4551 for the additional backtrace work.

[2017-03-29 00:47] headius commented on #4546
Sounds like this is a "won't fix" or "invalid" then unless MRI agrees to fix it?

[2017-03-29 02:36] LYNx785 commented on #4546
interesting. This isn't my first rodeo with (j)ruby, but I've never encountered this until now (nor did i realize comments on the first line are scanned in such a way). Thank for the help folks!

[2017-03-29 12:04] rob99 opened #4552 "JRuby threading and/or String#gsub, regexp issue"
`jruby 9.1.6.0 (2.3.1) 2016-11-09 0150a76 Java HotSpot(TM) 64-Bit Server VM 24.71-b01 on 1.7.0_71-b14 +jit [mswin32-x86_64]`

This came up in a rails 4.2 app but I think I have isolated the problem as having something to do with either JRuby threading or possibly the oniguruma lib.

When I execute this script, it will typically create and clean up threads as expected.  Then usually after about 50

[2017-03-29 14:10] enebo commented on #4546
@headius we could just add non-standard alias UTF8 in jcodings for this since Java io package uses this name as a default (nio seemingly fixed it to be UTF-8).  We have never seen this but I doubt it would do any harm?  I am a little ambivalent...

[2017-03-29 17:03] enebo commented on #4552
I generated a Java stack dump after we get into this and that one extra left over thread has no Java thread behind it anymore (also it does not seem to have a backtrace either).  It is almost as if our cleanup did not remove it from some list?

[2017-03-29 23:52] rob99 commented on #4552
BTW I just noticed my script uses String#truncate in the gsub block - its the Rails extension and I ripped this from my rails app code.  Anyway this is never executed because the input string here will not pass the regexp.

In case anyone was wondering...

[2017-03-30 02:00] pan commented on #4330
The issue is still on v9.1.8.0

[2017-03-30 11:21] donv commented on #4004
Hi @oneiros @headius !

Just wading through my email here.  I am getting to where I will test this.  This is of course the number one priority of the Ruboto project.

I am totally swamped this week, but will start work on Ruboto9K on monday.

@oneiros How do you test your jruby.jar on Android?
@oneiros How did you test your jruby.jar with Ruboto, and what error did you get?

[2017-03-30 11:25] donv commented on #4004
@oneiros excellent work, btw 👍

[2017-03-30 11:38] donv commented on #1023
Hi!

Sorry for the late reply.  Still 1000 messages behind on the JRuby mailing list 😄 .

Since this issue is so old, and the world has changed so much, I will close this issue.

I will open a new issue if I try InDy in the future.  All our production systems run without InDy.

[2017-03-30 11:38] #1023 closed

[2017-03-30 12:37] oneiros commented on #4004
Basically I created a new ruboto app, built jruby.jar from my forked repo and manually copied that into the libs/ folder of my app. From there it was just trial-and-error: Start the app, look for exceptions to appear in the logcat output, try to fix the exception, rinse and repeat.

Most fixes were to JRuby but I had to make some small adjustments to the generated ruboto app as well (as described

[2017-03-30 17:08] donv commented on #4004
@oneiros I'll take a look right now.  Normally we use the jruby-jars.gem built from the jruby repo.  Are you able to build the jruby-jars gem?  If so, could you post such a gem somewhere?

[2017-03-30 17:27] oneiros commented on #4004
Here is the completely untestet result of `./mvnw -Pjruby-jars`:

[jruby-jars-9.1.8.0.SNAPSHOT.gem.zip](https://github.com/jruby/jruby/files/883261/jruby-jars-9.1.8.0.SNAPSHOT.gem.zip)

[2017-03-30 17:41] donv commented on #4004
Cool!  I'll test it right away.

[2017-03-30 17:49] donv commented on #4004
Hmm, got some file corruption.  The zip has the gem content, but needs to be a tgz file, I think.

[2017-03-30 17:55] donv commented on #4004
Hm , having trouble using the file as a proper gem.  @oneiros can you put the *.gem file into a *.zip file and upload that?

[2017-03-30 18:11] donv commented on #4004
@oneiros Trying to build your fork.  Getting

[code]

Is this known to you?

[2017-03-30 18:13] donv commented on #4004
I see a similar line here:  https://travis-ci.org/jruby/jruby/jobs/200071431#L489

But that build is green.  Mine fails for JRuby Core.

[2017-03-30 18:15] oneiros commented on #4004
Uhm, that is what I did. Sorry, could have been clearer.

No, sorry, I have not seen this before.

[2017-03-30 18:24] donv commented on #4004
OK, fixed it.  The pom.rb har `jnr-posix:3.0.35-SNAPSHOT` which is not available anymore.  Changed to `jnr-posix:3.0.37` and it compiled OK.

[2017-03-30 18:25] donv commented on #4004
@oneiros we could chat on #jruby  makes less noise :)

[2017-03-30 19:14] HowellBP commented on #2950
Same problem exists in 9.1.8.0 on Raspberry Pi 3, running raspbian jessie.

[2017-03-30 21:36] donv commented on #4004
Big improvements today.  I have started an app with jruby-jars from @oneiros repo, and initialized JRuby!  Woohoo!

However, it fails when trying to run Ruby code:

[code]

@headius @enebo Any idea what this is?

[2017-03-30 21:45] donv commented on #4004
I have output from running Ruby code!

[2017-03-31 12:48] Marahin commented on #4455
@headius I can confirm that on jruby-9.1.8.0 the problem is no longer seen, where as mentioned error was seen on 9.1.7.0.
`sequel (4.44.0)`

[2017-04-01 16:34] DavidEGrayson commented on #1422
OK, I tried making a PR but I got stuck when I tried to upgrade jzlib to the latest version.  They fixed their issue in commit https://github.com/ymnk/jzlib/commit/1a5fb101cebe1b762cfe0ac74cd85ed3045919ea on Januray 2014 but they have not released a new version since 1.1.3 in October 2013.  So I am not sure if `pom.rb` can fetch jzlib from GitHub or if there is a better way to upgrade it.

I notic

[2017-04-01 16:43] DavidEGrayson commented on #1422
For what it's worth, you can see the work I did in this branch to add a test and fix the JRuby java code:

https://github.com/DavidEGrayson/jruby/tree/pr_zlib_mtime

[2017-04-02 16:33] MSNexploder opened #4555 "ArgumentError message differs on multiple unknown keywords args"
Calling a method with multiple unknown keywords arguments in CRuby results in an Argument Error listing all unknown keywords.
In JRuby only the first unknown keyword is present in the error message.

### Example

[code]

### Expected Behavior

`ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-darwin16]`
[code]

### Actual Behavior

`jruby 9.1.9.0-SNAPSHOT (2.3.3) 2017-03-21 e7bcde5 Java HotSpot(

[2017-04-04 09:45] kirillrdy commented on #4547
Can I also add some comments about reproducing @fevin86 bug
 you need to evaluate the return of def, eg puts it
[code]
the example he posted works if you paste it into irb, because irb evals return value of each line

[2017-04-05 16:56] the-michael-toy commented on #4367
Any idea which fix in 9.1.8.0 would have caused this? We are seeing a similar problem on some, but not all instances, where since moving to j9k we have unbounded native memory growth.

[2017-04-05 21:38] mmmries opened #4556 "Java::JavaLang::ArrayIndexOutOfBoundsException in CGI.unescapeHTML"
### Environment

* `jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [linux-x86_64]`
* Ubuntu 14.04.5 LTS x86_64

[code]
I've also reproduced this on my laptop:

* MacOS Sierra
* `jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 25.60-b23 on 1.8.0_60-b27 +jit [darwin-x86_64]`

### Expected Behavior

[code]

### Ac

[2017-04-05 22:05] #4556 closed

[2017-04-05 22:26] enebo commented on #4556
Add spec commit 1ad761b to get coverage on this.

[2017-04-06 01:22] lardcanoe opened #4557 "Marshal.load fails with latest ActiveSupport 5.0.2"
### Environment

* 9.1.7.0 and 9.1.8.0 tested
* Linux

Other relevant info you may wish to add:
* activesupport 5.0.2
* https://github.com/rails/rails/commit/a72498f776b2e67b7e3a074423181defcd06fc56

If this change is loaded, a simple call to `Marshal.load(Marshal.dump([]))` fails:

[code]

Code:

[code]

Gemfile:

[code]

Gemfile.lock

[code]

[2017-04-06 01:29] mmmries commented on #4556
💙 💚 💛 ❤️ 💙 💚 💛 ❤️ 💙 💚 💛 ❤️ 💙 💚 💛 ❤️ 💙 💚 💛 ❤️

Thanks @enebo! Pulled down jruby head and confirmed that it fixed my reproducible case as well. Glad I opened the issue before spending 3 days hitting my head against a wall

[2017-04-07 03:49] jordansissel opened #4558 "JRuby 9.1.7.0 fails to start on Java 9"
### Environment

* JRuby: jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae OpenJDK 64-Bit Server VM 9-Debian+0-9b161-1 on 9-Debian+0-9b161-1 +jit [linux-x86_64]
* Java: OpenJDK 64-Bit Server VM (build 9-Debian+0-9b161-1, mixed mode)

Other environmentals:

Docker image "openjdk:9-jdk" (shortest path for me to try Java 9)

### Reproducing.

[code]

Result:

[code]

<details>

[code]
</details>

[2017-04-07 03:53] jordansissel commented on #4558
Workaround: Add some `--add-opens` flags:

[code]

[2017-04-07 04:18] jordansissel commented on #4111
Following up here from https://github.com/jruby/jruby/issues/4558

Running JRuby 9.1.7.0 with a bunch of `--add-opens` flags lets me get to a hello-world:

`ruby -J--add-opens=java.base/{java.lang,java.security,java.util,java.security.cert}=ALL-UNNAMED`

(This adds opens for java.lang, java.security, java.util, and java.security.cert)

[2017-04-07 04:18] jordansissel commented on #4111
Gem installation seems to fail because RubyZlib fails during installation

* RubyZlib fails during initializer:

[code]

[2017-04-07 04:24] jordansissel commented on #4111
RubyZlib calls [setAccessible on java.util.zip.CRC32 ](https://github.com/jruby/jruby/blob/master/core/src/main/java/org/jruby/ext/zlib/RubyZlib.java#L77-L90), so adding `java.util.zip` to `--add-opens` works around this.

[2017-04-07 09:33] petr-tichy commented on #3962
Present also in `jruby 9.1.9.0-SNAPSHOT (2.3.3) 2017-04-06 1ad761b Java HotSpot(TM) 64-Bit Server VM 25.60-b23 on 1.8.0_60-b27 [darwin-x86_64]`

[2017-04-07 13:39] dgutov commented on #4384
I think two code paths will be fine. Certainly better than the current situation anyway.

It's basically +2 lines for my usage. And we have to run the code in JRuby on CI anyway.

[2017-04-08 18:01] alyssais commented on #4469
@snood1205 I don't think so — I don't think there's any reason for a private Ruby method to be exposed to Java at all.

[2017-04-10 21:56] iignatev commented on #4558
there is a new introduced [--permit-illegal-access](http://mail.openjdk.java.net/pipermail/jigsaw-dev/2017-March/011763.html) Java option which relax access checks, so you still can setAccessible, JVM will also prints warnings, so you are able to track your illegal access.

please be informed that the option will be removed in JDK 10, hence it an be used only as an indeed temporary workaround.

[2017-04-11 16:09] hd719 commented on #2156
Hello there! I am new to open source and I would like to contribute to this project.

[2017-04-13 16:03] Quentame opened #4560 "RubyModule.java: uninitialized constant Compass::Configuration::Serialization::Growl"
### Environment
* JRuby: 9.1.8.0
* JRE: 1.8
* OS: Windows 10 v1511
* Active Gems :
  * Sass: 3.4.23
  * Compass: 1.0.3
  * ffi: 1.9.18
  * Growl: 1.0.3

### Expected Behavior

I would like a Growl notification when my CSS is generated (with ``Growl.notify()``).

Here is my Growl code :
[code]

### Actual Behavior

I got an error when I call the Growl class.

It seems that Growl is unknown ...

[co

[2017-04-13 16:19] enebo commented on #4560
@Quentame is it possible for you to make a reproduction for us?  As it is I don't know enough about how to set up sass/compass example to try this out.

My other question is how do you use growl on Windows?  If I go to the git repo for the growl gem I only see a reference to install the growl which works on MacOS.

[2017-04-14 08:37] Quentame commented on #4560
How to reproduce you ?

### More details on the problem
I launch my CSS generatation by Maven goals.
There is two generations :
- CSS only
- Sprite + CSS

pom.xml

[code]

Generate CSS (Full).launch
[code]

### Windows notifications
- Windows 7
![Windows 7 notification](https://i-msdn.sec.s-msft.com/dynimg/IC420468.png)
- Windows 10
![Windows 10 notification](https://www.howtogeek.com/wp-content/u

[2017-04-15 10:04] kares commented on #4469
@alyssais you would need to look at the internals to understand why its compiling everything - basically the assumption is that the interpreter is left behind and a new Java class is generated -> thus all methods (even private ones) need to be available.

that is a convention when making Java methods accessible in Ruby, this is something else (no JI involved).

[2017-04-17 05:00] etehtsea commented on #4557
Fixed in upcoming JRuby 9.1.9.0. Dup of #4526

[2017-04-17 05:25] #4557 closed

[2017-04-17 05:41] kares commented on #4469
looked into and realized I did not know about `jrubyc --java` doing smt completely different than `jrubyc`.
I understand your concerns/hints now (and find new issues - attr_ methods not being considered) but I am not yet sure what would be the best way to fix. would go with get/isFoo but that would mean 2 assumptions :
- `foo?` would need to always return a true/false - follow the convention
- one

[2017-04-18 01:06] yujinakayama opened #4562 "Ripper.sexp unexpectedly returns nil when given source includes keyword-ish symbol"
On JRuby 9.x.x.x `Ripper.sexp` unexpectedly returns nil when given source includes keyword-ish symbol such as `:if` and `:unless` (not sure if there're any more).

### Environment

[code]

### Expected Behavior

`Ripper.sexp` should return an array for source including `:if`, as MRI does:

[code]

### Actual Behavior

`Ripper.sexp` returns nil for source including `:if`:

[code]

[2017-04-18 14:29] #4562 closed

[2017-04-18 20:32] venu14feb commented on #3170
I have encountered the same issue, but downgrading the chrome driver to 2.27 did not resolve it.

[2017-04-18 21:21] MSNexploder commented on #1571
This works as expected in JRuby 9.x.x.x

[2017-04-19 06:07] reach2jeyan commented on #3170
@venu14feb What is the error you are getting, can you please paste the logs

[2017-04-19 12:27] MSNexploder opened #4564 "String encoding differs between MRI and JRuby"
### Environment

JRuby 9.1.8.0 / 9.1.5.0 on OSX and Linux + graphql-ruby gem

### Behavior

ATM i'm trying to get graphql-ruby (https://github.com/rmosolgo/graphql-ruby) to work on JRuby. The only real showstopper right now is that occasionally strings like "unit" or "limit" are binary encoded rather than UTF-8 or 7Bit ASCII which are properly encoding on MRI.

As can be seen on Travis (https://tr

[2017-04-19 13:51] venu14feb commented on #3170
@reach2jeyan, I am getting the below error:
unable to connect to chromedriver 127.0.0.1:9515 (Selenium::WebDriver::Error::WebDriverError)

[2017-04-19 14:52] headius commented on #3170
This appears to be working fine on JRuby master on my system...

[code]

[2017-04-19 14:58] headius commented on #3170
As near as I can tell, the chromedriver installed on my Fedora appears to be in the 2.29 range, since it's for Chrome 57. All I did was `gem install selenium-webdriver` and `dnf install chromedriver` and it works, so I'm not sure what else to do here.

@venu14feb Can you give more details about your environment?

[2017-04-19 15:03] headius commented on #4564
I was unable to run your tests on my Fedora 25 environment with JRuby master. Are you able to reproduce this with JRuby master? (builds at ci.jruby.org).

[2017-04-19 15:05] headius commented on #4560
@Quentame Please make a git repo that we can clone and run simple commands to reproduce this. I don't think we have a complete working example from you yet, do we? I'm not familiar with these libraries, and I don't know how to set up a reproduction of your issue.

[2017-04-19 15:07] headius commented on #4558
JRuby 9.1.8.0 should start up fine on Java 9, though for this example there's obviously some rogue output (stty?):

[code]

I'll look into that output separately.

[2017-04-19 15:10] aschmied opened #4565 "Time.now sometimes attempts to call libc gettimeofday on Windows"
### Environment

[code]

Rails 4.2.7.1
RSpec 3.5.0
Windows 10

### Expected Behavior

`Time.now` returns the time

### Actual Behavior

This looks related to #4501. We have an RSpec test for a class that calls `Rails.cache.fetch`. *Sometimes* that call attmpts to call the libc `gettimeofday` method and throws a `NotImplementedError`. I have not been able to determine the factors that make the call

[2017-04-19 15:12] headius commented on #4558
JRuby master does not appear to have the stty output.

[2017-04-19 15:13] headius commented on #4555
So the main issue is that it only shows the first invalid kwarg, yes?

[2017-04-19 15:30] MSNexploder commented on #4555
exactly

[2017-04-19 15:30] venu14feb commented on #3170
@headius, I am trying to run the cucumber scripts and using Ruby.
The environment:
- ruby 2.3.3p222 (2016-11-21 revision 56859) [x64-mingw32]
- chromedriver - have tried with 2.27 and 2.29

(The issue started after upgrading my machine to Windows 10. It asked to upgrade Ruby that supports 64 bit and I did)

May I know what '_dnf install chromedriver_' does? May be I couldn't find this command as I

[2017-04-19 15:34] #4555 closed

[2017-04-19 15:39] headius commented on #3170
Well, we can't help with C Ruby issues. If you are having the trouble with a current JRuby release, let us know.

[2017-04-19 15:39] #3170 closed

[2017-04-19 15:40] MSNexploder commented on #4564
Just tested using `jruby 9.1.9.0-SNAPSHOT (2.3.3) 2017-04-19 937cdf7 Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 [darwin-x86_64]` - still the same issue. The same string is properly UTF-8 encoded in MRI.

<details>
  <summary>Sample stacktrace</summary>

[code]
</details>

[2017-04-19 15:44] headius commented on #4565
I think the best answer for us here, until we have gettimeofday modified to do the "right thing" on Windows, would be to make the Windows version just provide System.currentTimeMillis as the fallback code does.

[2017-04-19 16:23] MSNexploder commented on #4564
Looks like the test order is important.

Running tests using different seeds results in different tests failing (but it looks like using the same seed keeps failing the same tests).

E.g. using seed "62230" results in 7 errors, but "27871" yields only 6 errors.

[2017-04-19 16:23] #4565 closed

[2017-04-19 16:28] headius commented on #4564
Here's what I get when I try to run your tetsts:

[code]

I'm not sure what's wrong with my setup :-(

[2017-04-19 16:28] #4558 closed

[2017-04-19 16:30] headius commented on #4552
This is a known problem with gsub and the magic `$~` variable it updates and reads. MRI has similar issues but they're less common because of the GIL.

If you put logic that calls gsub into its own method body, this will work correctly.

[2017-04-19 16:39] MSNexploder commented on #4564
For some reason you are running the Rails 5.0 tests while my setup is running the 4.2 ones by default. Pretty sure my setup is the broken one.

Nonetheless you should be able to run the tests using appraisal:
`bundle exec appraisal rails_4.2 rake test`

(just trying for myself I had to downgrade concurrent-ruby - `bundle exec appraisal rails_4.2 bundle update concurrent-ruby`)

[2017-04-19 16:56] headius commented on #3625
Something strange about how it handles stdin when piping. Investigating.

[2017-04-19 17:54] #3625 closed

[2017-04-19 17:55] headius commented on #3625
I've committed a fix for the additional errors piping stdin to IRB. I do not believe this is really related to the original issue, but the original issue should also have been fixed.

If anyone sees more issues like this on 9.1.9.0 or higher, please open a NEW bug.

[2017-04-19 17:56] headius commented on #4515
We'll do a push for Java 9 in the 9.2 cycle.

[2017-04-19 18:09] #4446 closed

[2017-04-20 05:33] reach2jeyan commented on #3170
@venu14feb If you are using ruby, could you please place the chromedriver in the lib file of the ruby and check?

[2017-04-20 06:26] theindra commented on #3625
Great!!! Thank you.

When do you plan to publish an installer for jruby 9.1.9.0?

[2017-04-20 14:16] #1571 closed

[2017-04-20 17:14] janlelis opened #4568 "Support grapheme detection via \X"
JRuby should support matching "grapheme clusters" (glyphs), which are constructed using mutliple Unicode codepoints.

### Expected Behavior (MRI)

[code]

### Actual Behavior (JRuby)

[code]

### Related Links

- Unicode® Standard Annex #29: Unicode Text Segmentation: http://unicode.org/reports/tr29/
- Introduction of `\X` to Onigmo: https://github.com/k-takata/Onigmo/commit/dde0c4329284a8383e732c

[2017-04-20 17:17] headius commented on #4564
Ahh ok. I just did "bundle install" and it went for the Rails 5 gems by default. I'm re-trying with 4.2 now.

[2017-04-20 19:13] hydrogen18 commented on #4535
I have been able to collect some additional interesting observations on this. We have numerous code paths that allocate many objects(100000s) on a request thread. The average request thread completes in 100ms. So typical object lifetime is something like 100ms. There are long lived objects that are part of the framework but I am assuming that those move to the old gen and stay there.

In JRuby 1.7

[2017-04-21 06:10] pobocks opened #4569 "Upgraded to 9.1.8.0 from 9.0.5.0, now crashing during rake test"
### Environment

* JRuby version: jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab OpenJDK 64-Bit Server VM 25.121-b13 on 1.8.0_121-8u121-b13-0ubuntu1.16.04.2-b13 +jit [linux-x86_64]

* OS: Linux 4.8.5-040805-generic #201610280434 SMP x86_64 GNU/Linux

Other relevant info you may wish to add:
* Gemfile
[code]
Stack Trace:
[code]

Application in question: https://github.com/harvard-library/archivesspace-pr

[2017-04-21 07:20] kares commented on #4569
`bundle update activerecord-jdbcpostgresql-adapter activerecord-jdbc-adapter` and you're good to go!
... there has been an incompatibility in AR-JDBC with JRuby 9.1

[2017-04-21 07:20] #4569 closed

[2017-04-21 13:40] pobocks commented on #4569
Thank you so much! I'm really sorry for putting y'all to the effort.

[2017-04-21 15:13] kares commented on #4539
this is a known (current) limitation ... you should not nest your classes (for now, use `java_package 'foo'`)

[2017-04-21 21:59] camlow325 commented on #4538
We appear to be running into the same issue pretty frequently when running our unit tests which exercise JRuby 9.1.8.0.  It happens sporadically on our local machines but very frequently when run in Travis CI.  Here's a snippet of the backtrace:

[code]

We've seen the problem both on JDK 1.7.0_75 and 1.8.0_31.

Is there any specific data that would be helpful to collect when these occur that woul

[2017-04-22 07:45] mkristian commented on #4538
this errors is when jruby starts to look through the gems and find a file for a `require`. so IO fails loading a file from the jruby jar. adding the system properties `jruby.debug.loadService=true` will give more inside what gets actually loaded.

and maybe the system properties `jruby.backtrace.style=full` or `jruby.backtrace.style=raw` as I miss the actual trace from jruby classes.

[2017-04-24 15:34] headius commented on #4564
Well I struggled to get a reproduction and had little luck, but I was able to reproduce your erratic test results.

Anything you can do to reduce this down to just a few tests would be helpful, I'm trying to cut pieces out as I go, while keeping failures, but I have not made a lot of progress.

[2017-04-24 19:21] headius commented on #4569
@pobocks Thanks for reporting anyway! I'm glad it was a simple fix.

[2017-04-24 19:54] MSNexploder commented on #4564
I finally managed to create a more minimal reproduction 🎉

First I extracted one of the failing tests:
[code]

But once I removed the (now useless) TestData module everything works.

After that it was pretty straightforward to get graphql out of the picture:
[code]

Interestingly this only breaks if the method is defined within a module or class - top-level functions work without any problem.

[2017-04-24 20:48] venu14feb commented on #3170
@headius .. Sorry if this was the wrong post.

@reach2jeyan .. Yes I did place the chromedriver.exe file in the bin folder and the same was defined in the path to be launched. Seems like the issue is to do with Windows 10 being 64 bit.
Will keep you posted after I find a resolution. Thanks for your assistance!

[2017-04-24 20:58] enebo commented on #3459
EOL'ing 1.7.x after our next release and no one is stepping up for this.

[2017-04-24 20:58] #3459 closed

[2017-04-24 21:01] enebo commented on #4305
1.7.x will be EOL after 1.7.28 and no one has stepped up to solve this.

[2017-04-24 21:01] #4305 closed

[2017-04-24 22:00] enebo commented on #3920
Ok I reverted the revert  	02c988a with the only change as fixing const_defined? to be its original 1.9 impl.  I believe the issue was that when we back-ported (or tried to) we left in the 2.x semantics which allows :: in const_defined?.

@headius can you review this.

I committed this because I was hoping someone @grddev @joshuaspence @JasonLunn @creddy @eliaslevy or @rtlong can try the original

[2017-04-24 22:10] enebo commented on #3920
DOH...bizarrely this is not working...False alarm.  At least @grddev reduced case is not working.  I am confused now why this was working before the revert now...

[2017-04-24 23:48] camlow325 commented on #4538
Thanks, @mkristian, for the follow-up.  After further investigation, I believe the errors that we have been seeing are just related to memory exhaustion.  With a combination of bumping up the maximum heap size for the Java process and reworking our test suite to ensure that for every `ScriptingContainer` which is allocated that an explicit call to `.terminate()` is made, we no longer have been abl

[2017-04-25 03:27] opan opened #4572 "Can't compare BigDecimal with Float::INFINITY got FloatDomainError: NaN"
JRuby version: `jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 25.91-b14 on 1.8.0_91-b14 +jit [darwin-x86_64]`
Output `uname`: `ruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 25.91-b14 on 1.8.0_91-b14 +jit [darwin-x86_64]`

I'm using JRuby on Rails. I can't compare `BigDecimal` with `Float::INFINITY`.
I can do this in **MRI**, but not in JRuby

[2017-04-25 07:12] #4538 closed

[2017-04-25 07:14] kares commented on #4572
JRuby 9.1.8.0 back-trace :
[code]

[2017-04-25 09:46] botchniaque opened #4573 "interface implementation example does not work with JRuby 9000 series"
### Environment

Provide at least:
* JRuby version 9.1.8.0
* Operating system and platform: *Ubuntu 16.10* oracle JVM 1.8.0_181

Other relevant info you may wish to add:
* Installed or activated gems: None
* Application/framework version None
* Environment variables: None

### Expected Behavior
Running [JRuby embed example on how to cast JRuby code to java interface](https://github.com/jruby/jruby

[2017-04-25 14:03] headius commented on #4564
Oh excellent! Ok, this gives me enough to proceed. I have my suspicions.

[2017-04-25 14:07] headius commented on #4564
OMG I just realized the original string changes encoding. That's super wrong. It must be a String stored in the Symbol, returned directly for to_s, and then later updated by the symbol to have ASCII-8BIT encoding.

[2017-04-25 16:26] headius opened #4574 "Ripper outputs stderr to console during test:mri on Linux"
Locally I get the following output from test:mri's run of the Ripper tests. It appears to be incorrectly capturing or swallowing stderr on this environment (and also for @enebo).

[code]

This should be investigated some day, since it could be a symptom of something more serious in subprocess launching logic.

[2017-04-25 16:33] #4564 closed

[2017-04-25 16:37] headius commented on #4564
Wow, this is a great find!

We have long had issues with encoding of symbols. In MRI, all symbols are keyed off their raw bytes, but in the table they store the original encoding. This allows looking them up with a simple key (rather than bytes + encoding) but sometimes leads to a race in deciding the symbol encoding for bytes which are the same but which should be encoded differently.

In our IR

[2017-04-26 02:41] zhangch-fnst opened #4575 "ArgumentError: ASCII incompatible encoding needs binmode when using NKF"
Here is my code:
 require "nkf"
 external_encoding = NKF.guess(f.read)
 f.reopen(file, "r:#{external_encoding}")

My file is Japanese file.So external_encoding's value is ISO-2022-JP.
But Exception throws in f.reopen :
ArgumentError: ASCII incompatible encoding needs binmode when using NKF

### Environment
jruby-9.1.8.0
Windows7_X64

[2017-04-26 06:37] zhangch-fnst commented on #4575
I  di that:
`f.reopen(file, "rb:#{external_encoding}")`
It gone to be OK!

[2017-04-26 11:24] jmiettinen commented on #4112
Could we get #4389 to 1.7-branch?

[2017-04-26 18:53] MSNexploder commented on #4564
Great to see this fixed!

And many thanks for the additional insights.

[2017-04-26 18:53] MSNexploder commented on #4547
Should be the same issue as #4564 (fixed in 01cd84d).

[2017-04-26 22:44] fevin86 commented on #4547
@MSNexploder you are right. Will close this

[2017-04-26 22:44] #4547 closed

[2017-04-27 17:26] headius commented on #4070
Fixed, likely by changes for #4564.

[2017-04-27 17:26] #4070 closed

[2017-04-27 17:28] headius commented on #3880
Still not working in JRuby master (9.1.9.0 in process) despite some symbol fixes.

@enebo There's a good chance this might get fixed if we carry the bytelist symbol stuff through all the way.

[2017-04-27 17:32] headius commented on #3719
#4070 is fixed but #3880 is not. There's a chance this is already fixed for 9.1.9.0, or it may be fixed by work @enebo and I are doing to finally fix up symbol encodings (probably for 9.2, depending on impact).

I could not find the original branch for this reproduction, so I'm unsure how to test it. @elia?

[2017-04-27 17:38] headius commented on #3688
Circling back to this because we're fixing up symbol encoding stuff.

If I run this as-is today on 9.1.9.0 (master) I get this:

[code]

The multibyte chars are at least rendering as question marks now, but the error remains.

If I run this without the eval (and use `Xø`) as the name of the class, the error changes to a marshaling error:

[code]

...which matches MRI. So it seems that the problem

[2017-04-27 17:39] headius commented on #3688
I suspect this will be fixed by getting the rest of identifiers to use proper bytelists, which @enebo is working on now.

[2017-04-27 17:49] headius commented on #3697
Likely to be fixed by identifier work by me and @enebo for 9.2.

[2017-04-27 19:38] headius commented on #3347
This appears to be working mostly ok now. My console does not appear to render the puts output correctly but there's no error.

[2017-04-27 19:38] #3347 closed

[2017-04-27 19:39] headius commented on #1610
We've had a lot of changes in the past three years and no followup after last suggestion. Closing.

[2017-04-27 19:39] #1610 closed

[2017-04-27 19:43] headius commented on #1329
This appears to be working ok in 9.1.8.0 (the encoding comes back as UTF-8) and we have further fixes for encodings in Strings (see #1348, #4564). Marking this as fixed in 9.1.9.0. I'm marking this fixed as of 9.1.8.0.

@anthonylebrun Sorry to hear about your trouble! If it's still happening for you with 9.1.8.0, try master (9.1.9.0). If that also breaks, open an issue and we'll look into it!

[2017-04-27 19:43] #1329 closed

[2017-04-27 19:46] headius commented on #914
Very likely to be fixed by identifier work @enebo is doing.

[2017-04-27 22:09] elia commented on #3719
@headius the reason is that we switched to use the `parser` gem for parsing instead of our home brew solution and the specs are now gone from `master`. The relevant spec is still available on the [`0-10-stable` branch](https://github.com/opal/opal/blob/0-10-stable/spec/lib/parser/variables_spec.rb#L102-L104).

Feel free to close this issue at your discretion.

---

In case you want to repro the is

[2017-04-28 00:24] trejkaz commented on #2404
Witnessed on 9.0.5.0 as well. Granted, that version is out of date.

[2017-04-28 11:49] eregon opened #4577 "LocalJumpError: unexpected break in spec/ruby/language/break_spec.rb"
jruby 9.1.9.0-SNAPSHOT (2.3.3) 2017-04-28 038f790 OpenJDK 64-Bit Server VM 25.121-b14 on 1.8.0_121-b14 +jit [linux-x86_64]

Which can be reproduced with:
[code]

This specific spec is currently excluded in jruby.2.3.mspec so that's why it got unnoticed.
There are only 3 `ruby_exe` calls in that spec so once this is fixed I would advise to include it on CI.

[2017-04-28 20:45] venu14feb commented on #3170
@reach2jeyan ... The issue is, can't run the cucumber scripts from command prompt on windows 10 (which was fine on windows 7). Don't know why. But I found a solution, I installed the rubymine IDE and its running the scripts successfully now.

[2017-04-29 00:32] headius opened #4579 "Javadoc jar published to Maven Central contains no content"
As part of our releases, we publish a javadoc jar. Unfortunately it seems to be empty.

This appears to affect both 1.7 and 9k.

cc @mkristian @enebo

[2017-04-29 00:33] headius commented on #4579
Link to example empty jar: http://search.maven.org/remotecontent?filepath=org/jruby/jruby/9.1.8.0/jruby-9.1.8.0-javadoc.jar

[2017-04-29 02:08] personnel commented on #3347
great! It's works now!
But still has bug for exsample:
[code]
output:
[code]
MRI output:
[code]

[2017-04-29 03:59] headius commented on #3347
@personnel This is the other half of encoding work that @enebo  is working on: making all identifiers use proper encoding too. In this case, it will need to get translated into the JIT naming of the compiled method as well as being properly represented in the method table.

Can you open a new bug for that, please?

[2017-04-29 12:58] donv commented on #4004
I am working on this again now.  If I get an app started OK, we should try to get the changes into JRuby core.

[2017-04-29 12:59] headius commented on #4004
@donv  Excellent! I am standing by to assist

[2017-04-29 14:06] donv commented on #4004
@headius I am having trouble setting a class constant using ScriptingContainer#put.  The value is not visible on the next runScript call.

[2017-04-29 15:01] donv commented on #4004
I have made a test app here:  https://github.com/ruboto/test_app_9k

It currently fails with `NameError: uninitialized constant RubotoTestAppActivity` since the class constant fails to be set before loading the script.

The app uses JRuby based on the branch `ruboto_9k` in the jruby/jruby repository.

So, the good news is that JRuby loads and is able to run Ruby source.  The current failure is cau

[2017-04-29 15:16] headius commented on #4004
Hmm ok, I'm not sure why that would be. I'll poke around a bit.

[2017-04-29 15:24] donv commented on #4004
I made a Java test app here:  https://github.com/ruboto/test_app_9k/blob/master/JRubyTest.java

but that works as expected, even when using JRuby built from the ruboto_9k branch (unless my `clean` of the JRuby build did not work).

I did however encounter the same problem using embedded JRuby in a Tomcat app last week.  Both the Android and Tomcat test cases are large so not so useful for debuggin

[2017-04-29 15:28] headius commented on #4004
Yeah I'm unable to reproduce at a command line, just creating a ScriptingContainer in the same way as your "debugging" commit on the test app. I set the constant and then I see it's there in the subsequent runScriptlet.

Where is the code in Ruboto to set up the container? Perhaps it's using the wrong modes passed to the new ScriptingContainer (e.g. isolated variable spaces or something).

[2017-04-29 15:39] headius commented on #4004
LocalVariableBehavior::GLOBAL and BSF both seem to trigger the error. I did not try all permutations of LocalVariableBehavior and LocalContextScope but none of the latter modes triggered it with TRANSIENT set for the former.

If Ruboto is not using one of those, then it could be changes we've made to the top level context; RedBridge may not be setting the constant in the right place, like perhaps

[2017-04-29 15:43] headius commented on #4004
#4431 made some changes to toplevel to properly "wrap" loads. Could be a suspect.

[2017-04-29 16:10] donv commented on #4004
The ScriptingContainer instance is created at https://github.com/ruboto/test_app_9k/blob/master/src/org/ruboto/JRubyAdapter.java#L274

It is reflection based since we have the option of loading JRuby from the RubotoCore app.  It should be using localContextScope `SINGLETON` and localVariableBehavior `TRANSIENT`.

I found a workaround for setting the constant:  Setting a global variable and running

[2017-04-29 16:25] donv commented on #4004
@headius With the workaround, I have a working app!  🍾 🎉

[2017-04-29 16:36] donv commented on #4004
@headius I have to take off 😞 Great progress, though!  Hopefully we can fix the setting of the constant and then look at what changes should be merged into master.

I feel the changes that include the dex related code should **not** be in JRuby, but in Ruboto.

[2017-04-29 17:39] headius commented on #4004
Woohoo!

I'll start reviewing the other changes so we get try to get them in for 9.1.9.0 or if they're too invasive 9.2.

[2017-04-29 22:52] pbl-pw opened #4580 "Define method with GBK name by using 'def' has wrong symbol name"
Refer to #3347 GBK symbol is now ok. But define method by 'def' still has problem.
For exsample:
[code]
jruby 9.1.9.0-SNAPSHOT (2.3.3) 2017-04-28 ee137a8 Java HotSpot(TM) Client VM 25.131-b11 on 1.8.0_131-b11 +jit [mswin32-x86] output:
[code]
MRI output:
[code]

[2017-04-30 07:16] donv commented on #4004
OK, so I see the use of dexmaker is integrated into `DynamicScopeGenerator.java`.  Do you see a good way to extract it from there?  Or is it OK to include it in core JRuby?

[2017-05-02 06:23] reach2jeyan commented on #3170
@venu14feb Strange...! How could an IDE resolve the issue of chromedriver?

[2017-05-02 07:03] jordansissel opened #4582 "resolv fails when using IPv6 link-local"
### Environment

Provide at least:
* JRuby 1.7.26
* Operating system and platform (e.g. `uname -a`): OSX

Other relevant info you may wish to add:
Experienced when using Logstash

----

User reported the following error in Logstash: (Formatted for easier reading)

[code]

I worked with the user to patch `resolv.rb` to print the host and port:

(line 763 of lib/ruby/1.9/resolv.rb)

[code]

Output:

[2017-05-02 07:07] jordansissel commented on #4582
/etc/resolv.conf contains what I believe to be an incorrect nameserver (link local missing an interface)

[code]

[2017-05-02 07:09] jordansissel commented on #4582
We tried changing the ipv6 link-local nameserver entry in /etc/resolv.conf to add `%en7`, just in case, but this  did not fix the issue.

[2017-05-02 07:10] jordansissel commented on #4582
Commenting out the ipv6 nameserver entry in /etc/resolv.conf seems to have fixed it.

[2017-05-02 08:47] janko-m opened #4583 "JRuby starts executing Enumerator code too soon"
### Environment

[code]

### Expected Behavior

For the given code

[code]

MRI 2.4.1 doesn't output anything. I expected JRuby to behave the same, to pause and not to execute any code after `yield`, since we requested only the first element of the Enumerator.

### Actual Behavior

However, JRuby outputs

[code]

In other words, JRuby started executing the code after `yield`, even though we only a

[2017-05-02 10:05] oneiros commented on #4004
FWIW, when I did that, I was not aware of @headius' dexclient. If it is able to reliably produce dex code from the generated JVM bytecode in `DynamicScopeGenerator.java` then yes, it should probably not be in core JRuby. There would just need to be an interface for ruboto to hook into there and convert the bytecode to dex, similar to what is already done with `JavaProxyClassFactory`.

As for the o

[2017-05-02 16:20] madrob opened #4584 "Update test-unit version to latest release"
#3949 was closed as won't fix and solved via test-unit/test-unit#126

That fix is available in test-unit v3.2.2, but jruby still bundles 3.1.1

Let's update to the latest release to get this (and other) bug fixes available.

[2017-05-02 22:45] mungler opened #4585 "TypeError: nil is not a string when trying to write smime."
### Environment

Re: https://twitter.com/headius/status/859532672611356672

macOS Sierra 10.12.3 on iMac 27'' 5K

Darwin Eddie.mungler.home 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64

jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.40-b23 on 1.8.0_40-ea-b20 +jit [darwin-x86_64]
JRUBY_OPTS=-J-Xmn512m -J

[2017-05-03 10:11] mungler commented on #4585
@headius FYI :)

[2017-05-03 10:31] kares commented on #4585
seems like a JRuby-OpenSSL issue ... preferably move it to https://github.com/jruby/jruby-openssl/issues

[2017-05-03 10:32] kares commented on #4585
also if we're to have a small reproducable (self-contained) script it would sure help resolve the issue faster.

[2017-05-03 11:05] mungler commented on #4585
@kares ok thanks, will move it. Will try to put together something to reproduce.

[2017-05-03 11:05] #4585 closed

[2017-05-03 13:16] karthik3i commented on #1175
Hi All,
Debugger is not working, i'm using the following configuration. really i'm upset on this, Please help me.
-- jruby9.1.8.0
-- I installed ruby-debug

[2017-05-03 13:33] aviflax commented on #1175
@karthik3i try the workaround described in this comment: https://github.com/pry/pry/issues/1144#issuecomment-37256713

[2017-05-03 20:30] vassilios opened #4586 "Jruby profiler raises exception when using the holidays gem"
### Environment

* JRuby version (`jruby -v`)
jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab OpenJDK 64-Bit Server VM 25.72-b15 on 1.8.0_72-internal-b15 +jit [linux-x86_64]

* command line (flags, JRUBY_OPTS, etc)
JRUBY_OPTS="--profile.api"

* Operating system and platform (e.g. `uname -a`)
Linux ip-172-30-3-223 3.13.0-74-generic #118-Ubuntu SMP Thu Dec 17 22:52:10 UTC 2015 x86_64 x86_64 x86_64 GNU/Linu

[2017-05-03 20:43] headius commented on #4583
The problem is that the thread started to power Enumerator#next does not pause after yielding the nil result to the yielder. It doesn't pause until the *next* iteration, because there's nobody waiting for that value. As a result, it executes past the yield.

I believe I already fixed this for Fiber. What I didn't do is reimplement Enumerator#next in terms of Fiber, as MRI does.

[2017-05-03 20:44] headius commented on #4583
If you are really just using this yielder pattern, you could swap in Fiber and it would work ok.

[code]

This will not output anything, because you only resume and get the first value, after which the Fiber properly transfers control back and waits.

[2017-05-03 21:11] headius commented on #4583
More on reimplementing Enumerator#next in terms of Fiber...

I have prototyped this before, and the amount of code required is very small (all implemented in Ruby). The piece that's missing is our short-circuited logic for when the data being enumerated comes from an Array.

RubyEnumerator, implemented in Java, has at least two kinds of `next` logic: one that uses a pseudo-fiber to actually drive

[2017-05-03 22:46] madrob opened #4587 "COPYING is missing Java libraries"
jruby-complete bundles jline (3 clause bsd) but does not include the license text in its COPYING file.

We had it before, but then lost it in 2da0320

cc: @headius

[2017-05-04 02:04] janko-m commented on #4583
Thanks you @headius!

[2017-05-04 18:09] headius commented on #4112
@jmiettinen I don't see why not. I know @kares had a revision, so I'll dig that up and merge that too.

[2017-05-05 13:07] donv commented on #4004
Moved the changes in DynamicScopeGenerator to a custom copy in Ruboto.  Also moved dexmaker jar to Ruboto.  This simplifies the changes in JRuby a lot.  @headius have you had time to look at them?

Having a custom copy of DynamicScopeGenerator is just a first step.  We should follow the pattern of `JavaProxyClassFactory` as a next step, but that can happen after merge.

@oneiros You will get your

[2017-05-05 13:27] donv commented on #4004
I'll do a rebase and squash of the ruboto_9k branch and create a pull request.

[2017-05-05 18:35] headius commented on #3920
@enebo So are we still targeting this for 1.7.27? As far as I know we don't have a working patch.

[2017-05-05 18:38] headius commented on #3989
The stty locations are mostly in io/console.rb, so that would be a place to hook up stty.

We don't have a fix for this for 1.7, since we have no easy way to reproduce it right now, but I will try to add an env var that can be set to avoid using stty altogether.

[2017-05-05 18:47] headius commented on #3989
I can reproduce the stty message by running it under nohup:

[code]

[2017-05-05 19:20] enebo commented on #3920
@headius well it was a hope but I don't understand what is wrong so we might have to just accept we will never get this one on 1.7.x.

[2017-05-05 20:26] headius commented on #3989
@rovf I have pushed #4590 that should always use stty on Windows.

I'm not sure why it was ever intermittent for you, but I believe the problem was that cygwin does ship an stty, but Jenkins is not running your code under a proper terminal. So we had a weird perfect storm of Windows + stty + non-console that resulted in odd behavior.

If you are able to test it that would be great. Check out the b

[2017-05-05 21:00] headius commented on #4004
@donv I will review the new PR by Monday!

[2017-05-06 01:45] muga opened #4591 "Introduce Date._strptime in Java to improve the performance"
### Overview

- I want to improve the performance of `Date._strptime` method.
- I'm implementing `Date._strptime` in Java on https://github.com/embulk/embulk/pull/608
- Can you consider about introducing our implementation to JRuby? If you agree, I will work on it after completing the implementation.

### Details

My application, Embulk, is using JRuby and heavily using `Date._strptime` method int

[2017-05-06 03:55] headius commented on #4591
@muga We'd love to incorporate your implementation! Provide a PR and let us know you consent to it being in JRuby under our tri-license (GPL 2, LGPL 2, EPL). Thank you!

[2017-05-06 04:22] muga commented on #4591
@headius Thank you for letting me know. I complete the implementation and then create new PR.

[2017-05-06 14:35] donv commented on #4070
Confirmed fixed in my application!

[2017-05-06 17:48] headius commented on #4587
Yup, we should fix that.

[2017-05-08 15:48] madrob commented on #4587
Cracking open `jruby-complete-9.1.8.0.jar` I see the following jars:

jar | license | link
--- | -------- | ----
jline/jline/2.11/jline-2.11.jar 	| BSD-3 | https://github.com/jline/jline2
jopenssl.jar 	| EPL/GPL/LGPL | https://github.com/jruby/jruby-openssl
json/ext/generator.jar | Ruby |	https://github.com/flori/json
json/ext/parser.jar |	Ruby | https://github.com/flori/json
org/bouncycastle/bcpk

[2017-05-08 17:07] #3989 closed

[2017-05-08 17:33] headius commented on #4587
I filled in the rest of your chart above (racc and bouncycastle). This looks like a good list and I agree we should note each library in COPYING.

[2017-05-08 17:53] oneiros commented on #4004
Sadly, it is not. There is a handful of APIs that are simply not present on android (e.g. parts of java.nio). And the APIs that are present sometimes sport subtle differences.

Strangely enough, I stumbled upon this here yesterday: https://github.com/retropiler/retropiler. It is early days but might come handy in the future.

[2017-05-08 18:48] madrob commented on #4587
racc is LGPL not GPL according to the link you gave, updated the chart

[2017-05-08 21:44] headius commented on #4587
Oops, thanks.

[2017-05-08 21:53] adrienthebo opened #4594 "JRuby `Addrinfo.addrinfo` does not match MRI Ruby or system sort order"
[RFC 6724](https://tools.ietf.org/html/rfc6724) indicates that by default ipv6 addresses should be sorted before ipv4 addresses. On Linux getaddrinfo(3) documents that "The sorting function used within getaddrinfo() is defined in RFC 3484; the order can be tweaked  for a particular system by editing /etc/gai.conf (available since glibc 2.5)." (RFC6724 superceded RFC3484.)

Using the system resolut

[2017-05-09 13:24] hezengqi opened #4595 "9.1.8.0 "gem install pg" always Failed on Centos7_x64"
/opt/jruby-9.1.8.0/bin/gem install pg

Building native extensions.  This could take a while...
ERROR:  Error installing pg:
	ERROR: Failed to build gem native extension.

    current directory: /opt/jruby-9.1.8.0/lib/ruby/gems/shared/gems/pg-0.20.0/ext
/opt/jruby-9.1.8.0/bin/jruby -r ./siteconf20170509-12119-12tafom.rb extconf.rb
checking for pg_config... yes
Using config values from /usr/bin/pg_c

[2017-05-09 14:26] headius commented on #4595
JRuby does not support C extensions written for MRI (C Ruby). However there's a working port of pg for JRuby here: https://github.com/headius/jruby-pg

I will look at turning this into a gem today, so at least you can try it easily.

[2017-05-09 15:56] headius commented on #4595
I have pushed jruby-pg 0.1 to rubygems.org. It is still a work in progress but give it a try.

[2017-05-09 15:56] #4595 closed

[2017-05-09 16:31] headius commented on #4594
This appears to be Java behavior.

We simply use `InetAddress.getAllByName`, which by default on Java prefers IPv4 addresses (and as a result lists them first.

You can set a JVM property `java.net.preferIPv6Addresses=true" to get the behavior you're looking for.

[code]

Here's a page detailing this and other configs and the justification (backwards compatibility) for the IPv4 preference: https:/

[2017-05-09 16:31] #4594 closed

[2017-05-09 16:32] headius commented on #4594
I'm closing this as Won't Fix because we're just projecting Java behavior here. If you think there's something more we should be doing, we can discuss it.

[2017-05-09 21:06] adrienthebo commented on #4594
@headius thanks for taking the time to look at this issue!

[2017-05-10 08:28] rudybroersma commented on #4594
I am the author of the downstream ticket. I understand that the root cause of this issue is a setting in Java. A setting I believe has an incorrect default value, but I wont try to correct that, as it is probably not going to happen.

However, is this perhaps something we can and perhaps should fix in JRuby?

Let me start by saying I don't know if JRuby tries to be identical to regular Ruby in reg

[2017-05-10 12:46] ivoanjo opened #4596 "Oat gem slower at steady-state with invokedynamic than without it"
### Environment

Rubies:
* `jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.131-b11 on 1.8.0_131-b11 +jit [linux-x86_64]`

Linux: `Linux maruchan 4.10.0-20-generic #22-Ubuntu SMP Thu Apr 20 09:22:42 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

### Expected Behavior

Performance on the benchmark below consistently regresses when running JRuby with `-Xcompile.invokedynamic

[2017-05-10 14:45] mkristian commented on #4595
cool

[2017-05-10 15:20] headius commented on #4596
Yeah something's definitely wrong here.

[2017-05-10 16:14] madrob commented on #4587
PR was merged, thanks!

[2017-05-10 16:55] erikogan opened #4598 "Kernel.system fails to write stdout to a file in a Linux environment."
I don’t strictly think this is a bug in jRuby, exactly, since it breaks across environments. However I’m having a hard time reasoning about what could be going on. And it’s happening on a server that’s hard to debug.

### Environments

The following behavior is different across two environments running jRuby 9.1.8.0:

#### It works on:

`jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64

[2017-05-10 17:02] headius commented on #4596
It looks like something's getting endlessly invalidated, which is very costly. Most places where we use indy should already be failing over to a less-optimized path rather than constantly invalidating, so I'll poke around a bit.

[2017-05-10 17:24] headius commented on #4596
Ahh I see. The indy logic in 9k does not take into consideration code that calls `method_missing` forever, and continues to try to cache it.

[2017-05-10 17:31] headius commented on #4596
Ok, elaborating on this a bit more.

In any call site (using indy) we wrap the cached method in a SwitchPoint from the original class. This acts as an "off" switch for the cache, flipped when the original class is modified. We lazily create that SwitchPoint index only when requested.

In the case of `method_missing` we will request that SwitchPoint and then not use it. This is normally not a big d

[2017-05-10 17:37] etehtsea opened #4600 "Dir.tmpdir fails with error on AARCH64"
### Environment

[code]

When I tried to update rubygems I've got strange error:

[code]

It happen because `Dir.tmpdir` is failing with error:

[code]

[2017-05-10 17:47] headius commented on #4596
Ok, so with a quick fix that immediately fails the `method_missing` based call site (which, btw, is the "property" calls inside the "schema" block in your benchmark) returns perf to more what we'd expect:

[code]

I am not familiar with this library. If this pattern you are benchmarking is typical of hot-path runtime execution, then the library author may want to reconsider creating so many single

[2017-05-10 18:38] erikogan commented on #4598
On the plus side, I’ve repoduced this issue in a container running on my laptop, which will make things slightly easier to debug.

The downside is that it still happens in that container even on the latest Java 1.8 available: `jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.131-b11 on 1.8.0_131-b11 +jit [linux-x86_64]`

[2017-05-10 19:02] headius commented on #4596
I have pushed #4602 which contains a reasonable fix for this issue.

I will again point out, however, that the pattern being benchmarked will never perform "well" due to the large number of singleton classes being created.

[2017-05-10 19:19] madrob opened #4603 "ASF projects can't bundle and ship jruby9k"
The `jruby-complete` jar bundles `racc/cparse-jruby.jar` which is labelled as LGPL licensed. This is a problem for ASF projects and means we won't be able to redistribute you guys.

@headius mentioned that what while the original racc native ext is LGPL, the racc runtime that is shipped with MRI falls under the Ruby license. The pieces that jruby uses are ported from the Ruby part, so this should

[2017-05-10 19:24] madrob commented on #4587
Just realized I forgot to include the json libs.

[2017-05-10 19:35] headius commented on #4603
Unfortunately it's not simply a notational issue. I will clarify a few items:

* The racc runtime, which includes the C and Java extensions, is licensed under the same terms as Ruby (MIT or BSD-ish).
* The racc compiler is licensed as LGPL.
* When we started shipping the entire racc gem, we inadvertently pulled in the LGPL portions.

I've filed a few PRs and issues with racc to get their licensing

[2017-05-10 19:50] #4596 closed

[2017-05-10 21:13] headius commented on #4587
Ok, all set then!

[2017-05-10 21:13] #4587 closed

[2017-05-10 22:54] jackyliang commented on #3360
Hello all. I landed on the Algorithm NONE issue myself too.

I am curious whether there's a new version of the Net/SMTP gem that fixes this issue without relying on the monkey patch? And/or have there been any recent developments by other devs using this gem that has found their own solutions?

[2017-05-11 12:45] ivoanjo commented on #4596
Wow @headius thanks for the lightning fast answer and awesomely detailed analysis!

I started looking at this as I was benchmarking a test application with invokedynamic enabled, and in that configuration the serialization of responses (this was an http json hal api) was spending a noticeable amount of time on this part of the code.

With the invokedynamic off configuration the impact became rathe

[2017-05-11 14:48] mmmries opened #4605 "CGI.unescapeHTML => Java::JavaLang::ArrayIndexOutOfBoundsException"
Related to #4556

### Environment

* `jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 25.60-b23 on 1.8.0_60-b27 +jit [darwin-x86_64]`
* MacOS Sierra

### Expected Behavior

[code]

### Actual Behavior

[code]

Similar to the last issue I reported around this, I can't trigger the invalid behavior with a simple copy-paste of the string into IRB, but if I parse it out of a

[2017-05-11 14:56] enebo commented on #4605
Ok seems like when I audited after the last fix I missed the continue clause which change 'i' (thus requiring one more i < len check).  Fix coming up.

[2017-05-11 15:07] #4605 closed

[2017-05-11 15:20] mmmries commented on #4605
👏  That was some 🏎  speed coding @enebo. I'll pull it down and run in it through several million strings in our production system to see if I can find any other edge cases.

[2017-05-11 15:23] enebo commented on #4605
@mmmries great current plan for 9.1.9 is Monday so please beat this up :)

[2017-05-11 18:03] mmmries commented on #4605
I've pushed 942k strings through this so far (include all of the edge cases I had noticed previously) and everything looks good. I'll let you know if I find anything else, but I think it's probably good to release with `9.1.9.0`

[2017-05-11 18:53] #4600 closed

[2017-05-11 20:04] enebo commented on #4579
@mkristian If you are game to fix this by Monday we can reinclude this in 9.1.9.0 but otherwise I think we can punt it since our Javadocs suck and it has been this way for a while.

[2017-05-11 20:32] #4586 closed

[2017-05-11 21:22] vassilios commented on #4586
Thank you!

[2017-05-12 03:48] mkristian commented on #4579
@enebo will do either today or sunday

[2017-05-14 14:59] dwbutler opened #4606 "JRuby raises SystemCallError instead of Errno::EMSGSIZE"
### Environment

[code]

### Summary

JRuby raises `SystemCallError` instead of `Errno:: EMSGSIZE` when writing too large of a message to a UDP socket. See https://github.com/dwbutler/logstash-logger/issues/128.

### Setup

    $ nc -l 5228

Ruby script (run from irb):
[code]

### Expected Behavior

MRI 2.4.1:

[code]

### Actual Behavior

JRuby 9.0.5.0:
[code]

[2017-05-15 05:36] #4579 closed

[2017-05-15 16:44] enebo commented on #4573
fwiw, I think that FluidForce part of the example is a bad example and one we do not want anyone  to use.  So someone should consider a better mechanism for showing the .getInstance part of our embedding API.

This is not technically a bug because in Ruby 2.x 'def' will now return a Symbol of the method being added.  Prior to Ruby 2, def would return nil.  So in this example in JRuby 1.7.x we get

[2017-05-15 16:44] #4573 closed

[2017-05-15 16:49] enebo commented on #4603
Sounds like there will be followup work so the non-Ruby license code can be re-added as a gem but this issue is resolved enough for us to close since we removed LGPL Racc code from master.

[2017-05-15 16:49] #4603 closed

[2017-05-16 10:10] Ruined1 opened #4607 "SecureRandom.random_number doesn't accept a range"
The problem is here:
https://github.com/jruby/jruby/blob/master/lib/ruby/stdlib/securerandom.rb#L147

At some point, the code to handle ranges was removed.

### Environment

jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [mswin32-x86_64]

Windows 10 Professional x64

### Expected Behavior

In standard Ruby I can do `puts SecureRandom.ran

[2017-05-16 13:31] enebo commented on #4607
@Ruined1 it does indeed work but our securerandom.rb is identical in the sense that we both have a ```0 < n``` check at the top.  You would think it also would blow up?    So something else is replacing this definition somehow (I did verify this by putting a puts in securerandom.rb version and nothing prints out).  The only random_number I can see in the C source is for Random itself....I am at a

[2017-05-16 13:35] enebo commented on #4607
Oh haha...ok so it must be in C now and I must have missed it.  That def random_number is in MRI source but it is commented out! with =begin.  Why!?!?! :)

[2017-05-16 13:39] enebo commented on #4607
Ok I was hoping to find something trivial to change here (since I am releasing 9.1.9.0 this morning) but I do not see where random_number is actually defined.  There is no references to it in MRI C source and the only ruby definition is commented out.  I half wonder if something like openssl gem defines it?

[2017-05-16 14:43] etehtsea commented on #4606
I think I can fix this.

[2017-05-16 19:02] #3759 closed

[2017-05-16 19:03] #3203 closed

[2017-05-16 19:03] #4367 closed

[2017-05-16 19:03] #4462 closed

[2017-05-16 19:04] #4479 closed

[2017-05-16 19:09] enebo commented on #3920
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 19:09] #3920 closed

[2017-05-16 19:10] enebo commented on #3885
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 19:10] #3885 closed

[2017-05-16 19:12] enebo commented on #3696
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 19:12] #3696 closed

[2017-05-16 19:13] enebo commented on #3234
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 19:13] #3234 closed

[2017-05-16 19:13] enebo commented on #3244
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 19:13] #3244 closed

[2017-05-16 19:14] enebo commented on #3101
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 19:14] #3101 closed

[2017-05-16 19:15] enebo commented on #3014
This is fixed in 9k and 1.7 is EOL.  Resolving against 9.2.0.0 so people see it

[2017-05-16 19:15] #3014 closed

[2017-05-16 19:17] eregon commented on #3696
I think fa4846f2c12fef66b31f0973cc58c66fb30cb4fa fixes so indeed it can be closed.

[2017-05-16 19:17] enebo commented on #2688
This is pretty old and although there is a code snippet it is not enough for me to easily test 9.x to see if this is a problem there.   Please re-open if you find this is broken on 9.x.

[2017-05-16 19:17] #2688 closed

[2017-05-16 19:19] enebo commented on #2556
This works on 9k and 1.7.x is EOL so we will never fix it there.  Resolving as WONTFIX.

[2017-05-16 19:19] #2556 closed

[2017-05-16 19:21] enebo commented on #2666
1.7.x is EOL and this will not get fixed.  Marking WONTFIX.

[2017-05-16 19:21] #2666 closed

[2017-05-16 19:22] enebo commented on #2609
@kares this is also a problem on 9.x right?

[2017-05-16 19:25] enebo commented on #2555
I used all of 1.7.x on 64 bit win 7 for a majority of my testing.  I am guessing this was an env issue of some kind.  Since 1.7.x is EOL I am closing this.

[2017-05-16 19:25] #2555 closed

[2017-05-16 20:57] kares commented on #2609
yes probably still is, will re-check (hopefully I get into some JI work that's on my todo/cleanup stack for 9.2)

[2017-05-16 21:34] enebo commented on #2404
@trejkaz can you try 9.1.9.0 for us?

[2017-05-16 21:48] enebo commented on #2396
This was actually fixed some time during the 9.1.x cycle.  I am marking against 9.2 so people can see it resolved.  1.7 is EOL so we won't be fixing it there.

[2017-05-16 21:48] #2396 closed

[2017-05-16 21:50] enebo commented on #2400
Multiple years with no repro.  Closing.  fwiw continued work on appveyor test runs are straightening out some of these issues over time but without a repro I don't know if this is one or not.

[2017-05-16 21:50] #2400 closed

[2017-05-16 21:50] enebo commented on #2395
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 21:50] #2395 closed

[2017-05-16 21:50] enebo commented on #2394
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 21:50] #2394 closed

[2017-05-16 21:52] enebo commented on #2391
I fixed this some time during 9.1.x and we have EOLd 1.7.x.  Resolving.

[2017-05-16 21:52] #2391 closed

[2017-05-16 21:52] Ruined1 commented on #4607
@enebo I went through the same exact steps you did lol. Right away I was like "OH I got this! Then pull-request and good to go!", but no such luck lol. I hope this is solved soon, I cannot use JRuby without this...

[2017-05-16 21:59] enebo commented on #1985
Works on 9k.  1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-16 21:59] #1985 closed

[2017-05-16 22:20] ahorek commented on #2400
@enbo I think it was already fixed in 9000 by https://github.com/jruby/jruby/issues/3871 - it shoud be closed, thanks

[2017-05-17 03:36] trejkaz commented on #2404
Pushing an attempted update into the pipeline to see. Unfortunately I don't have a quick way to run automated tests on Windows and I don't use Windows myself either. When we tried updating to 9.1.6.0, supposedly some clash against Jython caused things to fail, but I'm not sure that was the case so I'm trying anyway.

If only travis-ci would add Windows support, I could make a little test project a

[2017-05-17 05:10] TheWudu commented on #4367
@the-michael-toy No we have no idea which fix caused this.

[2017-05-17 12:35] koic opened #4610 "The behavior of Enumerable#each_with_index has changed in JRuby 9.1.9.0"
### Environment

* jruby 9.1.9.0 (2.3.3) 2017-05-15 28aa830 Java HotSpot(TM) 64-Bit Server VM 25.5-b02 on 1.8.0_05-b13 +jit [darwin-x86_64]
* Darwin Kernel Version 13.0.2: Sun Sep 29 19:38:57 PDT 2013; root:xnu-2422.75.4~1/RELEASE_X86_64 x86_64

### Expected Behavior

This is behavior of JRuby 9.1.8.0 and MRI 2.4.1 and MRI 2.5.0dev (2017-05-16 trunk 58738) .

[code]

### Actual Behavior

This is b

[2017-05-17 13:42] enebo commented on #2404
@trejkaz you can use appveyor for windows CI and it is free for OSS stuff.

[2017-05-17 14:28] enebo commented on #3851
I was going to point out you are missing ```instance.terminate()``` but that makes this run even shorter than before.  I can see by putting ```JRUBY_OPTS=-d``` that this script is choking because each time a new innstance is created we explode something for yaml and they just stack up and eventually we hit some resource issue.  If terminate is added it get confused by something else...

[2017-05-17 15:24] enebo commented on #416
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-17 15:24] #416 closed

[2017-05-17 15:24] enebo commented on #1331
@mkristian Is this an issue in 9.x?

[2017-05-17 15:24] enebo commented on #1331
@mkristian Is this an issue in 9.x?

[2017-05-17 15:32] enebo commented on #1789
This seems to be workign in 9.x.  1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-17 15:32] #1789 closed

[2017-05-17 15:33] enebo commented on #1801
1.7.x is EOL and this will not get fixed.  Marking WONTFIX

[2017-05-17 15:33] #1801 closed

[2017-05-17 15:36] enebo commented on #2024
@jordansissel Is this an issue on 9.x.  I imagine on linux/macos we are native and this behaves better but on windows it may still be bad?

[2017-05-17 15:43] mkristian commented on #1331
@enebo first it is more an issue with jruby-openssl the script from above  https://gist.github.com/cscotta/8302049 on current jruby master still produce a rather small list of ciphers. the original error with `bad_record_mac` was an jdk problem and we can consider it fixed by now.

[2017-05-17 15:44] enebo commented on #841
Confirmed this is working in 9.x and 1.7.x is EOL.  Resolving against a release so it shows up.

[2017-05-17 15:44] #841 closed

[2017-05-17 15:45] enebo commented on #710
No update in a long time and we have moved to maven along time ago...

[2017-05-17 15:45] #710 closed

[2017-05-17 15:53] #1331 closed

[2017-05-17 16:09] enebo commented on #1304
It is a compatibility difference but one I do not see anyone hitting in real life and our hands are tied by joda time not working for unlimited precision.  So I think WONTFIX :|

[2017-05-17 16:09] #1304 closed

[2017-05-17 16:20] hiroyuki-sato opened #4611 "[Q] __dir__ variable in jar file."
I would like to ask about `__dir__` variable in jar archive.

## 1. environment

* JRuby: 9.1.7.0
* OS: macOS 10.12.4
* java: 1.8.0_112

## 2. expected and actual behavior
### 2.1 Expected Behavior

As the following test result, I think `__dir__` should return A or B

* A: uri:classloader:/gems/liquid-4.0.0/lib
* B: /path/to/jar_file.jar!/gems/liquid-4.0.0/lib

### 2.2 Actual Behavior

The `__dir_

[2017-05-17 16:25] enebo commented on #1597
I am resolving this as some progress was made on speeding up the loading but it never closed because it was open-ended (e.g. how fast should it get before we can say it is fast enough to close this issue).

[2017-05-17 16:25] #1597 closed

[2017-05-17 16:25] #1582 closed, assigned to nobody

[2017-05-17 16:33] enebo commented on #2550
Resolving this.  MRI runs this in 34s on my machine.  JRuby runs it as 40s with default params and 33s with compile.invokedynamic.  Whatever memory issue we had seems to no longer be an issue any more.

[2017-05-17 16:33] #2550 closed

[2017-05-17 16:36] enebo commented on #3624
Yeah I have personally fixed some line number issues since the last update but without something we can run to repro this issue is just languishing.  So if someone can make a repro we can sink our teeth into then re-open or create a new issue.

[2017-05-17 16:36] #3624 closed

[2017-05-17 16:39] enebo commented on #4002
No feed back in a long time.  Closing...

[2017-05-17 16:39] #4002 closed

[2017-05-17 16:50] enebo commented on #3500
I guess we never dug into this because we cannot run partial snippets to reproduce the issue.  @rockuw if you can still see this with 9.1.9.0 can you maybe strip down your example to give us something we can use to debug this more easily?

Since this has been a long time since it has been reported I am closing as invalid, but please re-open if you can still see this issue.

[2017-05-17 16:50] #3500 closed

[2017-05-17 17:16] headius commented on #4610
Huh, I wonder what changed.

[2017-05-17 17:19] headius commented on #4610
I do not see any modifications to `each_with_index` directly, but there are some changes to the utility methods it uses in RubyEnumerable.

This code is unfortunately rather fragile. MRI seems to have strange rules (or else no rules at all) about which Enumerable methods will break up arguments this way and which will box them in array. We probably fixed it for one method and broke it for others.

[2017-05-17 17:46] headius commented on #4610
It appears to be from e4adab3be6809078c97214d6484ca8e55c49951e which was part of clean-up efforts for our block protocol. It seems this one might have overreached a bit. cc @enebo

[2017-05-17 17:53] PragTob commented on #4610
Hello friends :wave:

Just one "me too" for the simplecov gem (and I'm about to check if shoes4 is affected).

Honestly, I think I'd appreciate a patch level release.. but well, I can also do simplecov patch level release :)

[2017-05-17 18:02] enebo commented on #4611
@hiroyuki-sato this is definitely a bug.  We should be returing similarly to the __FILE__.

[2017-05-17 18:57] Nakilon commented on #1985
Marking WASNTFIXEDINTIME

[2017-05-17 19:13] enebo commented on #1985
@Nakilon well we did fix in one version of JRuby just not the older one.  Keep it classy now.  We can only support so much at a time...

[2017-05-17 19:43] PragTob commented on #4610
simplecov-html 0.10.1 released with a fix. Shoes4 otherwise unaffected :)

[2017-05-18 00:25] koic commented on #4610
Thank you for the quick answer. I understood that it was an unexpected regression.

[2017-05-18 01:42] hiroyuki-sato commented on #4611
Hello, @enebo
Thank you for quick replying.
Please let me know if you need more information about this issue.

Best regards.

[2017-05-18 01:50] trejkaz commented on #2404
appveyor looks doable actually. Though that's Windows-only, and I would have preferred to run everything on one CI to get the results in one place. :(

Anyway, the overnight run appears to have worked correctly. I get no skew for either of the two files being tested. Hopefully we don't get blocked for updating it by other libraries... (Jython is the most likely trouble-maker because they have a po

[2017-05-18 02:06] trejkaz commented on #2404
Ah, I get a new failure in some other `File`-related test.

    @Test
    public void testResolveClasspath() throws Exception
    {
        ScriptEngine engine = createEngine();

        String path = "classpath:/path/to/this/TestRubyFile.class";
        String result = (String) engine.eval("File.realpath('" + path + "')");
        assertThat(result, is(equalTo(path)));
    }

[2017-05-18 02:14] trejkaz opened #4612 "REGRESSION - File.realpath fails on classpath paths"
### Environment

JRuby 9.1.9.0
*Windows only*

### Test Case

    @Test
    public void testResolveClasspath() throws Exception
    {
        ScriptEngine engine = createEngine();

        String path = "classpath:/path/to/this/TestRubyFile.class";
        String result = (String) engine.eval("File.realpath('" + path + "')");
        assertThat(result, is(equalTo(path)));
    }

    protected Scri

[2017-05-18 02:19] trejkaz commented on #4612
Problem _appears_ to be here:

[code]

This call to canonicalizePath is implemented as follows:

[code]

That `File#getCanonicalPath()` call will return the path with backslashes, so now it's already broken. Still not quite sure how a `"BY\"` ends up in there as well.

[2017-05-18 22:42] camlow325 opened #4613 "Process hangs when requiring yaml under compat-version 2.0 on JRuby 1.7.26"
### Environment

Provide at least:
* JRuby version (`jruby -v`) and command line (flags, JRUBY_OPTS, etc)

* Operating system and platform (e.g. `uname -a`)

### Expected Behavior

* Describe your expectation of how JRuby should behave, perhaps by showing how CRuby/MRI behaves.

Requiring and using the yaml library should work.

* Provide an executable Ruby script or a link to an example repositor

[2017-05-18 23:11] camlow325 commented on #4613
From doing some git bisecting, it appears that the problem originates with [45047a](https://github.com/puppetlabs/jruby/commit/45047a7de1836a23b07fd02160237b5bd399d9ad).

[2017-05-19 05:06] kares commented on #4613
unfortunately auto-loading was never done right on JRuby 1.7.x ... and since its EOL it might just stay as is

[2017-05-19 06:30] camlow325 commented on #4613
I found a possible fix for this, submitted in PR #4614.  With this change, the error no longer occurs for me.

[2017-05-19 13:10] donv opened #4615 "No response from rails 4.2.8 with puma in production mode JRuby 9.1.8.0+9.1.9.0 on Linux"
### Environment

jruby 9.1.9.0 (2.3.3) 2017-05-15 28aa830 Java HotSpot(TM) 64-Bit Server VM 25.112-b15 on 1.8.0_112-b15 +jit [linux-x86_64]

CentOS release 6.9 (Final):
Linux 2.6.32-696.1.1.el6.x86_64 #1 SMP Tue Apr 11 17:13:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Ubuntu 14.04.5 LTS:
Linux 4.4.0-75-generic #96~14.04.1-Ubuntu SMP Thu Apr 20 11:06:30 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I cr

[2017-05-19 14:26] aviflax commented on #4610
I’m looking forward to a patch release that fixes this… I’m eager to upgrade to 9.1.9.x but this regression makes me nervous.

[2017-05-19 15:58] enebo commented on #4613
@camlow325 It is great you dug in and figured this out but we just EOLd 1.7.x.  Another point is that our --2.0 has always been an experimental feature of 1.7.x so we stopped working on it a long time ago.  Have you tried 9.1.9.0?  It is a Ruby 2.3 impl which pretty robust now.

[2017-05-19 17:08] alkalinecoffee commented on #4615
Can you try adding `-Djava.security.egd=file:/dev/urandom` to your `JAVA_OPTS`?

[2017-05-19 19:17] presidentbeef commented on #4274
Just a small poke on this - can't switch from 1.7 to 9.x until this is fixed :sob:

[2017-05-20 10:59] roadrunner2 opened #4617 "X509ExtensionFactory generates incorrect extension for subjectAltName"
### Environment
JRuby 9.1.9

### Expected Behavior

[code]
The DER of this extension should look like (and does so under MRI)
[code]

### Actual Behaviour

But the actual DER of the created extension is
[code]
(note the missing sequence, and the fact that both values are in one string)

The core issue is that ```X509ExtensionFactory.parseSubjectAltName()``` returns a GeneralName instead of a Gener

[2017-05-20 21:39] ahorek commented on #4572
the behaviour was changed since Ruby 2.3

[code]
jruby 9.1.9.0: FloatDomainError: NaN
ruby 2.2.4: FloatDomainError: NaN
ruby 2.3.4: Infinity

[2017-05-21 11:16] kares commented on #4615
you should also check with VisualVM or simply issuing a thread-dump `jstack` where's time spent.

[2017-05-21 12:15] MSNexploder commented on #1710
This can be closed. Works as expected using 9.1.9.0 (and 1.7.21):
[code]

[2017-05-21 12:19] MSNexploder commented on #1831
This works as expected in 9.1.9.0 (and 1.7.21):
[code]

[2017-05-21 12:26] MSNexploder commented on #1901
This can be closed.
Works under both 9.1.9.0 and 1.7.21 just as expected.

[2017-05-21 12:43] MSNexploder commented on #2936
Works as expected on 9.1.9.0:
[code]

[2017-05-21 12:48] MSNexploder commented on #2289
Can be closed. Both 9.1.9.0 and 1.7.21 raise a NameError.

[2017-05-21 16:50] headius commented on #2936
Thanks for the update!

[2017-05-21 16:50] #2936 closed

[2017-05-21 16:51] headius commented on #1901
Thank you!

[2017-05-21 16:51] #1901 closed

[2017-05-21 16:52] headius commented on #1831
Thank you!

[2017-05-21 16:52] #1831 closed

[2017-05-21 16:53] headius commented on #1710
Woot!

[2017-05-21 16:53] #1710 closed

[2017-05-21 18:07] MSNexploder commented on #2361
works in 9.1.9.0 and 1.7.21 🎉

[code]

[2017-05-21 18:44] enebo commented on #2361
sweet!

[2017-05-21 18:44] #2361 closed

[2017-05-22 04:58] ioquatix opened #4619 "ObjectSpace is disabled; each_object will only work with Class"
### Environment

https://travis-ci.org/socketry/async-rspec/jobs/234686073

[code]
### Expected Behavior

It should work.

### Actual Behavior

It fails: `ObjectSpace is disabled; each_object will only work with Class, pass -X+O to enable`

Either the error message is not clear - IO is a class, or something is wrong with JRuby.

What is the best way to make this work? Keep in mind, I need to run t

[2017-05-22 05:27] headius commented on #4619
I think the error message is actually quite clear. Without passing a flag, it works only with "Class", not "a class". This is because walking all classes in the system is easy:we start at BasicObject and walk every descendant, which eventually traverses all Class instances in the system.

Perhaps we should put Class in quotes so it will be interpreted more literally.

In any case, we will not be e

[2017-05-22 05:30] ioquatix commented on #4619
Thanks for the quick reply and the offer to help.

It's used to ensure that IOs are not being leaked.

The exact code is here:

https://github.com/socketry/async-rspec/blob/master/lib/async/rspec/leaks.rb

If you have some ideas of a better way to do this, that would be awesome.

Ideally, we don't need to supply Ruby specific flags to make this work.

[2017-05-22 06:22] roadrunner2 commented on #4617
Apologies, it appears this code is actually part of the jruby-openssl project - opened ticket jruby/jruby-openssl#134 there instead.

[2017-05-22 06:22] #4617 closed

[2017-05-22 08:46] kares commented on #4619
seems you're trying to solve IO-leaks in Ruby land ... that whole part is heavily MRI specific.
JRuby has decided to disable `GC.start` (its a no-op) since it does more harm than good ... if used in gems

[2017-05-22 08:48] ioquatix commented on #4619
I'm not trying to solve them, I'm trying to detect them. If the code being tested is leaking IO objects, it's something wrong with the design of the code. It's important to pick this up as soon as possible. This wasn't done until late in the game in `celluloid-io` and it was a huge PITA to fix up.

[2017-05-22 11:42] iaddict commented on #4234
The problem is still present on 9.1.9.0.

[2017-05-22 12:39] donv commented on #4615
@alkalinecoffee Will try it.

[2017-05-22 13:15] donv commented on #4615
@kares Thanks for the tip, but nothing is using CPU.  The request just does not complete.

Have any of you tried this?

[2017-05-22 13:58] donv commented on #4615
@alkalinecoffee Adding the `-Djava.security.egd=file:/dev/urandom` option seems to work!

Thanks!  🎉

But why?!  What problem does it solve, and why does it not affect version 9.1.7.0 and older?

[2017-05-22 14:19] kares commented on #4615
@donv cause you have an updated jruby-openssl which updates BC which provides a secure-random impl ...
... which (in the end) seeds itself from a default JVM entropy source (used by Rails while encrypting cookies)

[2017-05-22 14:19] #4615 closed

[2017-05-22 19:03] #2289 closed

[2017-05-22 19:35] kares commented on #851
this is expected to be no longer relevant with 9K's block JIT-ing

[2017-05-22 19:35] #851 closed

[2017-05-22 19:46] kares commented on #838
works on Linux ... maybe this was a Windows specific issue on JRuby 1.7.x (EOL)
... someone should give JRuby 9K a spin and report back if its still relevant

[2017-05-22 19:59] kares commented on #596
confirmed (still) on 9.1.9.0 :
[code]

[2017-05-22 20:02] MSNexploder commented on #838
Just checked, #system still blocks on 9.1.9.0 + Windows 7 (x64).

[2017-05-22 20:02] kares commented on #1480
not relevant these (Java 8) days as even Java 7 is defunct ... BC is at 1.56 ATM for latest jruby-openssl

[2017-05-22 20:02] #1480 closed

[2017-05-22 22:18] camlow325 commented on #4613
@enebo Thanks for the response.  Yeah, we've definitely tried out JRuby 9k, including 9.1.9.0, and agree that this is definitely the direction we want to go in the future for Ruby 2.x language support.  We've only continued supporting our users on JRuby 1.7.x because of some issues we'd reported previously here, https://github.com/jruby/jruby/issues/4112#issuecomment-242504130.  We're continuing t

[2017-05-23 07:06] stergiom opened #4621 "jrubyc compiled representation breaks but source rb works fine"
### Environment

The AOT compiled representation of code utilising the `dry-auto_inject` gem breaks yet works fine when the source rb is used, - [gist illustrating the issue](https://gist.github.com/stergiom/f4d79fa01488401dcf5e3334e002e869#file-output-sh-L17)

* _Tested with 9.1.7.0 & 9.1.9.0, the issue is present in both cases_

### Expected Behavior

Same behavior as with the source rb

### Act

[2017-05-23 07:49] kares commented on #1215
wonder if this is (still) relevant on JRuby 9.x as well ... anyone to confirm on ARM?

[2017-05-23 07:52] kares commented on #1197
think we shall optimistically close this one (its vague - hard to reproduce).
@digitalextremist if needed (still relevant) please give it a go with latest jruby-openssl and maybe even 9K

[2017-05-23 07:52] #1197 closed

[2017-05-23 08:07] flash-gordon commented on #4621
The more concise example:
[code]

Fails with
[code]

But
[code]
works fine. This means the problem is in using `**` along with `*`, this should make no difference
 so it looks like a minor bug.

@stergiom just remove `**` from your constructor and you should be fine.

[2017-05-23 08:17] kares commented on #1669
still the same on JRuby 9.1.9 (puts `[]`) ... given its low priority - marked as "Won't Fix" for now

[2017-05-23 08:21] donv commented on #4615
Thanks for the explanation!

In my case giving the option to JRuby feels like a workaround.  I found that installing and running `haveged` will make `/dev/random` behave nicely.

As far as I can see, the best way to handle this is for JRuby or jruby-openssl to set the `-Djava.security.egd=file:/dev/urandom` property since `/dev/urandom` is the preferred device for most use cases.

[2017-05-23 08:24] kares commented on #1865
@mkristian sounds like you did all of this ... or is it still a task pending?

[2017-05-23 08:25] kares commented on #1836
@etehtsea definitely, lets call it a day :wink:

[2017-05-23 08:25] #1836 closed

[2017-05-23 08:28] kares commented on #1920
*long-time-since* but this seem to be doing well on JRuby 9.1.9.0 :
[code]

[2017-05-23 08:28] #1920 closed

[2017-05-23 08:29] kares commented on #1878
no indy work is going to happen on JRuby 1.7.x thus let's close this one as a non-fixer

[2017-05-23 08:29] #1878 closed

[2017-05-23 08:33] kares commented on #4615
@donv unfortunately its not possible - by the time we would reach setPropeprty the Java security stack is already initialized. there probably is room to improve jruby-openssl (via BC's generators) to rely a bit less on feeding itself from `/dev/random` (by default)

[2017-05-23 08:34] kares commented on #1482
closing this JRuby 1.7.x report as there's been no response in a long time

[2017-05-23 08:34] #1482 closed

[2017-05-23 08:37] kares commented on #1651
this works on JRuby 9K these days :
[code]

[2017-05-23 08:37] #1651 closed

[2017-05-23 09:05] kares commented on #1609
seems to be working on 9.1.8.0 (using Rails 4.2.8) :
[code]

[2017-05-23 09:05] #1609 closed

[2017-05-23 09:09] kares commented on #1430
jruby 9.1.9.0 (2.3.3)   64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [linux-x86_64]
[code]

[2017-05-23 09:10] kares commented on #1430
^^ seems acceptable to me (JRuby 1.7.x will stay as is)

[2017-05-23 09:12] kares commented on #1479
@MSNexploder any chance you could check if its still an issue on Windows for us ?

[2017-05-23 10:02] donv commented on #4615
@kares What about in the launcher?

[2017-05-23 10:04] MSNexploder commented on #1479
Sure!

Looks like this is working using 9.1.9.0 on Windows 7 (x64):
[code]
and file permissions did indeed change

[2017-05-23 10:07] kares commented on #4615
@donv not sure its worth the hustle ... newer Java is expected to handle these right

[2017-05-23 10:09] kares commented on #1479
:yellow_heart: :yum: :blue_heart: :blush:

[2017-05-23 10:09] #1479 closed

[2017-05-23 10:24] kares commented on #2444
has been an issue with RubyGems (due default gems) ... however latest 1.7.x should be good

[2017-05-23 10:24] #2444 closed

[2017-05-23 10:26] kares commented on #2457
closing since this was a JRuby 1.7.x issue ... seems fine by now (on JRuby 1.7.25+ using Bundler 1.13)

[2017-05-23 10:26] #2457 closed

[2017-05-23 10:28] kares commented on #2392
has has been resolved in JRuny 9K (won't be fixed in 1.7.x)

[2017-05-23 10:28] #2392 closed

[2017-05-23 10:30] kares commented on #2431
this might actually be no longer relevant with JRuby 9K // maybe @MSNexploder can confirm this one

[2017-05-23 10:32] kares commented on #2542
its no longer the case with JRuby 9K due generate interface methods being bound directly

[2017-05-23 10:32] #2542 closed

[2017-05-23 11:44] donv commented on #4615
@kares Sounds good.  What is "newer Java" in this context?  I am using `8u112-b15`.

[2017-05-23 12:04] remofritzsche commented on #4442
Thank you guys a bunch! For the record: This fixed our issue described [in this SO post](https://stackoverflow.com/questions/43326404/how-to-deploy-multiple-instances-of-same-rails-application-in-same-tomcat/44134319#44134319).

[2017-05-23 12:57] MSNexploder commented on #2431
Still contains backslashes in 9.1.9.0

[code]

[2017-05-23 13:03] mkristian commented on #1865
@kares no pending tasks unless classloader errors pop up somewhere ;)
closing

[2017-05-23 13:03] #1865 closed

[2017-05-23 13:16] kares commented on #4615
@donv ah so maybe that's just the `/dev/./urandom` fix in 8 than ...
guess it makes sense that they won't do it in 8. sorry for the confusion I did not actually check.

[2017-05-23 13:42] kares commented on #4619
@ioquatix yy - that's what I meant ... great that you had some success but on the JVM there's going to be potentially a lot of IOs outside of Ruby land (e.g. if there's an extension involved), even if you run with the `-X+O` option, so I am not sure its a good solution in general. meaning that JRuby won't do anything about it, you're just lucky there's an (unfortunate) API for it in MRI :smiling_i

[2017-05-23 13:57] k77ch7 commented on #1921
@yous this works in 9.1.9.0 and 9.1.10.0-SNAPSHOT (2.3.3) 2017-05-20 7d0ecb9.

[2017-05-23 14:12] kares commented on #1680
pry is working fine under 1.7.25 (EOL) and also JRuby 9.1.8.0 ... not sure about the Windows though.

[2017-05-23 14:12] #1680 closed

[2017-05-23 14:30] npomf commented on #4610
Depending on if block arity is being checked, this could make sense; an arity of 1 could thus infer passing the array object produced by `each_with_index()`, wherein an arity of 2 would perform the expected splat of the values.

That might make sense for the change from `call()` to `yieldSpecific()`, which I believe I recall reading functions similar to what's described above.

Oddly enough, a qui

[2017-05-23 15:14] headius commented on #4274
I'll take a shot at this during my next flight.

[2017-05-23 16:26] kares commented on #1713
interesting piece esp. since there's smt of the same at https://github.com/elastic/logstash/issues/3989 "resolved" by avoiding `encode`.

wonder if it would manifest the same under JRuby 9K ... or if @ocher managed to get it working with 1.7.x ?

[2017-05-23 16:28] kares commented on #2575
[code]

output under *jruby 9.1.9.0 (2.3.3) 2017-05-15 28aa830 Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [linux-x86_64]*

[2017-05-23 16:28] #2575 closed

[2017-05-23 18:41] kares commented on #1635
verified this works (script from https://github.com/beerlington/classy_enum/issues/36) under 9.1.8.0 (classy_enum 3.4.0, AS/AR 3.2.8)

[2017-05-23 18:41] #1635 closed

[2017-05-23 18:56] kares commented on #2413
still an issue on 9K ... probably should get rid of those wrappers once and for good - maybe in 9.2 !?
[code]

[2017-05-23 21:00] enebo commented on #4274
I think we try and understand what JRubyFX needed from become_java!.  Worst case for 9.1.10.0 (out this week for sure) we just revert the raise.  It would be nice if we can do something which does not reexpose the original NPE it is protecting.

[2017-05-23 21:05] enebo commented on #4610
I reverted this in ad368eedd4bcf376edbdd2ea238fec3e1c25030d.  With the millions of specs/test asserts we do apparently this is not covered and I did not try/think of this permutation.

The original intent is that we are slowly cleaning up our internal call paths for blocks/closures such that we can replace them with our own IR instructions when we inline a block back through a method.  Unfortunate

[2017-05-23 21:18] #3792 closed

[2017-05-23 21:47] enebo commented on #3522
An update with minor analysis.  JRuby 1.7 is EOL and on 9k we now work as expected for BEGIN.  END is not specific to -n at all.  Each time we execute code which contains and END we just push it onto the end stack.  So:

[code]

It should print out once but we print out 10 times.  We do correctly run the following at_exit 10 times.

[code]

So we need some special code for END.

[2017-05-23 21:48] #3522 closed

[2017-05-24 06:46] #4606 closed

[2017-05-24 06:47] kares commented on #4606
and all is well ... thanks to @etehtsea

[2017-05-24 06:50] kares commented on #4591
related https://github.com/jruby/jruby/issues/3640 (include some numbers)

[2017-05-24 07:02] botchniaque commented on #4573
@enebo thanks for clarifying. I will stick to `container.callMethod` in this case and implement the interface myself.

[2017-05-24 11:50] muga commented on #4591
@kares We started reviewing the implementation on our application github repo https://github.com/embulk/embulk/pull/611. I'll do my best :)

[2017-05-24 15:18] MartinGross commented on #3625
Just downloaded  9.1.9.0 and it works. Thank you!

[2017-05-24 15:56] ivoanjo opened #4623 "Unexpected performance with GraphQL gem: JRuby indy < JRuby < MRI"
### Environment

Rubies:

* `jruby 9.1.9.0 (2.3.3) 2017-05-15 28aa830 Java HotSpot(TM) 64-Bit Server VM 25.131-b11 on 1.8.0_131-b11 [linux-x86_64]`
* `ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]`

Gems:

* `graphql 1.15.13`

Linux:

* `Linux maruchan 4.11.0-041100-generic #201705041534 SMP Thu May 4 19:36:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
* `Ubuntu 17.04`

### Expected Beha

[2017-05-24 16:30] enebo commented on #4623
At a quick glance this suffers from the Ruby lexer generating a nearly 500 line Ruby method which once JITd will not actually compile down to native code.  This is a known issue of JRuby but it is a difficult problem to solve hence no solution...yet.

With that said this only accounts for 1/2 of the profile but since all things are dispatched from this method I am unsure what other issues arise fr

[2017-05-24 16:32] enebo commented on #4623
For fun here is unJITd (-X-C) perf:

[code]

This is vs about 255 i/s with JIT enabled on my machine.

[2017-05-24 19:50] enebo commented on #4623
Just looking at how this generates and I forgot that there is a lambda to capture a couple of vars:

[code]

This is not free either.

[2017-05-24 20:06] chrisseaton opened #4624 "Delete old TruffleRuby support repositories"
There are several left-over repositories that were supporting TruffleRuby.

* https://github.com/jruby/all-ruby-benchmarks
* https://github.com/jruby/jruby-truffle-gem-test-pack
* https://github.com/jruby/jruby-build-pack
* https://github.com/jruby/benchmark-interface
* https://github.com/jruby/deep-bench
* https://github.com/jruby/bench9000
* https://github.com/jruby/jruby-truffle-stack
* https:/

[2017-05-24 20:07] enebo commented on #4623
I manually removed begin/ends (this we might be able to reduce cost of internally -- I will examine this) and then also consolidated a line ```  p = ((te))-1``` and it upped the non-indy JIT to 803 i/s.  So big improvement once we can get the main lexing method small enough codewise.

I replaced emit_token with emit which then put it back over too big of a method but then replaced on case when wit

[2017-05-24 20:23] enebo commented on #4623
Crazy I just mentioned removing excess begin/end but I see we already only have a cost of extra line instrs.  I guess that this method will have hundreds of them.  Perhaps I should try and prune adjacent ones?

[2017-05-24 23:22] zmoazeni commented on #4274
This is what I tracked down to the JavaFX code when I did my original digging before: https://github.com/teamfx/openjfx-8u-dev-rt/blob/8ae6126201acc37c26c2ab1b291f075c5f437168/modules/graphics/src/main/java/javafx/application/Application.java#L254-L255 (This is a linkable mirror)

JavaFX actually checks that the application class is a subclass and raises an error otherwise. That's why I ended up w

[2017-05-25 00:22] marshalium opened #4625 "FFI memory leak regression"
### Environment

[code]

No additional gems installed or loaded.

I discovered this bug in a production service that uses the `posix_spawn()` version of https://github.com/enkessler/childprocess to execute subprocesses.

### Expected Behavior

I expect JRuby to not run out of memory when repeatedly allocating and freeing a constant number of `FFI::MemoryPointer` objects.

In the test script below

[2017-05-25 05:11] Tonkpils opened #4626 "Inconsistency dumping integer with YAML"
### Environment

Provide at least:
* JRuby version (`jruby -v`) and command line (flags, JRUBY_OPTS, etc)
jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae Java HotSpot(TM) 64-Bit Server VM 25.60-b23 on 1.8.0_60-b27 +jit [darwin-x86_64]
* Operating system and platform (e.g. `uname -a`)
Darwin Leonardos-MacBook-Pro-3.local 16.7.0 Darwin Kernel Version 16.7.0: Tue May  9 11:48:28 PDT 2017; root:xnu-3789.70.9

[2017-05-25 14:22] enebo commented on #4274
@zmoazeni I believe your reduced example is different than what was originally reported and also what @presidentbeef & @pilhuhn are running into atm.  Your example is showing perfectly the issue description but I think the roadblock for others is not this specifically.

What we know is that like @zmoazeni example that we have never worked in reifying this case.  This was why @headius put the raise

[2017-05-25 16:33] enebo commented on #4274
@presidentbeef would it be possible for you to try commenting out that line (controller.rb:152) in installed jrubyfx gem and see if you run into issues with your app?  As I said, we reverted the raise for now but I want another datapoint.

[2017-05-25 17:38] ivoanjo commented on #4623
Thanks @enebo for the great analysis!

I also spent the day digging a bit into this code. The lexer itself is written in the [`lexer.rl`](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/language/lexer.rl) file. This file is then compiled with [ragel](https://www.colm.net/open-source/ragel/) into the `lexer.rb` file.

So most of the code is ragel's output.

One interesting detail i

[2017-05-25 19:22] presidentbeef commented on #4274
Commenting out that line appears to make no difference - all tests pass.

[2017-05-25 19:33] enebo commented on #4274
@presidentbeef ok thanks for checking on that.

[2017-05-25 19:55] enebo commented on #4623
@ivoanjo I think the only one I see which is not great for us is the lambda.  I think we can eventually improve that perf on our side but indirecting through a closure is not a win for us (past the fact that it is less bytecode overall).

I did just commit b6254e843c3d5a8be8e256601f58c88e7f3bdd66 which did not have quite as much impact in this case but removed a number of unneeded line number inst

[2017-05-26 01:01] koic commented on #4610
Thank you for the release of JRuby 9.1.10.0. I confirmed that this regression was resolved.

[2017-05-26 01:01] #4610 closed

[2017-05-26 13:22] rmosolgo commented on #4623
I think I can refactor out that lambda, I had a branch for that once but I didn't see a perf improvement on MRI, so I gave up. Let me give it a try over on that graphql-ruby PR!

[2017-05-26 13:54] mrmargolis commented on #4625
Seeing this on a large-ish app after ~18 hours of runtime.

[code]

[2017-05-26 15:21] hydrogen18 opened #4628 "A little confused about how JRuby jar loading works"
I am loading Apache Log4J using initializers in my Ruby on Rails project

### Environment

Provide at least:
* jruby 9.1.8.0 (2.3.1) 2017-03-06 90fc7ab Java HotSpot(TM) 64-Bit Server VM 25.60-b23 on 1.8.0_60-b27 +jit [linux-x86_64]
* Xubuntu 14.04
* JRUBY_OPTS is empty

### Expected Behavior
Using `require` or `load` on a JAR file adds the classes to the currently running JVM.

### Actual Behavior

[2017-05-26 15:39] ivoanjo commented on #4623
Thanks @enebo, it looks like you were right on the money :dart:.

By using ragel 7 AND getting rid of the lambda, performance is now as expected: JRuby + indy > JRuby > MRI. I've opened a PR with those fixes https://github.com/rmosolgo/graphql-ruby/pull/737 .

[2017-05-26 16:56] camlow325 commented on #4625
I'm not sure if this is related, but we've also been seeing an ffi-related memory leak in JRuby 9.1.9.0.  The later jnr-ffi versions, starting with 2.1.3, seem to have caused the problem.  I filed an issue, https://github.com/jnr/jnr-ffi/issues/117, and possible PR fix, https://github.com/jnr/jnr-ffi/pull/116, for this today.

[2017-05-26 17:49] aviflax opened #4629 "Possible incompatibility with Sorcerer in 9.1.9.0 + 9.1.10.0"
### Environment

Provide at least:
* JRuby version:
  * `jruby 9.1.10.0 (2.3.3) 2017-05-25 b09c48a Java HotSpot(TM) 64-Bit Server VM 25.131-b11 on 1.8.0_131-b11 +jit [darwin-x86_64]`
* Operating system and platform:
  * `Darwin Avis-Imprudence.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64`

### Description

I’m having a problem

[2017-05-27 15:16] MSNexploder commented on #1702
This works using 9.1.9.0 (and later) on Windows 7 (x64)
[code]

[2017-05-27 15:22] MSNexploder commented on #1721
Can confirm, works as expected using 9.1.9.0 on Windows 7 (x64)

[2017-05-27 15:40] MSNexploder commented on #1844
This compiles without problems using 9.1.9.0:
[code]

[2017-05-27 15:43] MSNexploder commented on #2254
Works as expected on 9.1.9.0

[code]

[2017-05-27 16:07] stergiom opened #4630 "Jarified app breaks with `uri:classloader:BY\` on Windows with 9.1.10.0"
### Expected Behavior
A working Jar

### Actual Behavior
The app breaks _(seemingly only on Windows)_ at the first line `require "jrubyfx"` with what seems to be an error related to the `:BY\` in its path..

[code]

[2017-05-28 07:01] #1702 closed

[2017-05-28 07:01] #1721 closed

[2017-05-28 07:02] #2254 closed

[2017-05-28 07:09] kares commented on #4628
yes it is. would be a bit difficult and confusing to change the CP in the system.

maybe in a .war scenario but otherwise JRuby has been using it JRubyClassLoader for a long time ...

if you move the log4j.jar on the 'normal' Java CP and not require/load the .jar from JRuby you would be able to access the classes from both Java and JRuby ... and avoid all of the gotchas of duplicate classes.

[2017-05-28 07:09] #4628 closed

[2017-05-28 14:50] MSNexploder commented on #1620
Apparently this was a JVM bug until 7u51 (http://bugs.java.com/bugdatabase/view_bug.do?bug_id=7087969).

Running the test case using:
[code]
yields a rather promising
[code]

[2017-05-28 14:55] MSNexploder commented on #1879
While it is true that IOOuputStream pretty much ignores the actual RubyIO encoding and uses ASCII as hardcoded default I have a hard time creating a proper repro.

[2017-05-28 15:06] MSNexploder commented on #1881
`GetLogicalDriveStringsA` and `GetLogicalDriveStringsW` work without issues using 1.7.21 and 9.1.9.0 on Win 7 (x64).

[2017-05-28 15:24] MSNexploder commented on #2815
9.1.9.0 behaves just like MRI 2.3.3

[code]

[2017-05-28 15:42] BanzaiMan commented on #2815
@MSNexploder Thanks for checking!

[2017-05-28 15:42] #2815 closed

[2017-05-28 17:06] headius commented on #4630
Can you provide an example build for us to reproduce this?

[2017-05-28 17:10] headius commented on #4629
So these errors are not breaking your suite, is that correct?

Unfortunately the trace you provided is too general for us to really figure this out. It may be related to #4574 or it may not.

It's possible we "fixed" something that was swallowing error output and now it shows up. It's possible there's actually a bug we introduced. I'm not sure.

[2017-05-28 18:03] headius commented on #4626
Does this affect you in some way? We have found these minor differences are usually due to the downstream YAML library we use, but they don't affect round-tripping. MRI loads our output correctly, and we load theirs correctly.

[2017-05-28 19:12] Tonkpils commented on #4626
Yeah, I was actually debugging a library that uses msgpack which managed to load the output of the jruby version yank output but raised an exception on the MRI one because of the extra characters.

I ended up releasing a new version of the library that yanked YAML support since it was for backwards compatibility anyway but I just thought I would report it.

[2017-05-29 08:29] kares commented on #1844
Great, this has been fixed a while back ... thanks for confirming Stefan.

[2017-05-29 08:29] #1844 closed

[2017-05-29 08:54] #1620 closed

[2017-05-29 08:56] kares commented on #1879
@MSNexploder thanks ... and sice it was 1.7 while 9K did a rewrite on IO let's assume its fixed :dancing_men:

[2017-05-29 08:56] #1879 closed

[2017-05-29 08:58] #1881 closed

[2017-05-29 09:24] kares commented on #4575
@zhangch-fnst still an issue than? if so could we get the `file` or a reproducable piece for `NKF.guess(...)`

[2017-05-29 09:28] kares commented on #4550
interesting and quite a piece gone wrong, @pandar1 any chance you test out 9.1.9 if its still there?
... if so we need a way to reproduce - ideally a minimalistic .rb file (based on `import_accounts.rb`)

[2017-05-29 11:36] ivoanjo commented on #4623
The fix has been merged and released, so I believe the issue can be marked as closed.

[2017-05-29 11:36] #4623 closed

[2017-05-29 14:01] haines opened #4631 "Zlib::GzipReader does not support #ungetc or #ungetbyte"
### Environment

[code]

### Expected Behavior

`Zlib::GzipReader` supports pushing data back onto the buffer via `#ungetc` and `#ungetbyte`.

[code]

[code]
### Actual Behavior

`Zlib::GzipReader` implements `#ungetc` as a [no-op](https://github.com/jruby/jruby/blob/9.1.10.0/core/src/main/java/org/jruby/ext/zlib/JZlibRubyGzipReader.java#L637-L639) and does not respond to `#ungetbyte`.

[code]

[2017-05-29 14:43] gajju26 opened #4632 "JRuby can Not load JFFI library under IBM s390x with linux platform"
### Environment

Provide at least:
* JRuby version (`jruby -v`) and command line (flags, JRUBY_OPTS, etc)
 9.1.10.0
* Operating system and platform (e.g. `uname -a`)
 Linux 4.4.0-64-generic Ubuntu SMP Mon Feb 20 11:55:38 UTC 2017 s390x s390x s390x GNU/Linux

### Expected Behavior

 JRuby should load libjffi.so for s390x architecture.

### Actual Behavior

When I start the Hbase shell I get the fol

[2017-05-30 03:35] trejkaz commented on #2404
9.1.10.0 update fixed the latter issue I got, and my File test still passes, so let's call it done.

[2017-05-30 03:35] #2404 closed

[2017-05-30 03:35] trejkaz commented on #4612
Seems to have been fixed in 9.1.10.0.

[2017-05-30 03:35] #4612 closed

[2017-05-30 03:54] trejkaz opened #4633 "AccessControlException with wrong path when calling File.realpath under SecurityManager and classpath containing spaces"
### Environment

JRuby 9.1.10.0
Java 1.8.0 u92
Security manager *enabled*
IDEA installed at "/Applications/IntelliJ IDEA CE.app"

Other relevant info you may wish to add:
* Installed or activated gems
* Application/framework version (e.g. Rails, Sinatra)
* Environment variables

### Expected Behavior

This test code:

        ScriptEngine engine = createEngine();
        String path = "classpath:/

[2017-05-30 07:42] pandar1 commented on #4550
I tried on 9.1.8.0, still present... do not currently have a 9.1.9 installed...

[2017-05-30 07:54] kares commented on #4550
@pandar1 thanks, how about the other part I have asked for (we do not know what's in the script) :

[2017-05-30 08:08] pandar1 commented on #4550
Ok, I'm to replicate the error with this:

require 'rubygems'
require 'active_record'
require 'yaml'
require 'logger'
require 'c:/jrails4_update/jruby-9.1.6.0/lib/ojdbc7.jar'
@config_db = YAML::load(File.open("./config/database.yml"))

the error arise with the last line

contents of database.yml follows:

datasource:
  adapter: oracle_enhanced
  database: ASESTERO
  username: admin
  password: ***

[2017-05-30 09:30] maxigs commented on #1181
Still happening with jruby 9.1.7.0 here also :(

[2017-05-30 12:42] kares commented on #1181
@maxigs please open a (detailed) new issue report with your observations ... this was against JRuby 1.7.x
its probably all the same but maybe something is different about your setup (we should leave this oldie as is)

[2017-05-30 14:11] hydrogen18 commented on #4628
What is the 'normal' Java CP? I have tried setting `-J-classpath` in JRUBY_OPTS to no effect. The Ruby code can find the classes from the jars when I do this, but the Java code cannot.

Consider the following example, using the `Java::package...` syntax provided by JRuby works as intended. Trying to use Java's reflection APIs to locate a class fails.

[code]

[2017-05-30 14:40] mkristian commented on #4628
@hydrogen18 java does not allow to add jars dynamically to the classloader which is associated with `-J-classpath`

JRuby allows to add jars into the JRubyClassloader which has the other classloader as parent. having said this `Class.for_name` is just asking the wrong classloader for the class. best pick any JRuby class and ask either
`JRuby.runtime.jruby_class_loader.load_class('com.example.Hello

[2017-05-30 16:14] nateberkopec opened #4634 "ENV.replace not working as expected"
### Environment

[TravisCI build with failure](https://travis-ci.org/puma/puma/jobs/236365102#L456)

### Expected/Actual Behavior

https://github.com/puma/puma/pull/1305

[2017-05-30 16:20] aviflax commented on #4629
Correct. But they just make me worry about some possible regression somewhere that’s breaking something that I don’t have proper test coverage of.

I’ve tried to create a small isolated test file that would reproduce the problem but so far I’ve had no success.

But I have been able to produce a full stack trace:

<details>
<summary>Full stack trace</summary>

[code]

</details>

<br>

Does that he

[2017-05-30 19:33] #4625 closed

[2017-05-30 19:37] headius commented on #4625
Ok, I'm trying to come up with a reasonable test for this, but it's kinda nasty. Unfortunately a simple struct like the one created for `stat` does not appear to leak the same way.

[2017-05-30 19:40] camlow325 commented on #4625
@headius Did you see the more direct jnr-ffi test case that I included in https://github.com/jnr/jnr-ffi/issues/117?  I suppose that one's probably a little lower level than would be useful for testing from JRuby but just wanted to point that out in case you hadn't seen it.

[2017-05-30 19:55] headius commented on #4625
@camlow325 I had not seen it until now. I just committed a test to JRuby in 6b6f27b25b, but perhaps your case from jnr/jnr-ffi#117 could be turned into a proper test suite test case?

[2017-05-30 22:32] headius commented on #4629
It helps, but you might be able to do more digging that would help more. It looks like at that point in the code, the `@sexp` is nil. If you can trace back to where that nil comes in (someone constructing this Resource object with a nil sexp somewhere else) we can get closer to the root.

My guess is that there's something about the source processing this does that fails on JRuby, but instead of a

[2017-05-30 23:36] marshalium commented on #4625
Awesome. Thanks for fixing this so fast @camlow325 and @headius!

[2017-05-31 07:50] kares commented on #4634
Thanks Nate, reading through comments and some code its not clear what exactly is the problem.
Maybe a simple reproducable piece of .rb would be better than build/issue links, if you have some?

[2017-05-31 14:11] headius commented on #4625
FYI, we probably won't be able to spin 9.1.11.0 until mid-June due to folks being out on vacation. But we'll do it as soon as possible! Please test out master and verify that everything looks good for those of you that have had issues.

[2017-05-31 14:50] headius commented on #4550
@pandar1 That helps! It seems to be breaking inside psych. I'll have a look at that.

[2017-05-31 15:04] headius commented on #4550
Ok, so the basic problem is that it's trying to get a charset from the IO you pass in, via `getReadEncoding`. However the encoding that's being returned does not have an equivalent Java Charset, so it's null, so this blows up.

This combination of encodings causes a similar result:

[code]

So a short term fix for you might be to specify encodings here that we know work. I assume your YAML file is

[2017-05-31 15:20] pandar1 commented on #4550
Well, I have worked around the bug by removing the redirection completely and writing on a file from the script, using this method...

def to_log(msg)
  puts msg
  File.open(@logfile, 'a') { |file| file.write(msg + "\n") }
end

but I will give your workaround a try, thanks!

[2017-05-31 15:21] headius commented on #4550
You can also read the yaml content completely and pass the string to YAML.load, to avoid the IO/encoding dance.

[2017-05-31 15:27] headius commented on #4550
This is fixed in ruby/psych#319 and once there's a psych release we'll roll it into JRuby.

[2017-05-31 15:35] headius commented on #4633
The URL encoding may be correct. Note from the stack trace that this constructor passes through URLResource on the way to the jar. Now whether that's the correct logic to use at that level, I'm not sure, but we're just asking for a resource out of a jar, which usually is handled as a URL at some point.

Is there really nothing at the path it reports, or is there some symlinking involved?

What hap

[2017-05-31 15:40] headius commented on #4632
Looks like we don't have a binary for Linux on s390x...the related file in archive/ is empty.

Care to build a binary for us? :-D

[2017-05-31 16:40] chrisseaton commented on #4624
I have local backups of these repos, and almost all the content is now in https://github.com/graalvm/truffleruby. I'll be deleting these today unless anyone wants to stop me.