[2018-01-18 04:38] sebastianguarin commented on #4866
I think this fix has raised a different issue
https://github.com/jruby/jruby/issues/4989

[2018-01-18 08:00] kares commented on #4984
Thanks Chris and Tom, guess its back-2-school for me than :)

For the record, as I was stuck elsewhere - did not pay much attention, when I run into this and somehow wrongly assumed `100000000000000000000000.0` to be still representable as a 64-bit `double` value.

As Chris confirmed (on IRC) detecting a float precision being lost isn't possible in general ...

Somehow expected a narrow case - tha

[2018-01-18 08:26] ralleman commented on #4987
Sorry, version 9.1.15.0 JRuby. And I'm using ActiveMerchant gem 1.75.0. I'm using gem-maven-plugin 1.0.0 for assembly.

[2018-01-18 11:01] tcheng commented on #4796
@oozzal , I tried 9.1.12.0 but the memory leak issue still exists in our product. I assume it's because 9.1.12.0 doesn't include the fix for [#4446](https://github.com/jruby/jruby/issues/4446).

[2018-01-18 11:32] original-brownbear commented on #4915
@headius ping :) Am I doing something wrong here or is there a remaining bug? Thanks!

[2018-01-18 14:03] ralleman commented on #4987
I've managed to get the app working by externalising the gems. Unfortunately I couldn't get it working if the gems are inside any jar file, including the top level one.

[2018-01-18 15:10] enebo opened #4990 "'break' in method context should emit a parse SyntaxError"
'break' in method context should emit a parse SyntaxError.  We will parse it and then throw a LocalJumpError if we ever run into it.

[code]

The severity is very minor since most people will not write code like this unless they are JRuby-only, but it should not be difficult to track down since it happens during parse time at some point (we just need to find the error message in MRIs source).

[2018-01-18 15:18] enebo commented on #4986
@nightsurge this may be a bug (I did not really study your code very much) but this particular behavior matches MRIs and we generally follow MRI bug-for-bug.  Your script did point out a bug in JRuby for sure though #4990.

My suggestion is that you re-open this issue in https://bugs.ruby-lang.org/ and see what they say.   IO has a ton of coverage and there might be a specific reason it behave the

[2018-01-18 15:18] #4986 closed

[2018-01-18 15:19] enebo commented on #4986
Also I just changed the 'break' to 'return' to make the script run on MRI.

[2018-01-19 06:07] kares commented on #4915
its a 'known' (duplicate) issue and has been fixed on jossl (master): https://github.com/jruby/jruby-openssl/issues/142

... unfortunately we've run into issues with certificates (just around trying to release jruby-openssl 0.10.0) https://github.com/jruby/jruby/issues/4802 which are know blocking the new release, there's [some attempts to resolve](https://github.com/jruby/jruby-openssl/pull/149)

[2018-01-19 07:06] original-brownbear commented on #4915
@kares ah thanks for the link! This is starting to become somewhat of a blocker for us so I'll do my best to track this down (likely today) :)
Closing here the.

[2018-01-19 07:06] #4915 closed

[2018-01-20 11:03] justinsoong commented on #1215
@kares yes still happening

[2018-01-21 07:22] apotonick opened #4995 "Wrong #inspect is used in Method#inspect"
### Environment

* JRuby version `jruby 9.1.7.0 (2.3.1) 2017-01-11 68056ae OpenJDK 64-Bit Server VM 25.151-b12 on 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12 +jit [linux-x86_64]`
* Ubuntu 16.04

### Expected Behavior

I override `Module.inspect` via a module (`Inspect`), `A.inspect` produces the correct result.

[code]

I am expecting the same `inspect` being used when inspecting a method instance fr

[2018-01-21 15:16] mkristian commented on #4987
@ralleman yes, that is probably not working due to maybe `Pathname.new(filename).relative_path_from(load_path)` or some of the other path manipulation you mentioned in your issue. so externalising is the thing to go.

[2018-01-22 13:45] mkristian commented on #4805
@sormuras there is clearly a `org.jruby:jruby-complete:1.7.26` on the classpath/classloader, eliminating this will resolve the overall problem.

[2018-01-22 15:36] sormuras commented on #4805
Aye. But I thought we override via:

[code]
https://github.com/junit-team/junit5/blob/master/documentation/documentation.gradle

Not?

[2018-01-22 19:19] headius commented on #4995
I have pushed a branch with fixes that re-align our Method#inspect logic with CRuby. Once it clears CI I'll merge.

[2018-01-22 19:20] headius commented on #4995
@apotonick Can you put together a spec for ruby/spec?

[2018-01-22 20:22] headius commented on #4970
Actually you're right...the comment is misleading.

What I'm trying to avoid here is ever using the incoming string as the dedup key, since we don't know how else that string is being used. You are correct; the actual deduped string should be both weak key and weak value (WeakHashSet would be nice) and the hard reference keeping it alive is the responsibility of `freezeAndDedupString` callers.

Al

[2018-01-22 20:32] headius commented on #4970
I have pushed a modified fix to jruby-9.1 that uses the deduped value as the key and passes all your examples. We'll want those to get into ruby/spec.

I'm also doing a fully Java 8 lambda-fied version of the atomic logic for master.

[2018-01-22 20:39] #4970 closed

[2018-01-22 21:28] ivoanjo commented on #4970
Thanks for the awesome fix!

Indeed the `computeIfFoo` APIs were a really great addition 🎉

[2018-01-23 03:47] GaneshSPatil commented on #4879
@TheKidCoder  -- We've tested the PR on the performance test setup, on which we found the performance issue.

Our findings:

* We didn't see any blocked threads around `addSubClass` method with the PR changes. The original issue regarding the server performance issues with ruby extend functionality addressed by the PR.

* Upgrading the jruby version from `1.7.26` to `9.1.15` we've faced performanc

[2018-01-23 06:37] apotonick commented on #4995
Sure, @headius! Thanks for the fix!

In which directory would that go in ruby/spec? `core/module` ?

[2018-01-23 07:34] kares commented on #4879
sounds like the original issue is resolved (this can be closed), @GaneshSPatil for the other 'performance' issue I would fill a new bug when you know the details. if you need help figuring it out I am happy to consult.

[2018-01-23 16:19] enebo commented on #4879
@GaneshSPatil we really want to know why there is such a large difference in time.  That really sounds like something which should JIT just isn't for some reason (large methods being one common reason -- 9k is a completely different set of internals and some methods could be small enough in 1.7 to JIT but end up being larger in 9k -- this is just an example).  Please open a new issue with any info

[2018-01-23 20:40] janko-m opened #5002 "Object#const_defined? triggers a warning for deprecated constant"
### Environment

[code]

### Expected Behavior

After deprecating a constant, asking whether that constant is defined *doesn't* trigger a deprecation warning on MRI:

[code]

### Actual Behavior

On JRuby the `Object#const_defined?` call triggers a deprecation warning:

[code]

I'm not saying this behaviour is bad, but it would probably be nice if the behaviour was the same as MRI when possible.

[2018-01-23 21:05] janko-m opened #5003 "Low-level Java error printed on Errno::EPIPE exception"
### Environment

[code]

### Expected Behavior

When writing to a broken pipe using `IO.copy_stream`, I expect `Errno::EPIPE` exception to be raised without anything else printed, as it is the case on MRI:

[code]
[code]

### Actual Behavior

On JRuby, in addition to the `Errno::EPIPE` exception, we get a `java.io.IOException: Broken pipe` internal exception also printed out:

[code]

Note that th

[2018-01-23 23:10] enebo commented on #5003
HAHAH that should have read 2014.  Which was still impressively old but not EPIC

[2018-01-23 23:29] janko-m commented on #5003
@enebo Thank you for such a quick fix!

[2018-01-24 00:24] byteit101 opened #5004 "PTY.open unusable because of fcntl error"
### Environment
* jruby 9.1.15.0 (2.3.3) 2017-12-07 929fde8 OpenJDK 64-Bit Server VM 25.151-b12 on 1.8.0_151-b12 +jit [linux-x86_64]
* Multiple linuxes (RHELs & Debian)

### MRI
[code]

### Actual Behavior
[code]

[2018-01-24 00:34] byteit101 opened #5005 "JRuby IRB readline issue on linux under a non-forked PTY"
### Environment
* jruby 9.1.15.0 (2.3.3) 2017-12-07 929fde8 OpenJDK 64-Bit Server VM 25.151-b12 on 1.8.0_151-b12 +jit [linux-x86_64]
* On several linuxes (RHEL and Debian)
* `rspec` and `ffi` gems installed
* Might  also work on OSX; haven't tried

### Test
I wrote this RSpec test that passes 3/3 on MRI, yet only passes 1/3 on JRuby:

https://gist.github.com/byteit101/241c5bb712c0d28930163ff0d88dc

[2018-01-24 03:21] nelsnelson commented on #4889
I can't seem to use phusion passenger because of this.

[code]

[2018-01-24 03:41] jboler commented on #4889
@nelsnelson My work around for that was to delete `java_import 'jline.console.ConsoleReader'` at terminal_choice_menu.rb:220

[2018-01-24 15:49] #4995 closed

[2018-01-24 15:52] headius commented on #4995
@apotonick core/method/inspect_spec.rb should do it.

Fix merged to 9.1 and master!

[2018-01-24 16:40] headius commented on #5004
Fallout from adding CLOEXEC support; now it is defined so code runs that didn't before, but not all paths have been fixed to support it.

[2018-01-24 17:07] headius commented on #5004
Fixed for 9.1.16 by softening the restrictions on fcntl flags. The logic in there is not correct yet, since it doesn't clear flags and only sets specific ones (NONBLOCK and CLOEXEC) but it works properly again (and is no worse than before).

[2018-01-24 17:07] #5004 closed

[2018-01-24 17:10] headius commented on #5005
IRB is unlikely to work properly within a PTY due to the jline library we normally use. I suspect this would work ok if you run with [rb-readline](https://github.com/ConnorAtherton/rb-readline) which on JRuby will use true native descriptors and readline-equivalent operations.

@enebo We should talk about whether to make our readline be rb-readline on platforms where we can do native IO.

[2018-01-24 17:16] headius commented on #4879
Fixed in 9.1.15 and confirmed by reporter.

[2018-01-24 17:16] #4879 closed

[2018-01-24 17:18] headius commented on #4889
@mkristian So we should disable relocating the jline logic then, yes? Can you undo that for 9.1.16.0 please?

[2018-01-24 17:18] enebo commented on #5005
@headius is there something @byteit101 could try like replace ```require 'readline'``` with some other require which loads that version?  I am more thinking about just testing to see if it solves the issue and possibly as a workaround for him.

[2018-01-24 17:19] headius commented on #4888
I believe this is the same issue as 4889. @mkristian

[2018-01-24 17:19] #4888 closed

[2018-01-24 18:23] headius commented on #4903
I still do not have an explanation for this. Poking at it a bit this afternoon.

[2018-01-24 18:33] headius commented on #4903
Ok, I think I've figured out the issue.

Our Enumerator#next is frequently (usually) backed by a thread, since we do not have a way to do coroutines (e.g. lightweight Fibers) on the JVM. The logic for this thread *should* pause each time through the loop, waiting for the next item to be requested. In actuality, I believe it is immediately continuing to the next loop, which in this case results in

[2018-01-24 20:41] headius opened #5007 "Enumerator#next proceeds to next iteration without being called again"
This is the root cause of #4903.

Our Enumerator#next does not appear to be waiting for a second all to perform a second iteration. Because it runs in a separate thread, this causes it to execute in parallel with code that received a previous result. Because of the improper sharing of a write buffer in `IOWritableByteChannel`, `IO.copy_stream` to an Enumerator#next-based sink could see a previousl

[2018-01-24 20:44] headius commented on #4903
I've pushed a fix for the issue causing the data to be overwritten after it is returned. The triggering issue, Enumerator#next not waiting for a subsequent call to continue iterating, is in #5007 and will probably be fixed in next major release.

[2018-01-24 20:51] #4903 closed

[2018-01-24 20:53] headius commented on #4907
It looks like a RubyGems flag is acceptable to the RG folks, so I'm going to close this.

[2018-01-24 20:53] #4907 closed

[2018-01-24 20:55] HoneyryderChuck commented on #4903
nice, thx for the fix! I'll test it as soon as I can.

[2018-01-24 20:57] headius commented on #4910
More fallout from defining O_CLOEXEC but not having it fully supported along all paths.

I think `IO#close_on_exec=` should at worst silently fail to set the flag.

[2018-01-24 22:10] headius commented on #4910
Masked out Windows in close_on_exec= for now.

[2018-01-24 22:10] #4910 closed

[2018-01-24 22:38] headius commented on #4858
@HoneyryderChuck Ok, what I can see is the following:

* TCPServer/Socket.for_fd is not fully functional in JRuby. There's no way to reproduce a JDK Server/SocketChannel given a file descriptor. You should be able to use the descriptor directly. This lack of support may make the rest of the discussion moot.
* I can see the close_on_exec= logic does actually call fcntl on the JDK socket's fd, and I

[2018-01-24 22:38] headius commented on #4858
The issue @ketan [mentions](https://github.com/jruby/jruby/issues/4858#issuecomment-352851054) is fixed for 9.1.16.

[2018-01-24 22:44] headius opened #5008 "Socket streams can't be for_fd with real fileno"
In #4858 I implemented close_on_exec logic, but the original script continued to fail because our TCPServer.for_fd (and all other JDK-based sockets) is not fully functional. Specifically, it can't reconstitute a JDK wrapper object around a real fileno, so the child fails to produce a working TCPServer socket.

IO.for_fd produces a working IO, but none of the socket methods are defined on it.

This

[2018-01-24 22:45] headius opened #5009 "IO#close_on_exec= seems to have no effect on JDK sockets"
In #4858, I implemented close_on_exec logic matching MRI, but because we do not always use direct native IO streams there are lingering issues. Toward the end of that issue, I discovered that ServerSocketChannel can be unwrapped by our fileno logic, but changing the CLOEXEC bit does not appear to affect it. The fd remains available and open in an exec'ed subprocess.

This needs further investigati

[2018-01-24 22:47] headius commented on #4858
The original issue is fixed to my satisfaction, since close_on_exec and friends *are* implemented for sockets now. I've filed separate issues for the remaining problems: #5008 and #5009.

[2018-01-24 22:47] #4858 closed

[2018-01-24 22:51] headius commented on #4710
@alexis779 Excellent thank you! I'll see about pulling it in and utilizing it in JRuby.

[2018-01-25 01:22] headius commented on #4710
@alexis779 I see some activity on your JRuby commit for jnr-posix. I will push the release with futimes and update JRuby to use it. From there, can you put together a PR for the JRuby part, once you've confirmed it's working?

[2018-01-25 01:32] headius commented on #4913
This appears to be fixed in 9.1.16, possibly due to work I did on threads and closing IO streams in dad9ab05ae1d885bfa2cfa7e5659a1252392b117.

[2018-01-25 01:32] #4913 closed

[2018-01-25 01:33] headius commented on #4913
[code]

[2018-01-25 01:35] headius commented on #4872
@Tribbles01 Sorry for silence over the holiday season!

Since you have a date range, perhaps you could bisect and find out which commit introduced it? There's instructions on building a local JRuby in [BUILDING.md](https://github.com/jruby/jruby/blob/master/BUILDING.md).

[2018-01-25 01:36] headius commented on #4916
Ah, very good. A simple fix for once!

[2018-01-25 01:59] headius commented on #4916
Ok, not totally simple, since internalPut and downstream methods do not return any existing value. But I'll have a patch shortly.

[2018-01-25 02:22] headius commented on #4916
Fix and tests (adapted from yours) pushed in db06305.

[2018-01-25 02:22] #4916 closed

[2018-01-25 02:23] headius commented on #4568
@lopex I forget our status here. We can move 9.1 to the new joni, yes?

[2018-01-25 02:25] headius commented on #4939
@boris-petrov Can you narrow down what it is we're doing wrong within Watir and its dependencies? Perhaps at the point of the error, compare the request/etc with what you'd see in MRI?

[2018-01-25 02:26] headius commented on #4942
Likely broken by work to make JDK 9 run better. Specifically, the logic that defaults to using real native stdio rather than JDK stdio.

[2018-01-25 02:36] #4942 closed

[2018-01-25 05:42] cmthakur commented on #4828
@jmiettinen Would you please let us know the workaround so that we can fix the issue until it gets fixed in upcoming versions?

[2018-01-25 05:59] robertpanzer commented on #4916
Thanks! 🎉

[2018-01-25 07:28] jmiettinen commented on #4828
I am not sure if our work-around helps as it was related to printing backtrace and message of an `Exception`. But it might give you some ideas @cmthakur.

We encountered the problem in situation where we had
[code]
which was to be written to an output stream. But writing did not succeed as we'd get bytes outside ASCII range. We just ended up sanitizing the result by replacing all bytes > 127 with

[2018-01-25 10:34] boris-petrov commented on #4939
@headius - thanks for the answer! I don't think I'll have the time to debug this any time soon. The steps I've given above are simple to reproduce so hopefully someone can try figuring it out. It's not urgent at all, it's just something to be fixed at some point. Sorry I can't be of more help right now and thanks for the hard work on JRuby!

[2018-01-25 17:07] headius commented on #1952
@mslinn Sometimes bugs just slip through the cracks. We're certainly willing to fix things that are affecting users today. I'm not sure how to run your examples, but it appears the behavior you expect is similar to the PERSISTENT variable mode that @guai uses above. Perhaps we just need to set our JSR223 implementation to use that mode?

You may be able to test that change yourself, but in any cas

[2018-01-25 17:07] #1952 closed

[2018-01-25 17:08] mslinn commented on #1952
You can just run the unit tests that I referenced to see the bug

[2018-01-25 17:09] headius commented on #1952
@mslinn Please open a separate bug for the issues you found and we'll tidy them up!

[2018-01-25 17:16] headius commented on #4963
Yeah I want to echo @enebo here...our roadmap is in many ways embedded in the issue tracker, and to some extent in the wiki. We don't set dates because the types of issues and enhancements we work on often are of unknown difficulty.

We do try to associate issues with an upcoming release we intend for them to go into, which is what that MRI link appears to be. And issues that are noisy get attenti

[2018-01-25 17:21] headius commented on #4971
Could you run your application with the `--sample` flag? That will turn on a lightweight JVM sampling profiler that will tell us more information.

IO.select is used for many IO operations, so this is not in itself an indication of a problem. Many threads will sit and wait for an incoming request in IO.select.

You may also stop by our IRC channel (#jruby on Freenode) or Gitter (jruby/jruby) and w

[2018-01-25 17:55] headius commented on #1952
@mslinn Setting the property @guai mentioned does indeed appear to make all your expected cases run successfully. So the debate then, which we can have in a separate issue, is whether our behavior is actually incorrect.

Ruby typically does not reuse the root scope for a script execution, and variables defined at that level are not visible across scripts. However, this case is more along the lines

[2018-01-25 17:58] headius commented on #4828
@enebo actually chatted with me about the encoding of exception messages and backtraces, relating to his work on the bytelist_love branch.

[2018-01-25 18:01] headius commented on #4939
Hmm, I got a different result. What did I do wrong?

[code]

[2018-01-25 18:03] headius commented on #4939
I followed the instructions in the error, and I still get a different result:

[code]

And that's it.

[2018-01-25 18:08] headius commented on #4968
This is likely because the result of func gets stored into a temporary local variable but never used or cleared. This causes the JavaClass object, the block and binding it captures, and the BigClass stored in that binding to be retained.

The IR for the top-level method, from the func call down:

[code]

That `%v_7` goes into a JVM local variable, and the JVM considers it alive for purposes of GC.

[2018-01-25 18:13] headius commented on #4968
@enebo @subbuss For this particular case, we could modify the compiler to not store a result, yes? The old JIT did this by passing an "expression" flag through the AST that indicated whether the result would be used or not.

A related question is whether the assignment could be removed by a smarter DCE?

[2018-01-25 18:29] headius commented on #4968
A simple workaround is to do the func call within another scope (without it returning a result).

[2018-01-25 18:34] subbuss commented on #4968
Possibly ... I think that information is already present in the DCE pass and could be used to kill the store.

[2018-01-25 18:38] subbuss commented on #4968
Method markDeadInstructions could mark result vars that are dead after that definition which could then be used by JIT / interpreter. I thought I had this information already marked in the results at one point. But, that is where you should look.

[2018-01-25 19:02] headius commented on #4976
This is fixed in 788cd5b. @badboy Maybe you can figure out a way to write a spec/test for this? I'm not sure how easy it will be to temporarily disable ipv6 for one test though. cc @eregon

[2018-01-25 19:02] #4976 closed

[2018-01-25 19:03] headius commented on #4976
The error message now looks like this:

[code]

[2018-01-25 19:25] badboy commented on #4976
Oh cool! Thanks for fixing that.
IPv6 can be disabled using `sysctl net.ipv6.conf.all.disable_ipv6=1` quite easily, but it requires root privileges. That's probably not a good approach for a single test in a larger test suite.

[2018-01-25 19:52] enebo commented on #4828
@jmiettinen I have been working towards merging a large branch now to upcoming 9.2.x which will largely solve these problems.  The main issue we have today is that at some point all data for method and variable names end up as a Java String and we run into lots of scenarios where we try and make it back into a Ruby String or symbol and we have lost the ability to regain its encoding.  The new code

[2018-01-25 19:57] enebo commented on #4828
Oh I should add we have no current plans to entertain this for 9.1.x.  It is a lot of work and a few small (which no one should experience) breaking changes.  9.1.x will still see innovations but just not in this area.  It is too icky to guarantee on a stable line.

[2018-01-25 20:34] enebo commented on #4968
I sort of remember something where LVA was not tracking anything but LocalVariables?  I do not know why we never included Temporary Variables but it seems like we should be able to.  So I think there are two possible issues:

 1. I think LVA is not tracking dead temps
 1. There appears to be no discardResult callers anymore?

[2018-01-25 21:00] mslinn commented on #1952
@headius Yes, setting the environment variable solves the problem. I did that in the constructor for the JRuby evaluator. All my tests pass.

[code]

[2018-01-25 22:17] eregon commented on #4976
It sounds difficult to disable IPv6 for a specific test.
But maybe we can just test binding a IPv6 address and accept both outcomes (`returns 0` or `EADDRNOTAVAIL` but no other error).

[2018-01-26 06:19] headius commented on #1952
👍 Since there's not really a bug per se I'll open an issue to discuss switching the default for JSR223 mode.

[2018-01-26 06:26] headius opened #5012 "Consider switching JSR223 engine to use "persistent" local variables"
In #1952 we learned from @mslinn that our JSR223 engine does not persiste variable updates across script executions, while most of the other languages do.

They provided [a suite of scripting tests with some JRuby assertions commented out](https://github.com/mslinn/cli-loop/blob/2cad92f993d8c851cca2b5451d309aacb9bafd02/src/test/scala/com/micronautics/cli/TestyMcTestFace.scala#L167-L203) because th

[2018-01-26 06:26] headius commented on #5012
Given the impact I think 9.2 is the earliest we could do this.

[2018-01-26 06:28] headius commented on #4921
Thank you for the detailed report!

NKF has indeed been a weak point for us, which we mostly ignored because of the move to the newer Encoding subsystem in Ruby 1.9. However we'd always like to see compatibility improved.

It may be as simple as duplicating what MRI uses for NKF, or there might be a pure-Ruby NKF out there build atop the Encoding subsystem.

[2018-01-26 06:50] headius commented on #4921
This looks like a promising library, should we chose to wrap an existing one: http://mariten.github.io/kanatools-java/en/kana-converter/

[2018-01-26 11:50] boris-petrov commented on #4939
@headius - thanks for trying! Now I also receive a different result from the one I pasted before. But in any case the result from MRI is different from the one with JRuby - MRI says:

[code]

And JRuby says:

[code]

Which doesn't make sense as the commands were the same (the ones from my original post). You can reproduce that same thing, yes?

[2018-01-26 14:23] mkristian commented on #4889
@headius we fixed a similar problem with the highline gems, maybe we can do this on phusion_passenger. will ping you one irb/gitter the next days. we always can roll back

[2018-01-26 14:25] mkristian commented on #4888
@headius no idea why this fails on windows. but when we rollback the readline gem version then this is also fixed.

[2018-01-26 15:34] subbuss commented on #4968
Historical reasons why LVA didn't track temps. But, yes, LVA can be readily extended to track all vars, including temps. And. dead results should be discarded in interp / jit.

[2018-01-26 17:12] aabryant commented on #4921
Thank you for responding! It reminded me to dig a little bit deeper into the situation myself, and I think that I've found the root of the issue. It lies not in NKF itself, but rather in JRuby's choice of definition for SHIFT_JIS.

As you may well know, SHIFT_JIS is a blanket name for a variety of encodings. MRI Ruby (like the majority of applications) appears to use MS932 (Microsoft CP932/Windows

[2018-01-26 19:07] enebo commented on #4968
Recalling another conversation if we continue to see insurmountable cases we may need to nil out temps at the point they are no longer used.  That will be no fun for interp but I doubt will hurt JIT.  We could possibly even optimize that if we know an lvar still captures same reference and not both to emit the nilling out.

[2018-01-27 21:25] alexis779 commented on #4710
Thanks for merging jnr-posix PR. Updated https://github.com/jruby/jruby/pull/4795 jruby PR

### Test
[code]

### Reproduction case
[code]
Test fails. The nanosecond precision in _Modify_ date was lost after the `utimes` call.

### With the patch
[code]
Test passes. The nanosecond precision in _Modify_ date was maintained after the `utimensat` call.

### Windows

[code]

## JRuby Limitations
- Linu

[2018-01-29 07:33] mkristian commented on #4805
@sormuras your gradle config needs a little patch for asciidoctor picking the right jruby version:
[code]

[2018-01-29 09:36] sormuras commented on #4805
Will give it shot. Thanks for the hint.

[2018-01-29 11:16] sormuras commented on #4805
Without the `buildscript` line, the build fails to start on Windows 10.

When adding the `dependencies` entry, I get:
[code]

[2018-01-29 11:20] sormuras commented on #4805
This still only happens when the `pdf` backend is enabled.

[2018-01-29 14:38] ahorek commented on #4715
#4715

[2018-01-29 15:34] cshupp1 opened #5018 "open3.rb broken in JRuby"
Consider the following:

[code]

Now consider MRI ruby
[code]

In MRI ruby we can make a call to bundler.  JRuby we cannot.

Please note the following in JRuby:
[code]

So JRuby should be able to find it.

I have written up the following webpacker bug which shows a workaround, but it just could be that the root cause of the issue is with JRuby.

https://github.com/rails/webpacker/issues/1175

[2018-01-29 16:02] enebo commented on #5018
@cshupp1 do you know if this is a regression or likely something which has been broken for the whole 9.1.x series?

[2018-01-29 16:26] cshupp1 commented on #5018
@enebo It fails for me with 9.1.8 and 9.0.4.0.  Can you reproduce it?

[2018-01-29 16:33] enebo commented on #5018
@cshupp1 we implement capture in terms of popen3 for windows and @headius happens to have a recent PR  #4964 which changes popen3 behavior.  Not sure how WIP this PR is but maybe you can try that and see if it fixes anything?  (I have not started up Windows to look at this yet).

We probably have a whole class of errors on windows because MRI has a bunch of native code which we have not yet made t

[2018-01-29 17:32] cshupp1 commented on #5018
@enebo

How do I get jruby's complete jar?
mvn -Pcomplete?

See this gist:

https://gist.github.com/cshupp1/7916b7027d0163a6b7d8ec32643743bf

[2018-01-29 17:50] headius commented on #5012
@kares @enebo @mkristian Any opinions on this?

[2018-01-29 18:09] cshupp1 commented on #5018
@enebo
I got  it building...  I always forget to unset JRUBY_HOME.

irb will not even come up.
https://thepasteb.in/p/WnhzYzywQWQTV

Cris

[2018-01-29 18:29] headius commented on #4921
I did a lot of poking around, and there seem to be precious few libraries for explicitly dealing with full and half-width kana and such things. Many links just lead back to NKF, which seems to have little use outside the Ruby bindings.

[2018-01-29 18:34] aabryant commented on #4921
I can't say I'm terribly surprised -- MRI Ruby itself seems to rely on a bundled copy of iconv for most of its conversions. While effective, that does present something of a challenge for a JVM-based implementation.

[2018-01-29 18:36] headius commented on #4921
@aabryant That's very interesting! I'm pulling in @lopex here since he did the original port of the encoding logic and has continued to help us maintain it.

I have not spent a lot of time in our NKF logic, but it does *appear* to be using the ported encoding subsystem. That makes me think that perhaps our version of that logic is improperly aliasing "shift_jis" to the wrong actual encoding. We ha

[2018-01-29 18:54] headius commented on #4943
Link with #5018.

[2018-01-29 19:29] cshupp1 commented on #5018
On:

[code]

The results are unchanged.
[code]

[2018-01-29 19:30] enebo commented on #5012
I remember the author (A. Sund??????) of the original (and I do not think is our) JSR223 impl made some decisions about what would persist across calls.  He did most of the original bindings for most of the languages (Sun employee).  I was fairly sure we copied those decisions.

If I ignore that then the obvious reason this is a bad idea is it will pin old objects over time if you keep adding new

[2018-01-29 19:55] cshupp1 commented on #5018
FYI, this does work (Still using improve_windows_open3)
[code]

[2018-01-29 20:52] cshupp1 commented on #5018
So for clarity:
sterr, stdout, status = Open3.capture3({}, "bundle.bat exec webpack")
That works on JRUBY
sterr, stdout, status = Open3.capture3({}, "bundle exec webpack")
That fails on jruby

Both work in MRI.

[2018-01-31 12:10] MartinNowak opened #5023 "excessive loading of same InterfaceImpl"
### Environment

Provide at least:
* jruby 9.1.15.0 (2.3.3) 2017-12-07 929fde8 Java HotSpot(TM) 64-Bit Server VM 25.144-b01 on 1.8.0_144-b01 +jit [linux-x86_64]
  `jruby -J-Xms1g -J-Xmx1g -J-XX:+UseG1GC -J-XX:MetaspaceSize=192M -Xcompile.invokedynamic=true`
* Linux 4.4.0-109-generic #132-Ubuntu SMP Tue Jan 9 19:52:39 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Other relevant info you may wish to add:

[2018-01-31 18:58] kares commented on #5023
believe they're cached to some extend.
what would help to confirm a bug is a reproducer, do you know where they're created from?
would you care to attempt a minimal reproducer - where you expect the same Impl class to be reused and can confirm it isn't.

[2018-01-31 19:37] enebo commented on #5023
I half wondered if vert.x isolates via classpaths and perhaps confuses a cache as needing to regenerate something?

[2018-02-01 09:03] Tribbles01 commented on #4872
Hi Headius,

it took me a bit of time to prepare the build environment, as I barely know about maven and the likes.
But I managed to get everything kinda up and working and tried to pull off recent versions of JRuby. Especially the 9.0.X line was incomplete on the AWS.

After the build, I did this little check routine:

bash-4.4$ for i in `ls -l | grep jruby | grep -v \.gz |awk '{print $9;}'`; do

[2018-02-01 09:05] Tribbles01 commented on #4872
One more note, perhaps the system architecture was not recognized correctly.

See [SunOS-sparcv9] vs.  [solaris-sparcv9] in the --version info above ...

Best wishes,
Thorsten

[2018-02-01 12:22] headius commented on #4995
@apotonick Still having trouble confirming the fix? I just ran it against 9.1.16 snapshot and it does indeed seem to be fixed:

[code]

[2018-02-01 14:09] MartinNowak commented on #5023
If I can find time, I'll try modify jruby's source to print the interfaces, that should help me to figure out which instance is causing this. Right now I can hardly locate it by any means, or would you have a another idea?
Cannot promise anything as reducing it sounds like at least half a day of work.

On the upside the `-Xinterfaces.useProxy=true` reduced CPU load for a Kafka consumer from 120% t

[2018-02-01 14:12] MartinNowak commented on #5023
Could you expand a bit on that, I don't understand what you mean.

[2018-02-01 15:19] enebo commented on #5023
Ignore that comment.  I was wondering how we generated real classes relative to classloaders.  in order to load code all generated types must be reachable from a classloader.  If there was some scenario where an execution environment stood up new CLs then the generated types would never be in the right CL and we would generate the thing again (old one eventually GCing).  I cannot concretely explai

[2018-02-02 01:32] ioquatix commented on #4748
I played around with this a bit more. It's troublesome.

This isn't really a good option. I'd really have to implement the ServerSocket / ClientSocket split into the core of the io abstraction in order to make it work.

It's probably the only solution that's going to work well, but the problem is core Ruby doesn't make this split, while JRuby does. It's a bit of a mess to be honest.

The only solu

[2018-02-02 01:49] ioquatix commented on #4748
I think that the cross-interpreter costs w.r.t. how the APIs work is stupidly complex for typical developers to manage which is unfortunate.

I could modify `async-io` to only expose a very limited set of APIs, but my goal was to provide drop-in replacements for core Ruby IO classes.

[2018-02-02 11:32] apotonick commented on #4995
Sorry, I was being an idiot and still had my `if Ruby == Jruby` tests in place to make the wrong behavior pass. All good now, thanks!

[2018-02-03 02:00] MartinNowak commented on #5023
Here is a reproducer, actually seems to be more of a diagnostic issue, though I still wonder if it could be cached.
You can find guava-20.0.jar [here](https://github.com/google/guava/releases/download/v20.0/guava-20.0.jar).

[code]
So the problem is that the java method accepts any ruby class as interface argument and only binds the method at call time. This is prolly done to support things like M

[2018-02-03 06:24] kares commented on #5023
there's too many info for me, yet not sure about the reproducer, you expect the 'action.run' impl to generate a cached Java class, right?

[2018-02-03 09:35] MartinNowak commented on #5023
Not at all, it's about the FutureCallback ruby class being dynamically (ad-hoc) adapted to the Guava::FutureCallback interface on every single method invokation. That seems to be an intentional feature of JRuby, kind of duck-typing for interfaces.
The problem is that the ad-hoc interface adapter it's not cached and very easy to run into (no warning, still works), even though I tried to explicitly

[2018-02-03 09:36] MartinNowak commented on #5023
Hope that helps you as TL;DR @kares

[2018-02-03 19:59] chuckremes commented on #1717
This bug is still causing some headaches. See [issue 2 in `ruby-io` for detail](https://github.com/chuckremes/ruby-io/issues/2).

[2018-02-03 20:00] chuckremes commented on #1806
This issue is also still causing headaches. See [issue 2 in `ruby-io` for details](https://github.com/chuckremes/ruby-io/issues/2).

[2018-02-05 08:38] Tribbles01 commented on #4872
Hi Headius,

I made some more inspections and now I am quite sure, that the CPU ARchitecture detection does not work for SPARC systems.
Background: there is a OpenSolaris version, which you can use on x86 systems and from inspecting the loaded libraries, the 9.X tree tries to grab those from the x86_64 tree like:

jruby-9.1.13.0/lib/ruby/stdlib/ffi/platform/x86_64-solaris/fcntl.rb

Now, comparing

[2018-02-05 15:59] kares commented on #4721
have pushed a fix for this issue - there's actually two parts https://github.com/jruby/jruby/commit/7307deabeb3e4cd82feda216912fd5a91d57108f and https://github.com/jruby/jruby/commit/1ea71f454d5359f8c3ee34e4815043e7732443f3
first, the NPE is avoided to behave as spec-ed (specs based on @trejkaz's commit did reproduce the same stack-trace on JRuby's end as reported - with Guava). the first part wil

[2018-02-06 15:37] enebo commented on #4876
Removed two MRI optimizations about removing GVL from stat-like operations.  We don't have a GVL.

[2018-02-06 15:41] dersar00 opened #5033 "How to connect to mysql?"
Hello!
I'm have a trouble with finding info about connecting to mysql database if I'm using jruby.
How I can do it? I need to connect mysql to one of my .rb file.

[2018-02-06 18:18] mprins commented on #5033
https://github.com/jruby/jruby/wiki/ActiveRecord-JDBC  not enough?

[2018-02-07 05:44] kares commented on #5033
you either setup the `gem 'activerecord-jdbcmysql-adapter'` n your *Gemfile* (`platform: :jruby`) for Rails
... or simply use another library such as Sequel which has JRuby support for almost all of its DB support
than obviously you could use the 'raw' Java standard JDBC with MySQL's driver (which the above all are using behind the scene). your question is too generic and maybe would have been a b

[2018-02-07 05:44] #5033 closed

[2018-02-07 15:49] HarlemSquirrel commented on #4971
@headius Sorry for the late response, work has been quite busy.

Here's the output using the `--sample` flag.

[jruby-9-1-15-rails-debug-20180207.txt](https://github.com/jruby/jruby/files/1703716/jruby-9-1-15-rails-debug-20180207.txt)

[2018-02-07 19:08] chuckremes opened #5035 "JRuby's native `SortedSet` lies about adding an object"
### Environment

Provide at least:
* JRuby version (`jruby -v`) and command line (flags, JRUBY_OPTS, etc)
jruby 9.2.0.0-SNAPSHOT (2.4.1) 2018-02-01 aa2ea83 Java HotSpot(TM) 64-Bit Server VM 25.144-b01 on 1.8.0_144-b01 +jit [darwin-x86_64]

* Operating system and platform (e.g. `uname -a`)
Darwin Charless-Air 16.7.0 Darwin Kernel Version 16.7.0: Mon Nov 13 21:56:25 PST 2017; root:xnu-3789.72.11~1/R

[2018-02-08 02:58] sebastianguarin opened #5036 "Scan ArrayIndexOutOfBoundsException Error"
### Environment

* jruby-9.1.13.0
* rails 4.2.9
* Darwin 14.5.0 Darwin Kernel Version 14.5.0: Sun Jun  4 21:40:08 PDT 2017; root:xnu-2782.70.3~1/RELEASE_X86_64 x86_64

### Helper method
"#{c1}....#{c2}........" is a random string, which used to be an english sentence but most of the characters were replaced with dots. However the issue is not raised if C1 and C2 are dots `.`.
The arg 'string' was

[2018-02-08 08:41] kares commented on #4721
pushed the first commit to jruby-9.1 ... https://github.com/jruby/jruby/commit/edd18dded986ec7058a9a17b08b2017bb843d077

[2018-02-08 08:41] #4721 closed

[2018-02-08 10:18] kares commented on #5035
Thanks Chuck, wouth checking I'm hoping there isn't much concurrency ...
turning out difficult running, in the mean time did you verify the example works fine under JRuby 9.1?
[code]

[2018-02-08 10:43] headius commented on #5035
Perhaps it's time we finally dumped the CRuby impl of set.rb and made a proper one that's concurrency-friendly and not based on Hash.

[2018-02-08 11:14] kares commented on #5035
@headius this is a bug with the set.rb rewrite (to .java) on master - hopefully not concurrency related

[2018-02-08 11:31] headius commented on #5035
Ah ok I see. I will try to help look into this on my journey home.

On Thu, Feb 8, 2018, 12:22 Karol Bucek <notifications@github.com> wrote:

--

- Charlie (mobile)

[2018-02-08 13:07] chuckremes commented on #5035
@kares Unfortunately I can't run it on any 9.1.x release because of [issue 4920](https://github.com/jruby/jruby/issues/4920). That Fiber fix hasn't been part of any release yet.

As for the `O_NOCTTY`, I'm not seeing that on my OSX or Linux box. The `disconnectx` error must be from you running this on linux. I'll check this morning (I only test on my linux image about once per week) and push a fix

[2018-02-08 14:15] kares commented on #5035
Thanks Chuck, I assumed there isn't much concurrency but wanted to double check.
will definitely fix this one, we just need to be able to reproduce - ideally on Linux.
I do have a MacBook box around but its not setup - thus I rather wait if you're able to get this going...

[2018-02-08 16:49] chuckremes commented on #5035
@kares Pull latest master and try again. Until I figure out my `epoll` issues on linux I have forced all platforms to use `select`. On my Ubuntu 17.10 box the example code now runs to completion under MRI. I do not have jruby installed and working... I keep getting some complaint about trustedanchors that I haven't been able to fix yet.

Let me know if you need anything else.

[2018-02-08 18:09] kares commented on #5035
all reproducing now - the issue relates to trying to implement a proper `SortedSet` by JRuby ...
a one that does sort its elements upon insertion (unlike MRI's *set.rb*), doing so Java's `TreeSet` has a glitch: `compare` should align with `equals`. which is not the case for IO's `Timer` :
[code]

so for the underlying `Hash` instances are never equal but for the `TreeSet` (order) they might be (<=

[2018-02-08 18:51] chuckremes commented on #5035
I will make your modification to my code for now. Do you plan to make the native Java SortedSet conform to the Ruby semantics?

[2018-02-09 05:32] kares commented on #5035
yep MRI compat first - will use your original `<=>` + `==` implementation as a guideline/test-case ... thus :

[2018-02-09 05:49] headius commented on #5035
@kares I guess the two options here are to implement our own Set that matches MRI semantics (i.e. not wrap slightly-off Java sets) or add a linked list for insertion ordering. The latter would still be more efficient than a fully-wrapped Hash but the former would be the most efficient. We might also take this opportunity to implement direct addressing as added in Ruby 2.4, which we could them reap

[2018-02-10 07:18] sormuras commented on #4805
The relevant dependency tree now looks like:

[code]

[2018-02-10 20:45] philr opened #5038 "Bundler activates minitest from stdlib instead of installed gem after upgrading to RubyGems 2.7.5"
I'm not sure yet whether this is an issue with JRuby, Bundler or RubyGems, but I've so far only encountered the problem with JRuby.

With a clean install of JRuby 9.1.15.0 and a `Gemfile` containing `gem "minitest", "5.11.3"`, Bundler will activate the minitest 5.11.3 gem as expected. After upgrading to RubyGems 2.7.5, Bundler incorrectly activates the built-in version of minitest from stdlib inst

[2018-02-12 15:21] #5035 closed

[2018-02-12 20:04] headius commented on #4889
@mkristian Decision time!

[2018-02-12 20:06] headius commented on #4890
No recent progress on this and it's really out of our domain. We'll happily pull in the new RubyGems when available. Please open a new issue for that once the original issue is fixed in RubyGems.

[2018-02-12 20:06] #4890 closed

[2018-02-12 20:16] headius commented on #4877
No feedback since December, bumping.

[2018-02-12 20:17] headius commented on #4896
This appears to pass in 9.2 (master).

[2018-02-12 20:18] headius commented on #4896
Also passes in 9.1.16.0, probably due to recent prepend improvements.

[2018-02-12 20:18] #4896 closed

[2018-02-12 20:20] headius commented on #4989
Still an issue as of today on jruby-9.1 HEAD.

[2018-02-13 14:41] headius commented on #5018
This probably should be `-S bundle`. Wouldn't expect it to work as you show it.

I'll boot up my Windows VM and see what I can see today.

[2018-02-13 15:55] headius commented on #4889
Ok, after messing with this a bit more it turns out the relocation is just not going to work. The `Kernel32` class in jline has JNI methods that can't be located if the class is relocated.

@mkristian will look at removing the relocation and loading the jar through a different mechanism to avoid issues. Then we'll try to finally drop jline in 9.2.

[2018-02-13 16:18] headius commented on #5018
Ok, so the only problem I see here is that it's not finding bundle.bat, because the following seems to work fine:

[code]

I'll look into the path searching logic, but can you confirm that providing a more specific command makes all your examples work?

[2018-02-13 16:53] headius commented on #5018
Ok, I've pushed some tweaks to the branch that do the following:

* Enable executable-searching for popen3. We did it for other forms of process-launching, but not this one for some reason.
* Tweak subshell detection to use cmd.exe when the target executable is a batch or cmd script.

This appears to make your examples all work right.

[2018-02-13 17:17] headius commented on #5038
Hmm, have you filed this with RubyGems? Given that JRuby doesn't change at all and it stops working, I'd strongly lean toward this being their issue. They have broken this sort of searching before, too.

[2018-02-13 17:19] headius commented on #5036
Will be fixed by #5037.

[2018-02-13 17:22] headius commented on #4971
@HarlemSquirrel As far as I can see, it appears to be simply waiting in the lowest-levels of the select for something to happen.

There have been some improvements to select logic in JRuby 9.1.16 (due out this week, nightlies available). Could you retest? If it's still slow, we can look into bisecting changes during 9.1.15 to find the trigger, or dive a bit deeper.

If it's possible for you to mak

[2018-02-13 17:23] headius commented on #4971
9.1.16 nightly: https://projectodd.ci.cloudbees.com/job/jruby-stable-dist/lastSuccessfulBuild/artifact/release/

[2018-02-13 17:25] headius commented on #1806
This has come up many times, and it's not an easy thing to fix. The main issue is that our Fiber subsystem uses normal Ruby synchronization mechanisms (specifically, Queue) which depends on the Fiber and the Thread it's synchronizing against to have their own notions of current thread.

However, since I wrote this implementation, we have improved our internal logic for synchronizing threads with n

[2018-02-13 17:26] zanker commented on #1806
Good to hear anyway, thanks for an update!

Sent from my iPhone

[2018-02-13 17:31] headius commented on #4872
Ok, thank you for the additional investigation. There is indeed no reference to "sun4v" in any of our platform detection, so that's likely causing the issues.

@Tribbles01 Can you show me what `jruby -e 'p ENV_JAVA["os.name"]'` displays?

[2018-02-13 17:38] headius commented on #4872
I'm downloading an x86 solaris vbox image, but I'm not sure I'll be able to reproduce the same issues there.

The pid capture/detection logic happens in one of two ways:

* If we can use our native process-launching, it comes naturally from posix_spawn.
* If we have to use JVM process-launching, we need to be able to unwrap the resulting (platform-specific) Process object to dig out the real pid.

[2018-02-13 17:40] headius commented on #1717
Same issue as #1806. Root issue is that Thread.current in a Fiber is not really the parent thread but the Fiber's thread. Many synchronization mechanisms depend on these being the same, so simply changing it is not easy.

[2018-02-13 17:40] #1717 closed

[2018-02-13 17:44] headius commented on #5023
If you want to implement FutureCallback, just do

[code]

The implementation is generated at (I believe) construction time and not regenerated for future objects. The pattern you use in your reproduction may be regenerating the impl class because it's doing it at the point where you pass the object, rather than in the object's natural class.

This indicates a problem with the overhead of dynamical

[2018-02-13 17:51] headius commented on #4748
The long term answer is that we need to start moving toward all-native Socket. There's a solid start on this in the rubysl-socket library, but it has a number of dependencies on Rubinius or on having an initial build step per-platform, which we can't provide. The TruffleRuby folks may have a modified version that we could drop in.

I have attempted at various times to make Socket defer the decisio

[2018-02-13 17:52] headius commented on #4876
I believe the new plan, given the long tail of 9.2 development, is to release 9.2 with Ruby 2.5 support.

[2018-02-13 17:53] headius commented on #5012
@enebo I am currently leaning toward just making this change. I have no idea how many people are using JRuby + JSR223, but I can't imagine there's many. Most folks who want to embed JRuby want the richer API, and that's what we have usually told people asking about embedding.

If you agree this would be simple to drop into 9.1.16, and see if anyone hates it.

[2018-02-13 17:59] headius commented on #4943
The childprocess gem does indeed contain a pretty solid FFI implementation of process logic for Windows. I think that's the path forward, maybe for 9.2.

[2018-02-13 18:01] headius commented on #4715
Yes, this is not an easy one to fix. Our socket logic is based around JVM APIs, which means a TCPSocket always needs a Java TCPSocket underneath it. At the same time, we do try to carve out the real filedescriptor, usually without storing it somewhere. Then when you try to for_fd, we see a real FD, find no existing TCPSocket, and are unable to produce one.

This is another one that will be fixed b

[2018-02-13 18:06] headius commented on #4710
I've merged #4795 to master and 9.1.16.0. Thank you for your help!

[2018-02-13 18:06] #4710 closed

[2018-02-13 18:10] headius commented on #4939
@boris-petrov Yeah I get the same result. I'm not sure what to look into though...I have no idea what any of this output even means. Perhaps there's someone from watir we can get involved here to help us narrow down what's different? There's a lot of code here.

[2018-02-13 18:11] #4568 closed

[2018-02-13 18:11] headius commented on #4568
Works in 9.1.16.0.

[code]

[2018-02-13 18:33] headius commented on #5002
Ok I'm really confused why MRI does not display this warning. As far as I can tell, the const_defined? code calls rb_const_get which calls rb_const_warn_if_deprecated, which always warns. I'm missing something.

[2018-02-13 18:59] headius commented on #5002
Ok, I figured it out by step debugging. If `const_defined?` is called with a single symbol, it uses simpler logic (that does not check deprecation) for checking if that name is defined in the target module.

However we do not appear to have that simpler logic. RubyModule.isConstantDefined is similar but not quite.

[2018-02-13 19:06] enebo commented on #5002
I am generally in favor of matching MRI behavior but this really appears to be a bug in MRI.  Why would "Kernel" as argument trigger it while :Kernel does not?  I think we should WONTFIX this and perhaps ask @janko-m to raise this on ruby-lang as an issue.

[2018-02-13 19:13] headius commented on #5002
@enebo Ahh you are correct, that does seem to be an odd behavioral difference. I'd say that all forms of `const_defined?` should warn or none of them should.

@janko-m I would suggest opening a bug with MRI to clarify this behavior. I did try to port the relevant logic, and although it eliminates the warning it does not pass existing specs (so I missed something).

If MRI decides that this is corr

[2018-02-13 19:13] #5002 closed

[2018-02-13 19:16] headius commented on #4987
@ralleman If you can investigate more, or provide a simple repro (like a git repository we can just clone and run) we might be able to do more here, but since the related Ruby libraries are using their own tricks to look up other files we might be a little stuck. You could put some logic into the `Billing` module code you show above and see where it's getting mixed up about paths inside the jar. `

[2018-02-13 19:17] headius commented on #1215
I'll try it on my ARM VM.

[2018-02-13 19:33] headius commented on #1215
Ok, so I tested on my aarch64 VM and I do not get this error; it seems to load correctly.

So, one of the following is likely true:

* This issue is fixed. @justinsoong claims it's still happening, so we need more information on that.
* This issue only affects 32-bit ARM. I will have to retry on one of the 32-bit ARM machines I have (none set up for dev right now).

Given that the original warning

[2018-02-13 19:36] headius commented on #4985
Same issue as #4968 most likely.

[2018-02-13 19:37] headius commented on #4985
Workaround is to use those objects/variables in a subscope. For example:

[code]

Not ideal I know.

[2018-02-13 19:37] #4985 closed

[2018-02-13 20:58] philr commented on #5038
@headius Thanks for taking a look. I've just filed rubygems/rubygems#2188 to see what they make of this.

[2018-02-13 22:29] enebo commented on #4968
Alright I looked at this a bit this afternoon.  I do not think this is an issue with IR (although all things mentioned above are no doubt likely in our IR impl today).  The original reporter noticed this happens as part of passing this to Java.  If I eliminate java from the equation this immediately cleans up the memory held by the big instance variable.  I also see nothing specifically capturing

[2018-02-14 05:07] #5036 closed

[2018-02-14 08:32] esparta commented on #4876
So I was wondering, if stdlib should be updated or not.A few days ago I did a PR for CSV (#5040) as a way to keep up to date. As long as I can tell the gemification is still a WIP, and any (important?) changes are still done on trunk.

[2018-02-14 16:59] headius commented on #4968
Ok, I was half right and @enebo was half right.

The GC root holding on to this thing *is* the IR variable. But the real bug is why the binding for the `JavaClass.new` block is still alive after that call completes. We are investigating.

[2018-02-14 17:12] boris-petrov commented on #4939
I don't have an idea either unfortunately. Should I open an issue in `watir`? Not sure how to approach this.

The idea of `webdrivers` is that it downloads the latest available version of a Selenium driver from the corresponding website. I'm not sure which of those lines actually does that though.

[2018-02-14 17:13] headius commented on #4968
I think I see the issue.

For the new interface impl, we generated a new InterfaceImpl class. This class has a static field holding a RuntimeCache object that's used to cache calls via the interface into the associated Ruby object. So thatis part of it...the call cache holds a reference to the proc object, anchoring the binding along with it.

However the InterfaceImpl class *should* be unrooted a

[2018-02-14 17:17] headius commented on #4968
Well there's yer problem...

[code]

Because this is a proc, we're using the "natural" JRubyClassLoader, which is held by the Ruby instance. Due to the caches this new class contains, that holds the proc, which holds the binding, which holds the big data.

[2018-02-14 17:24] headius commented on #4968
So the immediate fix is that we should be generating both paths into a "OneShotClassLoader" so it can be unrooted and GC properly.

The down side is that the logic is is *intentional*. It's designed to only generate the interface-to-proc mapping once per interface, avoiding spinning new classes for what is essentially the same thing every time. That's admirable, but with the hidden state on these

[2018-02-14 17:26] headius commented on #4968
Given that:

1. this only leaks one object reference per converted interface, and
2. the safe fix for 9.1.16.0 will introduce lots of overhead into proc conversion

I vote that we do not fix this for 9.1.16.0 and move forward with a "proper" fix I describe above in 9.1.17.0 (or 9.2, whichever comes first).

[2018-02-14 17:27] enebo commented on #4968
@headius yeah seems reasonable given the time scale.

[2018-02-14 18:29] kares commented on #4968
great find, not sure but maybe this should 'not' get fixed really - generating a new class every time.
... there's already another bug against not caching a generated class, in some other case related to JI

[2018-02-14 20:43] headius commented on #5018
Ok, this looks ok in CI and it makes all your examples work, so we'll call it fixed.

[2018-02-14 21:58] headius commented on #4989
Ok, this is unlikely to be trivial, and it's not going to get fixed for 9.1.16.0.

The general problem is lack of good support for Rational time components. In this case the very small Rational usec is getting rounded up to 1s, which pushes the date overnight. I have not dug into the code, but I'm almost certain we're turning the Rational into a 64-bit floating point value, so the resolution at wh

[2018-02-14 21:59] headius commented on #4989
Perhaps someone can try to bisect between 9.1.13 and 9.1.14 to see which commit(s) introduced this regression? It's probably going to be a fix for some other issue, but at least we'd have a narrower focus.

[2018-02-14 22:01] headius commented on #5038
Ok, we'll call this Invalid for now. If there's something we're doing wrong, let us know and we'll reopen it (and maybe ping us through other channels too).

[2018-02-14 22:01] #5038 closed

[2018-02-15 00:59] Taywee opened #5044 "lazy map adds extra array layer to single-element array output"
### Environment

jruby 9.1.15.0 (2.3.3) 2017-12-07 929fde8 OpenJDK 64-Bit Server VM 25.151-b12 on 1.8.0_151-b12 +jit [linux-x86_64]

Linux nyarlathotep 4.14.11-gentoo-r2 #1 SMP Thu Jan 4 17:46:16 MST 2018 x86_64 Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz GenuineIntel GNU/Linux

### Expected Behavior

The expected behavior should be as shown in standard Ruby:

[code]

### Actual Behavior

Run from va

[2018-02-15 10:08] #3471 closed

[2018-02-15 10:09] #2517 closed

[2018-02-15 17:08] Taywee commented on #5044
I found another bug that might be related.  After a take, map erroneously strips arrays, and has some weird behaviour, including an incorrect ArgumentError:

[code]

[2018-02-15 17:28] headius commented on #5044
Hmm...well if this issue is specific to `lazy` maybe there's an easy fix possible? Our lazy Enumerable is implemented in Ruby: https://github.com/jruby/jruby/blob/master/core/src/main/ruby/jruby/kernel/enumerator.rb#L11

[2018-02-15 17:30] Taywee commented on #5044
It does look like it's just specific to lazy; I couldn't replicate any of the bugs in non-lazy enumeration.  Looking at the ruby, it seems to me that it might be some issue with the argument splats (there is some imbalance with the splatting into the yielder, and splatting of arguments for the block between select, take, and map, for instance), but I haven't studied the code enough to be very sure

[2018-02-15 17:31] headius commented on #5044
I know that other Ruby-in-Ruby impls have had to introduce special non-Ruby semantics for some of these argument passing scenarios. I had hoped we had such cases covered inside our "native" block and Enumerable logic, but perhaps we're missing something more.

[2018-02-15 17:57] glucero commented on #5044
I think this is related to the Lazy#<< syntax in some way.

When I change the Enumerator#map method to use Yielder#yield instead of Yielder#<<, it appears to work as expected.

[code]

JRuby's RubyYielder.op_lshift method does something very different than the RubyYielder.yield:

https://github.com/jruby/jruby/blob/master/core/src/main/java/org/jruby/RubyYielder.java#L105-L113

Whereas MRI's yield

[2018-02-15 18:16] glucero commented on #5044
Could this be a bug in Yielder#<<.

JRuby's RubyYielder.op_lshift is very different than RubyYielder.yield

https://github.com/jruby/jruby/blob/master/core/src/main/java/org/jruby/RubyYielder.java#L105-L113

But MRI's yielder_yield_push just calls yielder_yield as is:

https://github.com/ruby/ruby/blob/trunk/enumerator.c#L1239-L1243

This change seems to fix this specific issue:

[code]

I don't k

[2018-02-15 19:08] glucero commented on #5044
Oh it looks like this issue already has a full and rich history: https://github.com/jruby/jruby/pull/3814

[2018-02-15 19:11] Taywee commented on #5044
Lot of layers to this, with some other bugs as well:

[code]

[code]

@glucero yeah, looks like it.

[2018-02-15 19:15] headius commented on #5044
Hmm, Yielder is native and could be the culprit indeed.

[2018-02-15 19:16] headius commented on #5044
It might be worth it (and not too complicated) to make a pure-Ruby Yielder and see how it behaves. One area we have a *lot* of trouble is mapping all the various block-dispatch semantics to Java calls.

[2018-02-15 22:17] Taywee commented on #5044
Pure-ruby yielder should be relatively easy.  I'm not fully versed in MRI's C API, but just looking at the sources, it seems roughly similar to:

[code]

Testing with a simple implementation of a subset of Enumerator, it appears to work about as expected:

[code]

This appears to work as expected in MRI, but JRuby still gives some erroneous results in some circumstances (I'm guessing due to faulty

[2018-02-15 22:28] Taywee commented on #5044
Might it make sense to implement Enumerator, Enumerable, and Yielder all in pure Ruby?  There'd have to be a lot of interaction between them and some Fiber magic, but it seems like it'd be more manageable to avoid a large amount of the Ruby/Java shuffling here.

[2018-02-16 00:42] janko-m opened #5048 "IO.copy_stream replaces read chunk even if it's duplicated"
### Environment

[code]

### Expected Behavior

I'm using a trick in [HTTP.rb](https://github.com/httprb/http/blob/9b40c143c68f3f94cde90ce3c9da3ec4123e1bbf/lib/http/request/body.rb#L37) where I utilize `IO.copy_stream` to yield chunks of data into a block. However, the tests for this behaviour are failing on JRuby.

I managed to isolate the problem in this script:

[code]

On MRI this prints `16*1

[2018-02-16 00:47] janko-m commented on #5002
@headius Thanks for the explanation, I will take it to the MRI team.

[2018-02-16 00:51] headius commented on #5048
I'm not at a terminal now, hit can you try this with a snapshot of 9.1.16? I did a bunch of work this cycle to improve copy_stream.

[2018-02-16 01:12] janko-m commented on #5048
I successfully build JRuby from `master` by running `./mvnw`, but when I try to run `bin/jruby bug.rb` I get

[code]

I tried doing `rbenv shell system` before, but it didn't work.

[2018-02-16 01:16] headius commented on #5048
Try downloading a nightly from the link http://jruby.org/download

[2018-02-16 01:22] janko-m commented on #5048
@headius Strange, I get the same error with the executable from the nightly link.

[2018-02-16 01:47] headius commented on #5048
Yeah really seems like an env issue. Try a clean shell, make sure no vars are redirecting commands somewhere they should not be. I'll have a look tomorrow too.

[2018-02-16 04:28] JasonLunn commented on #4365
Haven't observed this issue in a very long time and I am no longer running this configuration.

[2018-02-16 04:28] #4365 closed

[2018-02-16 09:12] perlun opened #5049 "Uncaught USR2 signal kills the whole JVM with SIGSEGV"
### Environment

* JRuby version (`jruby -v`) and command line (flags, JRUBY_OPTS, etc): 9.1.15.0, no command line flags or JRUBY_OPTS needed to reproduce.
* Operating system and platform (e.g. `uname -a`): macOS 17.4.0 and Linux 4.14.12.

### Expected Behavior

Raising the USR2 signal with no USR2 signal handler defined should output a message, like on MRI.

### Actual Behavior

It kills the whol

[2018-02-16 09:19] olleolleolle commented on #5049
@perlun Maybe this wiki article adds detail to "USR2 is... taken" https://github.com/jruby/jruby/wiki/Signal-Handling#jvm-occupied-signals

[2018-02-16 09:25] janko-m commented on #5048
@headius You're right, running from a clean shell worked 👍

And yes, the script now produces correct output on the 9.1.16.0 snapshot, which is great. Thank you very much! ❤️

[2018-02-16 09:25] #5048 closed

[2018-02-16 09:39] perlun commented on #5049
@olleolleolle

Yeah, I noted that detail also. But on this JVM incarnation, catching USR2 typically works (in the Puma use case described above.) so I _think_ that this is not the root cause for the problem in this case.

@headius @enebo or others, any ideas?

[2018-02-16 09:54] perlun commented on #5049
@olleolleolle mentioned the `JAVA_SR_SIGNUM` setting to me privately, thank you for this. 👍  When I try to override it, it changes the semantics here:

[code]

(Note: I don't know what a suitable setting for `_JAVA_SR_SIGNUM` would be. 30 = USR1, so this effectively changes the suspend/resume to use USR1 - I don't know if this would _work_, or if it causes other issues.)

[2018-02-16 12:49] headius commented on #5048
It seems likely this was the same issue as #4093. I wish you had filed first...that one was complicated to diagnose! 😆

[2018-02-16 19:42] bobjalex opened #5052 "String literal difference from MRI"
### Environment
Running on Windows 10
[code]

### Expected Behavior
[code]

### Actual Behavior
[code]

[2018-02-16 22:33] headius commented on #5049
Confirmed on MacOS too. Looking at the crash dump, it does not look like JRuby is involved in the crash itself:

[code]

And if I kill from the command line it appears to have the same effect.

And if I just launch a Java-only app, it also has the same effect.

[code]

So I'm afraid you'll have to take this one up with JVM folks. Of course that kinda includes me.

Check out the [OpenJDK bug tracke

[2018-02-16 22:33] #5049 closed

[2018-02-16 22:38] headius commented on #5044
@Taywee It would indeed, and we've discussed this frequently because of exactly these problems. The weird vagaries of parameter passing for blocks works "perfectly" in pure Ruby because it's passing through the actual Ruby compiler/JIT, while Enumerable and Enumerator and Yielder all are trying to emulate that on a case-by-case basis. Also the Enumerable code sucks.

I think it would be a good tim

[2018-02-16 23:28] headius commented on #5052
The "WARNING" are a Java 9 thing about us using reflection to crack open core JDK classes, and the stack trace is a known bug with readline on Windows that's fixed in 9.1.16.0, so I'll remove those from your description.

The actual string bug should have a fix shortly; I believe @enebo is on it.

[2018-02-16 23:31] headius commented on #4876
@esparta Yes, it should. We also need to get the tests updated, but I have been waiting on that a bit since a ton of new stuff will fail. The more we get implemented the fewer things we have to work through or exclude from test runs.

The stdlib update process is a bit complicated so I'll take care of that.

[2018-02-16 23:33] headius commented on #4876
@esparta Oh and thank you for the CSV patch! I will just grab it from a full stdlib update, but that was a very nice way to do a partial update. For future reference, we maintain a fork of the stdlib via https://github.com/jruby/ruby, for example the jruby-ruby_2_3_0 branch. That's where I update stdlib from CRuby, and then as they update I can easily pull in their commits. We do lose the history

[2018-02-17 02:07] headius commented on #4876
Ok, I've updated stdlib from 2.5.0 on the ruby-2.5 branch. I did not audit to see if there were new or removed files other than those that broke the sync_ruby script, so help is welcome there.

I prepared the stdlib fork a bit differently this time, starting with a clean branch off the v_2_5_0 tag from CRuby and then cherry-picking the commits I made to previous branches. It's not a great way to m

[2018-02-17 02:13] headius commented on #4939
@boris-petrov Opening a bug with watir would be a good place to start. We can make it clear we don't think it's their bug, but we need help diagnosing the actual problem.

[2018-02-17 03:35] headius commented on #4968
@kares I assume you mean #5023? That case is partially bad usage of our interface impl logic; it's essentially forcing the system to generate a new impl every time. I suggested the proper way to do this simple interface implementation which would not have the same problem.

But your point stands...we really ought to be able to have a single class in memory for each grouped set of interfaces, dispa

[2018-02-18 05:35] mhijazi1 opened #5053 "JRuby-OpenSSL: Wrong Serial/BN set when serial = 0 (0x0)"
Posted an [issue in the openssl repo](https://github.com/jruby/jruby-openssl/issues/154) as well but saw that the read me said I should post bugs in here.  Let me if the double post is a problem and I will remove one issue and leave whichever one is more appropriate.

JRuby OpenSSL sets serial = 1 when it should be zero.  Note that  Jruby OpenSSL still returns the correct pem.

JRuby Version = jru

[2018-02-18 14:06] kares commented on #5053
thanks, no need to double post issues really - or is it really in the READMEs ?
guess if you're not sure whether its JRuby or JOSSL than it make sense to open an issue here, first.
but otherwise I can not think of a reason why any project would want issues twice ... :face_with_head_bandage:

[2018-02-18 14:06] #5053 closed

[2018-02-18 14:14] mhijazi1 commented on #5053
To clarify, JOSSL did not ask for a double issue post. I had already submitted an issue, but was reading the repo readme when I saw this line:

(bug tracker links to the Jruby repo issues page)

Hence why I am posting here now, if you feel it is more appropriate to post this as JRuby issue instead of a OJSSL I can close the other issue instead.  Sorry for the confusion.

[2018-02-18 18:27] #5052 closed

[2018-02-18 19:36] palkan opened #5054 "Refinement is not activated within itself"
### Environment

* JRuby version

[code]

### Expected Behavior

Given a simple script:

[code]

I expect it to print `"All OK"` (that's MRI behaviour).

### Actual Behavior

[code]

[2018-02-19 03:06] headius commented on #5044
I'll have a look at what you've come up with! There are a few other pure-Ruby implementations out there, like the one from Rubinius and the adapted version in TruffleRuby. Both of those use some internal functions we'd need to expose, such as for coercing various values.

I did try just a pure-ruby Yielder and it only regressed one spec.

For 9.1.x this might be safest to just one-off fix, as we h

[2018-02-19 05:39] Taywee commented on #5044
Yeah, adapting the Rubinius implementation might be a better option, being established and well-tested and all.  Any route to getting to a more stable and trustable Enumera* set.

[2018-02-19 10:51] palkan commented on #5054
**UPD:** Adding `using self` right after `refine ... do .. end` make it work as expected (though it looks strange–refinements should only affect everything _below_ `using`).

[2018-02-19 17:36] titusfortner commented on #4939
@boris-petrov can you throw a debug point in your code and see what the output is of this: https://github.com/titusfortner/webdrivers/blob/master/lib/webdrivers/common.rb#L69

Webdrivers is calling `http.get_response` on `https://github.com/mozilla/geckodriver/releases`, and then using nokogiri to parse out the values of the versions found on that page.

My guess is that jruby is returning somethi

[2018-02-20 17:57] headius commented on #5054
In JRuby we use the presence of a call to "using" to flip on refinement mode for a given scope, so we're not checking for refinements all the time. We should probably be doing the same thing for the block passed to refine. cc @enebo

[2018-02-20 19:19] headius commented on #4889
This has been fixed for 9.1.16.0.

[2018-02-20 19:19] #4889 closed

[2018-02-20 20:58] perlun commented on #5049
Thanks @headius. Unfortunately, the OpenJDK bug tracker isn't publicly accessible; I cannot enter a bug there without becoming a "project author" or similar. Since I'm not working on the JDK (at least not at the moment 😄) this is not easily doable for me.

I could file it via https://bugreport.java.com though.

Would you mind filing this via the OpenJDK bug tracker for me? You have already done so

[2018-02-20 23:16] headius commented on #5049
@perlun Yes, I know you can't file anything, but I thought you might poke around and see if there's any existing issue. I'm happy to file a proper report once we determine nobody else has done so.

[2018-02-20 23:53] headius commented on #4876
I have updated the CRuby tests from CRuby 2.5.0. Without some missing parser features (do...ensure is the current blocker) they won't be running, but at least there's no need for PRs to include tests.

You can run individual files using this command line until we get the whole suite to boot properly again:

[code]

[2018-02-21 06:28] perlun commented on #5049
Alright. I will check a bit more first, thanks. Will ping you again if needed here.

[2018-02-21 08:37] Tribbles01 commented on #4872
Hi Headius,

I fear this will not help you mcuh further, if you check the output :

xy@123:~/jruby-1.7.27$ ./bin/jruby -e 'p ENV_JAVA["os.name"]'
io/console on JRuby shells out to stty for most operations
"SunOS"

xy@123:~/jruby-9.1.15.0$ ./bin/jruby -e 'p ENV_JAVA["os.name"]'
"SunOS"

But digging furhther unto ENV_JAVA, perhaps this may be something to look at:

xy@123:~/jruby-9.1.15.0$ ./bin/jru

[2018-02-21 16:59] MartinNowak commented on #5023
Yes, that's what I figured out after a lot of debugging.
https://github.com/jruby/jruby/issues/5023#issuecomment-362765034
The error message for the intuitive interface implementation syntax was misleading and misled to sth. that was silently ignored but still succeeded (silently) due to dynamic interface implementation (duck typing).
A fixed error message for `class MyRuby < JavaInterface` would

[2018-02-21 22:45] HoneyryderChuck commented on #4903
@headius just tested this, and I can confirm the fix. Thx again for the top-level support!

[2018-02-21 23:05] jeremyevans opened #5057 "java.net.preferIPv4Stack=true warning not possible to disable on OpenBSD"
### Environment

JRuby version: `jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a OpenJDK 64-Bit Server VM 25.144-b01 on 1.8.0_144-b01 +jit [OpenBSD-x86_64]`
Operating system: OpenBSD/amd64 6.2-current

### Expected Behavior

[code]

### Actual Behavior

[code]

Let's say I try to take the advice it gives:

[code]

Well that sucks.  I can only get the warning to be suppressed if I use a setting of false

[2018-02-21 23:56] rcrews commented on #287
Just ran the above test case with 9.1.16.0. Can this be closed?
[code]

[2018-02-22 08:40] kares commented on #287
closing - especially since it was reported against 1.7 which is EOL. thanks @rcrews

[2018-02-22 15:59] cyclump opened #5058 "IO.select on child process stdout, stderr does not work."
### Environment
Ruby 2.3.3, 2.4.1, 2.5.0 for expected results
JRuby 9.0.5, 9.1.7, 9.1.16 for actual results
Windows 7 64 bit
java -version output

 Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
 Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

Other relevant info you may wish to add:
* Installed or activated gems - None
* Application/framework version (e.g. Rails, Sinatra)

[2018-02-23 03:48] rafaelfranca opened #5059 "Hard to explain breakage of build with no code change"
Two builds, with the same code have different results in JRuby builds

This one is failing: https://travis-ci.org/rack/rack/jobs/340783715
This one is passing: https://travis-ci.org/rack/rack/jobs/335916086

The diff between the two build is a change in the README.rdoc file https://github.com/rack/rack/compare/2a5f80d189c7...d1363a66ab21.

Since the build #1768 all other JRuby builds are having si

[2018-02-23 14:21] SzymonKowalczyk opened #5060 "Jruby 9 performance degradation on windows os mostly"
Hi all

We develop an application using rails framework running on JRuby.

Our application mostly connect to one db copy some data do 2nd db and then recalculate/transform data to other tables in 2nd db.

We are using Sequel ORM for database operations (http://sequel.jeremyevans.net/).

We finished migration form JRuby 1.7 to JRuby 9 and we found performance issue.

What is the most interesting ou

[2018-02-23 15:38] headius commented on #5059
I believe you are in error. There is at least one difference between these two builds.

Passed:
[code]

Failed:
[code]

And in fact there's a bug we reported in RubyGems 2.7.5 that prevents it from activating updated default gems like minitest, test-unit, rake, and so on: https://github.com/rubygems/rubygems/issues/2188

For this reason we did not ship the latest RubyGems in JRuby 9.1.16.0, but I

[2018-02-23 15:40] enebo commented on #5059
An obvious one (so I doubt it is this) is whether you have no .lock file and Gemfile with open dependencies.  Some gem being different could explain this.

As an aside we would love to see 9.0.4.0 be replaced with 9.1.16.0.  We have not supported 9.0.x for more than a year.

[2018-02-23 15:45] headius commented on #5059
FWIW the RubyGems issue may eventually come back around to being a JRuby bug, but  for now I think the ball's in their court. You may be able to help them investigate, though.

[2018-02-23 15:59] headius commented on #5058
Windows! Yes, this is expected behavior mostly due to two things:

* Java's process API does not produce selectable streams
* Our native process API has not been ported to Windows yet

There are other issues about this and it will happen, but resources are tight. It may be possible to improve things for the script you've provided without going all the way to getting native processes working.

[2018-02-23 16:04] headius commented on #5057
How did you install JRuby? You aren't passing that property and yet it is getting set somehow. That could mean it's using an older JRuby launcher script/executable that still tries to set it.

You may see the property being passed in bin/jruby if it's still a bash script.

[2018-02-23 16:08] headius commented on #5057
Ahh, I see the bug. The property we deprecated is defaulting to whatever the JDK uses for the `preferIPv4Stack` property, so when the JDK defaults to true we warn. Oops.

I'll fix.

Ugly workaround for now would be to set it to false at startup and then alter it (via `ENV_JAVA`) before booting the socket subsystem.

[2018-02-23 16:10] boris-petrov commented on #4939
@titusfortner - sorry for the late response. I'll try this next week as I had my hands full this one.

[2018-02-23 16:16] #5057 closed

[2018-02-23 16:22] headius commented on #5060
Unfortunately these two profiles look mostly the same, and only show a single thread waiting on a lock.

It is interesting that you are only seeing the degradation on Windows. I need a bit more information.

* What version of Java on Windows?
* Do you have a smaller benchmark you can run?

The --sample flag will enable a JVM-level profiler that may give us more information. It outputs to the conso

[2018-02-23 17:10] headius commented on #4939
@titusfortner Thanks for the assistance!

[2018-02-23 19:03] headius commented on #4876
@enebo just pushed the updated parser to ruby-2.5, so we can start looking at getting the MRI suite running! Travis build is here: https://travis-ci.org/jruby/jruby/builds/345384059

[2018-02-23 22:26] headius commented on #4876
We have a completed build with the new MRI tests: https://travis-ci.org/jruby/jruby/jobs/345423405

Less than 300 failures!

[2018-02-23 23:13] rafaelfranca commented on #5059
It is passing locally with 9.1.15 but failing on travis ci with some kind of deadlock. Any recommendations how to debug?

[2018-02-24 00:12] headius opened #5062 "Regression or bad merge in string interpolation"
I believe this failure (on ruby-2.5 branch) is a result of merging the fix for #5052:

[code]

This does still pass with CRuby 2.5.0. Perhaps something merged badly?

[2018-02-24 00:38] headius commented on #5062
This is failing in the JRuby suite. I have not audited the other suites for any similar failures.

[2018-02-24 15:16] enebo commented on #5062
Crazy sauce.  Someone fixed similar expansions on master for heredocs and then also added these tests.  These tests are not on 9.1 but are broken on 9.1 (always have been too).  So my fix fixed this in StringTerm but regressed a fix only on master for heredocs after the merge.

[2018-02-24 15:24] #5062 closed

[2018-02-26 12:56] olleolleolle commented on #809
Does this gist represents the issue?
https://gist.github.com/olleolleolle/751fb332954c59dc895735f7f6d420b9

I ran that like this: `java -jar jruby-complete-1.7.27.jar -Srake runbatch` - and it ran both commands.

(`tbattwo.bat` is run inside a new shell. That's what `cmd \c start` does, I take it.)

[2018-02-26 19:04] headius commented on #4872
Ok thank you! The OS appears to be detecting properly, since we recognize `SunOS` as being Solaris. And that `sparcv9` *should* be a supported platform, but I'm guessing we're missing some logic.

[2018-02-26 20:04] #5012 closed

[2018-02-26 20:07] headius commented on #5012
The change is made, and only for 9.2+ because of a regression it can cause...

The old behavior was "global", which meant that local variables "put" into the engine went into $variable style names. This meant they were persistent, but this did not match the behavior of other language engines that simply use normal local variable names.

By switching the "persistent" we gain the persistent local va

[2018-02-26 20:08] headius commented on #1952
FYI, JRuby 9.2+ will default to "persistent" for the 223 engine. You can set it back to "global" if necessary using the property discussed here, `org.jruby.embed.localvariable.behavior=global`.

[2018-02-26 20:29] headius commented on #4921
Ok, trying to get this off my plate.

So in jcodings EncodingList, I found this line:

[code]

But later in the same file I found this:

[code]

This seems odd.

[2018-02-26 20:46] headius commented on #4921
If I modify the logic to use Windows-31J all the time for "Shift_JIS", your script passes.

[2018-02-26 21:17] headius commented on #4921
A few more discoveries.

* In NKF's autodetection code (in CRuby) I see this logic:

[code]

So if the NKF subsystem detects "Shift_JIS" is the encoding, and whatever "score" means matches up, it uses CP932 (Windows-31J) for the NKF processing.

* Our encoding detection is broken for this example. In `RubyNKF.guess` there's logic that attempts to use the `x-JISAutoDetect` encoding from the JDK to

[2018-02-26 21:31] headius commented on #4921
There are a few other autodetection options listed here: https://stackoverflow.com/questions/499010/java-how-to-determine-the-correct-charset-encoding-of-a-stream

I think at this point the quick fix would be to force the use of Windows-31J when the incoming encoding is actually Shift_JIS, since that appears to be what MRI is doing (subject to the "score" flags there).

[2018-02-26 22:11] headius commented on #4921
Ok, this is interesting. The following script reproduces the same error in JRuby *and* CRuby:

[code]

So what's happening in our NKF is that we're falling back on Shift_JIS (since our detection doesn't work), which does not have conversion paths to/from UTF-8. MRI attempts to detect the encoding, and upon detecting Shift_JIS it seems to use CP932 in some cases. When we force MRI to also use Shift

[2018-02-26 22:13] headius commented on #4921
I have tried two of the top contenders for charset detection. Neither worked like I hoped. I think the problem is that they're too general and not focused on just JIS-related encodings.

First I tried the "juniversalchardet" project, which appears to have been forked all over the place. It detected the incoming bytes as Windows-1252.

I also tried ICU4J. It detected Big5.

I have not found a JIS-o

[2018-02-26 22:55] headius commented on #4921
Another attempt using [jgloss](https://sourceforge.net/p/jgloss/code/ci/master/tree/jgloss-core/src/main/java/jgloss/util/CharacterEncodingDetector.java) produced EUC-JP and a different error because this isn't valid in EUC-JP.

I'm starting to think that perhaps MRI can't detect it either, but because the default mode is to assume "JIS", it uses that.

[2018-02-26 23:06] headius commented on #4921
Pinging @nurse to see if perhaps they can give us some tips here!

[2018-02-27 03:38] nurse commented on #4921
Japan defines character set for their use as JIS (Japanese Industrial Standards).
JIS X 0208 is one of them, and 'Ⅷ' is not in JIS X 0208.
Microsoft defines an extended character set of JIS X 0208 named Windows-31J (CP932), which includes 'Ⅷ'.

[code]

nkf is a tool to read net news.
Therefore it has fallback conversions.
When nkf runs to convert Shift_JIS bu failed to convert a character, it tire

[2018-02-27 20:13] headius commented on #4781
I have abandoned the old branch and have a new (working) branch in exceptions2.

The logic here works like this:

* Each RubyException knows how to construct its own RaiseException type, and holds a reference to it once created lazily.
* Throw a RubyException using the form `throw ex.getRaiseException()`.

At the moment this does not introduce any new Throwable types to the system. I need to work

[2018-02-27 21:23] enebo commented on #1348
Current work does not integrate encoding into the symbol table so this will not be fixed with that work.  As it turns out our largest problem with fixing this is that all native extensions would need to assume an individual encoding or we would need to change their API.  I think this can be fixed in the future but it should lock-step with a more major way we refer to methods for things like callMe

[2018-02-28 00:18] pcarlisle opened #5066 "The & operator doesn't work with quoted symbols"
### Environment

jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a Java HotSpot(TM) 64-Bit Server VM 25.162-b12 on 1.8.0_162-b12 +jit [linux-x86_64]

Linux  4.14.14-1-ARCH #1 SMP PREEMPT Fri Jan 19 18:42:04 UTC 2018 x86_64 GNU/Linux

### Expected Behavior

[code]

### Actual Behavior

[code]

[2018-02-28 00:31] pcarlisle commented on #5066
Oh I tried searching before but now just found #3880 and related and this is probably the same

[2018-02-28 00:32] headius commented on #5066
Wow that's pretty weird. I'd expect this to work since the string part doesn't contain anything weird.

This, like #3880, is probably fixed by @enebo's almost-complete rework of strings, symbols, and identifiers (for 9.2).

Not sure if there's a workaround. I am surprised this doesn't work.

[2018-02-28 00:35] pcarlisle commented on #5066
The workaround seems to be saving the quoted symbol to a variable and calling with that (which maybe suggests it's not an encoding issue)

[2018-02-28 15:30] enebo commented on #5066
fwiw bytelist_love branch does work now but I also find this super weird that it is broken.  It is already ascii and a symbol.  Even with utf-8 as default this encoding should be US-ASCII.

[2018-02-28 15:57] boris-petrov commented on #4939
@titusfortner, @headius - sorry for the delay. The `response` thing is exactly the same in both MRI and JRuby - that is, the response's body is the same. So I guess the issue is somewhere later when that body is parsed. Any further ideas? Actually you could try it out yourselves with the steps from the first post - it's pretty easy to reproduce.

[2018-02-28 16:03] enebo commented on #5066
Yeah this was just another case of pretending unsafeBytes() has begin of 0 and .length or realSize().  Almost hard to imagine any of these bugs could still exist...And bytelist_love is totally different now so this code I fixed does not exist there (and this works fine there).

[2018-02-28 16:03] #5066 closed

[2018-02-28 16:41] talbisaad opened #5068 "LoadError: load error: jopenssl/load -- java.lang.SecurityException"
### Environment

* JRuby version  : jruby-9.1.16.0
* Operating system : windows
Java Framework : GWT
Ruby : Watir, Rails

Hello,
I'm trying to call Ruby from my java web application using Jruby, for that, i use ScriptingContainer :

`
ScriptingContainer container = new ScriptingContainer();

                  List<String> loadPaths = new ArrayList<String>();
                  loadPaths.add("C:/jru

[2018-02-28 22:25] headius commented on #4781
I have landed the parallel exception hierarchy. Will look into making it solve this issue.

[2018-02-28 22:41] headius commented on #4781
Ok, without any additional modification, we can now do the following to attach a Ruby exception as the cause for a Java exception:

[code]

Remaining question for @kares @enebo: should it work automatically without the `to_java` call?

We'd need to set up all Exception classes to report Throwable as their "native" Java class, but I think that's all. They'd be eligible for passing to methods that t

[2018-02-28 22:57] headius opened #5069 "Implement AppCDS support for startup time improvement"
I have been playing with the new Application Class Data Sharing ("AppCDS") feature of Oracle's JDK, and the results have been good.

Combining AppCDS with our own flags (tier 1, no JRuby JIT) I get the following improvements:

* -e 1 goes from 1.5s to 1.1s
* -S gem list goes from 2.5s to 1.9s

This may see an even bigger improvement on platforms with notoriously bad startup time, like Linux.

Give

[2018-02-28 22:59] headius commented on #5069
cc @cl4es @enebo @kares @mkristian

[2018-02-28 23:01] headius commented on #5069
We also should revisit "real" AOT for Ruby code, since there are now many technologies that could make precompiled bytecode load significantly faster than loading from source:

* AOT can pre-compile some code.
* jlink can cache things like constant pool method handles, which the JIT uses for binding all Ruby bodies
* AppCDS can preprocess those precompiled Ruby classes and load and share them effi

[2018-02-28 23:33] headius commented on #5023
I would personally be fine with disabling the feature altogether. I think this is the first time I've seen it used in the wild. I'm not sure I realized it even existed!

However, I think implemented properly it could still be efficient and not leak references as in #4968.

Ideally, each interface should only ever need a single class generated for these cases, since they all do the same thing: dyna

[2018-02-28 23:49] headius commented on #4515
This appears to work fine on 9.1.16.0 + Java 9.0.1. Please let us know if it's still causing problems.

[2018-02-28 23:49] #4515 closed

[2018-03-01 00:02] headius commented on #4892
Still failing on current JRuby master (9.2).

[2018-03-01 00:03] headius commented on #4506
@zhanhb Yes...unfortunately I have found no way to work around this problem.

[2018-03-01 00:20] headius commented on #4894
I am reluctant to introduce a hard error. What about a flag you can pass that reports a stack trace for each ambiguous site?

[code]

[2018-03-01 03:04] headius opened #5070 ""str".freeze optimization sporadically produces a different object"
There's a newly-modified spec that tests `"abc".freeze.equal?("abc".freeze)` and it appears to be intermittently failing. It appears to fail consistently on Travis.

[The spec] looks like this:

[code]

And fails like this:

[code]

See #4970 for a related issue we believed we fixed in 9.1.16.

[2018-03-01 03:04] headius commented on #4970
This seems to be happening again for the "freeze" optimization. [This recently modified spec](https://github.com/ruby/spec/blob/369c006a488f6a853b875d869871687e329faa02/core/string/freeze_spec.rb#L5-L7) now fails to assert two identical frozen strings are the same object.

I've filed #5070. No theories yet.

[2018-03-01 06:44] kares commented on #4894
@headius like it since its very minimal.
one minor improvement is that maybe we shall have this Java Integration related switch under the **jruby.ji** prefix e.g. `-Xji.ambiguous.debug` `-Xji.ambiguous.backtrace` or something similar

[2018-03-01 07:11] kares commented on #5068
seems like you might have BC on your class-path more than once.
maybe check your WEB-INF/lib for bc .jars there might be several versions of the same.
jruby will always attempt to use its packaged version unless you tell it not to (if you are forced to use a different version from the same class-loader than try `-Djruby.openssl.load.jars=false` as JAVA_OPTS)

[2018-03-01 07:24] kares commented on #4781
tempting but I am not sure if we're able to think through all the consequences in user-land.
... maybe a compromise would be to have a flag (on by default) to "degrade" back? (not that I want it)

[2018-03-01 09:56] zhanhb commented on #4506
Register the finalize to native, when the native lib get finalized in method `JNI_OnUnload`, free all native memory.
Maybe it's a solution.

[2018-03-01 11:07] kares commented on #5069
not sure I understand completely - mostly means IR persitence and re-use?
or do you mean smt like compiling the whole code-base into one large executable?

[2018-03-01 13:37] kares commented on #1826
@enebo do you feel like this is still relevant or a 1.7 piece to be closed?

[2018-03-01 13:38] kares commented on #1826
I mean still no `RbConfig::CONFIG['vendordir']` but not one complains thus no problem :)

[2018-03-01 13:40] kares commented on #1830
this likely got lost in the bugs bag, since 1.7.x is EOL I am optimistically closing.
please report any new/related issues against 9K.

[2018-03-01 13:40] #1830 closed

[2018-03-01 13:41] kares commented on #1849
since 1.7.x has EOLed .. let's call this one a day, shall we :fallen_leaf:

[2018-03-01 13:41] #1849 closed

[2018-03-01 13:43] kares commented on #1713
no feedback in a few months. if anyone lands here please try to provide detailed input against JRuby 9K

[2018-03-01 13:43] #1713 closed

[2018-03-01 13:46] #2266 closed

[2018-03-01 13:49] #2432 closed

[2018-03-01 13:51] #2237 closed

[2018-03-01 13:53] #2022 closed, assigned to nobody

[2018-03-01 13:56] kares commented on #1922
sorry this got lost but since JRuby 1.7.x is EOL this really won't fix.
if anyone lands here please provide a (new) detailed report and make sure you're using latest JRuby.

[2018-03-01 13:56] #1922 closed

[2018-03-01 13:58] kares commented on #1741
let's call this one resolved by now :older_man:

[2018-03-01 13:58] #1741 closed

[2018-03-01 14:14] kares commented on #1951
[code]
for the record the 6-th argument on `DateTime.civil` is offset (and has always been - even in 1.9.3)
while MRI allows arbitrary offsets JRuby only accepts valid ones e.g. `1.to_r / 24` or `'-07:00'`
... I am into doing a rewrite on `date.rb` but will stil rely on JODA for internals so the 'incompat' stays

do not think this matters much as users (me included) usually are confused about that

[2018-03-01 14:14] #1951 closed

[2018-03-01 14:17] kares commented on #2389
has been resolved in 9K :
[code]

[2018-03-01 14:17] #2389 closed

[2018-03-01 14:22] kares commented on #3476
while I did not run the specified benchmarks I have confirmed that using Set/SortedSet (in 9.2) operations are very close to native Java collection Set/SortedSet speed.

[2018-03-01 14:22] #3476 closed

[2018-03-01 14:23] #2953 closed

[2018-03-01 14:26] kares commented on #2912
closing since its a JRuby 1.7.x (EOL) report against its (non preferred) `--1.8` mode

[2018-03-01 14:26] #2912 closed

[2018-03-01 15:12] kares commented on #2365
[code]
... working like a charm :tada:

[2018-03-01 15:12] #2365 closed

[2018-03-01 15:15] kares commented on #2691
with 9.2 only supporting Java 8 we could have been moving towards getting rid of joda-time.
of course due it being part of the API its not as simple.
am hoping providing Java 8 alternatives in the APIs such as RubyTime (and maybe doing deprecations).
anyway, I believe this issue is now pretty much defunct ...

[2018-03-01 15:15] #2691 closed

[2018-03-01 15:17] kares commented on #2455
marking for 9.2 if anyone is into re-running, or simply close as @enebo's ^^ results were already promising

[2018-03-01 15:27] #3908 closed

[2018-03-01 15:31] enebo commented on #5069
@kares I think he means saving java bytecode generated types for methods.  Way back in the day this was attempted but it had two problems: verification overhead and permgen.   I think even with verification disabled loading those classes still took a long time.  we should not longer have the permgen issue either.  If this is just one epic mmap this may be golden?

I think we are ok right now in th

[2018-03-01 16:27] enebo commented on #2455
Original script this was recorded against:

bm1.rb
[code]

red_black_tree.rb
[code]

Output for 1.7:
[code]

Output for 9.1.x:
[code]

Eyeballing looks like 9k likely is beating 1.7 now but there is some noise.  We defintely can resolve this issue though.  Fascinating thing in that output is how much faster 9k warms up with indy than on 1.7.  Good performance in half the iterations?

[2018-03-01 16:27] #2455 closed

[2018-03-01 16:44] enebo commented on #2455
Oh I should add that I just tried interp and 1.7 is ~ 3.4s and 9.1 is ~4.7s.  I think 9.2 will help this we plan on making compound constants a single instr vs n instrs with jumps.  All the extra instr overhead for interp has been a long known issue (and in the case of colon2 chains the idea we would be able to cull top-level constants has been defeated by so many call boundaries in ruby).

[2018-03-01 17:56] kares commented on #2921
optimistically closing this one as a JRuby 1.7.x (EOL-ed) issue.
feel free to let us know if there are any issues with back-slashed on Windows using JRuby 9K

[2018-03-01 17:56] #2921 closed

[2018-03-01 18:02] kares commented on #2908
has been originally reported as a JRuby 1.7 issue, which is know EOL.
if anyone lands here please try using latest JRuby (9K) and get back with a new issue report.

[2018-03-01 18:02] #2908 closed

[2018-03-01 22:34] Taywee opened #5073 "File#mtime does not behave like it does in MRI in respect to renamed and deleted files on POSIX"
### Environment

* jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a OpenJDK 64-Bit Server VM 25.151-b12 on 1.8.0_151-b12 +jit [linux-x86_64]
* Linux nyarlathotep 4.14.11-gentoo-r2 #2 SMP Wed Feb 28 17:37:50 MST 2018 x86_64 Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz GenuineIntel GNU/Linux

### Expected Behavior

File#mtime doesn't return the same data for File#stat#mtime when the file has been renamed or de

[2018-03-02 07:54] kares commented on #2041
this bug has been fixed, somewhere along the line of JRuby 1.7.x releases :
[code]

[2018-03-02 07:54] #2041 closed

[2018-03-02 07:57] kares commented on #2267
seems like this has since been addressed. feel free to re-open if I am by any chance wrong here ...

[2018-03-02 07:57] #2267 closed

[2018-03-02 07:59] kares commented on #2283
all seems well in ~ current JRuby 9K :
[code]

[2018-03-02 07:59] #2283 closed

[2018-03-02 08:04] kares commented on #2239
this will resolve with https://github.com/jruby/jruby/commit/91278e7b449d2cd4057baa0f9ce752ac54a42e7f (in JRuby 9.2)
... for previous versions its a known limitation esp. for JRuby 1.7.x which is now considered dead

[2018-03-02 08:04] #2239 closed

[2018-03-02 09:57] kares commented on #2189
unfortunately, seems this got left behind ...
but since JRuby 1.7.x has EOL-ed anyone landing here please try latest JRuby 9K with a fresh report.

[2018-03-02 09:57] #2189 closed

[2018-03-02 12:46] simonis commented on #5069
Does JRuby use the Application class loader to load most of it’s classes or does it use custom class loaders? AppCDS currently only works for the Application class loader out of the box. For Tomcat for example it only can cache about 30% of the classe (see https://simonis.github.io/CDS/cds.xhtml how you can fix it - but it’s still work in progress :)

[2018-03-02 14:43] headius commented on #5069
@simonis Most of the classes that will load in the first few seconds of execution will just come from the normal system classloaders. Methods that JIT at runtime are usually loaded into their own classloaders, one per method, to allow them to GC.

If we produced .class files AOT, however, we could load those with the system classloader and AppCDS would still work. There's not as much need to make

[2018-03-02 16:29] bastien opened #5075 "File.utime failing with JRuby 9.1.16.0"
### Environment

* JRuby 9.1.16.0 (2.3.3) 2018-02-21
* Java version "1.8.0_161"
* Darwin Kernel Version 16.7.0: Thu Jan 11 22:59:40 PST 2018; root:xnu-3789.73.8~1/RELEASE_X86_64 x86_64

### Expected Behavior

With jruby-9.1.15.0
[code]

### Actual Behavior

With jruby-9.1.16.0
[code]

[2018-03-02 19:45] headius commented on #5075
Hmm...seems to work ok on master. I'll poke around.

[2018-03-03 06:21] adpande commented on #4367
I think the issue has resurfaced in 9.1.12.0

74,318 instances of "org.jruby.RubyClass", loaded by "sun.misc.Launcher$AppClassLoader @ 0x70b600ab8" occupy 402,588,016 (23.82%) bytes.

Keywords
sun.misc.Launcher$AppClassLoader @ 0x70b600ab8
org.jruby.RubyClass

[2018-03-03 06:24] adpande commented on #4367
![ruby-leak1](https://user-images.githubusercontent.com/128881/36931333-9df7dc24-1ed9-11e8-8844-22eb488f82e5.png)
![ruby-leak2](https://user-images.githubusercontent.com/128881/36931334-9e21ac98-1ed9-11e8-9def-543016956044.png)
![ruby-leak3](https://user-images.githubusercontent.com/128881/36931335-9e49a46e-1ed9-11e8-93b4-d8236b7fe964.png)

Here are the issues from MAT

[2018-03-03 06:33] adpande opened #5077 "Memory Leak issue in ScriptingContainer using SingleThreaded LocalContext scope"
### Environment

Provide at least:
* Jruby version 9.1.12.0
* Linux 4.13.0-36-generic #40-Ubuntu SMP Fri Feb 16 20:07:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux: Contos 7

Other relevant info you may wish to add:
* Ruby is embeded in Java 8.
* None

### Expected Behavior

* Ruby should clean up the memory once the script execution is done.

### Actual Behavior

Ruby is creating too many runtimes a

[2018-03-03 06:56] adpande commented on #5077
#4367

[2018-03-03 11:42] Tribbles01 commented on #4872
Hi Headius,

thanks for commenting. If there's anything left I can do to support, please let me know.

Thorsten

[2018-03-03 13:55] janko-m opened #5078 "Numeric#step yields Floats instead of Integers"
### Environment

[code]

### Expected Behavior

When I call `Numeric#step` on an Integer with an Integer step, MRI yields Integers:

[code]

On the other hand, when either the receiver or the step is a Float, MRI yields Floats:

[code]

### Actual Behavior

On JRuby `Numeric#step` yields Floats regardless of whether the receiver and step are Integers or Floats:

[code]

[2018-03-03 14:38] janko-m commented on #4583
I'm closing this one as a duplicate of https://github.com/jruby/jruby/issues/5007.

[2018-03-03 14:38] #4583 closed

[2018-03-04 21:32] aburgel opened #5080 "Method#owner for alias methods doesn't include prepended modules, breaking equality"
### Environment
I've tested this on 9.1.16.0 and the latest master.

[code]

[code]

### Expected Behavior

Given the following code, I'd expect a method's owner to be equal to the class where the method is defined.

[code]

Both of these lines should return true:
[code]

### Actual Behavior

The second line returns false:

[code]

I think it's because the `owner` of the aliased method doesn't inc

[2018-03-05 06:41] mkristian commented on #5069
@headius just to be able to follow the discussion: with AOT you mean compiling ruby-file -> java-file -> class-file ?

[2018-03-06 10:59] SzymonKowalczyk commented on #5060
Hi

Sorry for delay but I hit ridiculous problem:

`failed:.org.jruby.rack.RackInitializationException: org.jruby.exceptions.MainExitException: jruby: unknown option --sample`

this worked fine:
`the --profile.html --profile.out pr.html`

Any idea?

[2018-03-06 23:20] yamam opened #5081 "TCPSocket/UDPSocket close deadlock while other thread read"
### Environment

jruby-9.1.16.0/bin/jruby.bash --version
jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a OpenJDK 64-Bit Server VM 25.151-b12 on 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12 +jit [linux-x86_64]

Linux 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

The minimal code for reproducing the issue follows:

udp.rb
[code]

### Expected Behavior

Run udp.

[2018-03-07 14:26] greghuc commented on #4834
Just tried upgrading a postgres-backed API to jruby 9.1.16.0 and java 9, which failed. Was busted running some database migrations via Sequel, which hit an illegal access: https://github.com/jeremyevans/sequel/blob/4cad051de9e63042c8950be69d6289686e19c0ac/lib/sequel/adapters/jdbc/postgresql.rb#L228

[code]

[2018-03-07 16:09] greghuc commented on #4834
Actually, scratch my previous comment. I was running an older version of Java 9 ("9-internal"), rather than the latest "9.0.4". Running on latest 9.0.4, my database migrations and test suite run - but with 'Illegal reflective access' warnings. However, the puma web server fails to start.

Lesson learned: install a specific version of java 9 directly, rather than depending on 'apt-get install openj

[2018-03-07 16:37] greghuc opened #5082 "Foreman dies during web app boot on Java 9"
### Environment

[code]

### Expected Behavior

I'm exploring upgrading an API to JRuby 9.1.16.0 + Java 9.0.4

The API currently runs under the puma 3.11.3 webserver for JRuby 9.1.16.0 + Java 8.

### Actual Behavior

The Puma 3.11.3 web server is failing to start under this combo of JRuby + Java 9, and blows up with the stacktrace below.

I'm opening this issue with jruby, as the stacktrace is all

[2018-03-07 20:20] cngshow commented on #5018
@headius
@enebo

Need this reopened, when trying to generate a war with warbler the dependency on webpacker still fails:

[code]

The code referenced is:
[code]

[2018-03-11 12:26] bolandross opened #5084 "Error when installing 9.1.16.0 on Windows 10 (64 Bit)"
Hey Folks,

when trying to install JRuby on my Windows machine, I'm getting an error message.

I am using JRE 9.0.4

Do you have an idea what might be the problem?

![message](https://user-images.githubusercontent.com/5481702/37253265-d342557e-252f-11e8-9d07-dcd267977f36.png)

[2018-03-13 20:05] raphaeltelatim commented on #5078
@kares can I take this one?

[2018-03-13 20:46] naag opened #5086 "RegexpError "invalid pattern in look-behind" for certain Regexps since 9.1.16.0"
We've been running a regular expression matching certain file extensions since JRuby 9.1.12.0, but after upgrading to 9.1.16.0, it breaks. 9.1.15.0 is the last release where it works.

We've stripped down the regular expression a lot and it still fails with `RegexpError: invalid pattern in look-behind: /^.*(?<!css)$/i` for the most basic case. Example:

[code]

Another expression that fails is `/^

[2018-03-14 07:03] kares commented on #5078
Sure Raphael, go for it ... :rabbit2:

[2018-03-14 13:36] fxposter commented on #4796
We are see leaks similar to @oozzal and downgrading to 9.1.12.0 actually fixes them for us.

[2018-03-14 14:31] fxposter commented on #4796
Clarification - we downgraded from 9.1.16.0

[2018-03-14 14:47] enebo commented on #4796
@fxposter so .13 might not be where the regression started.  If you have a chance to see when it started that will be helpful.

[2018-03-14 16:32] jmiettinen commented on #4834
Is there a good reason for [tinkering with CRC32 internals](https://github.com/jruby/jruby/blob/334a7f01da17071368ddb6bcb7ea6d6b0bcb2c41/core/src/main/java/org/jruby/ext/zlib/RubyZlib.java#L76)?

It seems to be just to support use of potentially faster implementation for call to `Zlib.crc(string, non_zero_value)`. Is this a very common occurrence which we want to optimize for instead of using `JZl

[2018-03-14 20:26] lopex commented on #5086
MRI has special case for us-ascii regexps and strings with 7-bit coderange where it uses regexp encoding for the match, whereas we're creating new regexp with actual string encoding. So ultimately this could be a big performance penalty for two reasons:
- we're polluting regexp cache and/or creating new regexps every time in case of dregexps
- we're matching using utf-8 encoding unnecessarily whic

[2018-03-14 21:36] naag commented on #5086
Thanks a lot @lopex, going to test it tomorrow with our code base!

[2018-03-14 23:37] lopex commented on #5086
I think the root cause also deserves some explanation. Character series like ss and ff are special because in Unicode for example ss is https://en.wikipedia.org/wiki/%C3%9F.
In case insensitive mode ss is unfolded to [S, ſ, ß, ẞ] alternatives (having different length in bytes). Another factor that triggered this issue is look-behind limitations - it doesnt allow variable length match as in (?<!.*)

[2018-03-15 00:07] lopex commented on #5086
Also, great majority of regexps will end up being up to multiple times faster by default, with cases like e ("_" * 1000) + "" =~ /[a-z]+/i being 35 times faster.

[2018-03-15 13:42] naag commented on #5086
Thank you for the detailed explanation! Unfortunately I was unable to build JRuby locally, but I can try again when 9.1.17.0 is released :-)

[2018-03-15 13:42] #5086 closed

[2018-03-15 14:23] enebo commented on #5086
@naag I just corrected an issue with our nightlies link: http://jruby.org/nightly  (click stable).

[2018-03-15 15:10] headius commented on #4834
@jmiettinen I traced it back to this commit: e52313ec7cad67f45d6b45807821971ece3a1004

I did this so long ago I'm not entirely certain of my justification, but I believe it's to work around Java's CRC32 not being restartable at a particular initial value, which we need to support for Ruby's API.

This may no longer be a limitation. In any case, you're right, this is one of those items that should

[2018-03-15 15:18] headius commented on #4796
@fxposter If you can provide a heap dump of a badly-leaked application it would also help us sort out how the leak is happening.

At the moment we have no good way to reproduce this, since all reports are based on user applications we don't have access to.

@tcheng I did not notice your comment until now. This is good information, along with @seanguo's findings. I suspect the problem is due to reu

[2018-03-15 15:23] jmiettinen commented on #4834
Yeah, I can see that this is to support Ruby `Zlib.crc(string, non_zero_value)`. But as there's now that `JZLib` included, could this invasive approach be removed?

It would probably be slightly slower as the OpenJDK CRC32 uses intrinsics, but it does not seem to make the code more complex at least:
[code]

[2018-03-15 18:02] headius commented on #4796
Ok, after a bit more investigation I don't see anything obvious about fileno registration/unregistration. The fileno gets registered when we initialize an IO instance with a stream, and when the IO is closed or finalized it should be unregistering.

We really need a reproduction.

[2018-03-15 18:05] headius commented on #4834
@jmiettinen Hey, that's a great idea! Can you make a PR?

[2018-03-15 18:06] headius commented on #5078
Ugh. How is this not failing specs or tests?

[2018-03-15 18:06] headius commented on #5078
Confirmed still broken in 9.1 HEAD.

[2018-03-15 18:14] headius commented on #5084
Can you provide the error log? This is some issue inside the installer we use (Install4J) but this isn't enough information.

[2018-03-15 18:15] headius commented on #5018
Is Warbler using JRuby 9.1.16 to generate this war file? It sure looks like it doesn't have my fix.

[2018-03-15 18:16] headius commented on #5082
Are you using `export JAVA_OPTS="--illegal-access=debug"` just to print this out, or for some other reason?

[2018-03-15 18:17] headius commented on #5082
FWIW before release I confirmed that JRuby 9.1.16.0 is able to generate a Rails app and boot it (with Puma) on Java 9. We may have regressed, but this should be working.

[2018-03-15 18:20] headius commented on #5078
Confirmed still broken on master and jruby-9.1 HEAD.

[2018-03-15 18:35] headius commented on #5075
Ok, I've confirmed this is also working on JRuby 9.1 HEAD (9.1.17.0) so I'm goin gto need more information here.

[code]

Can you try running with `-Xnative.verbose` and provide that output?

Also can you confirm what version of OS X you are running on?

[2018-03-15 18:44] bolandross commented on #5084
Yeah, I attached the logfile. It was produced by the **jruby_windows_x64_9_1_16_0.exe** file.
[install4jError11964220859875075325.log](https://github.com/jruby/jruby/files/1816680/install4jError11964220859875075325.log)

[2018-03-15 18:44] headius commented on #5081
Fails to get to try 3 for me on jruby-9.1 HEAD.

[2018-03-15 18:47] headius commented on #5081
Appears to run properly on master. I'm sure this is just more sync issues in the IO subsystem.

[2018-03-15 19:17] djberg96 commented on #1315
Looks like it's dead, just cleaning up my queue.

[2018-03-15 19:17] #1315 closed

[2018-03-15 19:17] djberg96 commented on #1325
Stale, closing.

[2018-03-15 19:17] #1325 closed

[2018-03-15 19:17] djberg96 commented on #2851
Stale, closing.

[2018-03-15 19:17] #2851 closed

[2018-03-15 19:41] headius commented on #5081
After exploring diffs from master, I found the various commits where I improved concurrency had only been partially backported to 9.1.

71cae54a269322f8c17e7a7c06bb9cda1fb12c69 started it by trying to align some wait and select logic with CRuby.

dad9ab05ae1d885bfa2cfa7e5659a1252392b117 made additional improvements to locking.

e39018052a806e76a697843425b54b4aaed1267f fixed an additional race in c

[2018-03-15 19:41] #5081 closed

[2018-03-15 19:42] headius commented on #5060
@SzymonKowalczyk Sorry for delay...I had a busted computer.

That error would happen if JRuby is being launched some way other than via the bin/jruby launcher. The `--sample` flag just gets translated to JVM flag `-Xprof`, so you can try that as well.

[2018-03-15 19:46] headius commented on #5080
Ahh, interesting. There have been fixes to Method ownership, but perhaps prepended cases are still not picking up the proper base. I'll have a look.

[2018-03-15 19:47] bastien commented on #5075
[code]

And I'm on OSX 10.12.6

[2018-03-15 19:50] bastien commented on #5075
And as I was saying, if I switch back to 9.1.15, things work again 😕

[code]

[2018-03-15 20:17] djberg96 commented on #2431
Closing, stale.

[2018-03-15 20:17] #2431 closed

[2018-03-15 20:23] #5080 closed

[2018-03-15 20:24] headius commented on #5080
Good find! Can you submit this as a spec to https://github.com/ruby/spec? Maybe expand it to cover other cases not already tested?

Let us know if you find any related issues!

[2018-03-15 20:29] headius commented on #5075
So the main thing that changed around this logic is that we're now using platform-specific functions to get the nanosecond granularity we want for filesystem times. This works properly on my OS X 10.13 machine, and it should work fine on your 10.12 machine.

I'll poke around a bit. It's odd that it can't find this function on your machine.

[2018-03-15 20:32] headius commented on #5075
Can you try adding flag `-Xbacktrace.style=full` and provide the output please?

[2018-03-15 20:33] headius commented on #5075
Oops...apparently this function is new in High Sierra: https://bugs.python.org/issue31601

[2018-03-15 20:38] headius commented on #5075
The following patch probably fixes this, but it's not ideal (it continues trying to use the missing function):

[code]

[2018-03-15 20:39] headius commented on #5075
@enebo Do you still have an OS X 10.12 machine you could test this on?

[2018-03-15 20:55] headius commented on #5075
@bastien Here's your first workaround: update to High Sierra!

The only other workaround would be to reimplement (monkey patch) `File.utimes` in Ruby.

We should have a fix for this shortly.

[2018-03-15 21:11] enebo commented on #5075
Patch works

[2018-03-15 21:31] headius commented on #5075
So we have confirmed this and we have an "ok" patch.

Remaining questions:

* How many platforms does this affect? I traced utimensat back to at latest Linux 2.6.26 (2008) which seems fine, but FreeBSD only added this in 10.3 (2016) around the same time OS X did (and I suspect other BSDs.
* On platforms it affects, how bad is the exception+fallback for overhead? Maybe you can try to test this for

[2018-03-15 21:55] #5075 closed

[2018-03-15 22:24] bastien commented on #5075
Nice work. I'll have a look at the patched version next week.

[2018-03-15 22:39] headius commented on #5084
Ok, I suspect this is a problem with install4j (perhaps just the version we used) incompatibility with Java 9.

JRuby is also a little iffy on Java 9 still (we're working on it) so you may want to run with Java 8 for now. Try that and let us know if it installs. We'll still get this fixed, but at least you'll be up and running.

Alternatively, just use Java 8 for the install by [passing flag to th

[2018-03-15 22:41] headius commented on #5084
I just discovered this in the Install4J change logs: https://www.ej-technologies.com/download/install4j/changelog.html

So apparently they just got a version out a couple months ago that works on Java 9.

[2018-03-15 22:41] headius commented on #5084
@enebo We will need to update Install4J to be able to install with Java 9.

[2018-03-16 00:01] headius commented on #5082
@greghuc Yeah I noticed the 9.0.4 update helped. That's interesting.

The illegal access warnings are an ongoing issue. I wonder if 9.0.4 "fixed" some of them by just being quieter.

Here's my session running a Rails app using Puma. This is on OS X, but I'll try Ubuntu tomorrow (unless @enebo tests Fedora and is able to reproduce first).

[code]

[2018-03-16 00:02] headius commented on #5082
Same output using `puma -e development`, again on OS X:

[code]

[2018-03-16 09:26] adpande commented on #5077
This is a native memory leak. This may be similar to https://github.com/jruby/jruby/issues/1791

[2018-03-16 11:42] greghuc commented on #5082
@headius and @enebo so I did some digging, and it turns out that puma is starting just fine in JRuby 1.9.16 and Java 9.0.4. The issue is with the [foreman](https://github.com/ddollar/foreman) gem I use to start puma:

[code]

I created a minimal test case at: https://github.com/greghuc/jruby-java9-puma-foreman.

In short, this project is a vagrant box that installs Ubuntu 16.04 + Java 8, Java 9, J

[2018-03-16 14:33] enebo commented on #5084
I applied for OSS license for current version.  We shall see how that goes.  The version we have been using which we had an OSS license for was very old (it only applied for a single version of install4j).  That license came from codehaus itself so I am not sure how that all worked :|

[2018-03-16 15:18] headius commented on #5082
Ok I've managed to reproduce several errors using your example. Thanks!

I've seen three different errors:

* eof as shown in your report
* closed stream
* a Java exception, presumably NullPointerException, inside IO.select logic

I think there's more than one thing at play here..

[2018-03-16 15:23] headius commented on #5082
Ok, the additional exception in select logic is because the selector has been closed by the time we reach this point in the code.

[code]

[2018-03-16 15:46] headius commented on #5082
Ok, I guess that selector thing isn't coming through as a fatal error; it is happening during shutdown of the listener thread.

I have attempted to reproduce on OS X with JRuby 9.1 HEAD...and so far I cannot. The server starts fine. So that's another clue.

[2018-03-16 15:48] headius commented on #5082
It also works properly with JRuby 9.1.16.0 on OS X.

[2018-03-16 17:35] raphaeltelatim commented on #5078
@kares Ok, thanks

[2018-03-16 20:37] ChrisBr commented on #4876
@headius @kares the initial comment was not up to date anymore so I took the liberty to update it:

### Language changes

- [ ] Top-level constant look-up is removed.  [Feature #11547](https://bugs.ruby-lang.org/issues/11547)
- [ ] rescue/else/ensure are allowed inside do/end blocks.  [Feature #12906](https://bugs.ruby-lang.org/issues/12906)
- [ ] refinements take place in string interpolations.

[2018-03-16 21:54] headius commented on #4876
@ChrisBr Thanks! I copied the updated list over and also ticked the box for Thread#fetch.

[2018-03-17 15:49] preetpalS commented on #4546
@enebo It would do harm if you're working on code primarily using JRuby and encounter this error on MRI subsequently while testing.

[2018-03-17 15:57] alaz opened #5091 ""Invalid extended option" error for legit `-X` options"
JRuby version:

[code]

The list of valid `-X` options:

[code]

And here it is an error when specifying any option:

[code]

[2018-03-17 19:48] alaz commented on #5091
Oops, I was under impression the image is official indeed. If it's not, but claims so – isn't it a problem?

Thank you.

[2018-03-17 22:07] enebo commented on #4546
Yeah it is possible but m17n has existed like a decade and this string only happened once for us as an issue. I think the likelihood of it causing a compat issue is very small. Otoh, it is not standard so I am ok not adding it too.

Maybe a better solution would be to open an issue with mri to consider not being as lax on the format of coding?

[2018-03-17 23:52] BanzaiMan commented on #5091
Well, if Alpine's `expr` does not behave the way expect, perhaps that should be fixed, whether or not this Docker image is "official."

[2018-03-17 23:59] headius commented on #5091
I hate to say it but I am thinking we should start pushing an official image with our releases. Issues like this that we can't fix directly will impact people disproportionately.

[2018-03-18 07:05] alaz commented on #5091
Both 9.1.15 and 9.1.16 images inherit from the same Alpine 3.7.0 and `jruby` script in the former works fine.

The only change to the shell scripts in `bin` between 9.1.15 and 9.1.16 is this one b617d558bf1ec84a71caad4e6db8e554cb12787b and it was exactly about how `expr` is being used.

Which basically means that anyone who would try to pack JRuby 9.1.16 into Alpine will face the same issue.

[2018-03-18 13:47] preetpalS commented on #4546
Yeah but for the given example, what should make it *fail* to parse the format of the coding?

[code]

Should the trailing "en" be allowed but the presence of other trailing characters other than whitespace should be disallowed?

Do you mean something along the lines of this regex `%r"^\s*(?:en)?coding\s*[:=]\s*([[:alnum:]\-_]+)"` being used instead of https://github.com/jruby/jruby/blob/0279de80e

[2018-03-18 18:05] lopex commented on #5086
Onigmo issue: https://github.com/k-takata/Onigmo/issues/92

[2018-03-19 00:07] philr opened #5092 "DateTime.jd returns incorrect times with 9.2.0.0-SNAPSHOT"
### Environment

* jruby 9.2.0.0-SNAPSHOT (2.4.1) 2018-03-15 36b44df OpenJDK 64-Bit Server VM 25.151-b12 on 1.8.0_151-8u151-b12-0ubuntu0.17.10.2-b12 +jit [linux-x86_64]
* Linux linuxdev 4.13.0-37-generic #<span></span>42-Ubuntu SMP Wed Mar 7 14:13:23 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### Expected Behaviour

`DateTime.jd` should return a new `DateTime` when called with a `Rational` value. Fo

[2018-03-19 09:19] kares commented on #5092
great - thanks. likely a regression due the recent date.rb rewrite ... https://github.com/jruby/jruby/pull/5076

[2018-03-19 14:37] #5092 closed

[2018-03-19 14:58] enebo commented on #4546
@preetpalS we essentially have a decomposed version of that regexp as simple string parsing code in our lexer.  'encoding' and 'coding' both are specified as valid and has been since the beginning so I don't think those by themselves are what I would consider changing.

My take is that pragma lines (coding is not the only valid pragma now frozen-string-literal, warn-indent...) is that a pragma lin

[2018-03-19 15:36] headius commented on #5091
@alaz Are you saying it worked ok in 9.1.15?

A workaround may be to install the native launcher (`gem install jruby-launcher`) since it uses standard C/++ to parse out these properties.

We'll need a patch for the bash launcher that doesn't regress the FreeBSD fix.

[2018-03-19 15:39] headius commented on #809
@olleolleolle So maybe this is no longer an issue? It has been sitting on the shelf for a long time.

[2018-03-19 15:41] olleolleolle commented on #809
@headius For me, with the situation above, it worked.

I think it's fair to close this issue.

[2018-03-19 15:46] headius commented on #5077
Strange...the MAT report shows paths to root via SoftReference, so I would have expected these things to go away.

@adpande Does the problem exist on JRuby 9.1.16? If so, can you provide a heap dump we can use to investigate?

[2018-03-19 15:46] #809 closed

[2018-03-19 15:47] alaz commented on #5091
@headius yes, 9.1.15 accepts arguments w/o problems:

[code]

[2018-03-19 16:08] headius commented on #5091
Reproduced locally.

[2018-03-19 16:42] headius commented on #5091
This patch appears to work on both Darwin and Alpine for me. I'll test Ubuntu shortly.

[code]

[2018-03-19 17:06] headius commented on #5091
The fix appears to work on Darwin, Ubuntu, and Alpine. I have committed it and it will be in 9.1.17.

[2018-03-19 17:06] #5091 closed

[2018-03-19 17:42] preetpalS commented on #4546
I think that this probably makes more sense as something that's caught using a linting tool like Rubocop (I could be wrong though) rather than enforced by the language. I say this for the following reasons:

- Somebody might want to have the pragmas preceded by commentary (this is done for file local variables (which are defined similarly) in Emacs Lisp (and presumably other languages); see exampl

[2018-03-19 21:16] headius commented on #4876
We are getting close to being "done enough" with this to merge to master and start tidying things up for release.

For all those interested in helping, the next step is to review the failures in the MRI and ruby/spec suites and either fix them (adding or modifying features as appropriate) or exclude/tag them (for features we won't support or can't support).

A recent build is here. Look at `test:m

[2018-03-19 21:41] headius commented on #5073
Confirmed. I believe I have the fix.

[2018-03-19 21:43] headius commented on #5073
This is fixed for 9.1.17. Perhaps you could add a spec for this to https://github.com/ruby/spec?

[2018-03-19 21:43] #5073 closed

[2018-03-19 21:48] enebo commented on #4546
@preetpalS yeah your emacs example may be the reason why extra text is allowed on either side.  I am not invested enough to push for any changes in any case.  :)

[2018-03-19 21:48] #4546 closed

[2018-03-19 21:54] headius commented on #1826
Example of enabling `vendordir` and friends using the Java properties we added.

[code]

It seems to mess something up if you point it at an empty dir, though:

[code]

We added the property because some JRuby distributors wanted a vendor dir, so I think we can call this one done a long time ago.

[2018-03-19 21:54] #1826 closed

[2018-03-19 21:58] headius commented on #4506
@zhanhb In order to do that we'd need to track in the jffi native code all memory allocated via any function so that it can be freed during unload rather than in a finalizer. The root issue here is that we use some native functions to free allocated memory, we call those functions in a finalizer, and the finalizer might run after the JNI library has already been unloaded. This leads us to try to c

[2018-03-19 22:00] headius commented on #4894
I will move the property under the `ji` namespace as `ji.ambiguous.call.error` and actually raise the exception.

[2018-03-19 22:03] headius commented on #4894
Sorry, I remembered why I didn't want a hard error...it makes debugging all such sites very tedious. So it will be `ji.ambiguous.calls.debug`.

[2018-03-19 22:05] headius commented on #4894
@thbar Can you put together a simple test under `test/jruby` that tests this property's output?

[2018-03-19 22:05] #4894 closed

[2018-03-19 22:10] headius commented on #4939
@boris-petrov Is it easy to isolate "when that body is parsed" and narrow it down that way? I'm not familiar with the code. I have been able to reproduce but got a bit lost trying to sort out why the bug happens.

[2018-03-19 22:13] headius commented on #5059
@rafaelfranca Hmm I'm not sure. Best way to investigate would be to reproduce that environment locally and try to get a thread dump, or use the Travis docker image to do the same on a local environment. You may be able to figure out what's freezing by adding `-v` or similar to the test run so we can see where it hangs.

I'm going to call this fixed, but I'm happy to assist figuring out the deadloc

[2018-03-19 22:13] #5059 closed

[2018-03-19 22:58] preetpalS commented on #4458
Do you have SELinux enabled by any chance? If you do, do you still encounter the problem when it is disabled?

[2018-03-20 01:35] mattbooks-square commented on #4989
Looks like this was introduced in [4be8d66b9e91e03e7f010b64a19c5290e7f651ec ](https://github.com/jruby/jruby/commit/4be8d66b9e91e03e7f010b64a19c5290e7f651ec)

[2018-03-20 06:58] zhanhb commented on #4506
I rewrote jnr-ffi myself. When native block get finalized. All allocated native memory get finalized before it.
https://github.com/java-native-call/jnc-build/blob/43e908585f977cace8cb8c3cac0762753db95a1f/jnc-runtime/src/main/java/jnc/foreign/internal/AllocatedMemory.java#L12-L23
https://github.com/java-native-call/jnc-build/blob/43e908585f977cace8cb8c3cac0762753db95a1f/jnc-runtime/src/main/java/jn

[2018-03-20 07:25] nomadium commented on #4876
@headius There are also a few open PRs with Ruby 2.5 related changes that should help to reduce the number of failures in the tests suites, e.g.: https://github.com/jruby/jruby/pull/5056, https://github.com/jruby/jruby/pull/5061, https://github.com/jruby/jruby/pull/5079, and https://github.com/jruby/jruby/pull/5085.

[2018-03-20 07:56] boris-petrov commented on #4894
@headius - thanks for implementing this! Actually, I'm also in favor of throwing a hard error as I want things like that to fail my build (we're using Capybara with JRuby). Perhaps you could add a second option that actually throws the exception? It will be configurable so that's the best way I think. Thanks again!

[2018-03-20 08:48] kimptoc commented on #4458
Yes, it would be enabled.  Not able to test it without it being enabled unfortunately. :(

[2018-03-20 15:45] preetpalS commented on #4546
@enebo See http://www.rubydoc.info/gems/rubocop/RuboCop/MagicComment/EmacsComment and https://github.com/ruby/ruby/blob/3f306dc29832b4e55f96694909cad346eb93afb3/parse.y#L6873-L6892 :)

[2018-03-20 16:29] titusfortner commented on #4939
@headius yeah, whatever the output of the response is, it's just getting parsed it with Nokogiri here: https://github.com/titusfortner/webdrivers/blob/master/lib/webdrivers/geckodriver.rb#L26.

Actually, if the response is the same, is it possible that [this case statement](https://github.com/titusfortner/webdrivers/blob/master/lib/webdrivers/common.rb#L71-L80) takes a different path between ruby

[2018-03-20 18:25] cngshow commented on #5018
Warbler does appear to be using 9.1.16.

Consider the following:
[code]

Now consider the following irb:

[code]

That is unexpected in 9.1.16 right?

[2018-03-20 20:32] cngshow commented on #5018
BTW, the bomb out isn't happening in warbler.  It is webpacker.

[2018-03-20 22:02] Taywee opened #5097 "File::Stat#dev_minor throws error on IBM AIX Java7_64; looks like it has to do with jffi"
### Environment

[code]

[code]

[code]

### Expected Behavior

File::Stat#dev_minor should not raise an exception

### Actual Behavior

[code]

I don't presently have a 32-bit Java to test with.  This looks like it could be related to some of the issues reported in #3495 and #2729

[2018-03-21 01:10] vassilios opened #5098 "YAML.load significant performance degradation when JSON string is included"
### Environment

* JRuby version
jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a OpenJDK 64-Bit Server VM 25.72-b15 on 1.8.0_72-internal-b15 +jit [linux-x86_64]
* Operating system and platform
Linux ip-172-30-3-223 3.13.0-74-generic #118-Ubuntu SMP Thu Dec 17 22:52:10 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

### Expected Behavior

On jruby 9.1.5.0, 9.1.6.0 and 9.1.7.0, the following gist [test_yaml.rb](

[2018-03-21 03:42] dgolombek opened #5099 "Exception.new.backtrace_locations should return nil"
[code]

Running on "Darwin thq-m-dgolo02 16.7.0 Darwin Kernel Version 16.7.0: Thu Jan 11 22:59:40 PST 2018; root:xnu-3789.73.8~1/RELEASE_X86_64 x86_64"

From MRI (2.4.2):

[code]

Came up in a testing scenario, where exception is inserted via a stub, and exception handler tries to capture information.

[2018-03-21 16:44] Taywee commented on #5097
Note that if this is an issue with jffi that I can help with, I'd be glad to.  I can have an AIX 64-bit build server built out that would be useable for compilation, running tests, and making changes.  If XL C/C++ is required, it might be a bit more work, as I'm not sure if we have a license for it.

[2018-03-21 18:22] thomas- opened #5100 "File.open() on Windows without binary flag reading 0x0A (newline) instead of 0x0D (return)"
I ran into this bug using a ruby gem that does file uploads, when some gifs became very mangled, seems to be affecting only Windows JRuby from what I can tell.

My reason for reporting is mostly that it is a different outcome than what happens in other envs and in cruby.

### Environment

* jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a OpenJDK 64-Bit Server VM 9.0.4.1-ojdkbuild+11 on 9.0.4.1-ojdkbuild

[2018-03-21 22:10] headius commented on #4876
@nomadium Thanks! I've merged in the relevant ones. We're getting there!

[2018-03-22 01:54] andrewvc opened #5103 "checkArity confusingly raises line of outer caller for nested calls"
### Environment

Provide at least:
* JRuby version: 9.1.13.0
* Mac OSX

### Expected Behavior

I have code something like:

[code]

### Actual Behavior

JRuby generates an `ArgumentError: wrong number of arguments (1 for 2)` that points to the line in `someOtherMethod`, when the real error is that we implemented the interface incorrectly. The stack trace shouldn't filter out the java in this case,

[2018-03-22 06:25] kares commented on #5103
basically boils down to having some-form of static Java checks in a dynamic language (Ruby).
at the time you include the interface its methods aren't implemented (and might actually never be - that is fine in a dynamic language). when the proxy is generated there might be some room for args checking and maybe issuing a warning, that might be useful to some extend - also slightly tricky to get righ

[2018-03-22 12:06] andrewvc commented on #5103
@kares yes, this does seem hard to get right. The thing is, it is a bad user experience at the moment because JRuby quite confidently tells you you have an args issue at a given line, when the problem is really somewhere else.

I don't know if there is an efficient easy way to solve this. It would be nice if possible however.

The current stack, roughly speaking, is RrubyMethod(A) -> JavaMethod(B)

[2018-03-22 16:14] hathawad commented on #4141
This issue seems to be back w/ `jruby-9.1.16.0`

[2018-03-22 18:08] headius commented on #4809
Thanks for the report! This is surprising, but I believe I saw another bug with the same problem.

I am unable to reproduce so far on this macOS system:

[code]

Will investigate on other platforms.

[2018-03-22 18:09] headius commented on #4809
Sorry we didn't get to this until now...I had not even seen it yet!

[2018-03-22 18:18] raelik opened #5104 "IRB doesn't start on jRuby 9.1.16.0"
### Environment

* `jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a Java HotSpot(TM) 64-Bit Server VM 25.60-b23 on 1.8.0_60-b27 +indy +jit [darwin-x86_64]`
* `Darwin heretic 14.5.0 Darwin Kernel Version 14.5.0: Mon Aug 29 21:14:16 PDT 2016; root:xnu-2782.50.6~1/RELEASE_X86_64 x86_64` (Mac OS X Yosemite)
* Using jruby-mains 0.6.1 from https://oss.sonatype.org/content/repositories/releases/org/jruby/mains

[2018-03-22 18:18] headius commented on #4809
I have reproduced it on Ubuntu. Investigating!

[2018-03-22 18:24] headius commented on #5104
Are you certain you're not mixing environments? We addressed this issue during 9.1.16.0 cycle, but if you have 9.1.16.0 for whatever reason picking up 9.1.15.0's gems it might still happen.

[2018-03-22 19:00] #4809 closed

[2018-03-22 19:01] headius commented on #4809
Fixed! A refactoring done in August accidentally removed a PATH lookup step in process launching.

I am very surprised this did not trigger any other failures in our CI. Perhaps you can make a spec for https://github.com/ruby/spec so we never regress again?

[2018-03-22 19:07] raelik commented on #5104
I'm using the jruby-gradle-plugin to build an artifact jar containing jruby and all of my gems, and I blow it away and rebuild it from scratch.

[2018-03-22 19:17] headius commented on #5104
@mkristian Any idea why this would still be happening?

[2018-03-22 19:30] raelik commented on #5104
Just looking at the stack trace, the only way I can see this happening if somehow jline 1.x was somehow being loaded.  That's the last time that `jline.Terminal` was implemented as a class instead of an interface.

[2018-03-22 19:35] raelik commented on #5104
@headius That's exactly what's happening.  Here's a the result of running `jar -tvf | grep jline` on my jar built for  9.1.16.0:
[code]

Here it is for 9.1.15.0:
[code]

[2018-03-22 19:47] raelik commented on #5104
I tracked down the problem, not sure how to resolve it.  My project uses Apache Curator 2.x, which depends on ZooKeeper 3.4.8... which depends on jline 0.9.94.  Luckily, none of my code touches any parts of ZK that depend on jline (most likely command-line utilities).

[2018-03-22 19:58] raelik commented on #5104
Ok, I was able to fix this by excluding jline from my runtime configuration in my build.gradle. Nothing to see here, move along!

[2018-03-22 19:58] #5104 closed

[2018-03-22 20:46] mkristian commented on #5104
great this got resolved. this exactly the reason we try to get rid of jline altogether in jruby.

[2018-03-23 14:47] koic commented on #4809
Thanks for the fixes and advice! I'm interested in https://github.com/ruby/spec and I'd like to try it later.

[2018-03-25 14:50] monkstone commented on #4851
For my [propane project][propane] I have created a custom PApplet class, where I create `public method` to replace the `protected method`, and this creates a possible fix.
[code]
fix
[code]
The runSketch with String[] args
[code]
PS: the `argsWithSketchName` resolves to `[PApplet$Proxy1]`

 However this is not possible with JRubyArt which relies on and user installed version of processing
[propane

[2018-03-25 21:27] philr opened #5110 "DateTime.jd doesn't set sec_fraction with 9.2.0.0-SNAPSHOT"
This is probably a regression from the recent date.rb rewrite #5076.

### Environment

* jruby 9.2.0.0-SNAPSHOT (2.4.1) 2018-03-25 b0f7aaf OpenJDK 64-Bit Server VM 25.151-b12 on 1.8.0_151-8u151-b12-0ubuntu0.17.10.2-b12 +jit [linux-x86_64]
* Linux linuxdev 4.13.0-37-generic #<span></span>42-Ubuntu SMP Wed Mar 7 14:13:23 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### Expected Behaviour

`DateTime.jd`

[2018-03-26 13:41] #5110 closed

[2018-03-26 15:57] headius commented on #5103
I feel like the real problem here is that we have no context for the failed call, because the dispatch logic for the Ruby-based interface impl doesn't insert any context. It's a sort of hidden method_missing dispatch happening under the covers, but since it's implemented in "native" code it doesn't show up in the Ruby trace.

The dispatch logic here could perhaps be improved to provide a better er

[2018-03-26 16:01] headius commented on #5100
I'm sure this is a carriage-return/line-feed translation bug. "b" mode, which does no such translation, is obviously working correctly here. "t" mode, the default, wants to normalize line terminators to line-feed, but obviously it should not be doing so for a bare carriage-return.

[2018-03-26 16:06] JasonLunn opened #5111 "NPE from within CoverageModule.convertCoverageToRuby"
After stopping my test Tomcat instance, SimpleCov's `at_exit` hook is attempting to produce a coverage report, but errors out in the process:

`cat ~/opt/apache-tomcat-8.5.20/logs/localhost.2018-03-26.log`:

[code]

### Environment

* JRuby 9.1.15.0
* Warbler from `master` via git
* Tomcat 8.5.20
* Java 1.8.0_121-b13
* macOS High Sierra: `Darwin brakebills.home 17.4.0 Darwin Kernel Version 17.4.0:

[2018-03-26 16:23] #5099 closed

[2018-03-26 16:23] headius commented on #5099
Thanks for the report!

[2018-03-26 16:30] headius commented on #5111
It looks as this this could happen if a coverage line event is triggered against a source with a null filename, such as might happen evaluating Ruby code through our embedding interface. I'll harden the logic to try to ignore such files.

[2018-03-26 16:32] headius commented on #5111
Trivial reproduction:

[code]

[2018-03-26 16:37] #5111 closed

[2018-03-26 16:38] headius commented on #5098
Good find! Investigating.

[2018-03-26 16:44] JasonLunn commented on #5111
Thanks for the incredibly fast turn around!

[2018-03-26 16:47] headius commented on #5098
SnakeYAML was updated in October, so if that's the culprit it would have first manifested in JRuby 9.1.14.

A quick sampled profile shows only one big hot spot, a method in SnakeYAML: `ScannerImpl.scanFlowScalarNonSpaces`. On this profile, 650 out of 867 ticks were during this method's execution.

[2018-03-26 16:50] jsvd opened #5112 "UDPSocket fails to bind to an IPv6 address unless AF_INET6 is explicitly set"
Binding to an UDP socket on an IPv6 address will fail unless an explicit AF_INET6 setting is passed to constructor. This is not required for TCP, only UDP:

[code]

Test script:
[code]

Results in:
[code]

[2018-03-26 16:57] headius commented on #5098
Ah I see you mention it being slow in 9.1.8.0. I'll start looking there for a possible culprit.

[2018-03-26 17:25] headius commented on #5098
I traced it to the Psych update in b0487b4b1088e33ecef1f8321b0a14729ffba268. Continuing.

[2018-03-26 17:30] headius commented on #5098
The only substantive commit in Psych 2.2.3 was ruby/psych@fc55b92ed76836ded814149628828bc424bd3af1, which updated SnakeYAML from 1.17 to 1.18. So we're back to that theory again.

[2018-03-26 17:49] headius commented on #5098
Manually downgrading SnakeYAML from 1.18 to 1.17 does not resolve the issue, so we're back to Psych being the culprit.

[2018-03-26 18:05] vassilios commented on #5098
@headius thanks for looking into this and keeping me up-to-date. Hope it gets resolved.

[2018-03-26 18:07] headius commented on #5098
Ok ignore what I said earlier...after changing all references to "1.18" and manually downgrading SnakeYAML, performance does return to normal. I will check if latest SnakeYAML fixes it and if not I'll file an issue with them.

[2018-03-26 19:07] headius commented on #5098
The Psych update is on hold until we can get a fix for https://bitbucket.org/asomov/snakeyaml/issues/401/jrubys-psych-library-uses-markgetindex

Hopefully it won't take long.

[2018-03-26 19:36] headius commented on #5098
Ok, so the bad news is that SnakeYAML 1.19 does not appear to fix the issue, so we'll have to wait for 1.21 that fixes the issue I filed so we can release a new Psych.

[2018-03-26 20:00] headius commented on #5112
Well isn't that quirky. Our UDP logic is just a thin layer over the JDK APIs, so it may be the JDK's issue. I'll poke around a bit.

[2018-03-26 20:05] headius commented on #5112
Ok it turns out that we have roughly the correct behavior, because CRuby also raises an error in this case:

[code]

The remaining problem is that we don't raise the right error, so I'll fix that.

[2018-03-26 20:36] jsvd commented on #5112
🤦‍♂️ I didn't expect this to be an actual expected behaviour. so weird. Thanks for checking it out. Having the same exception in jruby/mri would be nice, but from a developer POV the pattern for UDP will always be:

1) check if ip is ipv4 or ipv6
2) use right AF_INET in UDPSocket constructor

[2018-03-26 21:16] headius commented on #5112
I've fixed the error so it's at least of the right type. I opted to make a new message since this is raised in a slightly different way than the error produced within CRuby's logic. I doubt it will matter.

@jsvd Could you add a spec for this behavior to https://github.com/ruby/spec? That will ensure we don't regress. If you have any objection to the CRuby behavior, I recommend you open an issue w

[2018-03-26 21:16] #5112 closed

[2018-03-26 21:25] headius commented on #5098
Short term workaround: you *may* be able to install an older Psych and use it. If you are using Bundler, adding an older Psych version to e.g. `Gemfile` may do the trick.

For a more permanent solution, you can replace lib/ruby/stdlib/psych* with the contents of the gem's lib dir. There may be some oddities matching versions with the gemspec, so that may need to be replaced under lib/ruby/gems/sha

[2018-03-26 21:29] headius commented on #5097
@Taywee We will definitely need assistance 😄

The actual error is being obscured by this IllegalStateException. That seems to be caused by us attempting to initialize the cause of an exception at `Type$Builtin.lookupTypeInfo(Type.java:252)` which has already been initialized. The first step would be removing that call (or better, raising a new error with the existing one as its cause) so we can se

[2018-03-26 21:31] jsvd commented on #5112
Just for reference, the issue on cruby is https://redmine.ruby-lang.org/issues/5525
It was rejected with the workaround: `Addrinfo.udp("::1", 2000).bind`

good idea 👍

[2018-03-26 21:33] headius commented on #5097
@Taywee C/C++ compiler will be necessary for running jffi's test, but should not be necessary for a build (we keep a binary for AIX ppc64 in the repo). The process for plugging a new jffi into JRuby goes like this:

1. From the jffi clone, `mvn install` to install a snapshot of your modified jffi into the local Maven repo
2. Modify JRuby's root `pom.rb` so the jffi snapshot version is specified, e

[2018-03-26 21:34] headius commented on #4989
@mattbooks-square Of course it was 😢

[2018-03-26 21:35] headius commented on #4989
@kares I don't suppose any work you've done might help this? I think you've mainly been messing with Date...

[2018-03-26 21:38] headius commented on #4506
@zhanhb Very nice! Perhaps we can merge our efforts? We'd be happy to cooperate with you.

Meanwhile I will look at utilizing your change in jnr-ffi.

[2018-03-26 21:45] headius commented on #4506
What you have seems feasible; however there's a few improvements I might make. I do hope we can work together to bring your changes into jnr-ffi!

1. The finalized field on the Free object needs to be volatile and checked in an atomic way.
2. The runnables should not be strongly referenced; your current logic will prevent them from garbage collecting and the collection will continue to grow.
3. Th

[2018-03-26 21:47] headius commented on #4506
This likely applies to any other Runnable de-allocators you are registering.

[2018-03-26 22:06] headius commented on #4458
@kimptoc This is almost certainly related to SELinux, as @preetpalS guessed. The issue is that we unpack the jffi library, our native layer, to the environment-provided temp location. On SELinux, you are disallowed from loading executables or dynamic libraries from the shared temp directories.

You can work around it by setting a different TEMP dir that allows loading executables. We could probabl

[2018-03-26 22:09] headius commented on #4939
@titusfortner I wouldn't expect that to be different. More likely the XML parsing is producing slightly different results so webdrivers can't fine the URL it's looking for.

I think the next step is to figure whether the response content is the same. If it is, then it's an issue of parsing in nokogiri, and we should be able to just proceed from the point in the code you highlighted.

[2018-03-26 22:21] headius commented on #5018
Hmm...tracing through the logic for Open3.capture3 in JRuby leads me to popen3, popen_run, and then spawn which on Windows goes through our ShellLauncher logic. That logic in turn *does* appear to be doing the executable search.

Indicating that we should do a search: https://github.com/jruby/jruby/blob/6e2088adec2dc9ace1340ee6810157ce0e954327/core/src/main/java/org/jruby/util/ShellLauncher.java#L

[2018-03-26 22:26] headius commented on #5018
Ok, I don't have a Windows VM yet on this machine. It will take some time to set up. @enebo if you are looking for something to do...

[2018-03-26 22:30] headius commented on #4851
Is there some way we we could get the Processing folks to expose this logic? I get that it's not a great solution to make these methods public, but protected is a difficult visibility for us to call through.

The general problem of not being able to call protected methods will require Java 9 flags (expose/open reflection up for specific classes/modules, or disable checking completely) or a fully i

[2018-03-27 00:58] vassilios commented on #5098
I can confirm that the workaround of downgrading the psych gem works.
Here's what I did.

I added psych version 2.2.2 in my Gemfile.
[code]

And added those two lines at the top of the gist.
[code]
The output after those changes showed no degradation:
[code]

[2018-03-27 07:32] kimptoc commented on #4458
Ok - thanks for the update.  Shall we close the ticket then?

[2018-03-27 10:03] kares commented on #4989
resolved in jruby-9.1 with https://github.com/jruby/jruby/commit/682626e067fed6c846d3c7ea9192ff2cd504ffcd ...

[2018-03-27 10:03] #4989 closed

[2018-03-27 16:04] monkstone commented on #4851
I can understand your reluctance to create a fix however there is an expectation in java that inherited classes can use protected method, so when a ruby class inherits from a java class there is a similar expectation. So in addition to the one critical case that I can fix with propane there is a problem with our `control_panel` library see https://github.com/ruby-processing/propane/issues/21. I so

[2018-03-27 18:09] JasonLunn opened #5115 "ConcurrentModification error during Tomcat startup"
### Environment
* `jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a Java HotSpot(TM) 64-Bit Server VM 25.162-b12 on 1.8.0_162-b12 +jit [darwin-x86_64]`
* `JAVA_OPTS=-Xmx2G -Djruby.debug.fullTrace=true -Djruby.cli.debug=true -Djruby.backtrace.style=raw`
* Mac OS X, version 10.12.6
* Tomcat 7.0.62
* Warbler from master via git
* Rails 5.1.5

### Expected Behavior

* Expect to be able to complete startup wi

[2018-03-27 20:25] headius commented on #4876
The vast bulk of this is now implemented, and I've merged the branch to master. We'll need to green up the builds this week, but we're not far off.

I'll create a new issue for remaining unimplemented 2.5 items.

[2018-03-27 20:25] #4876 closed

[2018-03-27 20:29] headius opened #5118 "Unimplemented Ruby 2.5 Features"
This bug tracks the remaining items from CRuby 2.5's NEWS file that we have not yet implemented in JRuby.

This issue will track Ruby 2.5 support for JRuby. This will be released in JRuby 9.3.0.0 or JRuby 10.

As with previous releases, we will base our checklist on MRI's NEWS file: https://github.com/ruby/ruby/blob/trunk/NEWS
This bug will track all NEWS items new in Ruby 2.5. This list is based

[2018-03-27 20:29] headius commented on #5118
Marking for 9.2 optimistically, but some parts of this will obviously slip.

[2018-03-27 20:30] headius commented on #5118
Link #4876, #4875

[2018-03-27 20:33] headius commented on #4458
@kimptoc Yes, but maybe this deserves a more prominent entry on the wiki? Seems to come up frequently enough for a FAQ.

[2018-03-27 20:33] #4458 closed

[2018-03-27 20:34] headius commented on #4458
I'm not sure if we can do a better error, but that would be at the jnr level in any case.

[2018-03-27 20:42] headius opened #5119 "JRuby 9.2 Projects"
We have many side projects in flight and no place to track them. I'm creating this list so we remember all the things we hope to ship in 9.2.

- [x] Ruby 2.5 support: largely complete, see #5118 and #4875.
- [x] New block dispatch, optimization: https://github.com/jruby/jruby/tree/block_dispatch
- [x] Encoding work for identifiers, symbols: (see #4965)
- [ ] Finish native process, IO logic for Win

[2018-03-27 20:47] headius opened #5120 "Dist target now fails"
I'm not sure when this started happening, but it appears to affect both 9.1 and master. We have not had a successful nightly build in a while.

cc @mkristian, maybe this is related to the polyglot or mavengems updates?

[code]

[2018-03-28 02:35] mtjhax commented on #4796
I have created an app that recreates the problem. Unfortunately, the code causing the memory issue is buried in the AWS SDK v1 gem. I'm stepping into their code to try to get a cleaner repro but it's a little time-consuming so I thought I would share what I have including a zipped heap dump: https://gist.github.com/mtjhax/92df4b277e16adfca951bf3d180c4f1a

[2018-03-28 04:29] mkristian commented on #5120
@headius this line fails: https://github.com/jruby/jruby/blob/master/maven/jruby-dist/pom.rb#L124

not sure - it looks we can not assume to have `gzip` installed !? maybe we can use ruby or . . . let me see what I can do.

[2018-03-28 15:48] ericldelaney opened #5122 "format and sprintf do not support '%a' and '%A'"
### Environment

Provide at least:
* jruby 9.1.15.0 (2.3.3) 2017-12-07 929fde8 Java HotSpot(TM) 64-Bit Server VM 25.121-b13 on 1.8.0_121-b13 +jit [darwin-x86_64]
* MacOS

### Expected Behavior

* MRI Ruby documents and supports format and sprintf usage of '%a' and '%A'
https://ruby-doc.org/core-1.9.3/Kernel.html#method-i-sprintf

[code]

### Actual Behavior

$ $HOME/.rbenv/versions/jruby-9.1.15.0/

[2018-03-28 18:44] Haniyya opened #5123 "Illegal reflective access operation on lambda enumeration/arity-check"
### Environment
**jruby -v** jruby 9.1.13.0 (2.3.3) 2017-09-06 8e1c115 OpenJDK 64-Bit Server VM 9.0.4+11 on 9.0.4+11 +jit [linux-x86_64]
**OS** Linux paul-aspire 4.15.13-1-ARCH #1 SMP PREEMPT Sun Mar 25 11:27:57 UTC 2018 x86_64 GNU/Linux

### Expected Behavior
The following script
[code]
Should run without warnings.

### Actual Behavior
The Output points to illegal reflective access operations.
[c

[2018-03-28 19:42] rdubya commented on #5123
Just to add some additional info to this about the warnings, we were seeing warnings similar to those when using Java 9. They don't appear when running Java 8.

[code]

[2018-03-29 23:23] bittrance opened #5125 "Cannot subclass standard class Time"
Because of some code that does not believe in duck typing, I need to subclass `Time` for testing purposes. This works fine in Ruby 2.4.2:
[code]
However, the same code fails in JRuby 9.1.13.0:
[code]
Whereas providing an empty constructor works fine even in JRuby:
[code]
Is this an obscure bug or have I misunderstood something?

### Environment

jruby 9.1.13.0 (2.3.3) 2017-09-06 8e1c115 Java HotSp

[2018-03-31 11:04] zverok commented on #4330
Can this fact at least be mentioned and explained in Wiki? https://github.com/jruby/jruby/wiki/DifferencesBetweenMriAndJruby

I know there are different views on refinements, but it is a major language feature that is just silently ignored by JRuby for literally years now.

[2018-03-31 16:30] thbar opened #5126 "Status for MRI-related security issues?"
I'm maintaining Ruby installations for a client on a regular basis (including both MRI & JRuby on various servers).

MRI got multiple releases to cover multiple CVEs:
* https://www.ruby-lang.org/en/news/2018/03/28/ruby-2-5-1-released/
* https://www.ruby-lang.org/en/news/2018/03/28/ruby-2-4-4-released/
* https://www.ruby-lang.org/en/news/2018/03/28/ruby-2-3-7-released/
* https://www.ruby-lang.org/e

[2018-03-31 16:31] thbar commented on #5126
PS: I do realise that like anything else, asserting & following all this takes time, and that resources are limited - I don't feel entitled to anything, just wondering what is the current status! Thanks.

[2018-04-02 09:44] brometeo commented on #4968
This bug seems marked for 9.1.17.0, but not for 9.2.0.0. What is the current development state?
Thank you.

[2018-04-02 22:18] headius commented on #5120
I wonder if this is related to ongoing issues with PATH and `system` calls. It fails for me locally and I definitely have gzip installed.

[2018-04-03 13:22] mkristian commented on #5120
fixed via https://github.com/jruby/jruby/commit/2758cf97b88895e4c90702f28e67b765a79d93bf

[2018-04-03 13:22] #5120 closed

[2018-04-03 14:10] mkristian opened #5127 "system() does not return boolean when Dir.pwd is uri:classloader"
### Environment

tested a few 9.x.x.x versions which all behave the same on MacOS

### Expected Behavior

[code]

### Actual Behavior

[code]

[2018-04-04 08:06] perlun opened #5128 "eval in Rack::Builder prints "warning: `frozen_string_literal' is ignored after any tokens""
### Environment

* JRuby version: 9.1.16.0
* Operating system and platform: `Darwin ecvaawplun6.local 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64 i386 MacBookPro14,3 Darwin`

### Expected Behavior

When using this `config.ru`:

[code]

I should be able to run `rackup` without any warnings.

### Actual Behavior

With JRuby, I get a w

[2018-04-04 08:54] andreaseger commented on #2354
Any update on this? I can still see this happening and causing weird issues

[2018-04-04 18:02] enebo commented on #5128
@perlun We did not intend to not match MRI here so this is a bug.  I am guessing they probably pass the frozen string lteral state to any evals which lexically occur with the source file or perhaps the strings somehow get annotated somehow on that first parse as being frozen.

[2018-04-04 19:51] asomov commented on #5098
If you test SnakeYAML 1.21-SNAPSHOT and it is quick enough,  we can release it immediately, otherwise it will be released in August 2018.
The performance penalty is most probably caused by more complex Unicode processing. SnakeYAML now properly works with characters above 65536 (Java chars were designed for 2 bytes per char)

[2018-04-05 14:54] vassilios commented on #5098
@asomov thank you. @headius would you be testing the SnakeYAML 1.21-SNAPSHOT ? thx

[2018-04-05 16:39] hathawad commented on #4141
This is broken again on Windows w/ `jruby-9.1.16.0`
@headius do we need new issue, or should we reopen this one?

[2018-04-06 17:48] amarkowitz opened #5131 "TypeError: bind argument must be an instance of ..."
### Environment
[code]
[code]
failure test case:
[code]

[code]

[code]

### Expected Behavior

No errors.

### Actual Behavior

[code]

### Behavior from various versions of jruby and MRI ruby

[code]

[code]

[code]

[code]

possibly related to #2519

[2018-04-07 02:16] bozakp opened #5132 "Can't set `java.security.egd` system property"
### Environment
* jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a Java HotSpot(TM) 64-Bit Server VM 25.161-b12 on 1.8.0_161-b12 +jit [darwin-x86_64]
* Darwin Kernel Version 16.7.0: Tue Jan 30 11:27:06 PST 2018; root:xnu-3789.73.11~1/RELEASE_X86_64 x86_64

### Expected Behavior

* I expected to be able to set the `java.security.egd` java system property.

### Actual Behavior

[code]

Note that the *value

[2018-04-09 04:58] perlun commented on #5128
@enebo OK, great to get that confirmed. Let me know if you want some more help from me in nailing this one down.

[2018-04-09 15:24] hathawad commented on #4141
FYI this work around seems to be working (taken in part from above in this thread):

1. gem install  jruby-readline
2. copy `readline.jar` from gem installation to `lib\ruby\stdlib`

[2018-04-10 06:06] mkristian commented on #4141
@hathawad may I ask which version of jruby-readline you are using ? as the version from jruby-9.1.16 should be the same (binary compatible) as jruby-readline-1.1.1

[2018-04-10 14:35] yeryer opened #5133 "Puma incompatible after JRuby 9.1.14.0"
### Environment
jruby 9.1.14.0 (2.3.3) 2017-11-08 2176f24 Java HotSpot(TM) 64-Bit Server VM 25.152-b16 on 1.8.0_152-b16 +jit [mswin32-x86_64]
Windows 10
Rails 4.2.9
Puma 3.11.3-java
Rubymine 2018.1
Ruby arguments:  -J-Xmx4096m -e $stdout.sync=true;$stderr.sync=true;load($0=ARGV.shift)

### Actual Behavior
Puma runs fine on the above platform but whenever we try upgrading to 9.1.15 or 9.1.16 we are

[2018-04-10 14:50] headius commented on #4851
Right, I understand that. It's not impossible to support, but with the many levels of method dispatch plumbing it will take some creative use of invokedynamic to do so. I have not had a chance to look at module system changes in Java 10...perhaps they have made it easier to soften these checks?

[2018-04-10 14:55] headius commented on #5115
Are you able to trigger this consistently? If possible, you can set JRuby into a debug mode that will show the actual cause of the LoadError better by setting property `jruby.cli.debug=true` (and I'll try to make LoadError do a better job of reporting.

Very little of JRuby internals would trigger this exception, since most of the time we're using Ruby collection types that raise Ruby errors rathe

[2018-04-10 14:57] headius commented on #4796
@mtjhax Thanks for the heap dump and efforts to simplify a reproduction! I'll have a look at the dump and see what it tells me.

[2018-04-10 15:13] #5084 closed

[2018-04-10 15:30] rmosolgo commented on #3680
I'm observing something a bit similar in the test suite for the GraphQL gem:

https://travis-ci.org/rmosolgo/graphql-ruby/jobs/364639719

<details>
<summary>Console output</summary>
<pre>
Worker information
hostname: 9bfdc8eb-00a1-4dd6-8656-6b7064336064@1.i-0680931-production-2-worker-org-ec2.travisci.net
version: v3.6.0 https://github.com/travis-ci/worker/tree/170b2a0bb43234479fd1911ba9e4dbcc36da

[2018-04-10 15:41] rmosolgo commented on #3680
Well, another build on the same commit finished first:

https://travis-ci.org/rmosolgo/graphql-ruby/jobs/364665568

Here's the console output:

<details>
<pre>
java.lang.NullPointerException
	at org.jruby.ir.runtime.IRRuntimeHelpers.unresolvedSuper(IRRuntimeHelpers.java:1035)
	at org.jruby.ir.instructions.UnresolvedSuperInstr.interpret(UnresolvedSuperInstr.java:82)
	at org.jruby.ir.interpreter.Int

[2018-04-10 15:43] rmosolgo commented on #3680
I'm not too sure what to do next, but if you have any guesses for solution/workaround/more debugging, I'm all ears!

[2018-04-10 16:06] enebo commented on #5133
@yeryer Interesting.  I just did scp from windows bash shell this morning and got corrupted mac errors (win10).  I was weirded out that a winbuntu -> fedora ssh connection would complain.  I wonder if MS has any info on this.  We really need to isolate what is wrong here since we changed since 9.1.14 because of other changes by other OSes.  Quite the sticky web.

If you have time perhaps you can m

[2018-04-10 16:10] JasonLunn commented on #5115
Did I do it wrong? I see `jruby.cli.debug=true` set to `true` already in the backtrace above?

[2018-04-10 17:43] headius commented on #4796
I can definitely see the leaked ChannelFD but I do not see the reason for it yet.

[2018-04-10 17:56] headius commented on #4796
I may have found a clue!

It seems that almost all of the leaked ChannelFD are associated with either IOReadableByteChannel or IOWritableByteChannel, which simply wrap an IO object and simulate a readable or writable channel. These objects are constructed in two places: in the Java extension to IO `to_channel`, which is used to get a Channel for a given IO, and in the following lines of code used

[2018-04-10 18:09] headius commented on #4796
Oh some clarification of this code, and a couple questions.

First off...the logic I pointed out is used if you are doing copy_stream with an object that is not an IO (`copy_stream` will use that IO's channel directly) or a String (`copy_stream` will open a file for you) but which defines "read" or "write" methods.

Does this seem like something your code or libraries you call might be doing? Perh

[2018-04-10 18:25] headius commented on #4796
I believe I've reproduced the issue with the following code, which gobbles up memory very quickly for all the registered ChannelFD:

[code]

[2018-04-10 19:16] mtjhax commented on #4796
In my case, whatever is going on is coming out of the AWS v1 SDK gem. Going to poke around the code paths I'm using -- should be possible to find something.

[2018-04-10 19:17] headius commented on #4796
It looks like we have a winner. I will land a patch shortly that avoids the use of a temporary IO object for "IO-like" streams, and so avoids the nasty little autoclose/unregister dance altogether.

Given this patch, we can make the following comparison based on my script above.

Before:
![image](https://user-images.githubusercontent.com/10135/38578541-d8f27588-3cc9-11e8-8b77-82ad0c81e3ab.png)

Af

[2018-04-10 20:49] headius commented on #4796
Ok, I've pushed a fix to jruby-9.1 branch, which will show up as a stable nightly build here: http://jruby.org/nightly

Those of you having issues can check it out. I've just kicked it to generate a new build right now, so it should be there soon.

Still need to write a test that verifies that IO-like read/write streams passed to copy_stream do not get registered.

[2018-04-10 22:08] mtjhax commented on #4796
I thank you sir! And I dearly wish that I had time to actually help out by tracking this down in the sources myself but as you might suspect, I am currently engaged in battle with AWS gems.

[2018-04-11 07:14] perlun opened #5134 "Raising SIGTERM SignalException returns wrong process exit code"
(This was originally spotted in https://github.com/puma/puma/issues/1558, thanks @dekellum for great help there.)

With JRuby 9.1.16.0 on Java 8 (on latest macOS), I get this:

[code]

Same with JRuby 1.7 actually:

[code]

**However**, with MRI 2.5.1 I get this:

[code]

...which is indeed [the correct value](http://tldp.org/LDP/abs/html/exitcodes.html) for a `SIGTERM`-triggered exit of a process

[2018-04-11 11:29] Tribbles01 commented on #4872
Any news on this issue ?

Thorsten

[2018-04-11 20:34] headius commented on #4796
@mtjhax No worries, just let us know if you can confirm it is fixed.

@seanguo @tcheng @fxposter @oozzal Same goes for you if you still have access to the apps in question.

[2018-04-11 20:49] #4796 closed

[2018-04-11 20:51] headius commented on #5122
Right you are! I'll see if it's easy to add.

[2018-04-11 20:58] headius commented on #5122
Well there's a bit of work needed, but it should be sortable out of the original commit to MRI: ruby/ruby@12b2e16e21b.

[2018-04-11 21:54] headius commented on #5123
This is a Java 9+ warning about our using reflection to crack open some JVM objects in order to better support Ruby features. The warnings should generally be harmless, other than the fact that they're always there.

I am working on a set of flags we can pass to Java 9+ JVMs to prevent these messages from being printed. This issue may be considered a dupe of https://github.com/jruby/jruby/issues/4

[2018-04-11 21:59] headius commented on #5125
I'll bet on obscure bug 👍

[2018-04-11 22:11] headius commented on #5125
Yeah this is a long-standing issue where our Time class defines its own `new` rather than its own `initialize`, and that `new` attempts to call `initialize` with zero arguments always. I've been meaning to try to fix this, so I'll have another crack at it.

[2018-04-11 22:38] headius commented on #5125
@bittrance I've pushed a fix for this to the jruby-9.1 branch, which can be found in the [stable nightly build](https://projectodd.ci.cloudbees.com/view/JRuby/job/jruby-stable-dist/lastSuccessfulBuild/artifact/release/). Please let us know that it works for you.

[2018-04-11 22:39] #5125 closed

[2018-04-11 22:44] headius commented on #5126
We have been monitoring the various CVEs but have not been able to review them all. In general, most CVEs for CRuby don't apply to JRuby because they involve unsafe memory accesses that are not possible on the JVM. In native code, usually only DoS-type issues will also apply to JRuby, since much of our code uses the same algorithms as CRuby.

Any CVE that affects the Ruby-based standard library me

[2018-04-11 22:48] headius commented on #4968
The more elaborate fix will not make 9.1.17.0 since we want to flip that fairly quickly. We hope to release 9.2 before the end of May.

[2018-04-11 22:49] headius commented on #5127
Did this ever work?

[2018-04-11 22:53] brometeo commented on #4968
And the fix will go in 9.2?

[2018-04-11 23:44] headius commented on #2354
This turned out to be easier to fix than it used to be, so I went ahead with it. Java exceptions that bubble out of Ruby threads will now behave like Ruby threads as regards Thread#join, Thread#value, and other exception-aware methods of Thread.

[2018-04-11 23:44] #2354 closed

[2018-04-11 23:58] headius commented on #5098
@asomov @vassilios Testing now!

[2018-04-12 00:07] headius commented on #5098
@asomov @vassilios The 1.21 version of SnakeYAML does indeed fix the performance issue, and requires only minor tweaks to the Psych code. Ship it! 👍

[2018-04-12 00:10] vassilios commented on #5098
@headius thank you for testing it!

[2018-04-12 00:12] headius commented on #5131
Thanks for the test case! Looking into it for a few minutes this evening...

[2018-04-12 00:26] headius commented on #5131
Oddly enough, the following change appears to fix the problem. It seems to match similar logic in MRI that accesses `owner`, as well as logic in our own RubyModule that does the same.

I'll push the change and hopefully you can confirm it's working for you tonight.

If we can narrow this down to a piece of code that does not depend on minitest, it would be great to add a spec to https://github.com

[2018-04-12 00:31] #5131 closed

[2018-04-12 00:40] headius commented on #5115
Oh yes, you did! I only looked at the servlet context...did not see the full system properties later.

Unfortunately it appears that the error went to a different log. I believe we always dump these Java exceptions during load to whatever the error stream of the JRuby runtime is. Offhand I do not recall where that goes with jruby-rack. Assuming it did print, you should be able to grep other logs f

[2018-04-12 00:57] JasonLunn commented on #5115
Found the following in `catalina.out`:

[code]

[2018-04-12 00:57] headius opened #5135 "Stop wrapping Java exceptions with LoadError"
In looking at #5115, I realized we are still wrapping Java exceptions that bubble through a `load` or `require` with a new `LoadError`. The only way to see the original exception is to pass `-d` to JRuby and capture stderr so you can see the actual exception's stack trace.

[code]

We need to do a better job reporting these exceptions, since they usually will indicate a load-time bug in some calle

[2018-04-12 00:59] headius commented on #5134
This is most likely a bug. I believe we are only looking for `MainExitException` to provide an error code, when we should also be checking for signal exceptions that get reported in return code.

[2018-04-12 01:24] #5134 closed

[2018-04-12 01:24] headius commented on #5134
Ok, I pushed a simple fix for this to master. It should be producing the right return codes for SignalException now.

@perlun I don't think there's a spec for this. Can you add one?

[2018-04-12 01:25] headius commented on #5134
Fixed for 9.2.

[2018-04-12 01:38] headius commented on #4872
Sorry for delays here...I have not found any likely cause for this issue yet.

Perhaps you could gist the output of `jruby -J-verbose:jni -e 1`?

Also provide the output of running with `jruby -Xnative.enabled=false`. If it's the same, then we must be falling back on the pure-Java process logic, which could lead to a bogus pid like this.

[2018-04-12 01:39] headius commented on #5132
Oops!

[2018-04-12 01:54] headius commented on #5132
Ok, I've committed a fix for this to our `jruby.bash` script, which becomes the `jruby` and `ruby` commands in the JRuby tarball.

I also confirmed that the native `jruby` executable provided by the `jruby-launcher` gem does not appear to have this bug.

[2018-04-12 01:54] headius commented on #5132
I suppose we should have a test for this...probably in test_command_line_options? And perhaps another in https://github.com/jruby/jruby-launcher?

[2018-04-12 01:55] headius commented on #4968
@brometeo I sure hope so :-)

[2018-04-12 02:05] headius commented on #5115
I don't believe I asked...is this a recent regression? In other words, did it work in 9.1.15 or an earlier version?

The exception you found is exactly what I was looking for. Something about the way we are invalidating a particular class hierarchy is causing a concurrency error, either because it is not sufficiently protecting itself from other threads, or because it is improperly manipulating so

[2018-04-12 03:06] mkristian commented on #5127
@headius I did try one or two jruby-1.7.* versions and it did not work there. so I assume it never worked.

[2018-04-12 04:07] JasonLunn commented on #5115
The `master` branch of our application is on `9.1.7.0` and I haven't seen it there, however I'm in the process of upgrading said app from Rails 4.2 to 5.1, and upgrading JRuby came along for that ride, so there have been many shallow changes from the known stable configuration.

Does `jruby.compat.version` = `1.9` do anything (good?) in JRuby 9K? I am pretty sure that has been in our `warbler.rb`

[2018-04-12 05:41] amarkowitz commented on #5131
Heya, @headius!  I spent a little time this evening and I *think* I was able to boil down the test case a bit.  The initial test case for some reason doesn't fail until the second time the `instance_method` is attempted to be bound, however here's what I'm hoping is a simpler test case:

[code]

The code is a bit contrived, but I'm pretty sure this is what mocha and minitest are doing behind the s

[2018-04-12 05:55] perlun commented on #5134
@headius Thank you for that! In return, I added the spec that you suggested: https://github.com/ruby/spec/pull/596

(It fails on jruby 9.1.16.0. Haven't tested with jruby master, but running `rvm install jruby-head` now so will check once it's done.)

[2018-04-12 06:28] perlun commented on #5134
I tested now with `jruby-head`. Unfortunately, there still seems to be some issues:

[code]

These issues are closely related, but they probably are in the `Process::Status` class. Do you want me to file another issue about it or can we reopen this one?

[2018-04-12 08:58] kares commented on #5135
+1 have been using the native exception Java cause wrapping in RaiseException in a few places already.
mostly out of JRuby itself as well - AR-JDBC, JOSSL. maybe designing some explicit API could be handy ...

[2018-04-12 13:01] headius commented on #4330
I understand this has been frustrating. I'm going to pin this to my todo list and try to get refinements working better for 9.2, which we hope to release in about a month.

The wiki is publicly editable...please feel free to add refinements as a topic on that page.

[2018-04-12 13:08] headius commented on #5115
No, `jruby.compat.version` does not do anything anymore (ignored), and JRuby 9.1 supports only Ruby 2.3.

Are you able to boot the Rails app on its own, outside of Tomcat?

At this point the best I can do is to eyeball the related code and see if I can divine a path through it that might lead to this exception. The big missing bits of information are:

* how many threads might be attempting to loa

[2018-04-12 13:56] headius commented on #5115
I may see how this error could be triggered. The concurrent modification is happening against a set of subclasses. That set is itself synchronized (on a per-call basis) but iteration would not be covered by that lock. A thread iterating this list while a subclass is simultaneously removed could trigger the error.

[2018-04-12 13:58] JasonLunn commented on #5115
I just discovered `Rails.application.executor.wrap` last night (how did it not get so much as mention in Rails' 5.0 upgrade guide?!?), so at the moment I'm pursuing this as a possible manifestation of a race between threads at startup autoloading things in an unsafe way. I've updated the same branch where I've already upgraded JRuby and Rails to wrap all of our explicitly created threads' bodies w

[2018-04-12 14:04] headius commented on #5115
@JasonLunn Ok, that sounds like a good lead.

I have also managed to easily reproduce this same exception by following my hunch above:

[code]

This script almost immediately produces the same exception you reported:

[code]

I am exploring possible fixes. This is a touchy area, so I can't just go throwing locks around.

[2018-04-12 14:45] headius commented on #5115
I've made a PR using a public domain "ConcurrentWeakHashMap" I found that was designed by the java.util.concurrent folks. It allows concurrent traversal and modification, but there are some caveats.

[2018-04-12 14:46] headius commented on #5115
Oh, I also tried another approach on JRuby master: using Java 8 streams to iterate through the subclasses set rather than external iteration. It did not appear to fix the bug.

[2018-04-12 15:07] headius commented on #5127
I guess my next question is: how should it work? Obviously we can't shell out to a command with a classloader current directory. Perhaps it should simply default to actual (JRuby) current directory if the current dir is a non-file URL?

[2018-04-12 15:45] #5132 closed

[2018-04-12 15:48] headius commented on #5078
@raphaeltelatim I'm going to tackle this one since we're getting close to 9.1.17 release time. If you started on it, let me know.

[2018-04-12 18:19] jsvd opened #5138 "jruby > 9.1.13.0 crashing on bundler when certain jvm flags are enabled"
The following crashes on jruby 9.1.16.0 but not on 9.1.13.0:

[code]

JRuby 9.1.16.0 raises a NoMethodError exception on a nil object while 9.1.13.0 works correctly (i.e. expected `Bundler::GemNotFound` exception).

This happens only when both `-X-C` and `-J-Djruby.jit.threshold=0` are enabled. Dropping either one will trigger the normal GemNotFound exception.
Also, a newer bundler (like 1.16.1) d

[2018-04-12 18:39] #5078 closed

[2018-04-12 18:45] headius commented on #5078
I have fully updated the Numeric#step and Numeric#step enumerator size logic from MRI 2.3 (for 9.1) and MRI 2.5 (for 9.2).

[2018-04-12 18:49] headius commented on #4877
No feedback for four months, closing for now. If you can provide a simple reproduction, we can reopen. Or if you can't find a simple reproduction and this is still blocking you...we'll consider it 😄

[2018-04-12 18:49] #4877 closed

[2018-04-12 19:24] headius commented on #5126
I'm going to bump this to 9.2 so we have time to review these CVEs. We could use some help figuring out which ones might affect JRuby...they hide the related commits rather well.

[2018-04-12 19:29] headius commented on #5082
I have not had a chance to look into this further. @enebo I do not believe this is a regression...it's likely always been broken on Windows + Java 9 (if we even ran at all on 9 before my recent fixes).

[2018-04-12 19:32] headius commented on #5100
Ok, so first off a bit of pushback: if there's a library reading files from disk and it's not specifying `rb`, that's a bug. I can fix it so it won't translate bare CR, but if it encounters CRLF it's still going to mangle the result. If it specified `rb` you wouldn't run into this problem.

That in my mind downgrades the severity of this bug.

We will, of course, fix the text-mode mangling of CR.

[2018-04-12 19:40] headius commented on #5138
Can you get us a full backtrace with -Xjit.threshold=0? It should show us where this "first" call is happening and we can sort out why it's nil.

[2018-04-12 19:42] headius commented on #5138
Oh also...Bundler 1.9.10 is several years old. Perhaps it simply doesn't work on newer Rubies? Or perhaps this should not be a priority to "fix" in JRuby if a newer Bundler works fine?

[2018-04-12 20:37] rdubya opened #5139 "Time#strftime incorrectly formats sub-second values"
### Environment

 jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a Java HotSpot(TM) 64-Bit Server VM 25.77-b03 on 1.8.0_77-b03 +jit [darwin-x86_64]

java version "1.8.0_77"
Java(TM) SE Runtime Environment (build 1.8.0_77-b03)
Java HotSpot(TM) 64-Bit Server VM (build 25.77-b03, mixed mode)

### Expected Behavior

When building RubyTime objects with a  DateTime object, it should correctly handle string for

[2018-04-12 20:40] enebo commented on #5139
Extra note: The actual behavior part of this is what we are doing in AR-JDBC.  We are unsure if we are constructing this Time instance improperly or our strftime is broken in some way that this code path exposes.

[2018-04-12 20:48] jsvd commented on #5138
backtrace [here](https://gist.githubusercontent.com/jsvd/d15dc213a969f286ec18b65e7dceb725/raw/dd44e3bb61a986d686b9e431ef8d5b7e530690fe/stacktrace%2520with%2520-Xbacktrace.style=full%2520and%2520only%2520-J-Djruby.jit.threshold=0)

I understand it may not work with an old version, I just found it strange that jvm flags trigger a no method exception within a very obscure backtrace (there is no `.fir

[2018-04-12 21:30] enebo commented on #5139
Ok I think this is won't fix.  The formatter relies on dt.getMillisOfSecond() to return millis and we set it to 0 from the parsing code above (which sets either nanos or millis but not both).   So we need both values for our fstrtime method to work.  This is an error in ARJDBC.

[2018-04-12 21:30] #5139 closed

[2018-04-12 21:55] enebo commented on #5127
It also begs whether this creates an interesting security issue.  I think people will be super disappointed that they classfile ruby scripts can no longer execute, but do they really realize they may be exposing a directory they didn't bargain for being in the scope of the system'd command?

A less popular option may be an error unless they bother to set up a proper location to execute.  So specia

[2018-04-13 00:08] headius commented on #5138
Yes, it could indicate a problem that should be fixed.

[2018-04-13 00:17] headius commented on #5138
Sorry, the trace you gave me probably isn't showing what we need...but I have managed to reproduce locally!

[2018-04-13 00:43] headius commented on #5138
Ok, I've figured out the line that's actually causing this. It's in the same method, further down (like line 48 or so):

[code]

I'm not sure why the line number has not been updated for the trace; that would be a separate bug in IR, or possibly only in the full interpreter.

So it gets to this point, but lookup['bundler'] is returning a nil result for whatever reason (and presumably it shouldn't

[2018-04-13 00:47] headius commented on #5138
Ok, I think I can track the line number issue like this...

1. It enters the `until`.
2. It hits the `next` that's on the false line (23 or so) and exits the `until`.
3. Something about the `if a = b[].first ...` logic does not properly update line number before it runs, so we still have the old line number.

That will need to be fixed as a separate issue.

By moving the `lookup['bundler']` to a s

[2018-04-13 01:33] headius commented on #5138
Yeah this seems like some obscure IR bug. I am having trouble locating it, because whatever logging code I add causes the error to move around.

@enebo Maybe you have an idea here? It seems like a variable is not getting assigned the right value, but I can't sort out why.

[2018-04-13 01:34] headius commented on #5138
@jsvd For what it's worth, this combination of flags probably isn't very useful to you. Is there a reason you used them?

[2018-04-13 02:03] headius commented on #5135
Well I can certainly add the cause, but it does not appear to be default behavior in CRuby to print the cause in the top-level exception printout. It's a start, but so far I am not seeing much default logging behavior associated with `Exception#cause`.

[2018-04-13 06:58] asomov commented on #5098
1.21 released.
Please be aware that now [plain scalars are allowed in the flow context.](https://bitbucket.org/asomov/snakeyaml/issues/397/plain-scalars-with-colons-in-flow)
`{foo:bar}` -> `foo:bar -> null`

[2018-04-13 07:10] kares commented on #5135
how about just using the Java `initCause` and having a flag to "long" print cause traces or simply do it with
`-Xexception.style=raw` ... just an idea. most users probably do not want to see Java traces by default ...

[2018-04-13 07:11] kares commented on #5135
(since `initCause` is used in external exts - it would allow traces to "switch" using the feature on as well)

[2018-04-13 10:43] jsvd commented on #5138
@headius we're seeing this in the logstash plugin manager where we optimize for faster startup vs performance because it performs short tasks like install/list/remove plugins. The list of flags (which is more than those just two) was compiled from sources like https://github.com/jruby/jruby/wiki/Improving-startup-time

[2018-04-13 14:50] mkristian commented on #5127
so the problem showed up when I executed a `gzip` which is on the $PATH with an absolute path argument (see maven/jruby-dist/pom.rn) and in this situation it does not really matter which is the CWD of the shell and it does not matter what the CWD of JRuby is.

so I expected it to work like from any real directory.

of course the moment the real CWD plays a role for the shell script things fall apa

[2018-04-13 15:06] enebo commented on #5135
@headius @kares So using cause may interfere with MRI future plans but I bet we could submit it since it sort of sucks to not know why something did not load.  As far as not wanting to see this...It is quite rare an ordinary user would see this in the case of a Java Exception being the cause.  Perhaps we can just display in that case.  I suspect 99% of the time it is an ext developer or us.  Most

[2018-04-13 16:04] enebo commented on #5138
@headius yeah the line number bug is probably a little juggling in IR builder.  It could even be improper line number in ifnode in AST but as you said this is not that issue.

next handling I guess I need to run it as well to get more insight.  Nothing pops out.  It is interesting that JIT works and full interp fails.   The thing is in a simple loop a next gets made into just a jump instr....but w

[2018-04-13 16:06] perlun commented on #2236
The error you get right now looks like this:

[code]

[2018-04-13 16:12] enebo commented on #5127
@mkristian yeah I don't know.  Error could be thrown but how that would change existing code in the wild and expectation of users is probably a big issue with not throwing an Error.  As you said, you were using some command where you did not care which directory it was executed in.  In that case you will angrily (just making this up), "what the hell I don't care about CWD in this case just let me

[2018-04-13 16:29] mkristian commented on #5127
@enebo I will not be angry but I would not know how to fix the build then ;)
best to ignore the CWD in case we have `Dir.pwd.start_with?('uri:classloader:/')`.

[2018-04-13 16:37] enebo commented on #5127
@mkristian yeah I am starting to think so too now.

[2018-04-13 19:54] headius commented on #5135
Both CRuby and JRuby actually the actual exception for syntax errors and any regular Ruby errors that occur during load time. I'm not sure how to cause internal load errors in CRuby, so I can only test what happens when it can't find or load a file, which obviously leads to load errors.

I should be clear...I'd *like* to just get rid of the wrapper altogether. If the Ruby code loads, everything th

[2018-04-13 20:06] headius commented on #5138
@enebo I'm not sure the bogus value has anything directly to do with the next or line number stuff. It seems to move around as I change the code; a value I'll confirm isn't nil from a called method will end up nil a line later in the variable. It's very strange.

[2018-04-13 20:11] headius commented on #5138
Example: in the `for` method in Bundler 1.9.10's spec_set.rb, it makes a call to `lookup` to get a hash of specs. The following logging shows the type of value it returns before it returns. The final NilClass is the same value within `for`, literally the next line. It either never gets assigned properly to the local variable, or it never makes it back through the call pipeline. The former seems mo

[2018-04-13 20:12] headius commented on #5138
Oh, and the output...
[code]

[2018-04-13 21:26] headius commented on #2236
Yeah the main thing keeping Ant in the build is that we're using its Java-launching task throughout our test runs. We need a good replacement for that, one that allows us to customize JRuby and Java opts from callers.

[2018-04-13 21:40] headius commented on #2236
See rakelib/commands.rake for the primary calls to Ant we need to replace. Basically the `java` task in our Ant integration has a set of properties we can set, like classpath etc. Perhaps we fake them by making a look-alike Struct and then peeling out the piece and building our own command line?

[2018-04-13 23:12] headius commented on #5138
Ok, after pairing with @enebo for a while we're working up a theory.

He bisected the regression to a CFG optimization in ffa01515cef2dd24a5b6f90b76c0892b44a2b8b5.

We're still sorting out the details, but my current theory is that the loop eventually ends up with an empty basic block that just dumps off into another block which itself only holds a jump to the loop condition. Because the source bl

[2018-04-14 00:59] enebo commented on #5138
Ok a little dinner and my code just works!  @subbuss can you review this change?

The base problem was that there was an optimization which would merge an empty BB that it falls through to into a second BB.  The issue was that our mergeBB merges the second BB into the first BB.  The second BB has incoming edges from jumps or branches but now the label of those are pointing to a non-existent BB (me

[2018-04-14 00:59] #5138 closed

[2018-04-14 03:16] subbuss commented on #5138
I was trying to figure out how I botched the mergeBBs so badly. Looking at git history, I realized I named it pretty badly and didn't document it properly either. It was only being used to merge straight line basic blocks where this scenario wouldn't have happened. I should have named it mergeStraightLineBBs since it was being used in collapseStraightLineBBs. In ffa0151, you used it without realiz

[2018-04-14 12:52] enebo commented on #5138
@subbuss thanks for checking.  Yeah, I really should have realized we did nothing with incoming edge to 'b' in that method.  I even had another regression earlier and missed that fact the second time I looked at that code.

[2018-04-15 13:16] #3846 closed

[2018-04-15 14:03] MrIssueReporter opened #5141 "Multiple Array#concat calls for single-element array throws ConcurrencyError"
### Environment

[code]

### Expected Behavior

- Initialise an array with a single element, `x`
- `concat` that array to itself twice
- The array should now contain four elements with value `x`

[code]

### Actual Behavior

[code]

[2018-04-16 08:48] kares commented on #3846
have put a 'fix' for this regression in for 9.2 (only), since I have made some other changes to BigDecimal.
... ATM matching up precision with MRI seems impossible without some more refactoring (time put in).
however there's some tests (such as mentioned in the report) that are expected to guard regressing ...

[2018-04-16 08:51] kares commented on #4200
this particular case is expected to be 'fixed' ... precision is still not exactly as in MRI but at least not far off
... a test based on report is also there: https://github.com/jruby/jruby/commit/4b004f10b71d2876bbc2e56054fd9a41c736c328#diff-7d7b709cf82c505e6c22ca0773282e2cR410

[2018-04-16 08:51] #4200 closed

[2018-04-16 12:47] #5141 closed

[2018-04-16 13:49] headius commented on #5138
@enebo In the JIT I use the location in a hash of bytecode labels, so I presume that the target label still exists at the right logical location in the instructions. If it didn't, I'd get to the end of the code with a jump to a label that was never again encountered, and ASM would refuse to emit the bytecode.

@jsvd Note that this fix explains all the odd behavior we saw: line number was off (beca

[2018-04-16 14:01] jsvd commented on #5138
Many thanks @headius @enebo @subbuss for the quick response, and great job tracking the bug down 💪

[2018-04-16 14:42] headius commented on #5100
I believe this is the commit in CRuby that changed from universal newline conversion (which does CR) to CRLF newline conversion (which only does CRLF): f9a6a1dd0c6

I believe most of the remaining plumbing exists in JRuby but this change was missed.

[2018-04-16 14:47] #5100 closed

[2018-04-16 15:02] headius commented on #5100
@thomas- It should be fixed. Unfortunately nightly builds aren't running at the moment, but once they are (or you build yourself) you should be able to confirm it.

Perhaps you could also add a quick spec to https://github.com/spec/ruby?

[2018-04-16 15:06] headius commented on #5133
@yeryer Without a way to reproduce this I think we need your help. Since it regressed between 9.1.14 and 9.1.15, it should be possible to bisect those versions and pinpoint a single responsible commit.

I'm going to bump this to 9.2, since we'd like to get 9.1.17 out very soon, and 9.2 will follow closely after.

[2018-04-16 15:06] headius commented on #5098
@asomov Thank you!

[2018-04-16 15:31] asomov commented on #5098
Is not yet solved ?

[2018-04-16 15:44] headius opened #5142 "New psych failures with 3.0.3 + updated tests."
For #5098 I am about to release Psych 3.0.3 and use it in JRuby 9.1.17. However updating the tests (required because some older deprecated tests no longer load) exposes some failures. These may be regressions in the JRuby part of Psych, but they are more likely one of the following:

* fixes that were made to the C code in Psych but not the Java code
* minor behavioral differences between libyaml

[2018-04-16 15:54] headius commented on #5142
@enebo How concerned do you think we should be putting 9.1.17 out with these failures? I'm not sure how new they are; we have updated Psych a few times without updating tests, and had not seen these failures up until now.

[2018-04-16 16:07] enebo commented on #5142
@headius I guess it depends on how ominous the failures look.  Do they look like someone would be depending on behavior that changed?

[2018-04-16 16:26] headius commented on #5142
@enebo They didn't look too ominous to me, but I'm not sure what some of them are testing. I'll push the excludes shortly.

[2018-04-16 16:28] headius commented on #5142
Ok...so it looks like there's spec failures too. This probably needs to be addressed before we release with the new Psych/SnakeYAML.

I will push a pre gem and a branch to get a complete listing of failures.

[2018-04-16 16:29] headius commented on #5098
@asomov This issue should not be closed until we have an updated Psych pushed for JRuby 9.1.17. It closed automatically (incorrectly) when I made my commit to Psych.

[2018-04-16 16:30] headius commented on #5098
This is going to get pushed post-9.1.17 unless we can address the failures from updating Psych and its tests. I got both Psych test failures and YAML failures in the existing ruby specs.

[2018-04-16 16:36] headius commented on #5098
@asomov Your comment about plain scalars...that may be the cause of some failures. I'm pushing a JRuby branch shortly for #5142 that should show all the new failures. Some appear to be related to scalars.

[2018-04-16 16:47] headius commented on #5098
I have pushed branch [`psych_3_update`](https://github.com/jruby/jruby/tree/psych_3_update) which updates to Psych 3.0.3 that includes the above fixes. We'll need to address the failures before we commit this to a release.

[2018-04-16 16:50] headius commented on #5142
Excludes for MRI failures, should they be useful.
[code]

[2018-04-17 04:14] headius commented on #5142
I removed my patch for excludes since we now have a complete accounting of failures in this build: https://travis-ci.org/jruby/jruby/jobs/367441040

[2018-04-17 22:27] headius opened #5143 "Eliminate static field references to JRuby state"
We are doing an audit of JRuby and related projects looking for static references to JRuby state, since those references can anchor the JRuby instance, the classloader that loaded JRuby, and more.

I have fixed a number of cases for 9.1 in f248488f6a. I fixed a few additional cases on master (9.2) in 95a41f93cf.

Here are my notes on other cases that did not have an easy fix...but they may not be

[2018-04-18 07:45] Tribbles01 commented on #4872
Hi Headius,

I did both commands on the 1.7 and 9.1 version so these can be checked against.

for Version 1.7:
bash-4.4$ ./jruby-1.7.27/bin/jruby -J-verbose:jni -e 1
[Dynamic-linking native method java.lang.Object.registerNatives ... JNI]
[Registering JNI native method java.lang.Object.hashCode]
[Registering JNI native method java.lang.Object.wait]
[Registering JNI native method java.lang.Object.n

[2018-04-18 16:26] JasonLunn commented on #5115
Is [Cloudbees' Jenkins](https://projectodd.ci.cloudbees.com/view/JRuby/job/jruby-development-dist/lastSuccessfulBuild/artifact/release/?auto_refresh=true) down for anyone else? I wanted to try the nightly to see if it would work for me.

[2018-04-18 19:52] omarmarquez commented on #4606
Is this the same bug?
`$ ruby -v
jruby 9.1.16.0 (2.3.3) 2018-02-21 8f3f95a Java HotSpot(TM) 64-Bit Server VM 25.92-b14 on 1.8.0_92-b14 +jit [linux-x86_64]

$ ruby rcv.rb
SocketError: No message available
  block in rcv.rb at rcv.rb:16
             loop at org/jruby/RubyKernel.java:1316
           <main> at rcv.rb:15

$ cat rcv.rb
#!/usr/bin/env ruby
require 'socket'
require 'ipaddr'
BIND_ADDR = "0

[2018-04-19 08:10] SzymonKowalczyk commented on #5060
Thank you for your replay.

As our process take some time I have some updates below:

We run 9.1.16 and there is a progress for huge test environment:

9.1.16 -> 4:20:12
9.1.15 -> 5:03:03
1.7.25 -> 3:55:13

I triggered repeat test on 9.1.16 and just after it I will generate requested dumps on 1.7.15 and 9.1.16.

What is the maturity of 9.2 I can try run test using development version of Jruby.

Re

[2018-04-19 14:56] #5128 closed

[2018-04-19 23:55] headius commented on #4834
Here's a set of opens that gets our build to not warn (it uses 9.1.8.0 during parts). @enebo and I talked today about creating a tool that can analyze the warning output and produce a command line.

[code]