[2014-11-23 11:44] tbruce opened #2226 "JRuby does not follow ObjectInputStream casting convention"
(insert not-a-Java-programmer disclaimer here).

This code:

[code]

seems to be an idiom; the cast invokes the use of a private Blah.readObject method to pull complex objects off the stream .  JRuby, on the other hand, appears to try to cast the first non-primitive object in the stream to type Blah, and can't.

[2014-11-23 20:29] #2078 closed, assigned to headius

[2014-11-24 11:36] guai opened #2230 "Cannot put java number into java.util.concurrent.ConcurrentHashMap"
jruby 1.7.13

Into default jruby map I can put 1.to_java and get back Java::JavaLang::Long
But from ConcurrentHashMap I always got Fixnum
Tried java_send without success

[2014-11-24 13:06] #2224 closed, assigned to nobody

[2014-11-24 14:05] PragTob opened #2231 "Was the --indy cli option removed? (1.7.16.1)"
Hi everyone,

just wondering if I'm extra ordinarily stupid right now or if the `--indy` option doesn't work/is deprecated.

[code]

Cheers + thanks,
Tobi

[2014-11-24 15:03] gmalkas opened #2232 "exceptions thrown by Ruby not propagated to calling Ruby when some Java involved in between"
It seems that exceptions thrown by Ruby code are not propagated to the calling Ruby method when some Java code is involved in between.

Proof of concept: https://github.com/gmalkas/jruby-uncaught-exception-issue/blob/master/not_working.rb

Run the test:
[code]

The previous code should print `Rescued StandardError` twice but does not.

On the other hand, if the rescuing Ruby code is calling the fa

[2014-11-24 15:53] nirvdrum opened #2234 "Change AOT class generation for speedier requires"
Currently, AOT compiled classes are searched by `require` by adding the `.class` suffix to the search strategy.  In the very common case of just using JRuby to execute Ruby (i.e., non-AOT) this means twice as many filesystem lookups and they always fail.  Changing the way AOT file generation works would allow us to speed up requiring files in the dominant use case.

Relevant IRC discussion from No

[2014-11-24 16:00] enebo opened #2235 "Make AOT work on 9k"
In the new runtime we have no AOT support yet.

The solution we decided to use is to leverage IR persistence code (currently mildly bitrotted) to save/load the IR for whatever we are AOT'ing.  This has an interesting side-effect of working 100% of the time (since IR can interpret any saved IR) as opposed to the old AOT support which might fail if a method or body is too large.  It has a downside i

[2014-11-24 16:02] headius opened #2236 "Ant must be installed to run rake targets, but we don't use ant anymore"
Several of our build targets in rake depend on 'ant' library, for example to exec a subprocess JVM for test runs. This is an additional build dependency above and beyond Maven, and ideally we'd get rid of it or have the bootstrap put ant somewhere we can use it.

[2014-11-24 17:52] headius opened #2237 "Joda exceptions recently in mri/ruby/test_time.rb"
Two exceptions I'm seeing for the same test. Unsure why they're different, and unsure why they're happening recently:

Locally for me on Java 7:

[code]

On CI, all Java versions I believe:

[code]

I saw that @cheald made some fixes for similar errors but I'm not sure what the right thing to do is here. Since I'm just trying to get the build green right now, I'm excluding this...but it needs to b

[2014-11-24 20:56] byteit101 opened #2239 "JRuby script engine mucks with parent globals"
When in a ruby context, creating a new ScriptEngineManager and getting the jruby engine from it resets enclosing context's globals to nil, as does setting new bindings:

[code]

[2014-11-25 08:15] PragTob opened #2240 "stdlib: TCPServer#shutdown raises ENOTCONN"
Hi everyone :)

So I've been implementing some TCPServer stuff and I noticed an oddity/incompatibility between JRuby (1.7.16.1) and CRuby (2.1.5). Take this simple script:

[code]

It runs just fine on CRuby, as I'd expect but it raises `ENOTCONN` on JRuby: `Errno::ENOTCONN: Transport endpoint is not connected - Socket is not connected`

Just checked jruby-head - it's also broken there.

That's a

[2014-11-25 14:35] rdp opened #2243 "poor error message when unable to create parent class"
ex:
install ubuntu, install default-jre-headless

run this:

https://gist.github.com/rdp/b25a0483c196c856c33a

require 'java'

class A < javax.swing.JFrame

def initialize _args
super(_args)
end
end

A.new

expected output:

Java::JavaAwt::HeadlessException exception (which is generated with a straight javax.swing.JFrame.new call)

current output:

jruby  ArgumentError: Constructor invocation fail

[2014-11-25 19:37] #2226 closed, assigned to nobody

[2014-11-26 01:30] ahorek opened #2244 "Compilation error, cannot find symbol (windows, 9K)"
This code fails during compilation, because com.sun.security.auth.module.UnixSystem() is not present on windows
https://github.com/jruby/jruby/blob/master/core/src/main/java/org/jruby/RubyProcess.java#L579

[code]

Possible solution:
http://www.snip2code.com/Snippet/120893/Safer-option-to-getting-the-current-user

[2014-11-26 01:42] phrinx opened #2245 "ConcurrencyError interrupted waiting for mutex: null"
While running concurrent sidekiq jobs (with 75 threads configured on my machine) whereby some of them attempt to log errors I see once in a while the following stacktrace (the app was packaged as a executable jar with warbler):

[code]

[2014-11-26 10:52] guai opened #2246 "hangs on regexp match"
jruby 1.7.13, 1.7.16.1
win 8
java version "1.7.0_67"
Java(TM) SE Runtime Environment (build 1.7.0_67-b01)
Java HotSpot(TM) 64-Bit Server VM (build 24.65-b04, mixed mode)

This regexp hangs when trying to match contents of this file https://www.dropbox.com/s/5r87ytz7cr0bkqh/PollerConfigurationProvider.ru?dl=0

[code]

As you can see it wont match. `nothing => ''` in regexp vs `:nothing => %{}` in t

[2014-11-26 13:20] aportnov opened #2247 "RuntimeException from JIT"
It is not very consistent, but once in a while I am getting a RuntimeException like this:

[code]

If I restart server, it is usually working fine.

This is my command line running on jruby-1.7.2 :

[code]

[2014-11-26 21:19] andrewvc opened #2248 "installClassFields NPE"
I'm getting the following exceptions with the march_hare gem, which seems to
be a Jruby internal error. This seems to be an internal jruby error. I've
posted the stack trace below. I'm running jruby 1.7.16.1, on JRE
1.8.0_40-internal-b09

There are two different, but similar ones, both listed below:

[code]

And the second

[code]

[2014-11-26 22:11] phrinx opened #2249 "Improve error message when adding file to X509Store fails"
I'm currently trying to investigate an multi-threading issue with JRuby 1.7.16 environment where faraday/httpclient fails to load the CA file under some condition which is difficult to reproduce in development. Unfortunately it's not exactly clear to me what happens here since the error message does not tell anything about the root cause but the configured ca_file definitely exists in my case. It

[2014-11-27 01:53] nirvdrum opened #2250 "Flaky tests on Travis"
I've seen the following tests fail sporadically over the course of today:

[code]

[code]

[code]

I didn't see an easy way to tag them out for now.  But it'd be nice to keep the builds green if the failures are benign.  Some of the Fiber ones might be legitimate, however.

[2014-11-27 14:26] donv opened #2251 "Add unlimited strength cryptography to JRuby Rails template"
Rails will not start under JRuby with Java 8 unless you either download and add some JARs from a ZIP (from Oracle) file or add the following initializer:

[code]

Adding the initializer should be done by the JRuby Rails template.

[2014-11-27 14:49] #2247 closed, assigned to nobody

[2014-11-28 17:14] eregon opened #2254 "Ripper.lex support for imaginary and rational suffix numbers"
Currently, the ouput of `Ripper.lex` is incorrect for imaginary and rational suffix numbers.

[code]

But I recently fixed the RubyLexer for imaginary floats in 3e995ac7a31.

[2014-11-28 17:21] #2249 closed, assigned to mkristian

[2014-11-29 03:03] chrisseaton opened #2255 "Fixnum instance variable behaviour incorrect"
JRuby seems to let you set instance variables on `Fixnum`, where in MRI this is an error. Can be demonstrated with both `instance_eval` and normal methods.

[code]

[2014-12-01 00:52] mpapis opened #2256 "use concat(+join) for +="
at start I want to accent this is also slow in MRI:

[code]

with result:

[code]

I understand that the `[]+[]` has to create copy of array, but for `[]+=[]` I expect it to behave like `concat`, not sure if this can or should be optimized.

opening first here, will follow with a ticket for MRI if it can be improved.

[2014-12-01 09:49] AlBundy33 opened #2257 "Is it possible to store global variables only in current context?"
In the example below the second execution uses global variables from the first one.
Is it possible to store global variables in the scriptcontext instead in the default-context of the engine?

We are executing a lot of scripts in our application an need to ensure that they have a "clean" context.
Our corrent workaround is to reset global variables after script-execution but this has the side-effec

[2014-12-01 12:42] #2079 closed, assigned to nobody

[2014-12-01 16:50] #2256 closed, assigned to nobody

[2014-12-02 00:53] #2231 closed, assigned to nobody

[2014-12-02 07:06] mmustala opened #2258 "Encoding issue with backticks"
Hi,

I created a reduced example of when the encoding is not correct when using the backticks.

[code]

Passing the file name into the backticks with #{} is the key. When the file name is written directly into the code like this

[code]

there is no issues.

This relates to https://github.com/thoughtbot/cocaine/pull/72 and https://github.com/thoughtbot/paperclip/issues/1702

[2014-12-02 07:25] jordansissel opened #2259 "File.basename can return a string with a different encoding than the input"
-    Under MRI File.basename("/foo/bar/hello world".force_encoding("Windows-31J").encoding.to_s reports "Windows-31J".
-    Under JRuby 1.7.16.1, the same code reports "UTF-8"

Having the returned string be different encoding than the input string to File.basename seems like a bug.

---

Full reproduction:

[code]

Code:

[code]

[2014-12-02 10:29] chrisseaton opened #2260 "Use of Unix security module breaks build on Windows"
Commit be985269819653e95db83a97d96aa615308bbbdb breaks the build on Windows, as I think `com.sun.security.auth.module.UnixSystem` is not available.

`RubyProcess.java:[579,61] error: cannot find symbol`

Solution is to use reflection to load the class.

Already discussed with @cheald - opening issue to track.

[2014-12-02 13:46] headius opened #2261 "Thread poll may raise exceptions, but IR doesn't like it"
thread_poll definitely is expected to raise exceptions. That's really all it does.

[code]

[2014-12-02 13:53] #2208 closed, assigned to headius

[2014-12-02 14:04] headius opened #2262 "Explore raw park/unpark for fiber handoff"
Recently I opened a discussion on the concurrency-dev list, at first to investigate a possible bug in LockSupport.park, and later as a more general discussion about mechanisms for explicitly (and efficiently) handing off control from one thread to another. http://cs.oswego.edu/pipermail/concurrency-interest/2014-December/013209.html

The tl;dr is that most folks agree a direct LockSupport.park/unp

[2014-12-02 16:41] rtyler opened #2263 "Investigate using Jenkins for pull request testing"
[Using the Redhat Jenkins Enterprise](https://projectodd.ci.cloudbees.com/view/JRuby/) we should investigate using Jenkins for pull request testing on multiple platforms to see whether we can get more reliable results than what we're seeing in Travis

[2014-12-02 17:56] #1768 closed, assigned to nobody

[2014-12-02 17:57] #2060 closed, assigned to headius

[2014-12-02 18:18] #1983 closed, assigned to mkristian

[2014-12-02 18:43] #1758 closed, assigned to headius

[2014-12-02 19:30] #2040 closed, assigned to nobody

[2014-12-02 19:31] ghost opened #2264 "Illegal hex characters in escape (%) pattern"
Result: https://gist.github.com/johnmuhl/5158e0e4a9418bcfb53e

[code]

[code]

[2014-12-02 19:53] #2264 closed, assigned to headius

[2014-12-02 20:38] headius opened #2265 "Improper access of Psych::Syck in travis-tasks"
https://travis-ci.org/travis-ci/travis-tasks/jobs/42779088#L227

I _would have_ thought there is something in newer Psych trying to access Syck for some reason, but the only references to Syck I could find are in RubyGems. Something odd going on here.

[2014-12-02 20:39] headius opened #2266 "OutOfMemoryError running travis-core specs on jruby-head"
https://travis-ci.org/travis-ci/travis-core/jobs/42781011

Does look like a valid OOM. I have not invesstigated further.

[2014-12-02 21:04] BanzaiMan opened #2267 "TypeError during DB migration with jruby-head on travis-logs"
https://travis-ci.org/travis-ci/travis-logs/jobs/42786675#L188

[code]

Looks like it is using sequel 4.0.0. (See [`Gemfile.lock`](https://github.com/travis-ci/travis-logs/blob/05a38c8/Gemfile.lock).)

[2014-12-02 21:46] #1547 closed, assigned to headius

[2014-12-02 21:47] #1290 closed, assigned to headius

[2014-12-02 23:47] headius opened #2269 "9k dist filenames changed again"
It appears that the 9k dist files now use the version number 9.0.0.0-SNAPSHOT instead of 9.0.0.0.dev. I don't see a problem with this except that we've had to update ruby-build once already for the new filenames. We need to decide on the name we're going to use for snapshot artifacts and stick to it.

cc @enebo @mkristian @rtyler @nirvdrum

[2014-12-03 03:27] #2234 closed, assigned to headius

[2014-12-03 05:07] headius opened #2270 "DataFlowProblem and subclasses retain too much memory after running"
I am investigating jruby/jruby#2266 and have found that there are large numbers of HashMaps and other data structures kept alive by IRScope.dfProbs. On my system, running travis-core tests, JRuby 9k retains around 250MB more memory than JRuby 1.7.16 throughout the suite, causing the OOM (because the suite was already dangerously close to max).

Do we need to retain all data within these problems a

[2014-12-03 13:38] #2216 closed, assigned to nobody

[2014-12-03 15:59] #1791 closed, assigned to nobody

[2014-12-03 16:31] #971 closed, assigned to BanzaiMan

[2014-12-03 16:31] #1845 closed, assigned to nobody

[2014-12-03 17:32] electrical opened #2272 "[Jruby-9k] Java::JavaLang::StackOverflowError when running bundle install"
With the logstash project we are trying out Jruby-9.0.0.0
One of our tasks is failing with the latest available build.

Version: jruby 9.0.0.0.dev-SNAPSHOT (2.2.0p0) 2014-11-18 0cfdfe5
Trace: https://gist.github.com/electrical/ad1917c0469c7dee3b68

Repo steps:
1. rbenv/rvm set to jruby snapshot
2. git clone https://github.com/elasticsearch/logstash
3. `USE_RUBY=1 rake bootstrap` in the logstash pr

[2014-12-03 19:59] #2258 closed, assigned to nobody

[2014-12-04 14:44] #166 closed, assigned to nobody

[2014-12-04 17:01] #2269 closed, assigned to nobody

[2014-12-04 20:30] #2153 closed, assigned to nobody

[2014-12-04 22:14] #1875 closed, assigned to headius

[2014-12-05 07:05] #2209 closed, assigned to nobody

[2014-12-05 07:48] headius opened #2276 "$CLASSPATH changes regressed spec:ji"
I don't have an explanation for it, but the commits 76a514eb6d123b16b7c6ab8b5654dccfacf68047 and/or 83044c2c062e5cd0c67f71b7ebf4ab739aa9ccc2 caused spec:ji to regressed in [spectacular fashion](https://travis-ci.org/jruby/jruby/jobs/42904114). The errors indicated some terrific classloader problem leading to multiple versions of JRuby core classes to collide. This only appears to happen on master;

[2014-12-05 11:05] #2276 closed, assigned to nobody

[2014-12-05 11:14] mkristian opened #2277 "become_java classes are not in general part of Thread.current_thread.getContextClassLoader"
this tests
https://github.com/jruby/jruby/blob/master/spec/java_integration/reify/become_java_spec.rb#L111
fails unless it is run via org.jruby.Main where the `Thread.current_thread.getContextClassLoader` is set to `runtime.getJRubyClassLoader`.

the very same code will fail on servlet engines or whenever jruby has nothing to do with `Thread.current_thread.getContextClassLoader` like OSGi containe

[2014-12-05 14:50] lupine opened #2279 "Resolver failing on IPv6-only hosts"
Basic test case:

jruby -e 'require "resolv" ; Resolv::getaddresses("auth.bytemark.co.uk")'

On a machine with v4 networking turned off, and a valid /etc/resolv.conf containing only v6 resolvers, this hangs (no CPU usage, DNS queries going out and coming back) for a very long time before eventually raising  `#<Resolv::ResolvError: no address for auth.bytemark.co.uk>`

Here's a ctrl+\

[code]

[2014-12-05 16:16] solnic opened #2280 "OpenStruct equality potential bug"
## TEST

[code]
## RESULT ON MRI 2.1.5p273

[code]
## RESULT ON JRUBY 1.7.16 (1.9.3p392)

[code]

[2014-12-05 22:39] #1869 closed, assigned to nobody

[2014-12-06 00:10] chrisseaton opened #2283 "Regexp#source behaviour has changed in MRI 2"
It looks like the `Regexp#source` behaviour changed has in MRI. I couldn't immediately see how to fix this. It doesn't appear to be covered by RubySpec yet.

[code]

[2014-12-06 11:14] #2055 closed, assigned to nobody

[2014-12-06 11:22] #2222 closed, assigned to nobody

[2014-12-06 11:38] subbuss opened #2284 "Buggy IR built for const lookup instr inside a stabby lambda"
Reproducible with this simple snippet:

[code]

The IR built for the lookup of C is:

[code]

Notice the %v_1 use without a corresponding definition for it.

This is the source of the two travis-core failures seen in https://travis-ci.org/travis-ci/travis-core/jobs/42825525

[2014-12-06 12:25] #2284 closed, assigned to nobody

[2014-12-06 19:09] nateberkopec opened #2286 "Loading some constants twice with Rails 4.2.0.rc1 and postgres"
On JRuby 1.7.16.1, running Rails 4.2.0.rc1, I get the following when starting Rails:

[code]

[2014-12-08 19:58] #1752 closed, assigned to headius

[2014-12-08 20:58] #1035 closed, assigned to nobody

[2014-12-08 23:38] nirvdrum opened #2289 "Incorrect exception type for bad reference."
While digging through some stuff for Truffle, I came across an issue when calling an undefined variable or method.  MRI raises a NameError.  JRuby and Rubinius raise a NoMethodError.

[code]

[code]

[code]

[code]

[2014-12-09 00:45] jhart-r7 opened #2290 "Add Apache Karaf Modules"
http://karaf.apache.org/manual/latest-2.2.x/users-guide/remote-console.html

There is a default karaf/karaf user available by default in 2.x - 4.x that can be accessed over an SSH instance on 8081/TCP.  The shell is a Karaf wrapper that allows everything from shell commands to OSGI stuff and gathering system information.  Numerous useful modules could come from this.  Write them.

[2014-12-09 03:37] djberg96 opened #2291 "Dir[] fails if path does not exist instead of returning nil"
jruby 1.7.16 (1.9.3p392) 2014-09-25 575b395 on Java HotSpot(TM) 64-Bit Server VM 1.7.0_07-b10 +jit [Windows 7-amd64]

MRI returns nil if you pass a non-existant path to Dir[]. However, JRuby gets quite upset:

[code]

[2014-12-09 18:10] djberg96 opened #2293 "uintptr_t is wrong size on 64-bit JRuby"
Also posted here: https://github.com/ffi/ffi/issues/396

I noticed that a 64-bit JRuby is handling :uintptr_t incorrectly. It should give me an 8 byte pointer, but I'm getting a 4 byte pointer instead:

    # 64-bit MRI returns 8, but a 64-bit JRuby returns 4
    FFI::MemoryPointer.new(:uintptr_t).size

My workaround for now is this:

    if RUBY_PLATFORM == 'java' && ENV_JAVA['sun.arch.data.model

[2014-12-09 19:26] elyscape opened #2294 "String#crypt fails on Windows"
[code]

Windows doesn't offer a native libcrypt, so MRI uses its own custom implementation of the awful basic DES crypt(3).  As such, it probably makes sense to fall back to the Java implementation that was used in previous versions of JRuby.

[2014-12-09 20:43] jeremyevans opened #2295 "Regexp.union [] gives wrong result in ruby 1.8 mode"
With jruby 1.7.17 (and going back at least to 1.7.6 and probably longer), `Regexp.union []` in ruby 1.8 mode gives `//` instead of `/(?!)/`.  In ruby 1.9 mode, it gives `/(?!)/`.  MRI 1.8.7 behavior is `/(?!)/`.  So instead of the regexp matching nothing, this bug makes the regexp match everything.

While not a security vulnerability itself, this can potentially cause security vulnerabilities, if

[2014-12-09 20:47] phrinx opened #2296 "NullPointerException with JRuby 1.7.17 running rspec & simplecov in debug mode"
I've upgraded from jruby 1.7.16 to 1.7.17 today and ran into a NPE which seems to be regression in the latest release.

Example:

[code]

To reproduce this error, I've create a minimal project:https://github.com/phrinx/debug_issue_jruby_1_7_17.

It seems the culprit here is 'simplecov' commenting out the block at https://github.com/phrinx/debug_issue_jruby_1_7_17/blob/master/spec/spec_helper.rb#L3

[2014-12-10 00:00] rtyler opened #2297 "File.executable? raises an exception if the `file_path` is non-existent and native disabled"
[code]

[code]

And of course, on JRuby 1.7.17:

[code]

[2014-12-10 00:25] phrinx opened #2298 "Open3.capture3 still broken in JRuby 1.7.17"
This one seems related to https://github.com/jruby/jruby/issues/1290 which has been closed and is supposed to be fixed in JRuby 1.7.17

[code]
# capture3 in MRI (works):

[code]
# capture3 with 1.7.17 (fails):

[code]

[2014-12-10 02:03] nirvdrum opened #2299 "Improve FFI::Function can wrap a blocking function spec"
The spec for FFI::Function wrapping a blocking function has proven to be problematic on Travis, where tests can take longer than the 1 second threshold.  One "fix" is to increase the threshold.  In speaking with @tduehr, this whole spec seems bad though and thus should be revisited.

For posterity, here is the failure from https://travis-ci.org/jruby/jruby/jobs/43403371:

[code]

[2014-12-10 02:20] nirvdrum opened #2300 "Remove 1.8 evalScope from 9k"
Ruby 1.8 had some weird behavior around two disjoint evals sharing the same binding if in the same lexical scope.  While most of 1.8 has been excised from 9k, some vestiges from this old behavior still exist and should be removed.

[2014-12-10 10:41] os97673 opened #2301 "unable to get value of object's fields in RubyMine debugger"
Originally filed agains RubyMine (https://youtrack.jetbrains.com/issue/RUBY-15864)
Users basically unable to see value of object's fields.
Here is a simple example which shows how we (ruby-debug-base) try to get value of fields.
It looks like a bug for me, but if it is not please suggest a way to implement similar functionality for jruby.

[code]

[2014-12-10 11:15] #1237 closed, assigned to mkristian

[2014-12-10 14:25] enebo opened #2302 "Update JRuby 1.7.x to latest PL and default gems"
pl551 and RG 2.4.5.

[2014-12-10 14:54] #2294 closed, assigned to nobody

[2014-12-10 15:22] #2297 closed, assigned to nobody

[2014-12-10 15:32] #2280 closed, assigned to nobody

[2014-12-10 15:42] #2295 closed, assigned to nobody

[2014-12-10 16:17] #2048 closed, assigned to nobody

[2014-12-10 18:26] jaydonnell opened #2304 "Unable to use JRuby with google app engine due to use of sun.misc.Unsafe"
Google App Engine does not allow use of sun.misc.Unsafe, and recent versions of JRuby appear to depend on it. Is there (or can there be) a workaround, or will JRuby be unusable on app engine going forward?

[2014-12-10 18:41] #2298 closed, assigned to headius

[2014-12-10 19:44] #1941 closed, assigned to nobody

[2014-12-10 20:25] #2302 closed, assigned to nobody

[2014-12-10 21:24] #2259 closed, assigned to headius

[2014-12-10 22:56] #2246 closed, assigned to nobody

[2014-12-10 23:12] #2290 closed, assigned to nobody

[2014-12-11 13:11] #2296 closed, assigned to mkristian

[2014-12-11 13:30] guai opened #2305 "__callee__ behaves differently from MRI"
jruby 1.7.13 and 1.7.16.1 both in --2.0 mode

[code]

They must not be equal.

[2014-12-11 15:07] enebo opened #2307 "ConstantCompilationTest.testContainerCompilation regression"
CompileMode.FORCE is blowing up in 1.8 mode when trying to compile java/jruby.rb.  I changed this test to 1.9 mode for now so the CI is green.  I strongly suspect the JIT changes for symbols supporting encodings.

[2014-12-11 16:25] #2307 closed, assigned to nobody

[2014-12-11 21:03] #2172 closed, assigned to nobody

[2014-12-11 21:26] deployable opened #2308 "IO.read(bytes) behaves differently to MRI on Windows"
From issue: https://github.com/djberg96/ptools/pull/23#issuecomment-66496525 @djberg96 found a behaviour difference in JRuby to MRI

MRI [documents IO#read behaviour](http://www.ruby-doc.org/core-1.9.3/IO.html#method-i-read)

It appears JRuby doesn't track  MRI behaviour on Windows when specifying a byte length to read  (`f.read(bytes)`). MRI changes to binary mode. JRuby still does the line end c

[2014-12-12 14:42] #2304 closed, assigned to nobody

[2014-12-12 16:03] dalizard opened #2310 "ArgumentError: "+HH:MM" or "-HH:MM" expected for utc_offset"
Hello!

I am not 100% if this needs to be handled by JRuby or ActiveSupport, but here is the problem.

[code]

[code]

The problem basically is coming from the fact that MRI handles `nil` cases of the passed utc_offset parameter, while JRuby does not. What do you think should be the proper behaviour here?

[2014-12-12 21:18] nirvdrum opened #2312 "Encoding.compatible? affected by call order"
EncodingService has two lookup tables.  One takes an Encoding's index and returns a RubyEncoding.  This table is lazily created.  A single Encoding may be used by multiple RubyEncodings.  One such case is with "GB2312" and "EUC-KR".  Whichever gets loaded first will occupy the spot in the table and the other will resolve to that RubyEncoding.

Examples:

[code]

[code]

[2014-12-12 22:24] BanzaiMan opened #2313 "Consider dropping OracleJDK 8 for now, and move builds to container-based Travis CI"
See http://docs.travis-ci.com/user/workers/container-based-infrastructure/ for more details.

Right now, the master branch dropped (https://github.com/jruby/jruby/commit/8ddeaafec725d650688c019b10644b86c00dd8b6) Oracle JDK 8, which requires the `sudo` privilege.

This opens up a possibility to move to the container-based backend on Travis CI. See the document above for what this implies.

In our t

[2014-12-12 23:32] jeremyevans opened #2314 "Infinite loop when using mutually-referential constants"
The following code appears to cause an infinite loop in JRuby 1.7.17 (OpenBSD) and 1.7.6 (Windows):

[code]

Calling that `a` method causes the CPU to go to 100%, and requires a `kill -9` to kill the process.

[2014-12-12 23:41] mjc opened #2315 "CSV::Row does not have .to_h"
jruby 1.7.17

[code]

jruby 9k (7a66d8b)

[code]

This works on MRI 2.1.0 and possibly older versions as well - it creates a hash with the headers of the CSV as the keys.

[2014-12-13 14:43] ghost opened #2316 "I/O calls do not invalidate `String#ascii_only?` cache"
See rubinius/rubinius#3236 reproducable with JRuby 1.7.17 and master.

[2014-12-13 19:42] djberg96 opened #2318 "Several uninitialized and shadow variable warnings"
jruby 1.7.16 (1.9.3p392) 2014-09-25 575b395 on Java HotSpot(TM) 64-Bit Server VM 1.7.0_07-b10 +jit [Windows 7-amd64]

[code]

Found when running tests for the net-ping gem.

[2014-12-15 13:16] rkh opened #2319 "JRuby 9000: const_defined? does not support nested constants"
[code]

[code]

[2014-12-15 13:33] rkh opened #2320 "JRuby 9000: Arity issues with define_method and keyword arguments"
[code]

The following works:

[code]

However, if `foo` is defined from a `Proc`, it raises an `ArgumentError` (which it doesn't on MRI):

[code]

It's expected to also return `{:x=>42}`.

[2014-12-15 14:40] k77ch7 opened #2323 "failing GH-652 spec file on current master"
GH-652 spec file does not pass on current master. My UTC offset is +09:00.

On current master:
### Command
[code]

### Results
[code]

[2014-12-15 17:17] headius opened #2324 "Array#flatten! call in java_import breaks if we import a class with static to_ary"
I attempted to java_import [org.jruby.util.TypeConverter](https://github.com/jruby/jruby/blob/master/core/src/java/org/jruby/util/TypeConverter.java) and ran into this error inside Array#flatten! logic:

[code]

The cause: flatten attempts to coerce elements to Array by calling to_ary with no arguments, but TypeConverter defines a static utility method to_ary(ThreadContext, IRubyObject).

The asso

[2014-12-15 18:28] #2315 closed, assigned to headius

[2014-12-15 18:59] #2316 closed, assigned to nobody

[2014-12-15 20:03] #2310 closed, assigned to headius

[2014-12-15 21:53] Zapotek opened #2325 "undefined method `define_method' for main:Object"
`define_method` doesn't seem to be defined for the main object. It has been available since `ruby-2.0.0-p0` at least and `jruby -v` for `1.7.17` says it aims for `2.0.0p195` so I think that it should be included.

Cheers

[2014-12-15 22:16] jsgoecke opened #2326 "File descriptor leak of type 'PIPE' when 'net/http' used to do a GET"
It appears that under OSX when I open a socket and it then closes (either through a :read_timeout, or sccuessful read) it is leaking a PIPE file descriptor. When done on Linux it does both 'PIPE' and 'eventpoll'.

I am doing something like this in JRuby-1.7.17:

[code]

And then I get this before running the script:

[code]

And then after running the script:

[code]

I did find this issue:

https

[2014-12-16 13:46] #2325 closed, assigned to nobody

[2014-12-16 22:07] enebo opened #2329 "Local Variable Allocation in IR should use StaticScope and Not IRScope"
I think this is not a requirement for final release but StaticScope naturally deals with variable allocation and scoping rules.  It even takes care of shared explicit binding local variable allocation.  Originally, the motivation was to have IR model this stuff separately.  A large part of that motivation was it existing besides our old runtime.  This allowed us to make changes to lvars without ne

[2014-12-16 22:16] enebo opened #2330 "BEGIN/END to be wrtten into Script/Eval as IR"
BEGIN blocks will end up being inserted into the front of the script as callouts or inlined.

END blocks will be at the end of the scope.  Instead of RecourseEndBlockInstr we will allocate a temp var in the script scope.  Where RRBI was we will instead set the temp to a particular value.  At the end of the script the END block the temp represents will wrap execution of the END with an if (IR-equiv

[2014-12-16 22:46] hakanai opened #2331 "File.realpath treats absolute "classpath:/" paths as relative paths"
On JRuby 1.7.17, File.realpath does the following when passed an absolute "classpath:/" path:

[code]

On JRuby 1.7.13 (which I happen to have handy because we haven't updated since that version):

[code]

[2014-12-17 04:57] #2313 closed, assigned to nobody

[2014-12-17 13:53] #2326 closed, assigned to headius

[2014-12-17 14:43] headius opened #2332 "JRUBY_5122 regression spec "write should not block" tests nothing"
The spec for "should not block for write" [JRUBY-5122 TCPSocket regression spec](https://github.com/jruby/jruby/blob/master/spec/regression/JRUBY-5122_nonblocking_io_spec.rb) does not appear to test anything and occasionally failed due to several inherent races. I improved the race situation somewhat, but it's unclear whether this spec can ever fail since it appears to accept both blocking and non

[2014-12-18 00:24] camlow325 opened #2333 "ChannelDescriptor leak after close of ScriptingContainer"
In doing some memory leak analysis, I found that some ChannelDescriptors allocated for a ScriptingContainer instance are not cleaned up when `terminate` is called.  The following snippet of code was sufficient for me to reproduce the problem:

[code]

ChannelDescriptor has a static field called filenoDescriptorMap which is used to hold onto the various ChannelDescriptors that have been registered.

[2014-12-18 14:02] #1685 closed, assigned to nobody

[2014-12-18 17:59] #2331 closed, assigned to headius

[2014-12-18 19:53] #721 closed, assigned to nobody

[2014-12-18 21:40] enebo opened #2335 "File.exist? and many others do not try system dir on wnidows if path starts with bare /"
In fixing #2291, I noticed that for most file operations we do not allow a bare / path (e.g. /opt vs C:/opt) to resolve as a proper absolute path.  I put in a one-off fix for #2291, but ultimately this should be supported by our internal file support itself.

[2014-12-18 21:48] #2291 closed, assigned to nobody

[2014-12-19 01:55] bbrowning opened #2336 "RubyGems 2.4.5 Upgrade Triggers Bug in Java Extension Loading"
RubyGems 2.4.5 has some new logic that sometimes (but not always - depends on what's already loaded or not) expands require statements to absolute paths before passing them on to the original require.

Depending on the state of things, it's possible for a require statement to hit this line of code in RubyGems - https://github.com/rubygems/rubygems/blob/v2.4.5/lib/rubygems/core_ext/kernel_require.r

[2014-12-19 16:33] vladson opened #2337 "Is there a way to declare `java_field` with interface type?"
Trying to do as following:
[code]

And getting `TypeError: cannot convert instance of class org.jruby.RubyModule to class java.lang.Class`
As far as I managed to understand, it is due to InterfaceJavaProxy.
In my example I managed to get rid of declaring interface type, but it may be needed anyway. Maybe I can help? Where should I start digging?

[2014-12-20 16:37] #2330 closed, assigned to nobody

[2014-12-21 18:50] nirvdrum opened #2338 "String#b improperly updates encoding of source string"
`String#b` is supposed to make a copy of a string and set its encoding to ASCII-8BIT.  As an optimization, JRuby uses a cheap `dup` operation that causes the new string to share the original's backing store.  The problem is any changes made to the new string's encoding are shared with the source string.

Example:

[code]

[code]

Doing a full dupe should be sufficient to fix the problem.

[2014-12-22 01:30] phluid61 opened #2340 "curried proc with varargs doesn't call properly"
A curried proc with at least one arg and a `*rest` argument can't be partially applied.

[This gist](https://gist.github.com/phluid61/e8764994e0dea24f6b1a) has a demo.

[2014-12-22 13:52] mkristian opened #2342 "Java::JavaLang::NullPointerException: org.jruby.RubyString.crypt(RubyString.java:2660)"
on current jruby-1_7 branch
$ bin/jruby -Xnative.verbose=true -I"lib" --1.9 -I test/externals/ruby1.9 -I test/externals/ruby1.9/ruby -r ./test/ruby19_env.rb -r minitest/excludes "test/externals/ruby1.9/ruby/test_m17n_comb.rb"
Successfully loaded native POSIX impl.
Run options:
# Running tests:

................E..............................

Finished tests in 8.964000s, 5.2432 tests/s, 8112.0036

[2014-12-22 14:43] mkristian opened #2343 "some error with RG with embedded JRuby"
https://github.com/sonatype/nexus-oss/blob/nexus-2.11.x/testsuite/modern-testsuite/src/test/java/org/sonatype/nexus/testsuite/ruby/GemLifecycleIT.java#L66

this line fails which basically executes `gem list --clear-source -sources http://localhost:7898/nexus/rubygems -r`

it is ONLY a failure in the test-client, the server side tests passes when jruby-1.7.18-SNAPSHOT on the server and jruby-1.7.17

[2014-12-22 19:15] #2342 closed, assigned to nobody

[2014-12-22 19:19] enebo opened #2344 "rubygems 2.4.5"
Fix issues which came about from updating to rubygems 2.4.5

[2014-12-22 20:51] headius opened #2345 "NPE in IR's LiveVariableAnalysis when running JIT passes"
I'm not sure if this has to do with the JIT passes or if it's something deeper, but when I run with jit.threshold=0 and do `gem install somegem`, I get at least four methods that fail with the following trace. For this case, these are the only methods left that fail to compile on threshold=0.

[code]

[2014-12-22 22:23] #1637 closed, assigned to nobody

[2014-12-22 22:24] #2333 closed, assigned to nobody

[2014-12-23 15:29] #2260 closed, assigned to nobody

[2014-12-23 15:35] enebo opened #2346 "Cannot run rubygems on windows"
[code]

[2014-12-23 15:39] #2300 closed, assigned to nobody

[2014-12-25 06:03] n-nishizawa opened #2347 "Error in Pathname#cleanpath"
I'm using jruby 1.7.17 on windows 7.

[code]

I ran this code.
And I got a error about encoding in Pathname#cleanpath with multi-byte(utf-8) string.

[code]

[code]

I think it's due to changing encoding in Path#expand_path.
Path#expand_path changes encoding on windows.
I tested the code below.

[code]

And I got this result.

[code]

Is it expected behavior?

[2014-12-27 18:37] rjnienaber opened #2350 "Symbol GC - Ruby 2.2.0 compatibility"
I've copied the code from the original patch in MRI ([#9634](https://bugs.ruby-lang.org/issues/9634)) and run it against JRuby HEAD (c1be61a) and it seems that Symbols are not getting GC'ed. I'm not sure if this is classified as an implementation detail but I would think this might have some impact for [Rails 5.0](http://weblog.rubyonrails.org/2014/12/19/Rails-4-2-final/) when it comes out. Here's

[2014-12-27 19:02] jsgoecke opened #2351 "Vulture threads appearing in JRuby v1.7.16.1"
On Dec 27, 2007 the vulture thread in the ObjectProxyCache was commented out with "vulture daemon thread prevents finalization, find alternative approach":

https://github.com/jruby/jruby/commit/97a9e7112e6fba33af93739e7f9dd22397cf5a45#diff-ab6ac0f472eb3dc6d6d659b83ff81872L87

The issue is, on JRuby v1.7.16.1 we are seeing what might be a thread leak with the format of:

[code]

What is strange, i

[2014-12-27 23:35] #2351 closed, assigned to nobody

[2014-12-29 15:37] headius opened #2352 "Multicast socket triggers NPE when bound before IP_ADD_MEMBERSHIP"
From http://jira.codehaus.org/browse/JRUBY-7070.

The problem is triggered in the code below by changing to a multicast socket _after_ the bind has happened. In our logic, we defer creating the JDK-level socket object as long as possible, since it is generally not possible to change socket type after that point. setsockopt with IP_ADD_MEMBERSHIP triggers us to flip to using multicast sockets, but

[2014-12-29 17:20] headius opened #2353 "-C flag does not actually chdir before run"
From http://jira.codehaus.org/browse/JRUBY-7090

When passing -C at the command line, we first boot the JVM and then process the chdir as a "virtual" chdir just for the JRuby instance. JRuby code will then see the virtual cwd, but other code within the JVM will only see the real cwd.

We could fix this by doing a real chdir before running the JVM, or by forcibly chdir'ing the JVM (probably only wh

[2014-12-29 18:11] headius opened #2354 "Java exceptions do not propagate out of Thread#join"
From http://jira.codehaus.org/browse/JRUBY-7129

Joining a thread that died from a normal Ruby error will kill the parent thread, as expected.  The "should not be here" text is never printed:

[code]

However, if the thread died from a raw Java error, joining the thread only prints a trace, and the "should not be here" text is printed.

[code]

Still fails on 1.7 and 9k heads.

[2014-12-29 18:48] headius opened #2355 "State file use in UUID gem causes severe performance degradation"
From http://jira.codehaus.org/browse/JRUBY-6841

The 'uuid' gem uses a state file to maintain some global sequencing. However when using this file under JRuby, performance is severely impacted. It seems like the problem is its repeated reopening of the file for every UUID generated.

Benchmark:

[code]

Numbers:

[code]
[code]

[2014-12-29 19:13] headius opened #2356 "Module#public does not follow method redefinition"
From http://jira.codehaus.org/browse/JRUBY-3917 filed by @shugo.

Module#public does not follow method redefinition.

[code]

FYI, in CRuby, NODE_ZSUPER is used to implement it.  Futhermore, Kernel#method and Module#instance_method return the method of the superclass to hide NODE_ZSUPER.

[2014-12-29 19:34] headius opened #2357 "NULL handling inconsistent with Ruby"
From http://jira.codehaus.org/browse/JRUBY-6247

NULL handling in filenames is inconsistent with Ruby, which exposes JRuby apps to NULL injection attacks:

[code]

[2014-12-29 19:37] AlBundy33 opened #2358 "How to run jruby-tests in java?"
[code]

If I run my rb-file on commandline with ruby.exe the TestCase is executed.
But if I run the script in java via JRubyEngineFactory().getScriptEngine() nothing happens.
Is there a way to automatically run the TestCase?

[2014-12-29 19:41] headius opened #2359 "become_java! does not support concrete class extension"
This is a long standing issue that will likely require a major overhaul of how we do class extension. Sadly, many things require that same overhaul, and the code involved is very rough.

Original issue: http://jira.codehaus.org/browse/JRUBY-6105

Example code that fails to work:

[code]

[2014-12-29 20:00] headius opened #2360 "String#to_i slower than MRI when trailing garbage"
From http://jira.codehaus.org/browse/JRUBY-5620

The rough perf numbers reported toward the end of that bug show that only the trailing-garbage case of String#to_i still runs slower than other impls, and it does so due to a wasted BigInteger along the way. I file it here because it is still an issue and probably can be improved pretty easily.

The benchmark from that bug is still valid, but may ha

[2014-12-29 20:35] enebo opened #2361 "Exception#set_backtrace does not work (From Jira-5830)"
Oldy but still not working.,,

[code]

[code]

[2014-12-29 20:38] headius opened #2362 "Deeply-nested super or constant lookup is slower in 9k than in 1.7."
Originally reported as http://jira.codehaus.org/browse/JRUBY-6312

The benchmark:

https://gist.github.com/headius/d1e6b73c79ca608d6c6c

It appears to be consistently slower than 1.7, even with invokedynamic mode. This will be a good one to investigate before 9k final.

[2014-12-29 20:48] headius opened #2363 "sendmesg (blocking) of class BasicSocket crashes the thread of the thread pool"
From http://jira.codehaus.org/browse/JRUBY-7169
# Original report

The error occurs with the method "sendmesg" (blocking) of class BasicSocket on Ruby jruby, but does not occur on RMI Ruby 1.9.3-p392 (rvm). RMI Ruby 2.0.0-p0 (rvm) works partially.

The error does not occur with the method "send" (non-blocking) of class BasicSocket on above Jrubby versions (rvm), Ruby 1.9.3-p392 (rvm) and Ruby 2.0.

[2014-12-29 20:52] #2185 closed, assigned to nobody

[2014-12-29 21:07] enebo opened #2364 "block in class << self in a def does not execute when JIT'd"
Originally from JRUBY-4963 (works in both 1.7 and 9000 interpreters):

[code]

[2014-12-29 21:09] headius opened #2365 "File::mtime causes errors when file path contains non-english chars"
From http://jira.codehaus.org/browse/JRUBY-7192
# Original Report

Ran into another bug while trying to get rails testsuite running on JRuby. Like, previous one this too is caused by non-english chars.

**_Problem**_
when [StaticTests#test_served_static_file_with_non_english_filename|https://github.com/rails/rails/blob/master/actionpack/test/dispatch/static_test.rb#L40] is run, it raises the follo

[2014-12-29 21:12] headius opened #2366 "JRuby/lib/ruby/shared/pty.rb call to forkpty doesnt work on Windows"
From http://jira.codehaus.org/browse/JRUBY-7198

FFI::NotFoundError: Function 'forkpty' not found in [msvcrt.dll]
The fix is to change 'forkpty' to '_popen' in pty.rb
But then you get the same problem with function 'close' and 'execv' and presumably several others.
This was accessed by having the zeus gem in Gemfile, and having run the bundle, then running: bundle exec rspec spec/lib

[2014-12-29 21:17] headius opened #2367 "ruby-debug cannot show backtrace in certain instances"
From http://jira.codehaus.org/browse/JRUBY-6355

[code]

I imagine this isn't expected.

[2014-12-29 21:20] headius opened #2368 "pipes/handles are closed when the jruby main thread exits, which can lead to unexpected behavior"
From http://jira.codehaus.org/browse/JRUBY-7041

Original report
===========

Basically, it appears that if you open a pipe, then the main thread exits, other threads still running "stop begin able to write to that pipe" (my assumption is it was closed when the main thread exited).  I think I've run into this before, but couldn't find a ticket for it easily, so sorry if it's a dupe.  It seems to r

[2014-12-29 21:23] headius opened #2369 "Can't subclass a Java class that calls an abstract function in its constructor"
From http://jira.codehaus.org/browse/JRUBY-2748
# Original report

I have found that while subclassing a Java class that  calls an abstract function in its constructor will cause the initialization of the subclass in JRuby to throw an ArgumentError with message "Constructor invocation failed: null."

Here is my Java base class:

[code]

Here is my example JRuby script:

[code]

Here is the output:

[2014-12-29 21:26] enebo opened #2370 "Return in a proc given to define_method does not return"
Originally from http://jira.codehaus.org/browse/JRUBY-6122

[code]

[2014-12-29 21:28] headius opened #2371 "Win32::Registry instances don't support #inspect"
From http://jira.codehaus.org/browse/JRUBY-7089

sorry couldn't remember if this was reported already or not, and couldn't easily find the old ticket if it was...

[code]

(Object doesn't support #inspect)

(in MRI, this yields `#<Win32::Registry key="HKEY_CURRENT_USER\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Run">` )

[2014-12-29 21:29] headius opened #2372 "system("...&&...") should work in windows"
From http://jira.codehaus.org/browse/JRUBY-6972

Since windows "on the command line" supports &&, I believe this should work for ruby system commands.

It appears this run both commands, as expected (the first one fails):

using "||" works well:

[code]

using &&

[code]

[2014-12-29 21:44] headius opened #2373 "Redirecting $stdout to an object fails with: Errno::EBADF: Bad file descriptor - Bad file descriptor"
From http://jira.codehaus.org/browse/JRUBY-7051

Note that the given script (at bottom) now produces NPE when run.

*What steps will reproduce the problem?*
Run the attached script test.rb

*What is the expected output? What do you see instead?*
I would expect output to be redirected like in MRI.

*Additional information*

*jruby 1.6.7.2*
Errno::EBADF: Bad file descriptor - Bad file descriptor
(ro

[2014-12-29 21:47] headius opened #2374 "Kernel.load(..., true) --> scope problem"
From http://jira.codehaus.org/browse/JRUBY-6738

Early versions of MRI 1.9.2 had a "scope" problem when Kernel.load was used with a "true" second parameter. I reported it as

[code]

JRuby seem to fail in the same way (both in 1.8 and 1.9 mode). I attach a script showing the problem. JRuby reports:

[code]

but if run with the second paramter set to "false" it works better:

[code]

I think it sho

[2014-12-29 21:48] headius opened #2375 "JRuby subclass cannot call super with arguments if parent constructor is varargs"
From http://jira.codehaus.org/browse/JRUBY-6656. See that issue for attached reproduction files.

I subclass a Java class that has a varargs constructor in JRuby, the JRuby class attempts to call super(a,b) to invoke the superclasses constructor and this fails with:
ArgumentError: wrong number of arguments for constructor
  initialize at varargsctor.rb:6
      (root) at varargsctor.rb:11
Invoking

[2014-12-29 21:54] headius opened #2376 "Enumerator#first when yielded arrays of 1 element bug."
From https://jira.codehaus.org/browse/JRUBY-7108

[code]

[2014-12-29 21:56] headius opened #2377 "Cannot Marshal.dump jruby subclass of Java class"
From http://jira.codehaus.org/browse/JRUBY-6886

[code]

[code]

Trying to Marshal.dump and instance of D results in the following error

[code]

Example java code and ruby code attached

[2014-12-29 21:57] headius opened #2378 "Instances of Ruby classes that implement an interface do not correctly respond to Dynamic Proxy invocations"
From [http://jira.codehaus.org/browse/JRUBY-6861](https://web.archive.org/web/20150518204619/https://jira.codehaus.org/browse/JRUBY-6861). Look for attachments and repro there.

Instances of Ruby classes that implement an interface do not correctly respond to Dynamic Proxy invocations, and instead throw Exceptions. Please run the attached TestUnit case to see errors.

[2014-12-29 21:59] headius opened #2379 "STDERR.reopen causes exception output to be lost"
From http://jira.codehaus.org/browse/JRUBY-6154. Look for repro code there.

This appears to have been fixed on 1.7 but failing on JRuby master/9k.

If you reopen STDERR and subsequently cause an exception to be raised without rescuing it, the error output is lost and appears neither in the reopened destination nor the original terminal.

See the attached file for an example; the output:

[code]

[2014-12-29 22:02] headius opened #2380 "Cannot unlink broken symlink via Pathname"
From http://jira.codehaus.org/browse/JRUBY-6099. Look for additional repro code there.

When swapping the last two lines it works as expected.

[code]

The exception is:

[code]

[2014-12-29 22:05] headius opened #2381 "IO#rewind ... doesn't. (when backed by a ByteArrayInputStream)."
From: http://jira.codehaus.org/browse/JRUBY-5891. Works in 1.7.18 and not on master.

See: https://gist.github.com/1043829 which includes a test case.

If you have a ByteArrayInputStream, then call #to_io on it, then you read from the stream and #rewind it, the offset into the stream doesn't change. I believe this is due to lseek dropping out the bottom of a conditional when it should perhaps thro

[2014-12-29 22:10] headius opened #2382 "'defined?' for constant should not invoke auto-load"
From http://jira.codehaus.org/browse/JRUBY-5798

[code]

[2014-12-29 22:11] headius opened #2383 "Can't break a thread by raising exception from main thread if there is "readline" in thread"
From http://jira.codehaus.org/browse/JRUBY-5723. Problem with using jline for readline. May be time to look at an alternative readline backend.

Hi,

Normally, I can raise exception in some thread from main/other thread by some_thread.raise() and then rescue it in that above mentioned thread. This is useful when we need to break execution of some_thread on some event.
In jruby there is a problem i

[2014-12-29 22:14] nirvdrum opened #2384 "eval treats all method definitions as public"
It looks like JRuby doesn't correctly keep track of method visibility for those defined in eval.

MRI:

[code]

JRuby:

[code]

[2014-12-30 10:07] #2343 closed, assigned to nobody

[2014-12-30 15:29] #2244 closed, assigned to nobody

[2014-12-30 15:56] jonforums opened #2385 "Different system("start ...") behavior than MRI on Windows"
This issue still exists in my jruby 1.7.18 install on win8.1 x64. This is the same issue I posted awhile ago as jira's JRUBY-5493.

The following jruby snippet waits until the launched process returns. On the same win7.1 x64 system, MRI's 32bit versions of 2.0.0p606, 2.1.5p273, and 2.2.0p1 all return immediately without waiting on the launched process to return.

[code]

Original issue ML discussi

[2014-12-30 16:35] donv opened #2386 "JRuby fails to display Java splash at startup on OS X"
Get the JRuby logo using

[code]

The following Java program `Main.java`:

[code]

compiled with

[code]

and started with the following line

[code]

displays the JRuby logo as a splash.  This works on Java 6, Java 7, and Java 8.

However the corresponding Ruby command line

[code]

does not display the splash using Java 7 or Java 8 on OS X.  It does work using Java 6.

I would expect this to wor

[2014-12-30 20:35] rdp opened #2387 "absolute paths without drive letter don't work in windows"
As originally reported

https://jira.codehaus.org/browse/JRUBY-5750

assuming you have an empty file in c:\dev\yo

Errno::ENOENT: No such file or directory - C:/dev/dev/yo
...

=> false # should be true

[2014-12-30 21:43] #2386 closed, assigned to donv

[2014-12-30 22:27] #2350 closed, assigned to nobody

[2014-12-30 23:27] rjnienaber opened #2388 "IO#ready? returns incorrect results"
From: http://jira.codehaus.org/browse/JRUBY-5617. Works JRuby 1.7.18 (with discrepancies), fails on JRuby 9000.

IO#ready? returns incorrect results on second and subsequent calls.

a) Write 100 bytes to a sender socket, issue flush, keep socket open
b) Attempt 4 consecutive reads of 25 bytes each. Check IO#ready? before reading

Expected results: 100 bytes are read in 4 consecutive reads
Observed

[2014-12-30 23:33] rjnienaber opened #2389 "Kernel.system does not utilize tailing arguments in 1.9 mode"
From: http://jira.codehaus.org/browse/JRUBY-5707. Decent error message is displayed in JRuby 1.7.18 but `ConcurrencyError` is raised in JRuby 9000.

I attempted to call Kernel.system with tailing arguments in 1.9 mode, but Kernel.system only returned nil.

Steps to reproduce:
jruby --1.9 -S irb

[code]

Expected result:
The log.txt file would be created.

Actual result:
nil is returned and log.txt

[2014-12-30 23:37] rjnienaber opened #2390 "BigDecimal can be provoked into a big infinite loop"
From: http://jira.codehaus.org/browse/JRUBY-3887. `OutOfMemoryError` on 1.7.18 and JRuby 9000 also fails to pass the test.

The attached file tests that the BigDecimal security fix has been applied (to the MRI interpreter). MRI returns almost immediately. JRuby appears to go into an infinite loop.

/opt/jruby/bin/jruby bigdecimal_segfault_fix_test.rb
Loaded suite test/unit/bigdecimal_segfault_fix_

[2014-12-30 23:38] rjnienaber opened #2391 "File.dirname normalization differs from MRI"
From: http://jira.codehaus.org/browse/JRUBY-4863. Differs from MRI on JRuby 1.7.18 and JRuby 9000.

MRI strips additional leading slashes with File.dirname:

[code]

However, I'm not sure if this "normalization" is intentional in MRI or accidental, because it only seems to work on **leading** slashes in MRI:

[code]

I'd say the spec needs to be fleshed out. Either the path should be completely no

[2014-12-30 23:40] rjnienaber opened #2392 "Closure conversion doesn't play nice with some interface method names"
From: http://jira.codehaus.org/browse/JRUBY-5294. Not working in JRuby 1.7.18 and JRuby 9000.

Define a Java interface with a single-argument method named 'exec'. Define a Java class that defines a method that uses instances of that interface as a callback. Use JRuby to invoke the class's method using a block as its argument, attempting to take advantage of the closure conversion feature of JRuby.

[2014-12-30 23:43] rjnienaber opened #2393 "Unable to hide a singleton method created by an extend"
From: http://jira.codehaus.org/browse/JRUBY-5439. Not working on JRuby 1.7.18 and JRuby 9000.

If I create a module and extend it in an object, creating singleton_methods, I should be able to hide one of the object's singleton methods by making it private. This works in MRI Ruby 1.8.7, Ruby 1.9.1, and many of the derivatives (I've also tried it in MacRuby 0.8, and REE 1.8.7).

[code]

Note, I trie

[2014-12-30 23:45] rjnienaber opened #2394 "Compiler trips up on a combination of send and eval (concocted example)"
From: http://jira.codehaus.org/browse/JRUBY-5486. Fails on JRuby 1.7.18 but works on JRuby 9000.

[code]

[2014-12-30 23:47] rjnienaber opened #2395 "Setup a SecurityManager from JRuby"
From: http://jira.codehaus.org/browse/JRUBY-5582. Fails on JRuby 1.7.18 but appears to work on JRuby 9000.

when I attempt to install a SecurityManager from JRuby it fails.

if I understand correctly the problem is that while the java proxy is being generated for the

checkPermission call it triggers another checkPermission call ...
posted this on the forum bot got no answer http://www.ruby-forum.

[2014-12-30 23:54] rjnienaber opened #2396 "String does not use <=> to compare two string instances"
From: http://jira.codehaus.org/browse/JRUBY-3925. Differs from MRI on JRuby 1.7.18 and JRuby 9000.

There seems to be different behavior between JRuby 1.3.1 and MRI Ruby 1.8.7p72 when it comes to String comparison. MRI uses the <=> operator, whereas JRuby does not. This became an issue when I was trying to write a class that acted as an Enum type (for use with rails backed by postgres). The class

[2014-12-30 23:56] rjnienaber opened #2397 "Make String/ByteList creation facilities part of RedBridge APIs"
From: http://jira.codehaus.org/browse/JRUBY-6453

In looking at a few native extensions it is clear that we need better facilities for working with Strings and ByteLists (same can maybe be said for IO, but that is a much bigger problem and should be it's own issue).

So far I am not suggesting specific APIs (example below is just illustrative) but we should examine a few common Java native extensi

[2014-12-30 23:57] rjnienaber opened #2398 "Ruby.newInstance(RubyInstanceConfig) should not unconditionally setGlobalRuntime"
From: http://jira.codehaus.org/browse/JRUBY-7082.

Ruby.newInstance(RubyInstanceConfig) should not unconditionally setGlobalRuntime. This is fine for jrubyc, but it should use some other method for standing up a runtime instance. ScriptingContainer when not a SINGLETON ends up starting up potentially n runtimes typically in different classloaders. The terminate() of ScriptingContainer does not uns

[2014-12-31 01:35] headius opened #2399 "User-defined method_missing has unnecessary overhead"
Overhead I discovered while investigating a bug in my own code...
- new MethodMissingMethod on every dispatch; I do not believe it is ever cached
- new symbol every time; this could be cached at the call site if it is a normal static dispatch

[2014-12-31 20:37] headius opened #2400 "File.join generates corrupted Windows-31J String on Windows"
From http://jira.codehaus.org/browse/JRUBY-7131

The original bug report did not have a good reproduction, so we'll need a Windows machine and we'll need to figure out how to type Unicode into a terminal to reproduce this.

I'm going to pessimistically guess it's still broken, but for now this bug is a placeholder until we can confirm that.

[2015-01-01 01:36] ahorek commented on #2400
IRB in Java window displays correct characters, but original windows console is ascii only
???/??? instead of 日本語/日本語

[2015-01-01 18:30] MSNexploder commented on #384
Looks like this is working correctly on master

[code]

[2015-01-01 22:20] trejkaz opened #2403 "Unicode characters are lost when embedding JRuby even if the calling code performs no conversion to byte[]"
The following tests fail with -Dfile.encoding=windows-1252 but pass with -Dfile.encoding=UTF-8 :

import java.io.StringWriter;
    import java.io.Writer;

    import javax.script.ScriptContext;
    import javax.script.ScriptEngine;
    import javax.script.ScriptEngineManager;

    import org.jruby.embed.ScriptingContainer;
    import org.junit.Test;

    import static org.hamcrest.Matchers.*;

[2015-01-01 22:44] trejkaz opened #2404 "File.mtime and friends return a date incorrect by an hour if created half a year ago"
This is a reopen of JRUBY-7064 after verifying that it still occurs on JRuby 1.7.18. The issue appears to be specific to Windows somehow, as noted by someone commenting on the original report. It also only occurs if you live in a region with daylight savings.

Essentially, files created in a different zone offset from the current offset show the wrong time when File.mtime is used. Timestamps on fi

[2015-01-01 23:08] trejkaz commented on #2404
Narrowing down the issue, I wrote a test program only using the JNR POSIX stuff:

    import jnr.posix.FileStat;
    import jnr.posix.POSIX;
    import jnr.posix.POSIXFactory;
    import jnr.posix.util.DefaultPOSIXHandler;

    public class TestPosixFileTimes {
        public static void main(String[] args) throws Exception {
            printMTime("C:\\Users\\Daniel\\created during standard time.

[2015-01-02 12:20] MSNexploder commented on #598
This still fails with JRuby 1.7.18
[code]

but works on master

[code]

[2015-01-02 13:41] chrisseaton opened #2407 "[Truffle] Implement Coverage"
Truffle should be able to implement Coverage (http://www.ruby-doc.org/stdlib-2.2.0/libdoc/coverage/rdoc/Coverage.html) quite simply using our debugging framework.

The debugging framework is currently removed due to API changes, so it needs to be added back in first.

[2015-01-02 14:08] MSNexploder commented on #309
Fixed on both - 1.7.18 and master

[code]

[2015-01-02 14:52] tobiassvn opened #2408 "NoMethodError: undefined method `include' for A:Class"
Nested includes with a `Module.included` in between spread over multiple files throws a `NoMethodError`. This is on the latest 9.0.0.0 SNAPSHOT installed with ruby-build.

Example:

File `a.rb`:

[code]

File `b.rb`:

[code]

Output:

[code]

However, if the modules in file `b.rb` are defined in the same file `a.rb` everything works fine. Both ways work in MRI.

[2015-01-02 16:55] subbuss opened #2409 "Convert Splat operand into BuildSplatInstr"
Splat operands are being generated in two contexts: call arguments and splats that show up in ruby code. For the latter, we need to use a BuildSplatInstr since these splats could throw exceptions if to_ary or to_a calls fails. Operands aren't supposed to be throwing exceptions.

So, we can use the current Splat operand for scenarios that won't throw exceptions (call args currently, but actual spla

[2015-01-02 17:06] tobiassvn opened #2410 "Splat with method_missing inconsistent"
The behavior when using the splat operator together with `method_missing` appears to be different from MRI.

Example:

[code]

On MRI:

[code]

On JRuby 9.0.0 SNAPSHOT:

[code]

[2015-01-02 19:02] headius commented on #309
Awesome, thanks for checking and reporting back!

[2015-01-02 19:02] #309 closed

[2015-01-02 21:05] wiibaa opened #2411 "Resolv.rb allow configurable timeout in 1.9 mode"
Resolv.rb allows configurable timeouts [only for ruby 2.0.0 and plus](https://redmine.ruby-lang.org/issues/5100) as you can see in jruby master https://github.com/jruby/jruby/blob/master/lib/ruby/stdlib/resolv.rb#L354

Do you think it could easily be backported into 1.9 mode too ?
I'm asking here because jruby is my target platform.
Thanks you in advance for your advice.

[2015-01-02 21:34] mount986 commented on #2301
@ninkibah: Can you please post a link to the follow-up issue if you raised one? I've been tracking this issue since #1758 and would like to know when it is fully up and working again.  Thanks.

[2015-01-02 21:37] jaydonnell commented on #2304
@trejkaz yeah, i went that route (DummyUnsafe) interface, and it got by this particular error. Unfortunately I ran into a number of other issues trying to run on app engine. At this point I'm debating whether it's worth the time to continue going down this path of trying to get jruby to work, or if I should give up on jruby on app engine altogether.

[2015-01-02 21:56] ninkibah commented on #2301
@mount986 I have added a comment here: https://youtrack.jetbrains.com/issue/RUBY-15864

I don't know if the current fix is enough for @os97673 and his colleagues to be able to fix the RubyMine debugger.

[2015-01-02 22:54] jirutka opened #2412 "Calling Kernel method in a subclass of SimpleDelegator fails with NoMethodError private method"
**Minimal working example:**

[code]

**Expected output:**
[code]

Tested on MRI 1.9.3, 2.1.2 and 2.2.0.

**Actual output on jruby-9000-dev:**
[code]

**Workaround:**

[code]

[2015-01-03 01:18] dlbirch opened #2413 "Selecting a particular constructor by signature using reflection does not work"
I'm working with a popular (in the payments business) java library called jPOS (from the jPOS.org folks).   Jpos.jar to be specific.

I'm unable to get a fully functional object when attempting to use one of the overloaded constructors on the ISOBinaryField class.  Seems it will create the object but with none of the methods attached?  For example, the class has a public 'toString' method that can

[2015-01-03 07:06] os97673 commented on #2301
@ninkibah @mount986 I'm not sure the problem has been fixed, at least both my test and the test provided by @headius still don't work :(
@headius @enebo what the changes you've committed were supposed to change?

[2015-01-03 07:26] jbeyer05 opened #2415 "Errno::EACCES when multiple files are open simultaneously"
This is a re-post of a bug listed in the CodeHaus bug tracker (JRUBY-6022).
When a large number of files are open without closing the handles, the user receives an EACCES exception.  This is not the case with cruby.  Code used to demonstrate difference between jruby and cruby below.

[code]

[2015-01-03 12:23] donv commented on #2386
This is my first time filing an issue with OpenJDK, so I am not familiar with the process.

My guess is that there is a human step to make the issue visible in the system.  I cannot see it myself either.

[2015-01-03 12:34] donv commented on #2386
This is the response I got:

[2015-01-03 12:40] donv commented on #2396
Hi @rjnienaber !

Thanks for the report!  JRuby 1.3.x is no longer supported.  Could you try against JRuby 1.7.18?

Use the

    --1.8

option to run in Ruby 1.8 mode.

[2015-01-03 16:54] subbuss opened #2416 "Remove JumpException, Next, Redo, etc. exceptions from old runtime"
These exceptions should no longer be thrown in the IR-based runtime. Consequently, all the try-catch handleres for these exceptions can be stripped out.

Audit these uses, verify that no runtime code throws these anymore, and see if any of these sites require equivalent IRReturnJump / IRBreakJump protection (unlikely, but doesn't hurt to verify while stripping out the old runtime ones).

[2015-01-03 17:36] gregspurrier opened #2417 "Rescue clause yielding TypeError hits %undefined"
[This may be a duplicate of Issue #2267, but it references jruby-head and I am able to give more detail about the failure mode.]

With the JRuby 1.7.18 release I started seeing the following error when running the [Klam](https://github.com/gregspurrier/klam) specs under Travis CI:

[code]
If I down-rev to JRuby 1.7.17, the tests pass. Here are examples of [failing](https://travis-ci.org/gregspurri

[2015-01-03 18:02] rjnienaber commented on #2396
Sorry that the ticket is unclear. This is an old ticket from the original JIRA issue tracker, [JRUBY-3925](http://jira.codehaus.org/browse/JRUBY-3925). I tested it against JRuby 1.7.18 and JRuby 9000 and the behaviour is still the same as JRuby 1.3.

[2015-01-03 18:23] mvz opened #2418 "Float#equal? behaves differently from MRI in 2.0 mode"
Float#equal? changed behavior in MRI 2.0.0 wrt MRI 1.9.3. For identical values, the older MRI would return false. MRI 2.0 and up return true:

MRI 1.9.3:
[code]

MRI 2.0.0:
[code]

JRuby returns false even in 2.0 mode.

[2015-01-04 10:28] mrbrdo opened #2419 "Encoding issue after v1.7.6"
So I've been having problems with encodings after upgrading from JRuby 1.7.6 (I think the next version I tried after that was 1.7.8, but surely 1.7.11).

Reproduce in 1.7.18:
[code]
[code]
It works fine with 1.7.6 (also works on MRI 2.1.2). I'm not sure if 1.7.11 had the exact same issue, I just know that I had issues with encodings.
Note: `.to_html` is crucial to trigger the error.

[2015-01-04 12:12] iconara opened #2420 "Java IllegalBlockingModeException thrown in 9K but not in 1.7 or MRI"
I'm trying to isolate this issue, but so far all I have are Travis tests that pass in JRuby 1.7 and MRI that fail in jruby-head because of a Java exception (java.nio.channels.IllegalBlockingModeException):

https://travis-ci.org/iconara/ione/jobs/45286311#L924

You can run the same code yourself like this:

[code]

Curiously even more tests in the same suite break with the same Java exception when

[2015-01-04 13:42] k77ch7 commented on #1829
I suppose [the conditional expression](https://github.com/jruby/jruby/blob/jruby-1_7/core/src/main/java/org/jruby/runtime/Helpers.java#L2042-L2043) in *core/src/main/java/org/jruby/runtime/Helpers.java* causes this issue. Regardless of the declaration of *method_missing*, the visibility of *method_missing* is always **Visibility.PRIVATE**.
This is a my patch to fix this issue on jruby-1_7 branch.

[2015-01-04 19:29] cheald commented on #2419
I've reproduced this on 1.7.18, but it works as intended on HEAD as of fb9199f5a5bf03ab04e88ef14c2b98f02aeca12e.

[2015-01-04 22:13] headius commented on #2419
This is an ugly one to fix in 1.7.

The logic for StringIO#write in MRI calls rb_str_conv_env, which calls rb_str_conv_enc_opts, which calls rb_econv_convert. Given the result from rb_econv_convert, it either increases the buffer size for the target buffer (if the result is "destination buffer full"), or it returns the newly-transcoded buffer (if the result is "finished"), or it returns the origin

[2015-01-04 22:29] headius commented on #2419
I have pushed a fix to branch test-fix-2419 for you to try out. It appears to pass MRI tests and RubySpec locally.

[2015-01-04 23:10] craigmcnamara opened #2423 "Compass-rails test suite fails strangely under JRuby"
It looks like under JRuby for Rails 3.2, 4.0 and 4.2 the default assets aren't being created when `rails new` is called. The strange thing is everything works for Rails 3.1 and the failure is only on JRuby. I originally thought that it was a FileUtils issue, but it seems that it's more likely a JRuby/Rails issue.

So the build that illustrates this is here: https://travis-ci.org/Compass/compass-ra

[2015-01-05 01:38] n-nishizawa opened #2424 "Error in File.stat"
I'm using jruby 1.7.17
[code]

I tested this code on windows 7.

[code]
And I got an error when I set java default encoding utf-8.

[code]

The file specified by the variable path exists.
In fact, FileTest.readable? returns true.
And I can also read data from the file.
But File.stat throws an exception.

[2015-01-05 04:54] headius commented on #2423
Some additional info from the build.

* JRuby 9k build as of 2014-1-3.
* Java 7
* The compass-rails suite failed with Rails 3.2, 4, and 4.2, but not Rails 3.1

There's definitely file management involved somehow. The line that fails (first link in desc) is checking that the "project file" pf is in fact a File, using File.file?. This might indicate some path coercion issue, or an issue in File.file

[2015-01-05 05:15] headius commented on #2423
Ok, there's a more serious problem here, and I no longer things it has anything to do with filesystem management. We've got some bad string code, it would seem:

[code]

The file "application.js.tt" should just be named "application.js". The extra .tt is coming from a JRuby bug. I saw this on some other reports form people that accidentally started running jruby-head on Travis.

[2015-01-05 05:16] headius commented on #2423
Same issue confirmed with a simple "rails new" without compass-rails being involved.

[2015-01-05 05:28] headius commented on #2423
Looking in the logic that copies these files into place during generation, I find:

[code]

So the .tt files are basically the template versions of new project files. The "template" function (which I have not found yet) takes these files and processes them...presumably into the target non-.tt filename. So somewhere along the way we're not losing the .tt filename?

[2015-01-05 06:02] headius commented on #2423
The bug manifests while running Thor's logic for processing directories. In that code, it cycles through all files in the directory, handling them in one of three ways:

[code]

This logic prints out "else" for every case I could find, including filenames like application.js.tt that should have matched the template extension. I have confirmed this with additional logging, and see output like this:

[2015-01-05 06:07] headius commented on #2423
Short reproduction, now that I've tracked down the problem:

[code]

This code will print out ":there" even though the regexp-based when clause *should* have matched the file. Note that if you remove the FOO and replace with '.z', or just make the regexp be /.z/, it follows the expected path.

Digging a bit deeper...here's the IR:

[code]

If I'm reading it right, it appears to building a "beq" in

[2015-01-05 06:10] headius commented on #2423
The equivalent IR for a plain literal regexp when clause, for comparison:

[code]

Obviously this is completely different...and correct, since it's doing eqq (===).

[2015-01-05 06:18] headius commented on #2423
Ok, I see the problem.

When parsed, the dynamic-regexp when clause looks like this (AST):

[code]

The IRBuilder logic for case/when includes this logic (comments removed):

[code]

I believe the ListNode check here is to handle constructs like `when a, b, c`. This does not seem like the right logic for that case, but I'm going to leave it to @subbuss and @enebo to weigh in there.

The problem wi

[2015-01-05 06:35] headius commented on #2423
I have committed a fix based on my description above. With it, rails apps generate correctly, without the ".tt" files.

Still to do for this bug:

- [ ] Tests for all DNode types in case/when logic.
- [ ] Reexamine this logic in IRBuilder and make it not gross.

[2015-01-05 06:38] headius commented on #2423
@craigmcnamara If possible, you could try out a local build of jruby-head with this fix and confirm it runs green with your patch in place. I am pretty sure it will be good.

When travis goes green jruby-head will be updated to the latest rev.

[2015-01-05 06:42] headius commented on #2423
Travis build for the fix: https://travis-ci.org/jruby/jruby/builds/45915597

[2015-01-05 06:44] craigmcnamara commented on #2423
I just started one for compass-rails: https://travis-ci.org/Compass/compass-rails/builds/45916037

[2015-01-05 06:47] headius commented on #2423
jruby-head is probably not going to be updated by the time that build hits it...but if the build I linked goes green (I'll monitor it for a while) you should be able to restart the other build and pick up new jruby-head.

(When builds of JRuby's master branch are green in Travis, Travis updates their build for "jruby-head")

[2015-01-05 06:49] craigmcnamara commented on #2423
I thought I was wishful thinking, I can do one locally if you can tell me which of these versions I should ask ruby-build for.

  jruby-9.0.0.0-dev
  jruby-9.0.0.0+graal-dev
  jruby-9000-dev
  jruby-9000+graal-dev

[2015-01-05 06:57] headius commented on #2423
The ruby-build binaries are built nightly...and I don't think we're due for another build for at least a couple hours :-) The world just doesn't move fast enough for us, does it?

The travis build is about 2/3 done, so I'll monitor it until it completes. Then you should have an updated travis jruby-head.

[2015-01-05 07:35] mukeshsinghr commented on #1476
@atambo Yes, I tried it again. I migrated my application lib from `jruby-1.7.3 to 1.7.18`. My application runs as expected when I run it in development environment with webrick server using `App>jruby -S rails server`. This works excellent and gives me expected behavior.

Above mentioned problem comes, when i create war file and deploy it in the `tomcat server`. It gets deployed successfully when

[2015-01-05 07:50] craigmcnamara commented on #2423
So this is pretty awesome: https://travis-ci.org/Compass/compass-rails/builds/45918791

[2015-01-05 12:19] guai commented on #2246
It hangs forever not seconds not minutes. So Its really a bug.
Any code that accepts regexes from user code can be made fall

[2015-01-05 12:29] subbuss commented on #2423
Good catch and fix. This needs more thorough tests indeed. So, reopening so we don't forget.

[2015-01-05 14:44] enebo commented on #2246
Yes, but with the right regexp I believe I can make any engine run forever (which in truth is not forever but a really really really long time).  Joni has an internal bytecode format so it may be possible to put in a stop if you have run n instructions, but that is not really a solution for someone running a very long regexp intentionally.

[2015-01-05 16:46] headius commented on #2423
I have added specs for the following cases:

* when with a dynamic regexp
* when with a dynamic string
* when with a dynamic symbol
* when with more than one condition element
* when with a literal array

I believe this should cover all paths through the associated logic in IRBuilder. I'm going to be exploring coverage tools today so we are more likely to avoide these testing gaps in the future.

[2015-01-05 16:53] #2423 closed

[2015-01-05 17:21] tobiassvn opened #2426 "NullPointerException when trying to assign UnboundMethod using define_method & to_proc"
Stumbled upon this earlier when I used `define_singleton_method` incorrectly.

Code:

[code]

MRI:

[code]

JRuby:

[code]

[2015-01-05 18:36] enebo opened #2427 "Ripper is still 2.0 grammar and has not been updated for 2.2 changes"
Ripper is still 2.0 grammar and has not been updated for 2.2 changes

[2015-01-05 18:57] raggi opened #2428 "Rack tests broken"
We have two failing tests on jruby 9k: https://travis-ci.org/rack/rack/jobs/45815446

As yet, I haven't diagnosed myself. Associated Rack ticket: https://github.com/rack/rack/issues/778

Thanks!

[2015-01-05 19:45] enebo commented on #2426
Just a note this is broken on 1.7 and master. The error above is a mild red herring in that the error message we should throw happens in evaluating define_singleton_method and this stack is us trying to execute the method we erroneously added (by calling B.new after this class body)

[2015-01-05 19:52] ahorek opened #2429 "Can't run windows build (9000)"
jruby -v
jruby 9.0.0.0-SNAPSHOT (2.2.0p0) 2015-01-05 6e85813 Java HotSpot(TM) 64-Bit Serv
er VM 25.25-b02 on 1.8.0_25-b18 +jit [Windows 8.1-amd64]

jruby -e "puts 'hello'"
[code]

jruby -J-Djruby.debug.loadService=true -J-Djruby.backtrace.style=raw -e "puts 'hello'"

[code]

[2015-01-05 19:58] ahorek commented on #2346
jruby 9.0.0.0-SNAPSHOT (2.2.0p0) 2015-01-05 6e85813 Java H
er VM 25.25-b02 on 1.8.0_25-b18 +jit [Windows 8.1-amd64]

NotImplementedError: open unsupported or native support failed to load
           read at org/jruby/RubyIO.java:3574
           load at C:/moje/projekty/jruby/jruby/lib/ruby/stdlib/rubygems/specifi
cation.rb:1037
      each_spec at C:/moje/projekty/jruby/jruby/lib/ruby/stdlib/rubyge

[2015-01-05 21:50] docwhat commented on #2220
@headius To reproduce (reasonably reliably for us) just grab "ibm-sdk-7.0.5" and JRuby 1.7.18 on RHEL 6.6 and try `gem install bundler --conservative`.

If you *really* need a VM image (like a virtualbox image or something) I think we can probably make one for you.  Otherwise I'm not sure what you mean by "set up a VM we can use to reproduce".

[2015-01-05 22:32] mrbrdo commented on #2419
I am testing it now, I'll know tomorrow if there are still any issues, will let you know.
Thanks!

[2015-01-05 22:35] headius commented on #2409
I'm fine doing JIT fixes necessary for this. Is that just a matter of handling BuildSplatInstr?

[2015-01-05 22:48] bruceadams commented on #2220
The latest IBM Java fixes avoid this issue. For more info, see: http://www-01.ibm.com/support/docview.wss?uid=swg21688165

[2015-01-05 22:51] subbuss commented on #2409
I thought I already handled BuildSplatInstr and the new Splat operand .. but I might have missed other uses of the old Splat or maybe there is some special-case handling that I overlooked.

[2015-01-05 22:54] bruceadams commented on #2220
To be unambiguous, here is the failure:

    $ ruby -v
    jruby 1.7.18 (1.9.3p551) 2014-12-22 625381c on IBM J9 VM pxa6470sr7fp1-20140708_01 (SR7 FP1) +jit [linux-amd64]
    $ gem install bundler --conservative
    ERROR:  Could not find a valid gem 'bundler' (>= 0), here is why:
              Unable to download data from https://rubygems.org/ - Received fatal alert: handshake_failure (https://ru

[2015-01-05 22:55] #2409 closed

[2015-01-05 23:08] mrbrdo commented on #2419
So far so good.

[2015-01-05 23:18] djhaskin987 commented on #1656
I'm having the same issue.

When I run [fpm](http:/github.com/jordansissel/fpm) in jruby 1.7.18, I get the error shown below. I do *not* get the same error when running fpm on normal ruby 1.9 .

[code]
The offending line:
[code]

[2015-01-05 23:44] johanwasserman commented on #2387
If I may add my contribution to this issue (also in "Error in File.stat #2424"):

The issue is preventing me from installing gems on Jruby 1.7.18 (also tested 1.6.8 with same results), as discussed in the forum (https://www.ruby-forum.com/topic/200421 and https://www.ruby-forum.com/topic/6805165#new).

jruby -S jgem install bundler
ERROR:  While executing gem ... (Errno::ENOENT)
    No such file o

[2015-01-06 01:58] djberg96 opened #2431 "Etc.systmpdir path separator on Windows"
jruby 1.7.18 (1.9.3p551) 2014-12-22 625381c on Java HotSpot(TM) Client VM 1.7.0_71-b14 +jit [Windows 7-x86]

There's a path separator difference between JRuby and MRI for Etc.systmpdir:

[code]

It doesn't bother me either way, but I'm guessing you want to convert to forward slashes to match MRI, and be consistent with Etc.sysconfdir, which does return forward slashes.

[2015-01-06 06:15] craigmcnamara opened #2432 "Another jruby-head only failure on Compass-rails test suite."
https://travis-ci.org/Compass/compass-rails/builds/46037004

[2015-01-06 07:00] monkstone commented on #1917
### Update and summary
The majority of ruby processing sketches fail with following exception when run with jruby-9.0.0.0-SNAPSHOT

`Exception: org.jruby.exceptions.RaiseException thrown from the UncaughtExceptionHandler in thread "Animation Thread"`

Last tested with jruby 9.0.0.0-SNAPSHOT (2.2.0p0) 2015-01-06 ca55072 Java HotSpot(TM) 64-Bit Server VM 24.72-b04 on 1.7.0_72-b14 +jit [linux-amd64]

[2015-01-06 09:25] simi commented on #1216
Hello @enebo. This is problem for 1.7.18 (2.0 version) again. Any chance to get it fixed?

I can fix this temporary with this diff:

[code]

[code]

I've found https://github.com/jruby/jruby/commit/2cbe7e52a7e6a8e43a2066007547ad520b8623b7 also. Is there any chance to get that released in 1.7.x series?

I tried `jruby-openssl` `0.9.5` and `0.9.6`.

Script to reproduce:

[code]

Workaround without m

[2015-01-06 10:53] mrbrdo commented on #2419
@headius that worked, no more errors. You can close this.
Thanks!

[2015-01-06 11:33] docwhat commented on #2220
Thanks for figuring that out @bruceadams; Only applies to not-most-recent IBM Javas.

On the one hand, I think it's great all these sites are upgrading their encryption to require TLS (hopefully v1.2+).

On the other hand, we keep having to deal with this.

@headius -- I think it is safe to say that rubygems.org will require TLS for the foreseeable future.  I'd suggest just make `jgem` require TLS

[2015-01-06 13:26] lumeet commented on #2384
I don't know if I'm just dreaming or what but I think there are no private methods at all on master.

Just a couple of examples:
[code]

[2015-01-06 13:45] endofunky opened #2433 "Multiple assignment in conditionals possible"
However, it shouldn't be, according to MRI.

Example:

[code]

MRI:

[code]

JRuby 9k:

[code]

[2015-01-06 14:14] tobiashm opened #2434 "String#start_with? inconsistent with other Ruby implementations"
Both MRI and Rubinius returns `true` when testing if an empty string starts with an empty string. But JRuby returns `false`. But when testing if the empty string _ends_ with an empty string, they all return `true`.

I would suggest that JRuby should change its behavior for `String#start_with?`.
I've looked in the source code, but wasn't able to figure out where and how this change should be implem

[2015-01-06 14:30] headius commented on #2384
I suspect this is a simple problem of the JIT not enforcing visibiity:

[code]

[2015-01-06 14:33] enebo commented on #2432
Could you figure out which line is causing that nil?

[2015-01-06 14:34] #2419 closed

[2015-01-06 14:37] docwhat commented on #2220
@bruceadams pointed me at this article on IBM's site: http://www-01.ibm.com/support/docview.wss?uid=swg21688165 which probably explains what is going on here.

[2015-01-06 14:44] enebo commented on #2433
Pretty amazing.  We have always worked and MRI has always raised this error.  @tobiassvn if you would like to go the extra mile you could open an issue at ruby-lang and ask if this should be made to work.  I guess my only guess would be that this must always evaluate to true so it makes no sense to have it in a conditional? but they do not restrict other things so it may be worth raising?

It shou

[2015-01-06 14:52] #2384 closed

[2015-01-06 14:53] enebo commented on #2434
This also happens on 1.7 as well.  Marked for 1.7.19 since this should be simple to fix (no doubt just looking at end_with? will give the snippet missing from begin_with?).  I even marked it beginner if someone wants to try and submit their first PR.

[2015-01-06 14:57] headius commented on #2434
This appears to be a bug in ByteList. The logic for startsWith includes this line:

[code]

Whether we should change this behavior is debateable...on the one hand, the string doesn't start with anything. On the other, it starts with nothing and the incoming string is nothing.

In any case, we need to fix at Ruby level, and it appears that end_with also uses this logic, so there must be a short-cir

[2015-01-06 15:49] tobiassvn commented on #2433
It seems like it's already been discussed there. Quite recently actually:

https://bugs.ruby-lang.org/issues/10450

There is also an open issue proposing to change the current syntax error to a warning:

https://bugs.ruby-lang.org/issues/10617

[2015-01-06 15:51] #2434 closed

[2015-01-06 15:57] subbuss commented on #1917
Also adding @enebo .. We'll try to take another look soon. But good to hear that there has been some progress on this at least! :-)

[2015-01-06 15:57] nirvdrum commented on #2388
I'm a moron and referenced the wrong issue number in my commit message.  It should have been #2338.  Sorry for all the resulting noise on this issue as a result.

[2015-01-06 15:58] subbuss commented on #1917
Random thought .. Wonder if this is related to https://github.com/jruby/jruby/issues/2416

[2015-01-06 16:09] enebo commented on #2433
@tobiassvn yeah that is what I meant when I said it always evaluated true (re Matz comment).  In any case, we will do whatever they determine in 10617.  For older version compatibility we will just add the error check

[2015-01-06 16:11] enebo commented on #1917
@subbuss hmmm that is a good thought.  We either might be raising the old thing somewhere and IR is not catching it or we are raising the new thing and the old catches are not catchnig that?

[2015-01-06 16:16] subbuss commented on #1917
More the latter ... along the lines of commit 10540e2ba80f7f05e9cb5874d8172fddd729a080 .. wonder if there is something needed for thread as well. That said, the exception that monkstone is reporting is not a break/return jump exception but a org.jruby.exceptions.RaiseException .. so my comment above could be a red herring as well.

[2015-01-06 16:18] headius commented on #2432
Looks like the nil is "path" being passed to "<<" on a Digest::MD5 instance, if the line numbers are to be trusted.

[2015-01-06 16:27] headius commented on #2432
The path value comes from the sole class that includes SpriteMethods -- SpriteMap -- in logic it uses to calculate a filesystem path to a sprite (method from_uri). Relevant line:

[code]

It does not appear to be possible for path_and_name to return nil (it either returns a literal array or raises), so this could be a bug in how we destructure the resulting value into path and name.

[2015-01-06 16:43] headius commented on #2432
Ok, the destructuring theory didn't pan out...it works fine. The next possibility would be that $1 in path_and_name is coming back nil even though we have a match. I'm not sure how that would happen.

[code]

Given the regexp I don't see how that could happen...so it's something really weird or I'm chasing my tail. :-(

@craigmcnamara Could you perhaps dig into this a bit deeper, maybe starting wi

[2015-01-06 17:14] headius commented on #2428
This actually appears to work on 9k and not on 1.7. Notice in your log that the bacon.rb warning is coming from a 1.7.18-d19 install in rvm.

However, I can't reproduce it on either 9k or 1.7 on OS X. It may be specific to Linux.

@raggi Are you on Linux? If so, can you try running there with both versions and report back?

[2015-01-06 17:18] raggi commented on #2428
I haven't replicated this locally (I'm keeping my rack time minimal these days, as I have absolutely no use for it (or ruby) anymore). It's occurring on travis.

[2015-01-06 17:18] headius commented on #2426
The bug is in coercion using &. It should kick out the unbound method. Investigating.

[code]

[2015-01-06 17:19] raggi commented on #2428
So it is. Eugh, travis.

[2015-01-06 17:28] headius commented on #2428
It is specific to Linux or specific to Travis?

[2015-01-06 17:46] raggi commented on #2428
Sorry, I'm shaving yaks right now (bundler, travis, optional dependencies, platforms). I'll have some better answers for you in maybe 20 minutes.

[2015-01-06 17:59] enebo opened #2435 "9k -n does not work with non-local flow control"
So we have some outdated exceptions #2416 that need to be removed, but it uncovers some corners in IR that we missed:

[code]

In this case it should print 'a\n' and stop but we actually throw a LocalJumpError:

[code]
This is because we treat the code coming in as a ScriptBody and as a script body we know we cannot raise from it.  We can either solve this by adding Ruby code to front and back of

[2015-01-06 18:03] enebo commented on #2435
Hmm my add ruby to front and back may be ok if we pass into parse with a linuenumber starting at -1 to ignore the first line from syntax errors and backtrace data.

[2015-01-06 18:04] enebo commented on #2435
oh but the idea is a little more complicated as @headius just pointed out that _END_ and DATA need to be accounted for if we modify the source.

[2015-01-06 18:16] raggi commented on #2428
Yes, it's 1.7.18 on linux that's failing. My apologies for the confusion.

[2015-01-06 18:21] headius commented on #2426
Turns out UnboundMethod has not extended Method since 2003. See ruby/ruby@ed0b5771084dfed171dc52ff41802f12f9025b92.

Fixed in 72234f9074a1574f7dce41b3003442d976809051.

[2015-01-06 18:21] #2426 closed

[2015-01-06 18:29] headius commented on #2420
Generally this error is from trying to select against a stream that has not been set non-blocking. This will almost certainly be a bug in the new IO subsystem. I'll take it.

[2015-01-06 18:39] headius commented on #2420
Hmm ok, it's a little weirder than I thought. write_nonblock does set the stream nonblocking, but does *not* use any select logic. The error is coming from a finally{} call to setBlock to restore blocking status.

It would help a lot if you can narrow this down a bit more, at least to a specific type of stream. I'm guessing it's a concurrency issue where two threads are attempting to tweak blockin

[2015-01-06 18:40] headius commented on #2420
FWIW, MRI does not appear to set the stream blocking again. I'm not sure if this is a bug or intentional behavior, but it would avoid the race to set it blocking:

[code]

[2015-01-06 20:09] jordansissel opened #2436 "OpenSSL::SSL::SSLSocket#cipher different than MRI"
MRI's docs say `OpenSSL::SSL::SSLSocket#cipher` (http://ruby-doc.org/stdlib-1.9.3/libdoc/openssl/rdoc/OpenSSL/SSL/SSLSocket.html#method-i-cipher)

Under MRI 2.1.4, this returns  something like the docs say:
`["ECDHE-RSA-AES128-GCM-SHA256", "TLSv1/SSLv3", 128, 128]`

Under JRuby 1.7.17, this returns a single string (not array w/ 4 elements): `SSL_RSA_WITH_RC4_128_SHA`

[2015-01-06 20:13] lumeet commented on #1370
I also faced this problem and felt obliged to take a look at it. Here's what has taken me through troubles and tests. In terms of performance it seems to be a little bit better than the Ruby-implementation, but probably nowhere near the 50% @headius mentioned here 73807b09.

Don't know if this is even close to an acceptable solution. That's why no PRs.

[code]

[2015-01-06 20:18] headius commented on #1370
Given the changes to Delegate and the fact that it no longer appears to use method_missing, I think I might vote to revert to the pure-Ruby version. We can work with ruby-core to improve its performance if there's anything outstanding, but the Java backend doesn't have as much benefit anymore.

[2015-01-06 20:22] enebo commented on #1370
I agree that we can go back to the pure Ruby version.  If the performance is unacceptable we can go through the native exercise later...again :|  Correctness probably trumps performance this early in the 9k lifespan (pre preview).

[2015-01-06 20:29] headius commented on #1370
Ok, that's what we'll do. I have a commit landing shortly for this on master. JRuby 1.7.x will still use the native delegate logic, since it works appropriately for 1.9 and 1.8 modes.

@lumeet Thank you for making an attempt at a patch!

[2015-01-06 20:38] lumeet commented on #1370
@headius No problem. By the way, #2412 is also related can probably be closed after the commit.

[2015-01-06 20:45] #2435 closed

[2015-01-06 20:47] enebo commented on #2435
I tested this by running test/jruby/test_command_line_switches.rb which we seem to be no longer regularly running.  It is heinously slow but we should contribute a cross-impl version of this to MRI since I can find no tests for -n in it.

[2015-01-06 21:02] headius commented on #2412
Very likely fixed by the move back to pure-Ruby delegate library in #1370.

[2015-01-06 21:02] #2412 closed

[2015-01-06 21:02] #1370 closed

[2015-01-06 21:03] headius commented on #1370
@lumeet Thanks again!

[2015-01-06 21:05] headius commented on #2428
@raggi Ok, thank you for confirming. I think we can take it from here.

[2015-01-06 21:06] jasonrclark commented on #1370
Sweet, thanks @headius and @lumeet!

[2015-01-06 21:13] headius commented on #1216
Well this is an interesting question. Officially, 2.0 mode on JRuby 1.7 is not supported, which means we won't expend any committer effort to maintain it. But we'll happily accept patches from the community that backport 2.0 behaviors from master, so long as they don't impact 1.8 and 1.9 modes.

@simi Wanna try your hand at patching the jruby-1_7 branch?

[2015-01-06 21:14] jirutka commented on #2412
Thanks, I’ll try it. Do you know how often Travis fetches a new version of jruby-head?

[2015-01-06 21:22] headius commented on #2436
Interesting. I'm curious...are you using those other bits for something?

I think you should re-file this at jruby/jruby-openssl. We're trying to maintain it as a separate project.

[2015-01-06 21:22] #2436 closed

[2015-01-06 21:32] headius commented on #2408
I think this is a simple visibility problem: https://github.com/ruby/ruby/commit/26766ee89c31b16be74803c08cb0d2de2d2fc58e

[2015-01-06 21:34] #2408 closed

[2015-01-07 00:09] #2388 closed

[2015-01-07 00:11] headius commented on #2388
Wasn't a hard fix; I re-ported the logic from MRI but where they used FIONREAD and ioctl to check for available buffered bytes, I had no response. The old implementation used select to accomplish the same thing, so I reinstated that behavior.

I also cleaned up much of io/wait and got the MRI tests running. We only fail two of them, and I'm pretty sure it's due to JVM/JDK abstractions we can't avo

[2015-01-07 00:14] headius commented on #2410
Confirmed in both interpreter and JIT. High priority.

Seems like it's not coercing to array, so perhaps it's checking if to_ary is defined before making the call when it should just go for it?

[2015-01-07 00:17] headius commented on #2410
Yeah it seems to be an IR problem. If I log the method name in method_missing, I see it called twice for MRI and zero times for JRuby 9k. So splatting is not making the call it should in this place.

@subbuss You did work on splatting recently...perhaps take a look into this?

[2015-01-07 00:21] headius commented on #2220
Our jgem command is basically vanilla RubyGems "gem" command and downstream...so there's a missing detail here. If MRI is defaulting to TLSv1 that's cool, we can do the same. If they're not...we need to figure out why we see issues defaulting to SSLv3.

This is very likely related to the "bad_record_mac" errors people used to see...I'm guessing TLSv1 deals with renegotiation better, or something?

[2015-01-07 00:32] headius commented on #1656
I think we have a few issues running together here.

The original report (by @inger) was against 1.6.8, and eventually falls into ant/ant.rb where it tries this:

[code]

__FILE__ when running from a complete JRuby jar would be something like `jar:file:blah.jar!/ant/ant.rb` or `classpath:ant/ant.rb`. If dirname works, it would remove everything after the last /. Then it would compare with caller e

[2015-01-07 00:32] #1656 closed

[2015-01-07 00:35] subbuss commented on #2410
looking..

[2015-01-07 00:36] headius commented on #2417
Very weird.

[2015-01-07 00:37] headius commented on #1829
@k77ch7 Looking...

[2015-01-07 00:44] headius commented on #1829
Weird...I can find no place in MRI where they special case either method_missing or respond_to_missing? to force them to always be private. In fact, I can't find any code in MRI 2.2 that does this for initialize forms either.

Testing across versions:

[code]

I have maintained this private logic for years, and now I can find no evidence that MRI ever did it. I must be going mad.

[2015-01-07 00:46] headius commented on #1829
Here's a diff that removes the private-forcing logic. I do not have cycles this evening to *make sure* that MRI does not still have private-forcing logic somewhere.

[code]

[2015-01-07 00:48] lpar commented on #2220
They changed the behavior for MRI + OpenSSL recently:
https://www.ruby-lang.org/en/news/2014/10/27/changing-default-settings-of-ext-openssl/
https://bugs.ruby-lang.org/issues/9424
https://gist.github.com/jmhodges/d6480f5f81f25b0dfa15

It would probably be a good idea to make JRuby enable TLS 1.1 and 1.2 and disable SSLv3 and TLS 1.0 by default via:

    -Ddeployment.security.SSLv2Hello=false -Ddep

[2015-01-07 00:50] headius commented on #1829
Weird... it looks like this logic was added or modified by @tduehr in 9c758b4f31c0eeb50d77b3dad28438aca365e857.

@tduehr Did you see this logic in MRI?

[2015-01-07 00:51] headius commented on #2220
@lpar Awesome, thank you. This is actionable and I think it can happen for 1.7.19.

@enebo Yes?

[2015-01-07 00:52] headius commented on #2220
Copying @kares, @mkristian since they have been maintaining jruby-openssl recently.

[2015-01-07 00:55] lpar commented on #2220
Note that you can also make the property changes via Java code if it's more convenient, so long as you do so before opening the first https connection. (That's how I ended up fixing my applications which are plain runnable .jar files.)

[2015-01-07 00:59] subbuss commented on #2410
Seems like a bug in Helpers.arrayValue(..) else part of line 1862 .. it is unconditionally returning a new array instead of calling method_missing .. but since these helpers have been around for ever, I don't want to just fix it. But, fixing it there would fix it .. or maybe IRRuntimeHelpers:irSplat is not calling the right helper in Helpers.java. Is this good enough for you or @enebo to take this

[2015-01-07 01:36] subbuss commented on #2410
Please review my fix and close if it looks good. Will require new tests since this hasn't been covered by any suite so far?

[2015-01-07 01:39] subbuss commented on #2410
fwiw, I tested with the above snippet and also by making method_missing return a Fixnum and both MRI and 9k now raise an error.

[2015-01-07 01:43] docwhat commented on #2220
As near as I can tell, IBMs Java doesn't support renegotiation by default at all. OpenSSL by default supports renegotiation upwards (e.g. SSLv3 to TLS). I think Oracle Java is doing the same.

One of the post POODLE bugs was downwards renegotiation, which can allow SSLv3 attacks when initially requesting TLS. There was something similar with 3 -> 2.  So maybe IBM was being overly cautious and disa

[2015-01-07 02:21] n-nishizawa commented on #2424
This is an additional information.
Methods that access file attributes(stat) raise the same error.
For example File.ctime and File.ftype.

- File.ctime

[code]

[code]

- File.ftype

[code]

I think handling of the path encoding when accessing the file attributes may be a cause.

[2015-01-07 02:36] bruceadams commented on #2220
I stood up a little VM on DigitalOcean with the IP address 104.236.104.183. It has four IBM Java versions installed:

    /opt/ibm-java/sdk-6.0-16.1
    /opt/ibm-java/sdk-6.0-16.2
    /opt/ibm-java/sdk-7.1-1.1
    /opt/ibm-java/sdk-7.1-2.0

and JRuby itself installed:

    /opt/jruby-1.7.18

There is a user login for @headius with his github public ssh keys. I'm happy to setup a user login for any

[2015-01-07 02:50] docwhat commented on #2220
@bruceadams :ok_hand:

[2015-01-07 03:16] tduehr commented on #1829
I did that based on the pickaxe it looks like that chunk was in error. It starts as a private method but when re-defined, is public. it seems this change was in error.

[2015-01-07 04:10] subbuss commented on #1917
I cloned the app and ran it, and looks like the I/O streams have been closed .. so even adding "p 1" as the first statement of draw in grey_circles.rb throws the same exception. So, here is an even more reduced test case that bombs:
[code]

[2015-01-07 05:45] craigmcnamara commented on #2432
I'll see if I can setup a clean reproduction of the bug.

[2015-01-07 07:10] monkstone commented on #1917
JUst to be sure I ran equivalent in ruby-processing
[code]
When sketch is run `rp5 run test.rb` I get 5 '1' printed followed by crash:-

`Exception: org.jruby.exceptions.RaiseException thrown from the UncaughtExceptionHandler in thread "Animation Thread"`

Sketch runs fine with  `rp5 watch test.rb` with a continuous stream of '1' printed

So for whatever reasons error is not trggered in watch mode

[2015-01-07 07:49] PragTob commented on #1370
Yay fianlly hopefully green shoes tests on 9k! :) Thanks @lumeet and @headius ! :+1:

[2015-01-07 08:03] craigmcnamara commented on #2432
So this is my reproduction of jruby-head vs MRI 2.1.5, it looks like a Regex issue.

https://gist.github.com/craigmcnamara/a4f28434a3d4aa950c18

[2015-01-07 08:16] craigmcnamara commented on #2432
So unfortunately this passes on both JRuby and MRI and is the most simple reproduction of what I thought the bug was.

[code]

[2015-01-07 09:56] tobiassvn commented on #2410
I just saw the ``to_a' did not return Array` error you're raising and had a look what MRI does in that case.

[code]

MRI output:

[code]

I didn't expect this to work. May be this is actually undefined behavior? Or am I missing something here?

[2015-01-07 10:11] tobiassvn commented on #2410
Actually have a one more. Given `to_a` returns `nil` and `B` isn't a subclass of `Array`:

[code]

MRI output:

[code]

I added in a `puts` to make sure `method_missing` is even getting called. The above result is the same even if `B#to_a` returns any other type, such as `Fixnum`, or if the method isn't defined at all.

[2015-01-07 14:58] mjansing commented on #2310
I got a similar issue with JRuby 1.7.18:

[code]

On MRI everything works fine:

[code]

[2015-01-07 15:43] iconara commented on #2420
I have a shorter script that reliably replicates the issue, and I also have the exact conditions that cause it.

Here's the script https://gist.github.com/iconara/4e41edb000a1305a9c28 it's got some inline explanations as to what's going on and what causes the problem.

What happens in my example is that for various reasons the server thread is selecting the client connection sockets for writabilit

[2015-01-07 16:03] iconara commented on #2420
I should also add that at the time of #2102 this was not a problem. When that issue was resolved the tests that fail now passed.

[2015-01-07 17:13] enebo commented on #2310
@mjansing This is showing the same error but it is a different issue (nil as argument was this issue and this must be something other than nil or a valid string).  Can you open this as a fresh issue? You get bonus points if you can trace through I18n to the actual argument to the getlocal call...

[2015-01-07 17:35] kml opened #2437 "Array hashing is in Ruby 1.8 mode"
Different arrays, are hashing very similarly

[code]

MRI's behaviour is different:

[code]

[2015-01-07 17:41] headius commented on #2437
We calculate based on array length and hash of the elements, with some bitshifting etc.

Based on [MRI's implementation](https://gist.github.com/headius/2b65c9bbdc142d811cfe) it appears we're missing a few things:

* Murmur calculation of the hash
* Pseudo-random salt (MRI uses rb_ary_hash pointer address)

[2015-01-07 21:00] dalizard opened #2438 "Time#getlocal should accept Fixnum as an argument"
I will explain the problem briefly:

[code]

[code]

According to the documentation (MRI), ```Time#getlocal``` can accept an optional ```utc_offset``` parameter, which is a Fixnum (http://www.ruby-doc.org/core-2.1.5/Time.html#method-i-utc_offset).

[2015-01-07 21:01] dalizard commented on #2310
@enebo I debugged the problem a bit more, and opened a new [issue](https://github.com/jruby/jruby/issues/2438) since it's a different problem.

[2015-01-07 21:11] enebo commented on #2438
Thanks for opening this.  It should be fixed soon.  I realized there are several numeric cases we don't have covered.

[2015-01-07 21:12] enebo commented on #2310
Curiousity got the better of me and I looked at MRI and then noticed we partially applied a fix to master.  I commented on the issue you opened.  Thanks @dalizard!

[2015-01-07 21:16] dalizard commented on #2438
You are welcome! I would gladly submit a pull request for this, but I am not familiar with JRuby internals :(

[2015-01-07 23:00] enebo commented on #2438
Fixed in commit dbf58e66f5bc2ba548264c204e9d516809a9091e.  This yielded a couple of other smaller fixes at the same time on both 1.7 and master.   I did not try original snippet so the original reporter can reopen if somehow this is not correct.

[2015-01-07 23:00] #2438 closed

[2015-01-07 23:22] headius opened #2439 "IO.copy_stream should block when called against a non-blocking stream"
The following snippit of code should always block in the copy_stream call:

[code]

The nonblock allows the syswrite call to write only as much as there is system-level buffer room and then return. At this point the buffer is full, so the subsequent copy from `r` to `w2` should block attempting to write the rest of the bytes.

The MRI implementation of copy_stream is very complex, so I'm not sure

[2015-01-08 00:24] headius opened #2440 "Something in RubySpec triggers ENV to clear"
I thought this was just a TravisCI glitch, but then it happened to me.

It appears that something in RubySpec is causing ENV to get cleared, or at least ENV['HOME']. It is intermittent. The resulting failures look like this:

[code]

The `chomp` call here fails because ENV['HOME'] comes back nil. This always affects the same FILE specs and from what I've seen it's largely the same set of errors. I

[2015-01-08 00:41] headius commented on #2420
I've just pushed a series of improvements to nonblocking IO: https://github.com/jruby/jruby/compare/830c8e628fc1...143678657001

Part of the issue, at least, was that in MRI the \_nonblock methods do *not* attempt to set the stream blocking again. I've known about this behavior and never implemented it in JRuby, but it appears there are reasons for it (like these races to set blocking status). So

[2015-01-08 00:41] #2420 closed

[2015-01-08 07:00] headius commented on #2411
This starts to push the boundaries a bit...

The resolv.rb library in particular is a bit of a challenge because the differences from 1.9 to 2.0+ are substantial: https://gist.github.com/5742f26a702354379af8

This is further complicated by the fact that MRI (from which we get this library) no longer supports 1.9.3 except for security fixes, and those will end in a bit over a month.

JRuby 9000 (th

[2015-01-08 07:04] Who828 commented on #2437
I can take this up tonight, looks like a nice bug get started.

[2015-01-08 07:05] headius commented on #2411
Actually after looking at the bug you linked, that patch *does* apply cleanly to a 1.9.3 resolv.rb. I had initially thought we'd need to pull in the entirety of changes to get this one. Those more extensive changes must have happened after this patch was created.

That lessens the impact considerably. The only concern that remains for me would be the peripheral impacts of such a change: code in th

[2015-01-08 08:09] mjansing commented on #2310
@dalizard Thank you for digging into this issue.

[2015-01-08 08:10] mjansing commented on #2438
@enebo Great work. I will check the original snippet soon.

[2015-01-08 08:15] iconara commented on #2420
I can confirm that the fix works.

[2015-01-08 08:23] iconara opened #2441 "Lambda with arity -2 can be called with three arguments in 9K"
This code fails with `ArgumentError` in MRI (at least since 1.9.3) and JRuby 1.7, but not in JRuby 9K:

[code]

In JRuby 9K (and MRI 1.8.7 I believe) the block is run with 1 and 2 as the values of `a` and `b`, the 3 is discarded.

[2015-01-08 08:40] mjansing commented on #2438
The original snippet also works fine:

[code]

[2015-01-08 08:49] dalizard commented on #2310
@mjansing @enebo You're welcome!

[2015-01-08 12:07] jaredholdcroft commented on #2149
Looks like a good issue to make a start on so I'm going to take a look at this.

[2015-01-08 12:50] k77ch7 commented on #1829
@headius @tduehr Thank you. I hope that @headius 's patch is applied to  jruby-1_7 branch.

[2015-01-08 14:11] headius commented on #2420
Closing the loop...@tobiassvn reported that things are working well for him to.

:v:

[2015-01-08 14:15] headius commented on #2441
I have to ask...how does this affect you?

[2015-01-08 14:26] iconara commented on #2441
It's mostly an inconsistency that I accidentally caught when a test started failing.

It's [a test](https://github.com/iconara/ione/blob/master/spec/ione/future_spec.rb#L286-L297) for [a piece of code](https://github.com/iconara/ione/blob/master/lib/ione/future.rb#L707-L723) that tries to figure out how many arguments it can pass to a listener (which can be a block, a lambda, a method, or anything

[2015-01-08 14:29] iconara commented on #2441
The reason why I'm doing the arity checking at all is for backwards compatibility. A previous version called the listeners with other arguments.

[2015-01-08 15:09] headius opened #2442 "yield is slower than MRI in 9k"
Here's the bench and results: https://gist.github.com/headius/a302a0dd772d55f8213c

It seems the new runtime's logic for yield is slower than what we had in 1.7, perhaps because we've tried to unify all block invocation paths a bit better. There's probably a lot of low-hanging fruit in both yield and Proc#call paths, both in the interpreter and in the JIT.

[2015-01-08 15:26] enebo commented on #2411
Can this just be a separate library?  Or does this depend on how other libraries load resolv?  I would even think perhaps require 'resolve-timeout' after 'resolv' which minimally changes the timeout aspect (that gist appears to have other significant changes like changing the base error class).  Granted, that is a monkey patch.

I do not think many/any people extend resolv but if they did this wou

[2015-01-08 15:26] enebo commented on #2438
@mjansing great.  Thanks for checking...

[2015-01-08 15:37] headius commented on #2442
Analyzing the results a bit more...

9k performs nearly identically for both yield and call, which leads me to think it's the same thing slowing both of them down. call is a bit slower than yield in 1.7 but much of that logic has been cleaned up. I suspect a fix for one will be a fix for both in 9k.

I started by running a sampled JVM-level profile (with `--sample` ) of just the yield benchmark in

[2015-01-08 15:42] headius commented on #2442
Heh: https://github.com/jruby/jruby/blob/2d95d471d61cb5c977ee31059c7ba51617ac3762/core/src/main/java/org/jruby/ir/targets/JVMVisitor.java#L2211

[2015-01-08 16:06] headius commented on #2442
Looks like that was the lion's share of the performance hit:

[code]

However yield performance still isn't back up to where it was in 1.7 (40-50% fewer ips). The new sampled profile doesn't give us much to go on, though:

[code]

In general the bodies of the jitted Ruby code are not useful in a sampled profile because they'll inline a lot of irreducible overhead and do all the routing of data fro

[2015-01-08 16:07] headius commented on #2442
FWIW LambdaForm in the previous profile is probably not useful because it's irreducible overhead of the JVM's invokedynamic plumbing. Might be worth pointing out to Hotspot devs, but they already know LambdaForms show up in our profiles a lot.

[2015-01-08 16:08] enebo commented on #2441
I would like to see this solved before we entertain call protocol changes in IR for blocks which will not happen for 9k.0 but still we should fully nail all semantics of blocks down before trying to tackle it.

[2015-01-08 16:24] headius commented on #2442
For allocation profiling, I use the builtin "hprof" extension for the JVM, using the following command line:

`jruby -J-Xrunhprof:depth=10 ...`

Depth here indicates how many levels of stack should be use to uniquely identify allocation traces.

Running this against the full benchmark (not just the yield portion, since we'd like to improve Proc#call as well), yields the following top allocations:

[2015-01-08 16:58] headius commented on #2442
In the above profile, RubyProc is showing up as being allocated about as many times as Binding. Since we're measuring yield for that run, it indicates we're creating a Proc object even for cases that should not need to become a full Proc. The trace for these allocations shows them happening at "unknown line" in our original script, which likely means they're from either the literal blocks in the b

[2015-01-08 17:16] headius commented on #2442
The LambdaForm lines in between our script line (bench2.rb:26) indicate that the Proc object is not being created directly by the script body, but by an invokedynamic call it makes. We need to look at bytecode.

We can dump bytecode for a snippit of Ruby code by passing --bytecode to JRuby. Here's a command line and the relevant bits of the output for a simple literal block:

[code]

The only invo

[2015-01-08 17:30] headius commented on #2442
In order to see why we're creating this proc, we need to go to the next level up: IR instructions. We can do this using `-Xir.compiler.debug=true` which will dump out reams of output for all optimization stages of all Ruby code it loads. For a simple snippit of code, our code should be displayed last.

[code]

The `thread_poll` instruction corresponds to the `checkpoint` invokedynamic call, and th

[2015-01-08 17:30] groddeck commented on #2150
@kelcecil - took me a minute to figure that out also, but check out the lines in each section beginning with ```return```.  These ensure that different parts of the test only apply to certain filesystem types.

In the first section, a file named ```FileWithCases``` is created, and then ```return unless File.exist?("filewithcases")``` will skip this test unless the filesystem says that, yes, a file

[2015-01-08 19:36] Who828 commented on #2437
Here is the change, https://gist.github.com/Who828/056848941c6efee4044e
Let me know if that's what you expected before I send the PR.

[2015-01-08 20:09] jordansissel commented on #2411
+1 on keeping 1.9.3 in frozen/alignment with MRI 1.9.3 since it keeps a solid expectation of what "1.9.3" behaves like. A separate library to workaround this is fine with me. For context, I've done work in the past to workaround Resolv api changes between 1.8.x and 1.9.x, so continuing this work seems like not a serious burden.

[2015-01-08 20:11] jordansissel commented on #2411
(This might be a task worth including in https://github.com/marcandre/backports)

[2015-01-08 21:08] headius commented on #2442
After some discussion with @subbuss and @enebo, we realized that in order to eliminate this proc creation we need to make the IR understand the implicit block argument passed into every body of code. This necessitated creating two new instructions:

* LoadImplicitClosureInstr, for loading the block passed along the JVM stack to method bodies.
* LoadFrameClosureInstr, for loading the block stored o

[2015-01-09 04:47] headius commented on #2437
The PR looks good, but I wonder if we should also add some kind of pseudo-random salt like MRI. Could be a one-shot random number from almost anywhere. Or we could skip it.

@enebo, @tduehr: Yay or nay? Do we need it?

[2015-01-09 08:15] headius commented on #2441
Ok...this is likely a (reasonably) simple problem with arity-checking in lambdas. We'll get it fixed up, because there's other logic that depends on lambdas enforcing arity strictly.

cc @enebo @subbuss

[2015-01-09 13:21] Allanon29 opened #2444 "Gem::LoadError: can't activate jruby-openssl-0.9.6-java, already activated jruby-openssl-0.9.5-java"
Hi Guys,

I get the following error when I try to deploy a Rails 4.1.8 app on a Centos 6 VPS:

`** [out :: IP] Gem::LoadError: can't activate jruby-openssl-0.9.6-java, already activated jruby-openssl-0.9.5-java
 ** [out :: IP] raise_if_conflicts at /home/user/.rbenv/versions/jruby-1.7.16/lib/ruby/shared/rubygems/specification.rb:1988
 ** [out :: IP] activate at /home/user/.rbenv/versions/jruby-1.7

[2015-01-09 13:57] mkristian commented on #2444
jruby-1.7.x comes with jruby-openssl-0.9.5 included. since a couple of weeks there is a jruby-openssl-0.9.6 gem on rubygems.org

from what you describe it is not clear where the newer version comes into picture.

you could try adding jruby-openssl-0.9.5 to your Gemfile, even if it is not strictly needed.

[2015-01-09 14:23] headius opened #2445 "Release 9k Preview"
This bug will collect release notes and tasks for the 9k preview release we really ought to get out :-)

Here's what I estimate we need:

- [x] Items for release notes (bug list will be included)
- [x] A list of caveats and features we know are permanently or temporarily broken. For example, AOT (may not be done for 9k.pre), known performance issues (new runtime/JIT).
- [ ] Updating online content

[2015-01-09 14:51] Allanon29 commented on #2444
Hi Kristian,

Thanks for the quick reply. I've already tried to add jruby-openssl 0.9.5 to my Gemfile, but it didn't work.
However installing 1.7.9 solved the problem, but this is far from ideal.

"from what you describe it is not clear where the newer version comes into picture."
I don't know this either. First I thought that maybe another app installed on the server causes it which had jruby ope

[2015-01-09 16:11] tduehr commented on #2437
I think it's a good idea to have one per runtime. I'm not entirely sure the full impact, there may be some issues relating to shared objects between runtimes.

[2015-01-09 17:49] kares opened #2446 "ConcurrentModificationException from ThreadGroup.list"
while the `rubyThreadList` field is a fully synchronized collection, iterator might still throw a CME

https://github.com/jruby/jruby/blob/jruby-1_7/core/src/main/java/org/jruby/RubyThreadGroup.java#L149

there's probably a typo the line above as it synchronizes on a local variable :
[code]

[code]

only seen this under high actor/fiber usage (Celluloid) ... reproduced on **1.7.16**

[2015-01-09 20:13] headius opened #2447 "Switch closure-loading instructions to be operands"
We would like to switch LoadImplicitClosure and LoadFrameClosure to be simple operands, to reduce the complexity of code surrounding them. Unfortunately, in order to make LoadImplicitClosure into an operand (PassedBlock), Operand#retrieve needs to receive the passed block. That cascades into changes to Instr#interpret and callers of each. At the moment it was deemed "polishing the diamond", too bi

[2015-01-09 20:15] headius commented on #2447
Patch: https://gist.github.com/headius/5be78335c9dd9121fe15

[2015-01-09 23:05] headius commented on #2442
Ok, after a good day of working on the new yield logic, I think we're calling it done for now. The new logic is largely as described above:

* Each scope has two possible places to get a block from.
** The literal block passed directly to a given scope
** The yieldable block passed via some other structure (like a call frame)

All places that deal with receiving an incoming block and dealing with

[2015-01-09 23:10] headius commented on #2442
The changes in 314187efebbe0ac5d956a8355803cbca7692dac3 eliminate the need for us to clone a BacktraceElement object whenever we capture a binding. Instead of storing the object (which must be cloned so its moment-in-time line numbers are preserved), we just store its contents as normal fields on Binding. That makes Binding bigger, but we're allocating fewer objects.

This gave a small improvement

[2015-01-10 11:55] habermann24 opened #2448 "Make Socket IO behave like MRI in JRuby 9k"
There is an issue with the `pow` webserver that only occurs with JRuby (https://github.com/basecamp/pow/issues/14).

It is caused in the `nack` rack server in the following spot: https://github.com/josh/nack/blob/master/lib/nack/server.rb#L142

With JRuby i get:
[code]

Here the link to RubyBasicSocket.java: https://github.com/jruby/jruby/blob/c5107782828d36dea8b63581920d2af14a23b11c/core/src/main

[2015-01-11 00:21] chrisseaton opened #2449 "No #define_method on main object"
This works on MRI, but not sure why

[code]

Where does it get `define_method` from? Works on MRI 2.2, Rbx 2.1.4, but not on JRuby 1.7 or master.

[2015-01-11 16:28] cremno commented on #2449
It isn't `Module#define_method`, it's directly defined on top self/main object (for some reason).

https://github.com/ruby/ruby/blob/6b6ba319ea4a5afe445bad918a214b7d5691fd7c/proc.c#L2779-L2780
https://bugs.ruby-lang.org/issues/6609

[2015-01-12 01:04] jirutka commented on #2412
Well, now it raises another error:

[code]

Should I open another issue for that…?

[2015-01-12 10:38] jodosha opened #2450 "GC Symbol"
Hello, do you have plans to support the new introduced feature in MRI regarding collectable symbols?

In order to protect applications from DoS attacks, we are forced to whitelist inputs, convert their keys to strings and to provide facilities we use tricks like "indifferent access". This adds both development and runtime overhead.

I'm asking this specifically for Lotus. Supporting multiple Ruby

[2015-01-12 11:24] cmichon commented on #2445
If #2429 (showstopper) is not fixed prior to the 9k preview release, Windows should not be part of the preview release and this should be in the release notes.

[2015-01-12 11:28] cmichon commented on #2429
I got the same behavior on snapshot from 12th Jan 2015. Commenting out the io/console part leads to the same message "NotImplementedError: open unsupported or native support failed to load".

"jruby -v" works but all thease do not work on Windows:
- jruby -e "{}"
- jruby anyscript.rb
- jirb
- jgem

[2015-01-12 12:44] kares commented on #2109
@headius @iconara so I guess this want get into **jruby-1_7** due "compatibility" or could we add it ?

[2015-01-12 12:59] kares commented on #2450
it's done on master (for 9k) ... see details at https://github.com/jruby/jruby/issues/2350

[2015-01-12 13:12] joneslee85 commented on #2450
@kares Do you have ETA of the release?

[2015-01-12 14:42] headius commented on #2450
We thought we might be ready to preview 9k last week, but got sidetracked on some issues. Hopefully this week. Final would then hopefully come about a month later.

[2015-01-12 14:43] #2450 closed

[2015-01-12 14:43] headius commented on #2449
@cremno Good find, thank you!

[2015-01-12 15:12] headius commented on #1917
Sorry this one escaped my attention.

The trigger for the exception you're seeing is that the stdio streams get shut down when the main script ends. In MRI, regardless of what is happening in the rest of the runtime, main script exit means process terminates. We can't necessarily force all threads to die to emulate this, but we do tear down the current runtime at that point. The closed streams are

[2015-01-12 15:28] headius commented on #1917
I feel like we need to do something to address this. There's potentially a lot of user code out there that starts up normal Java threads, perhaps indirectly (e.g. message pumps and thread pools), and all such code will start to see stdio shut down.

I'm leaning toward keeping the current behavior intact but allowing you to call something to disable the automatic teardown we do, along the lines of

[2015-01-12 15:40] monkstone commented on #1917
I'm sure that ruby-processing could live with that sort of fix, but it may not be so happy for other edge cases.

[2015-01-12 16:21] ahorek commented on #2429
Well, these methods in https://github.com/jnr/jnr-posix/ are unimplemented on windows platform
+ public int open(CharSequence path, int flags, int perm) { -> http://msdn.microsoft.com/en-us/library/z0kc8e3z.aspx

+ public int fcntl(int fd, Fcntl fcntl) {
+ public int fcntl(int fd, Fcntl fcntl, int... arg) {
+ public int fcntlInt(int fd, Fcntl fcntl, int arg) {
-> http://msdn.microsoft.com/en-us/li

[2015-01-12 16:54] headius commented on #1917
Actually I may have a good fix.

When the main script exits, we run Ruby.tearDown as described above. This goes through exit hooks and finalizable objects and makes sure they run.

However, stdio streams are marked as "prep" in MRI, which basically means we're not supposed to autoclose them. We have logic to avoid killing the descriptor when you *explicitly* close a "prep" stream, but we do not ha

[2015-01-12 17:04] #1917 closed

[2015-01-12 17:10] headius commented on #2437
#2443 gets us using proper hashing algorithm but does not include salting. I'll file a separate issue for that, since I think we need a bit more discussion about what to use for salt.

[2015-01-12 17:14] headius opened #2452 "Add salt to Array#hash"
For #2437, we partially aligned our Array#hash impl with MRI by making it use our default hashing algorithm (either perlhash or siphash) to calculate its hash value based on contents. However, we missed one piece of the MRI logic that needed a bit more discussion: pseudo-random salt.

MRI uses the address of the rb_ary_hash function as salt for calculating hash. This may or may not be different be

[2015-01-12 17:15] headius commented on #2452
Copying @Who828.

[2015-01-12 17:16] #2446 closed

[2015-01-12 17:42] headius commented on #2437
Had to revert the patch because it has other issues.

[2015-01-12 17:46] jodosha commented on #2450
@headius @kares Thanks for the quick reply. BTW what's the best way to ask you questions? IRC?
I felt because I opened this issue here. :)

[2015-01-12 17:47] enebo commented on #2437
The index and realLength passed into the hash was not for the bytelist but for the array.  That was one thing I noticed.  The other issue I saw too was [nil, false].hash nil.toString().getBytes() seems to return null?

[2015-01-12 17:56] #2324 closed

[2015-01-12 18:07] fcruxen commented on #846
+1 on this

I am getting the exact same error using jruby 1.7.x (tried .12, .16, .18) using chromedriver in selenium. It fails in the same method (rbuf_fill) in /net/protocol.rb. I can check on the issues this was patched in 1.7.12, but I still get this error using this version. the error does not occur in ruby MRI.

EOFError: End of file reached
	from org/jruby/RubyIO.java:2856:in `read_nonblock'

[2015-01-12 18:19] headius commented on #2174
Fixed the last two files mentioned in c3d9dea.

[2015-01-12 18:19] #2174 closed

[2015-01-12 19:01] tduehr commented on #2452
Doesn't need to be cryptographically secure though it's not terrible. It just needs to be on a per ruby env basis and decently random.

I think the idea is just to avoid collisions with objects from other runtimes. Using a CSPRNG would have a higher runtime cost than something closer to MRI's pointer, the runtime's java hash perhaps?

[2015-01-12 19:05] tarcieri commented on #2452
It does need to be cryptographically secure to avoid hashDoS. That's why SipHash (which effectively computes a cryptographic MAC) is used instead of e.g. universal hashing. That's perhaps a tad conservative outlook, but it's one coming from a guy whose Twitter handle is "hashbreaker" (djb).

All that said, I'm not sure any of what I just said applies to `Array#hash`. I'm not sure what the attack w

[2015-01-12 19:28] monkstone commented on #1917
I can confirm ruby-processing sketches now run OK with an installed jruby (jruby 9.0.0.0-SNAPSHOT (2.2.0p0) 2015-01-12 28d5c59 Java HotSpot(TM) 64-Bit Server VM 25.25-b02 on 1.8.0_25-b17 +jit [linux-amd64] I'm a using update-alternatives on Mint to control jruby version) yet to confirm with jruby-complete, that last time I tested seemed to be missing 'psych' gem.

[2015-01-12 19:39] headius commented on #2418
This might be an easy one to track down, so I'll mark with beginner for now.

We don't officially support 2.0 mode on 1.7, so marking this as a 9k bug.

[2015-01-12 19:52] headius commented on #2411
Closing since the prevailing opinion seems to be that it's not a good idea to change this in 1.9 mode.

If we have 2.0 resolv.rb in 2.0 mode, that would be an option for you (and if we don't, it would make a good PR).

[2015-01-12 19:52] #2411 closed

[2015-01-12 19:56] headius commented on #2445
@cmichon At the moment we do *want* Windows to work for the release, but we're limited in what we can do to get there. Only @enebo has a Windows dev machine to use, though I have some Windows licenses on the way to remedy that.

Thanks for pointing it out.

[2015-01-12 19:57] tduehr commented on #2452
I did some reading on the switch to SipHash right before i saw this comment. You're right it should be from a CSPRNG where possible. This salt seems to be for preventing pre computing hash values in search of collisions so a hashDoS can be performed.

Also, it does apply to all implementations/overrides of #hash since that's what the attack leveraged in the first place.

That said, the hit to star

[2015-01-12 19:58] #2137 closed

[2015-01-12 20:06] headius commented on #2452
For performance reasons (and because we don't really believe in hashDoS) JRuby uses perlhash by default, because as far as we've heard there's not a reliable exploit for it. MRI is still using murmurhash for Array#hash calculation, so they're not getting full siphash security either.

I think we all agree we need *some* salt in there, but I'm not sure we need to go beyond what MRI does with some w

[2015-01-12 20:07] headius commented on #2452
Ok, so I'm wrong. We'll need something else that's lightweight and as pseudo-random as a function pointer is for MRI.

[code]

[2015-01-12 20:22] tduehr commented on #2452
Pull the hashCode of the current Runtime.

[2015-01-12 21:03] #2449 closed

[2015-01-12 21:06] headius commented on #2448
`shutdownInternal(context, 0)` should shut down just the read channel of the socket.

Have you tried this on master? Is there an easy way for me to reproduce this?

[2015-01-12 21:17] headius commented on #2448
I just tried something I *think* should reproduce the issue, but it passes on master and JRuby 1.7.18. Maybe we're done? Maybe I don't have a good enough case?

[code]

[2015-01-12 21:19] headius commented on #2444
Check your gem dependencies (I believe there's a bundler flag to show the whole tree) and look for that jruby-openssl instance. It definitely sounds like it's getting pulled in as a transitive dependency of some kind.

[2015-01-12 21:40] headius commented on #2442
Finally, we have fixed the last allocation item we easily can, with fixes to RubyTime in 2dd881b to avoid this wasted "TZ" string object.

I did some analysis on the NoVarsDynamicScope, and I believe it is being allocated for the body of the benchmark, since there are nested scopes that need to be able to access each other. We will be doing analysis in the future to remove more of these temporary/

[2015-01-12 21:40] #2442 closed

[2015-01-12 21:45] headius commented on #2441
My concern with this is that lambdas have *always* raised arity errors, and if they aren't now we've got a significant behavioral difference. It's a difference most people won't see, but I don't like it anyway.

[2015-01-12 22:13] habermann24 commented on #2448
I'm afraid it's not a good enough case and it's a bit more complicated :-(

I had a hard time coming up with a small enough example to reproduce this issue, but i came up with something that might help.

You need to run *two* ruby scripts, a `server.rb` and a `client.rb`.

server.rb:
[code]

client.rb:
[code]

Now in one terminal run `ruby server.rb` and in another one run `ruby client.rb`.

The o

[2015-01-12 22:17] cmichon commented on #2445
I can provide feedbacks on regular basis with a custom test suite.

How can I find all recent daily snapshots? I would need all of them, not
just the latest CI build.
On 12 Jan, 2015 8:56 PM, "Charles Oliver Nutter" <notifications@github.com>
wrote:

[2015-01-12 23:30] tarcieri commented on #2452
@headius your best bet is to grab some cryptographically random value at VM start. I know the JVM likes to read from `/dev/random` instead of `/dev/urandom`, so seems hard. If there's an internal CSPRNG you can grab it from, that'd be fine too.

I think you can just grab it at boot so it's unique per VM instance, like @tduehr was saying

[2015-01-13 00:50] subbuss opened #2454 "Detect regexp syntax errors in regexp literals at IR build time"
From IRBuilder.java:

        // SSS FIXME: Rather than throw syntax error at runtime, we should detect
        // regexp syntax errors at build time and add an exception-throwing instruction instead

This should be fixed before 9k final.

[2015-01-13 00:52] subbuss opened #2455 "red black tree 50% slower in 9k compared to 1.7"
This is on my laptop with -X+C -Xcompile.invokedynamic=true with java7.

[2015-01-13 00:56] subbuss commented on #2261
@headius @enebo Let us chat about this tomorrow .. This may need fixing.

[2015-01-13 19:16] rosenfeld opened #2457 "Bundler won't use dependency API in 2.0 mode for JRuby 1.7.18"
It boils down to this according to my experiments:

[code]

The response is not empty as you can confirm by either downloading the URL or running this on MRI or on 1.9 mode.

[2015-01-13 22:39] headius commented on #2441
Fixed in commits today including b6d996db3101289c9f8c432790e773151e4e1a08 and 7e82e91c7301011769bb02b90c813f5ce3e1f3e3.

[2015-01-13 22:39] #2441 closed

[2015-01-13 22:41] headius commented on #2448
The reproduction looks great, thank you. Will investigate.

[2015-01-13 22:49] headius commented on #2448
Five minutes later, I have a fix. Pushing shortly.

[2015-01-13 23:04] headius commented on #2448
My fix is on master and I'll be adding some tests to MRI shortly.

[2015-01-13 23:05] #2448 closed

[2015-01-13 23:12] habermann24 commented on #2448
That's amazing... :heart:

Now that i see what the fix looks like i feel kinda bad that i didn't come up with it myself :-(
Sometimes it's just hard to get started...don't know much about the underlying implementation.

Anyway, thank you, you rock. Achievement unlocked :wink:

[2015-01-13 23:33] headius commented on #2448
Tip for the future: if there's an unusual error, you can usually pass `-Xbacktrace.style=raw` to JRuby to get the real Java trace. From there it's often easy to figure it out :-)

Please let me know if there's anything else keeping pow from working on JRuby 9k.

[2015-01-13 23:40] headius commented on #2448
Tests added to MRI in ruby/ruby@4eacd5debca9c822933224fea988fea217986831.

[2015-01-13 23:54] headius commented on #2455
Confirmed, though for me it's more like 30%.

[2015-01-14 01:33] kylev commented on #1658
I get something very similar to this (though not exactly) when using Rails 4.0.12 under JRuby 1.7.11 and Oracle JDK 1.8. The last mention of actual ruby code is from ActiveRecord's read.rb:

[code]

[2015-01-14 02:13] rtyler commented on #1331
We're seeing what may be the same issue in JRuby 1.7.18 running on JDK 7u40. @mkristian I've created an internal ticket with some production stack traces and links if you'd like to take a look at that.

[2015-01-14 06:16] Who828 commented on #2457
I can confirm that it's working on master (JRuby 9000) with 2.x mode.
guess this will be fixed once its out.

[2015-01-14 13:51] headius commented on #2376
Fixed by #2458.

[2015-01-14 13:51] #2376 closed

[2015-01-14 13:53] headius commented on #2457
One liner that reproduces this on 1.7:

[code]

[2015-01-14 13:56] mkristian commented on #2457
I needed to add ```--2.0```:

[code]

[2015-01-14 14:15] headius commented on #2457
Oh, right, you need that too :-)

[2015-01-14 15:31] perlun commented on #2457
Does this work properly on older JRuby 1.7 versions?

[2015-01-14 15:46] rosenfeld commented on #2457
This is the only one I tried. I wanted to test one request in my app without the GVL in MRI, that is how I found out this issue...

[2015-01-14 15:57] headius opened #2459 "Launcher does not properly pass through -X properties on Windows"
This could be some oddity in how powershell passes arguments through to our launcher:

[code]

This is running from a self-built clone, rather than using installer.

[2015-01-14 16:01] headius commented on #2459
As expected, it does work with cmd.exe. So this is specific to PowerShell.

[2015-01-14 18:15] cremno commented on #2459
The [stop-parsing symbol](http://technet.microsoft.com/en-us/library/hh847755.aspx) can be used:
`jruby --% -Xbacktrace.style=raw -e 1`

Or just quote any arguments which contain a dot (or any other special characters):
`jruby "-Xbacktrace.style=raw" -e 1`

Quoting the dot should actually be enough, but it looks weird.

[2015-01-14 19:14] jirutka commented on #2412
@headius ping

[2015-01-14 19:17] headius commented on #2429
JRuby should now be working properly on Windows for basic commands. I managed to take it from clone all the way through serving a scaffolded Rails app.

See commits leading up to a2ef35f.

[2015-01-14 19:17] #2429 closed

[2015-01-14 19:21] headius commented on #2346
Looks good in commits leading up to a2ef35f.

[2015-01-14 19:21] #2346 closed

[2015-01-14 19:23] headius commented on #2445
Commits leading up to a2ef35f have gotten Windows working well enough to install rails, generate and scaffold an app and serve it successfully. I'm sure there will be other issues, but that's a lot working.

[2015-01-14 19:25] headius commented on #2410
It *sounds* like this one is fixed. @tobiassvn If you are seeing the original reported behavior failing, please reopen and demonstrate. If you are seeing related but different behaviors failing, file a new issue.

[2015-01-14 19:25] #2410 closed

[2015-01-14 19:27] headius commented on #2345
I no longer see this on master and "gem install somegem" with threshold=0 appears to JIT everything successfully.

[2015-01-14 19:27] #2345 closed

[2015-01-14 19:37] enebo commented on #2270
I was trusting jvisualvm for those values and I realized afterwards those values are not trustworthy.  Looking at sampled heap in jvisualvm always seems to be accurate (I have done many many runs since then).  So at this point in time we are (rails console on empty app):

[code]
So still a ways to go but up to this point I have not tried eliminating ANY analysis data.  I know also that cloning all

[2015-01-14 19:58] #1487 closed

[2015-01-14 19:58] #2319 closed

[2015-01-14 21:28] rkh commented on #2319
\o/

[2015-01-14 22:13] #2320 closed

[2015-01-14 22:15] habermann24 commented on #2418
I don't quite get how JRuby manages object ids in the implementation yet, so no fix here but maybe this helps people get started:

Problem in JRuby is that a Float does not always map to the same object id:
[code]

Whereas MRI gives:
[code]

Also note that there is an existing spec in `spec/ruby/core/kernel/Float_spec.rb` that is supposed to test exactly that, i guess.

[code]

But this test actua

[2015-01-14 22:35] enebo commented on #2418
Ruby 1.8.x used to allow floats to be modified via scale= and I suspect our logic reflects that it used to be a non-immediate value type.

[2015-01-14 22:46] headius commented on #2418
Oh, I just realized what's causing this: MRI now uses tagged pointers for floats too.

We do not have any way to support tagged pointers, which means that all Float instances are real, allocated, GCable objects with their own identities. Rubinius and other impls also do not use tagged pointers for Float, though some support tagged pointers for Fixnum.

I would call this an implementation detail; y

[2015-01-14 22:46] headius commented on #2418
Did you run into this issue in the wild? I would strongly recommend against ever writing code that expects two value-equivalent Float objects to always be the same object.

[2015-01-14 22:52] headius commented on #1216
@simi Sorry for the delay getting back to you...

The patch in 2cbe7e5 is the right thing to port, and for guarding the behavior you could use something like `if (!runtime.is2_0() && block.isGiven()) { ERROR }`, or you could just not bother and we'll sort that out.

[2015-01-14 22:53] simi commented on #1216
I would like to help @headius. Thanks for info. I'll try to prepare PR.

[2015-01-15 01:29] ahorek commented on #2089
Update - it works on master 9.0.0.0 (jruby + windows)

[2015-01-15 06:50] Who828 commented on #2360
Looking into it.

[2015-01-15 07:54] os97673 commented on #2301
Guys, could you please answer the question.  It looks like I've misunderstood your comments in the issue and I'm not sure what behavior to expect now and should I change something in ruby-debug-ide or not.

[2015-01-15 08:25] mvz commented on #2418
I came across it while debugging a build failure on unparser (https://github.com/mbj/unparser). It was fixed in https://github.com/mbj/unparser/commit/fab00e70bb75f5f6e0e6aae6fc211ae123c18e11 by replacing `#equal?` with `#eql?`.

I'm fine with calling this an implementation detail and leaving it at that.

Thanks for looking into this.

[2015-01-15 13:33] JoshCheek opened #2461 "IO#each_line hangs when its"
Script below hangs. I don't expect this behaviour, but I do test it to make sure it handles it gracefully, but it's locking up the test suite.

[code]

[2015-01-15 13:47] headius commented on #2461
Works like in MRI on 9k.

On 1.7.x it appears that both threads are trying to acquire the same lock. each_line probably locks once around the whole operation while the other thread attempts to lock it on entry to read. However IO#close *should* trigger blocking threads to wake up, as in 9k...even if they're inside a synchronized bit of code.

May be possible to change the granularity of the lockin

[2015-01-15 13:49] headius commented on #2461
Correction: it is ChannelStream.getline that's synchronized and leading to the lock contention. So it's not locking around the whole loop, but it is locking while it waits for the next line.

[2015-01-15 14:18] headius commented on #2461
So it's a bit trickier to fix. The getline logic in 1.7 does not use any selector (just calls blocking read), so it doesn't have an easily-interruptible call (interrupting a blocking read on JVM closes that stream).

This may be a problem too large to solve given the way 1.7's IO is implemented, especially given that 9k appears to do it right.

[2015-01-15 14:28] k77ch7 commented on #1891
This works on current master(4142c8d). But this still doesn't work on current jruby-1_7(a042abb
).

[2015-01-15 14:43] headius commented on #2461
Going to call this fixed for 9k.

[2015-01-15 14:43] #2461 closed

[2015-01-15 15:09] headius commented on #2459
@cremno Ahh thank you, that's a neat workaround.

[2015-01-15 15:53] JoshCheek commented on #2461
Thanks for looking into it :)

[2015-01-15 16:25] jirutka opened #2463 "Calling Kernel method in a subclass of SimpleDelegator fails with TypeError: bind argument must be an instance of Kernel"
**Minimal working example:**

[code]

**Expected output:**
[code]

Tested on MRI 1.9.3, 2.1.2 and 2.2.0.

**Actual output on jruby-9000-dev:**
[code]
Tested on:
[code]

**Workaround:**

[code]

[2015-01-15 16:26] jirutka commented on #2412
Reported in #2463.

[2015-01-15 19:10] headius commented on #2463
Confirmed...seems like our logic for binding an unbound method is not detecting Kernel in hierarchy.

[2015-01-15 19:16] headius commented on #2463
Ahh right...UnboundMethod was changed recently to allow module methods to be bound to any object. Fixing.

[2015-01-15 19:44] enebo commented on #1793
This has been solved for now.  Closing.

[2015-01-15 19:44] #1793 closed

[2015-01-15 19:48] enebo commented on #1456
Fixed a long time ago.

[2015-01-15 19:48] #1456 closed

[2015-01-15 19:51] enebo commented on #1786
Marking for 9k but we now do nil inits now after we run DCE.  The problem has been mitigated but it would be nice to solve this in a more robust way. (probably not 9k initial release issue)

[2015-01-15 19:57] headius commented on #1760
This no longer NPEs on master. It doesn't pass, but yeah.

[2015-01-15 19:57] #1760 closed

[2015-01-15 20:06] headius commented on #1839
This has to be fixed. We'd see a lot more issues with our ruby kernel or the JI specs if it wasn't.

[2015-01-15 20:07] #1839 closed

[2015-01-15 20:10] enebo commented on #1794
We know we can do this and may at some point but I am closing out things to reduce what we need to pay attention for for release.

[2015-01-15 20:10] #1794 closed

[2015-01-15 20:13] enebo commented on #1992
Already done.

[2015-01-15 20:13] #1992 closed

[2015-01-15 20:14] #2261 closed

[2015-01-15 20:18] headius commented on #2090
We can't remember or determine what's actually needed to "finish" this, so we're going to close it. The fix in place is simple and works, and if any defined? bugs remain they'd need to be fixed in IR first anyway.

[2015-01-15 20:18] #2090 closed

[2015-01-15 20:20] headius commented on #2059
This has been fixed through various changes, like keeping interpreted instructions from having JIT passes applied. We still have issues with too-big methods not JITing, but that's a different issue.

[2015-01-15 20:20] #2059 closed

[2015-01-15 20:23] subbuss commented on #1786
I am going to close this and open a new issue that is about handling the nil initialization problem more generally. Now that ensure tmp vars are assigned pass runs at the end just before ir -> bytecode compilation, it handles JVM semantics of having the necessary inits.

That said, we need a generic solution that ensures that all local/tmps are assigned - this will also let us get rid of the retur

[2015-01-15 20:23] #1786 closed

[2015-01-15 20:24] headius commented on #2000
We now clone the instructions for interpreter so the JIT does not affect it. We know we have to keep it that way for thread-safety and other reasons, so I'm going to call this fixed.

The general case -- that passes should always produce code that can be jitted or interpreted -- is known to us and when we have specific cases we'll fix them.

[2015-01-15 20:24] #2000 closed

[2015-01-15 20:28] subbuss opened #2465 "Build a new pass that ensures that ruby locals / IR tmps are initialized"
So, in the snippet below, x is not initialized on all paths.

[code]

So, this requires JRuby to return nil if a local var look fails. We can get rid of those if the IR can introduce necessarily initializations on all code paths. This will simply DynamicScope var looks and also eliminate conditionals in variable retrieves (see https://github.com/jruby/jruby/blob/master/core/src/main/java/org/jruby

[2015-01-15 20:38] #2463 closed

[2015-01-15 21:21] subbuss commented on #2201
This seems fixed. Identical output with -X+C, -X-C and default jruby run

[2015-01-15 21:21] #2201 closed

[2015-01-15 21:28] subbuss commented on #2129
Maybe this is just 'local_variables' implementation that needs an update?

[2015-01-15 21:42] headius commented on #1970
Circling back to this for IR bug review...

This is still an issue, but it's not a 9k showstopper. We *will* make blocks jit independently, but it requires much deeper work to separate the block's pre/post state from the method's pre/post state (frames, scopes, etc). We could JIT the block with no optimizations, just using the interpreter instructions as-is, but that greatly diminishes the value o

[2015-01-15 22:14] subbuss commented on #2454
Looks like this is handled in the parser right now. So, this is a non-issue.

[2015-01-15 22:14] #2454 closed

[2015-01-15 22:26] rtyler commented on #1874
I wonder why GitHub didn't link these issues up correctly, let's try this again.

 * #1735
 * #1737
 * #1733

Also, Beetlejuice Beetlejuice Beetlejuice

[2015-01-15 22:42] cmichon commented on #2445
yes today's CI snapshot confirms the original issue is gone.

Yet, installing the gem awesome_print gave this interesting output:

Fetching: awesome_print-1.6.1.gem (100%)
Successfully installed awesome_print-1.6.1
ERROR:  While executing gem ... (Errno::ENOENT)
    No such file or directory - stty

./bin/jruby
./bin/jruby.bash
./lib/ruby/stdlib/io/console.rb
./lib/ruby/stdlib/rake/application.rb

[2015-01-15 23:14] headius commented on #2124
Coming back to this, I don't think it's an IR issue (at least, it's not anymore)...I think it's a parsing issue.

If the RHS in `def foo(var = var)` parsed properly, as a local variable load, IR should fall in line and compile it just fine.

[2015-01-15 23:21] nirvdrum commented on #2299
@tduehr Can this be closed?

[2015-01-15 23:22] nirvdrum commented on #2033
Yeah.  My specs have been passing for a while now.  Closing this one.  Thanks!

[2015-01-15 23:22] #2033 closed

[2015-01-15 23:23] nirvdrum commented on #1982
I'm pretty sure this was fixed somewhere along the way.  I'll re-open if I find otherwise.

[2015-01-15 23:23] #1982 closed

[2015-01-15 23:25] nirvdrum commented on #2250
These specs have been passing for a while now.  Closing.

[2015-01-15 23:25] #2250 closed

[2015-01-16 02:44] nirvdrum opened #2466 "Package Truffle stdlib files into tarball"
Since Truffle has a long ways to go before being widely useful, we've whitelisted the standard libraries we think are okay to load.  These are implemented by way of stubs in lib/ruby/truffle/mri and they basically do a require_relative back to the standard lib file in JRuby.  The problem is these stubs aren't currently being packaged so anyone using the tarballs as the source for their installatio

[2015-01-16 03:43] tduehr commented on #2299
I really don't know... This version should be better but I don't know if it's actually correct or there isn't a better one...

[2015-01-16 05:45] headius commented on #2445
@cmichon Huh yeah, that should work. I took a bare JRuby clone all the way to a running Rails app, which involved a lot of RubyGems (which loads io/console). Let me know what you see and file a bug if you can narrow something down.

[2015-01-16 10:48] mkristian commented on #2466
to add those files to jruby-stdlib jar is easy and with it goes to lla the
other distribution forms.

BUT is it really the way to go: pack those "all" included ?

as far as I understand truffle is optional, so if I do not want to use
truffle I want "truffle" free artifacts. using ruby scripting in a java
even if it is only "puts 'hello world'" means I need to add 20MB or more
extra libraries to ge

[2015-01-16 13:37] ncuesta commented on #1595
I know it's been a long time since this issue was closed, but I'm getting the same `marshall data too short` on a fresh install of `jruby-1.7.18`. I'm not getting such error when running the same `gem install` command with jruby in `1.9` mode.

[code]

BTW I'm using rbenv 0.4.0, if that affects anything.

Thanks in advance

[2015-01-16 15:23] rkelly34 opened #2467 "NoMethodError "join", with Padrino and Warbler"
From version 1.7.16 on, I've been getting a generic Error 500, with details NoMethodError "Join" on string.
Originally found in 1.7.18, I could not get it to work correctly until going back to 1.7.15
The application is a Padrino application, warbled (tested both 1.4.0, and 1.4.4), and hosted using Tomcat.

[2015-01-16 16:21] jeremyevans opened #2468 "Some Java modules do not respond_to name"
In jruby, `Module.method_defined?(:name)` is `true`.  However, not all modules respond to it:

[code]

Most of these modules, despite not claiming to respond to `name`, actually do respond to it, and once you call the `name` method on them, then they will claim to respond to it.

The one exception to that is `JavaPackageModuleTemplate`, which doesn't respond to it, and raises an `ArgumentError` wh

[2015-01-16 16:58] enebo commented on #2445
@headius you have cygwin or mingw commands in your path?  The code path for io/console.rb looks like windows will follow the else and try to execute `stty -a`

[2015-01-16 17:00] #2418 closed

[2015-01-16 18:02] enebo commented on #2467
This much info is not super likely enough for us to go on unless something really obvious sticks out in commits between 1.7.15 and 1.7.16.  Any chance you can localize what object is raising this NoMethodError?

[2015-01-16 19:34] a13m opened #2469 "DNS resolution should fall back to TCP on Errno::EACCES in UDP bind"
On some platforms, users may be restricted from global binding to a UDP port, which is necessary for UDP-based DNS lookups.  This error should be caught, and the resolver should fall back to TCP, as it does in other cases where this is necessary.

Ideally, it would also be nice to be able to specify tcp by default when initializing a DNS object on such platforms, to avoid repeated bind attempts wh

[2015-01-16 20:04] headius commented on #2445
@enebo It's possible, but it would have had to come in with the git command. I started from a bare Windows 2012 server. I don't think so, because even simple things like `ls` didn't work but git did.

[2015-01-16 20:52] headius commented on #2360
Fixed by #2464.

[2015-01-16 20:52] #2360 closed

[2015-01-16 21:27] headius commented on #2445
At @enebo's suggestion, I audited core class method definitions in JRuby and MRI. I added a bunch of small ones that were missing, deleted some, moved some, and changed visibility on some. The remaining (coarse-grained) items are here:

* Enumerator#feed, #next_values, #prev_values missing
* Hash#any? and Array#any? optimization missing
* ObjectSpace::WeakMap#each and Enumerable inclusion
* Object

[2015-01-16 21:35] headius commented on #2445
Oops, @who828 added Array#any? and Hash#any? so I'll update my comment above.

[2015-01-16 21:36] headius commented on #2445
FYI, current plan is pre1 release on Monday.

[2015-01-16 21:37] headius commented on #2445
@chrisseaton I heard you're traveling today, but please comment on the bug with any details about JRuby+Truffle in pre1.

[2015-01-16 21:44] headius commented on #2445
I've started a wiki page for the release notes: https://github.com/jruby/jruby/wiki/JRuby-9.0.0.0.pre1-Release-Notes

[2015-01-16 21:49] headius commented on #2323
This was actually a bad spec and failed for everyone. I forced it to use a specific offset.

[2015-01-16 21:49] #2323 closed

[2015-01-16 22:28] nirvdrum commented on #2466
dist is the problem.  ruby-build uses the nightly tarballs (and the versioned ones upon release) for installation.  They currently don't include everything needed to run Truffle-backed JRuby.

[2015-01-16 22:39] donv opened #2471 "Avoid loading classes not present on Android"
Currently there is a har load path from org.jruby.Ruby to java.lang.invoke.MethodHandles which is not present on Android.  We ned to avoid this load path when the compiler is disabled.

[code]

[2015-01-16 22:49] enebo opened #2472 "jirb_swing is not showing output"
I tried to make this a little more pliable by replace hook_into_runtime_with_stream with:
[code]

output stream itself seems to not be working.  This is weirder than just native being an issue if I disable native it still does not work.

[2015-01-16 22:50] chrisseaton commented on #2445
I've added a few sentences on Truffle. It basically says normal users shouldn't even attempt to run their applications on it.

Truffle is blocked on #2466, but @mkristian is already looking at it. We'll freeze Truffle development and start double checking to make sure it's ready for release on Monday.

[2015-01-16 22:53] enebo opened #2473 "Extra yytable.java class"
RubyYYTable.java is not used and YYTable.java is used but following the two scripts is not obvious.  So I need to fix the script.  Adding this so I don't forget to take some action.  Minimal action is to just git rm the file before release and fix the tool later.

[2015-01-16 22:59] chrisseaton commented on #2466
We're working on some ideas to reduce the size of the Truffle code (it's generated code, so we're improving the generator), so it may not be quite as bad as 20MB. I'll let you know as we experiment.

As you say, jruby-dist (the binary tarballs, right?) and JRuby complete I think should include all backends, and I think that's always the way it's been understood to work. Truffle's a runtime configu

[2015-01-16 23:06] mkristian commented on #2466
just give me time until tomorrow and then there will be the truffle stuff
included. just do not want to push things and then go to bed without being
to fix the build in case I break it.

maybe my wish to modularize it is not so important, but it is already half
way: remove Truffle by brute force deleting the classfiles from the jar =>
just put it into two jars.

On Fri, Jan 16, 2015 at 10:59 PM, C

[2015-01-16 23:11] donv commented on #2471
Tried adding ```jsr292-mock-1.1.jar``` to satisfy class loading, but it barfs on building the apk:

[code]

[2015-01-16 23:14] enebo commented on #2466
The other thing to consider if that Ruboto needs to be able to not include Truffle due to size being much more important.  They are doing this outside our build processes but it is still worth mentioning.

[2015-01-16 23:14] chrisseaton commented on #2466
This is the command to remove Truffle safely:

https://github.com/jruby/jruby/blob/master/tool/remove-bundled-truffle.sh

[2015-01-16 23:27] donv commented on #2471
When running with ```--core-libray``` and the ```jsr292-mock-1.1.jar```, the app builds, but fails during runtime:

[code]

[2015-01-16 23:29] #2466 closed

[2015-01-16 23:41] donv commented on #2471
@enebo We should avoid loading the JITCompiler class and the jsr292 classes when the compiler is disabled.  Any idea how best to do that?

[2015-01-16 23:41] chrisseaton commented on #2455
Red black is memory bound isn't it? When I run it in Truffle it seems like the compilation has very little impact as it's all GC and dereferencing. Your objects aren't larger in IR are they?

[2015-01-16 23:44] deepj commented on #2417
The same problem is on JRuby 9k too. I met with this issue in case of trying to pass tests of [lotus-router](https://github.com/lotus/router) on JRuby 9k.

[code]

Tested on
[code]

[2015-01-17 12:56] mkristian opened #2474 "truffle artifacts are not on maven central and we have a release repo in jruby-parent.pom"
this actually is a follow up to #2466

currently the regular maven artifact 'org.jruby:jruby-core' does not work since it depends on truffle artifacts which are NOT on maven central.

the release repo for the truffle in jruby-parent.pom is a no way, we can not deploy such artifact via sonatype since maven central should stay self contained.

[2015-01-17 13:02] chrisseaton opened #2475 "Truffle: Understand and reduce impact of Truffle on the distribution size"
We would like to understand what the impact of Truffle is on the distribution size, and what we can do to reduce it.

I'll keep a log of notes here on progress.

[2015-01-17 13:06] mkristian commented on #2474
@chrisseaton right now we can release jruby with truffle as is

[2015-01-17 13:09] chrisseaton commented on #2474
Yeah - we'll see what we need to do to get on Maven Central. JRuby goes via Sonatype, right? How does it do that?

[2015-01-17 13:36] chrisseaton commented on #2475
Branch: master
Commit: b66ac36

jruby-core-9.0.0.0.pre1.jar: 15.1MB
jruby-core-9.0.0.0.pre1.jar uncompressed: 31.8MB

org.jruby.truffle uncompressed: 18.4MB
Truffle core files uncompressed: 150KB (trivial, so we'll ignore from this point on)

Truffle makes up 58% of the uncompressed core jar.

[2015-01-17 13:58] mkristian commented on #2475
spliting jruby-core into two parts: one with only org.jruby.truffle.** and the other all the rest.

* 8.1M jruby-core-9.0.0.0.pre1-onlytruffle.jar
* 6.1M jruby-core-9.0.0.0.pre1-notruffle.jar

[2015-01-17 15:59] chrisseaton commented on #2475
Branch: truffle-head (using next release of Truffle with new DSL layout and unboxing disabled)
Commit: f097640

jruby-core-9.0.0.0.pre1.jar: 12.3MB
jruby-core-9.0.0.0.pre1.jar uncompressed: 26.2MB

org.jruby.truffle uncompressed: 11.8MB
Truffle core files uncompressed: 150KB (trivial, so we'll ignore from this point on)

Truffle makes up 45% of the uncompressed core jar.

So we've reduced Truffle

[2015-01-17 16:01] purezen commented on #1359
Adding the constant in RubySocket.java works fine. I can now access IFF_MULTICAST in jirb with:

      rb_mConstants.setConstant("IP_DEFAULT_MULTICAST_TTL", runtime.newFixnum(1));
    =>rb_mConstants.setConstant("IFF_MULTICAST", runtime.newFixnum(<some_number>));

but can't figure out what value to put in newFixnum.

[2015-01-17 17:30] chrisseaton commented on #1360
This seems to work now. Please re-open if you are still having problems.

[2015-01-17 17:30] #1360 closed

[2015-01-17 17:40] chrisseaton commented on #2445
Truffle is ready to go, apart from @mkristian thinks we need to put Truffle into Maven Central as all JRuby dependencies are supposed to be available there (#2474). I can look into that on Monday when the relevant people are around.

[2015-01-18 02:34] camlow325 opened #2477 "require reloads file, not honoring partial path in LOADED_FEATURES"
This is related to a discussion in #1941.

In MRI Ruby 1.9, if a partial (relative?) path to a file is included in LOADED_FEATURES, an argument to 'require' matching that path will not result in the file being reloaded.  In JRuby 1.7.18 and earlier, however, the same 'require' statement would cause the file to be reloaded.

For example, if "test/testmod.rb" were added to the LOADED_FEATURES, a sub

[2015-01-18 02:36] camlow325 commented on #1941
@headius Sorry for the late reply back on this one.  Unfortunately, the fix applied in JRuby 1.7.18 didn't appear to address the Puppet require reloading issue that I'd mentioned earlier in this thread.  I submitted a new issue, #2477, with a more specific example to demonstrate the issue.

[2015-01-18 03:41] Who828 commented on #2445
@headius  I think you meant peek_values, not prev_values for Enumerator. (prev_values doesn't exists in MRI).

[2015-01-18 16:25] enebo commented on #2471
in Ruby.init the instance is created.  You can just check RubyInstanceConfig for compiler mode and if it is OFF then don't construct JITCompiler.

[2015-01-18 16:37] ntl commented on #2417
Just stumbled on this one with jruby-9000-dev built yesterday. Inheriting from `Object` is fine, but any object that raises an error within a `BasicObject` subclass dies.

[2015-01-18 16:49] enebo commented on #2417
Ah yeah this is not an issue with 1.7.18 and is a problem with master/9k.  #2267 is causing people to run specs against the wrong version of JRuby.  I will update this issue and mark it against 9k.

[2015-01-18 16:54] enebo commented on #2417
@ntl do you happen to have a reduces snippet for this?  My repros of making an object inherited from BasicObject so far have not been blowing up.

[2015-01-18 17:55] #2154 closed

[2015-01-18 17:56] enebo commented on #2154
Very weirdly I could not get MRI approach to work but I just return tRCURLY and it works?  I am sure there is a case missing but no test cases is tripping over this so we will just try it?

[2015-01-18 17:58] enebo commented on #1062
I realized if I land this in its current 50%+ working state it will not work in JIT since in this form it still has a refinedcallinstr vs using a refinedcallsite.  Even had I made that change the JIT would still need some work so I am deferring this until next 9k release.

[2015-01-18 17:59] enebo commented on #2270
This is an ongoing process which is not finished and is not blocking pre1 so I am moving it forward.

[2015-01-18 18:01] enebo commented on #2471
If someone wants to add the code to make JIT conditional they can but we will not hold up pre1 for this since I am guessing there has been no 9k evaluation recently based on the inability to work around the JIT classs.   Moving forward and next 9k release (pre2,rc1,...) will hopefully be working well enough.

[2015-01-18 18:07] enebo commented on #2473
Partially address for pre1.  2841d67 removes the unused class file.  I am pushing this to 9k to fix the tool but this will help with dist sizes.

[2015-01-18 19:32] ntl commented on #2417
This will do it for me. I think you have to rescue an error within `BasicObject`.

[code]

[2015-01-18 20:22] subbuss commented on #2455
Yes, memory usage is larger in IR mode, but not sure if it fully explains the slowdown. But, you may be right that rb tree could be memory bound .. I never thought of investigating more there. Thanks for looking into it.

[2015-01-18 20:41] enebo commented on #2417
@ntl Excellent!  About as minimal as it probably gets...

[2015-01-18 20:43] monkstone opened #2479 "jruby-complete-9.0.0.0-pre seems to be missing something"
jruby-complete-1.7.18 = 22.4 MB
jruby-complete-9.0.0.0-pre = 15.6 MB
missing 'ostruct' 'fileutils' etc

[2015-01-18 20:46] enebo commented on #2479
My dist (from Friday afternoon):

[code]
fwiw, I am hoping jruby-complete is smaller since was only ship a single version of stdlib and a single parser instead of three.  I will not close this until tomorrow when I verify that latest build changes did not break something (some were made on Saturday).

[2015-01-18 20:46] jirutka commented on #2463
Great, it works now. Thanks!

[2015-01-18 21:00] ntl commented on #2417
@enebo glad it's helpful. I strongly resisted the urge to golf it down further.

[2015-01-19 01:21] emboss opened #2480 "Keyword arguments arity issue"
Probably related to #2320. I get similar results with lambda keyword arguments and keyword arguments passed as a Hash instead of passing them explicitly.

[code]

[code]
After some debugging, I found out that in `RubyBlock#prepareArgs` the arity is checked on the `Signature`'s arity object (a "Fixed0"), but keyword args would only be considered in `Signature#checkArity`.

Not sure if this is relat

[2015-01-19 02:50] subbuss commented on #2417
The problem is that 'StandardError' is not being found in the inheritance hierarchy when the class inherits BasicObject. So, maybe the bug is that in IR mode, we shouldn't be generating a lookup for StandardError but have it around. See the related FIXME in IRBuilder which talks of a different issue with having the class looked up. I think dealing with the FIXME will fix the issue. But, before I g

[2015-01-19 03:44] emboss commented on #2452
IMO a cryptographically secure seed would be the safe choice, as @tduehr and @tarcieri proposed.

For what it's worth, this is how Java 7 used to seed [String hashing](http://hg.openjdk.java.net/jdk7u/jdk7u60/jdk/file/33c1eee28403/src/share/classes/java/lang/String.java#l3027), and here's [yet another way](http://hg.openjdk.java.net/jdk7u/jdk7u60/jdk/file/33c1eee28403/src/share/classes/sun/misc/Ha

[2015-01-19 06:49] monkstone commented on #2479
I have created a test case here https://gist.github.com/monkstone/b5714dbf84431273ec87 which mimics ruby-processing. With jruby-complete-1.7.18.jar ie the following test
[code]
yields
[code]
With jruby-core-9.0.0.0.pre1-complete.jar ie the following test as expected, with runner-pre.rb I get this:-
[code]
perhaps the clue is in the name of the jar in which case my apologies, but I had been assumin

[2015-01-19 07:13] SebastianEdwards opened #2481 "error: method newEncoding in class RubyEncoding cannot be applied to given types"
[code]

See: https://travis-ci.org/msgpack/msgpack-ruby/jobs/47236877

[2015-01-19 09:29] joey-he8x commented on #1386
I didn't backup the example, so I'm affraid it is not easy to provide it again or to verify its existence in master.
But the problem seems clear to me if your read the specific line in src that I pointed out in the post.

[2015-01-19 10:41] mkristian commented on #2479
use a clean build in case you switch branches or so:
```mvn clean install -Pcomplete```

anyways it is THE jruby-complete jar, my build shows
[code]
the main reason it is bigger than jruby-1.7.18 is the new truffle backend.

[2015-01-19 11:56] monkstone commented on #2479
Its a pity that build does not work for me even when preceded by successful `mvn package`
[code]

[2015-01-19 15:17] enebo commented on #2417
I think shortest near term fix would be to change module<0> to <Class:Object> right?  I guess we should figure out it overriding this particular constant will change rescue behavior or not too since manipulating StandardErrror to something else at runtime seems like a horrible idea :)  Having an operand for either behavior would probably be the thing to do once we figure out which way it is suppos

[2015-01-19 15:34] enebo commented on #2479
@monkstone That is an unfortunate side-effect of build system.  Any compile errors (which can even be generated classes) will trigger as if there is a compiler error in truffle code.  The only way to solve this is to mvn clean first.

[2015-01-19 15:45] monkstone commented on #2479
@enebo I routinely do `mvn -Pclean` and still got same result

[2015-01-19 15:46] #2417 closed

[2015-01-19 15:50] enebo commented on #2417
Ok so I looked into @subbuss question:

[code]

In MRI this prints "rescued" and in JRuby we complain about StandardError being '1'.

[2015-01-19 15:53] enebo opened #2482 "StandardError should become an operand which always refers to same value"
Originally from #2417.  This snippets shows that in MRI StandardError is saved off at bootstrap and is immune to the constant changing.  We should make a special operand for this so we can still use it in EQQ instr:

[code]

[2015-01-19 16:04] enebo commented on #2480
In your second m(args) snippet I see no argument error but the arity is 0 like you reported.  Can you confirm that?

[2015-01-19 16:30] just3ws commented on #1595
Hi, I'm getting this as well.

- RVM 1.26.9
- RubyGems 2.4.5
- OS X 10.10.1 (14B25)
- jruby 1.7.18 (2.0.0p598) 2014-12-22 625381c on Java HotSpot(TM) 64-Bit Server VM 1.7.0_51-b13 +jit [darwin-x86_64]
- ~/.jrubyrc

        cext.enabled=true
        compat.version=2.0

- java -version
        java version "1.7.0_51"
       Java(TM) SE Runtime Environment (build 1.7.0_51-b13)
        Java HotSpot(TM

[2015-01-19 17:19] enebo commented on #2479
wow.  I did not read that error very closely...wtf is that massive file name :)

@monkstone Can I ask which OS you are trying to build this with?

@chrisseaton @nirvdrum @eregon I do not see this on MacOS but perhaps other OSes won't like such long generated filenames?  I am not sure this is the base cause of this reported issue or not but I thought I would bring your attention to it.

[2015-01-19 17:46] chrisseaton commented on #2479
I thought we had an issue open for this but apparently not. My guess would be that @monkstone is on Windows - or a unix with some kind of encrypted or FUSE file system?

The filename is a little bit ridiculous. I'll see if I can get it fixed so it doesn't try to generate this filename in the first place for Truffle 0.7 (in a few days).

[2015-01-19 17:50] #2472 closed

[2015-01-19 18:18] headius commented on #2474
@chrisseaton This guide should give you all you need to know to get an organization/groupId/artifactId using Sonatype's OSS support: http://central.sonatype.org/pages/ossrh-guide.html

This is the same setup all our JRuby-related artifacts use.

[2015-01-19 18:46] monkstone commented on #2479
@chrisseaton Your guess was right about encrypted home directory but it was on linux Mint, I'll have a go on Archlinux instead @enebo and report back (something I had not thought of).

[2015-01-19 18:50] chrisseaton commented on #2479
Yeah an immediate workaround is to use a directory on an unencrypted filesystem if you have one.

[2015-01-19 19:12] chrisseaton commented on #2479
@monkstone can you try building the `truffle-u` branch? It just renames some classes so they might be below the limit.

[2015-01-19 19:19] monkstone commented on #2479
Well now I've booted up into Archlinux (where my user home is not encrypted), compiles OK, and
I get  jruby-core-9.0.0.0.pre1-complete.jar size 20.5 MB (note same name as I got originally)
However when I run my test psych is now included and thus test works, so @enebo can probably close this issue (I will check ruby-processing works OK, if you don't mind before conducting @chrisseaton experiment w

[2015-01-19 19:22] chrisseaton opened #2483 "Long generated filenames in Truffle code prevent compilation on some systems"
For example #2479

This should be fixed in Truffle 0.7 in a couple of weeks max. Try the `truffle-u` branch as an alternative workaround.

[2015-01-19 19:29] monkstone commented on #2479
OK I think we can close this issue now ruby-processing shader sketches run fine, funny how the incomplete jruby-complete got built in the first place?

[2015-01-19 19:31] enebo commented on #2479
@monkstone If you can verify @chrisseaton truffle-u branch we would love to see if it works with the secure filesystem

[2015-01-19 19:49] monkstone commented on #2479
@chrisseaton Your guess was right about encrypted home directory but it was on linux Mint, I'll have a go on Archlinux instead @enebo and report back (something I had not thought of).

[2015-01-19 19:55] monkstone commented on #2479
Well this is entirely unexpected to me compile of truffle-u branch seems to go OK producing a jruby-complete with same size file 20.5 MB but 'ostruct' and 'psych' are not found as before.

[2015-01-19 20:02] enebo commented on #2479
I wonder if there is some other longs paths causing packaging to not complete successfully but perhaps not crap out over the long paths?

[2015-01-19 20:09] headius opened #2484 "Ripper and Readline depend on JRuby 1.7.x"
For #2472, I modified TextAreaReadline to set the replacement stdio streams sync using an API added in 9k. Unfortunately those artifacts depend on JRuby 1.7.11, and updating them to depend on current-clone's jruby-core version broke travis in one unusual way: https://travis-ci.org/jruby/jruby/jobs/47549934

We need to sort out the lifecycle of these libraries after pre1 and get them depending on a

[2015-01-19 20:30] mkristian commented on #2479
@monkstone you are basically saying jruby-core and jruby-complete have both the same 20.5MB - sounds the jruby-complete does miss the stdlib files :(  - for you

[2015-01-19 20:34] enebo commented on #2480
Commit 2025534e876f655ea00daff9d0251a0d072e800d solves the ArgumentError in your first snippet but does not fix your arity issue.  Going to look at arity tests in MRI and see what we have tagged out.

[2015-01-19 21:07] monkstone commented on #2479
No! what I am saying is that jruby-complete truffle-u branch compiled on an encrypted file system and jruby-complete compiled on an unencrypted file system are the same size 20.5 MB. Previously rather surprisingly I got 15.6MB on the encrypted system when it actually compiled see first entry....

[2015-01-19 21:14] mkristian commented on #2479
I got confused by  jruby-core-9.0.0.0.pre1-complete.jar  which NOT jruby-complete and my jruby-complete-9.0.0.0.pre1.jar is about 28MB

just in case have a look maven/jruby-complete/target

something does not add up not sure what

[2015-01-19 21:24] enebo opened #2485 "proc with extra args incorrectly binds wrong post args"
This test in mri test suite shows it (and quite a bit more):

[code]

recv_post_arg incorrectly binds d and e to 5,6 instead of 4,5.

[2015-01-19 21:46] monkstone commented on #2479
I'm now a bit confused but happy to close the issue jruby-complete-9.0.0.0.pre1.jar works OK on both encrypted (compiles OK with truffle-u branch) and unencrypted systems (but jruby-core-9.0.0.0.pre1-complete.jar built on unencrypted system also seems mostly work for me).

[2015-01-19 21:46] #2479 closed

[2015-01-19 21:56] mkristian commented on #2479
sorry - naming things can be quit a challange. the idea was that those "complete" files do not have an further dependencies: jruby-complete-9.0.0.0.pre1 == jruby-core-9.0.0.0.pre1-complete + jruby-stdlib-9.0.0.0.pre1

[2015-01-19 23:21] emboss commented on #2480
Awesome, thank you! About the second example, it's weird. I was running this in irb, when I tried again it worked. But I found a script that reproduces it deterministically on my machine:

[code]

It's only the second call that fails.

[2015-01-20 10:25] pandar1 commented on #2310
Updated to 1.7.18 but the problem when outputting dates is still there, in action view...

[2015-01-20 11:24] pandar1 commented on #2310
P.S. it's sufficient to add the line

<%= Incident.first.created_at.to_s %>

to raise the error... I have the db configured in utc... using oracle enhanced adapter 1.5.0 branch  rails42 and ojdbc6.jar to access the db...

[2015-01-20 15:02] enebo commented on #2480
AHA.  So for this example we will track it at #2015 and for the arity cases we will use this issue.

[2015-01-20 15:08] enebo commented on #2015
Reported by someone else and I remembered this issue.  So some notes:

1. Caused by not dup'ing the kwargs list and our resolution algo removes elts to make sure all reqd elements are present (including duplicated values)
2. in IR each kwarg is received via instruction and we call this fairly expense extractKwargsHash each time

Simplest way to fix in the short-term would be to not remove elements

[2015-01-20 16:11] headius commented on #2474
This has been mitigated by temporarily pushing a truffle artifact on com.headius groupid. We'll revert back to the Oracle jars once they've been pushed to maven central.

[2015-01-20 16:24] headius opened #2487 "Dist has gotten too large due to new maven features"
The newish jar_dependencies feature in JRuby resulted in us having to ship Maven itself plus its dependencies. That increased the size of our distribution by more than 20MB. Other libraries contribute, but the ruby-maven-libs gem is the biggest issue.

Our users like the jar-dependencies feature, so it seems like we need to ship this stuff...but we need to shrink it down. Suggestions so far:

* In

[2015-01-20 18:38] headius commented on #2445
@Who828 You're right, I'll fix that.

[2015-01-20 19:58] mkristian opened #2488 ""java -jar jruby-complete.jar -S gem install yard" creates uri:classloader: directory when GEM_HOME is not set"
[code]
but also
[code]

[2015-01-20 21:47] enebo commented on #2445
It is out!

[2015-01-20 21:47] #2445 closed

[2015-01-21 05:43] blanquer opened #2489 "Proc.parameters return an empty array"
Invoking the .parameters method of a Proc seems to return an empty array, rather than the parameters definition.

Repro steps:
[code]

Using ruby 2.2.0: (and it is the same for 2.1.x)
[code]

Using Jruby-head (ruby9000) as of today:
[code]

[2015-01-21 12:57] eregon opened #2490 "Cleanup tags"
A few git tags seem to be user errors or unintended.
One can see them at https://github.com/jruby/jruby/tags.
Notably `localhead`, `last-success`, `hudson-whatever`, `list` and `Dirty-hackish-mkmf`.
Can we delete them?

[2015-01-21 14:45] lephyrius opened #2491 "Minitest rails not working on 9000"
I use minitest-rails as a testsuit for my rails app but cannot get it working on 9000.
So when I run it under 1.7.18 it executes all my controller tests with:
rake test:controllers

Under jRuby 9000 it only runs:
** Invoke test:controllers (first_time)
** Invoke test:prepare (first_time)
** Execute test:prepare
** Execute test:controllers
Then just quits no output at all.

[2015-01-21 15:00] enebo commented on #2489
Yeah sorry we knew about this one from some tagged out tests in MRI but we will make sure we get this for pre2.

[2015-01-21 17:40] headius commented on #2490
I'll do a tag and branch sweep today.

[2015-01-21 20:37] #2489 closed

[2015-01-21 21:19] mje113 opened #2493 "Performance issue with invokedynamic + Rack + URI"
While benchmarking a simple Rack app with and without invokedynamic, I noticed that calls to URI::Generic.default_port were taking an excessive amount of time with invokedynamic turned on.

Note 19 seconds spent calling default_port with indy on, vs nothing with it off:
https://gist.github.com/mje113/988f065369dd5693dffb

[2015-01-21 21:23] mje113 commented on #2493
Oops--forgot to mention that the method in question:
https://github.com/jruby/jruby/blob/master/lib/ruby/stdlib/uri/generic.rb#L30

If changed to return DEFAULT_PORT instead of self::DEFAULT_PORT seems to fix the performance issue.

[2015-01-21 22:10] jeffgran commented on #1719
@kares I was able to verify that JOpenSSL 0.9.6 fixes this issue, by hacking the pom.rb and pom.xml in the latest jruby-1_7 branch to update to 0.9.6.

I hate to be a pest, but is there any chance of releasing a 1.7.x with this upgrade? If not I can of course use my custom-built snapshot jar.

[2015-01-21 23:33] philr opened #2494 "Open3 fails with varying signals on 9.0.0.0.pre1"
I am using `jruby 9.0.0.0.pre1 (2.2.0p0) 2015-01-21 ac0d512 OpenJDK 64-Bit Server VM 24.65-b04 on 1.7.0_65-b32 +jit [linux-amd64]`.

I am executing processes using Open3. Instead of receiving the expected exit status, I am instead seeing a signal raised:

[code]
The signal number increases by about 22 with each execution before wrapping around at around 127.

With JRuby 1.7.18, I get the expected

[2015-01-21 23:37] headius commented on #2494
Seems specific to how open3 is doing its subprocess launching. If I use `system` the exit statuc looks right:

[code]

[2015-01-22 00:06] headius commented on #2494
Problem is in Process.detach...it's not using the right value for exit code:

[code]

[2015-01-22 00:45] #2494 closed

[2015-01-22 00:46] headius commented on #2494
Please confirm with JRuby master. Thanks for the report...this fix made a bunch of other tests start passing too.

[2015-01-22 00:47] headius commented on #2490
Did not get to tag/branch sweep today :-D

[2015-01-22 00:47] headius commented on #2491
Interesting...sounds like it's bailing out when running some subprocesses.

Can you make a little dummy app for us to reproduce this? I'm not sure how to set it up myself.

[2015-01-22 00:49] headius commented on #2493
The perf improvement from removing self:: means this is likely a problem with how the indy logic compiles the :: form of constant lookup (called "Const2" in our AST). Will investigate.

[2015-01-22 00:51] headius commented on #2493
Simple answer...there's NO caching at all being done for this form (inheritance_search_const in IR), so the constant and all the invokedynamic method handles to wrap it are getting created every time.

[2015-01-22 01:07] headius commented on #2493
Hmm actually it looks like we are attempting to cache it until the global constant invalidator fires or the target module is not the same one as last time. Adding some logging, it looks like that invalidation is not working right, or else we're not able to cache this variable properly:

[code]

[2015-01-22 01:24] headius opened #2495 "Const2 lookups cache poorly in indy JIT"
Root cause of #2493.

When accessing a constant like a::B, we attempt to cache the value against module a's id and the global constant invalidator. Unfortunately, for cases where this form may see many different "a" values (as is the case in #2493) we fail to cache the value but still keep trying. This leads to tremendous overhead in method handle creation and call site binding/rebinding.

For the

[2015-01-22 01:26] #2493 closed

[2015-01-22 01:27] headius commented on #2493
See #2495 for a description of the problem.

[2015-01-22 02:30] rtyler opened #2496 "NameError: uninitialized constant JSON::Ext::Parser using jruby-complete"
The full repro case is in [this repository](https://github.com/rtyler/jruby9k-json-ext-repro)

Sttacktrace here:

[code]

[2015-01-22 04:46] AdamKyle opened #2497 "So Rails Rake Tasks Don't work? Preview 1 - 9.0.0.0"
So I might be on drugs, but I hope not. So I have a **Rails 4.2** project with **Jruby 9.0.0.0.-pre1** installed and being used by the project.

I then have the following task:

[code]

Running: `bin/rake create_api_key aisis_platform` Gives me:

[code]

Now what makes me think this is a bug is because I posted the issue [here on stack](http://stackoverflow.com/questions/28081311/what-is-this-synt

[2015-01-22 07:05] kares commented on #1719
@jeffgran glad to hear that ... updating to **0.9.6** for the next 1.7.x release was definitely the plan!

pls, go ahead and open a PR with the pom updated (against **jruby-1_7**), so that it's not forgotten ...

[2015-01-22 09:00] philr commented on #2494
I can confirm that this is now fixed. Thank you @headius.

[2015-01-22 09:13] lephyrius commented on #2491
@headius I tried to create an dummy app...
Just a note it doesn't reach "setup" or any methods in my tests. Also it doesn't react differently on "rake test" or "rake test:models".
I need to poke around more.
Is there a good/simple way of seeing all the ruby methods called when I run "rake test:controllers"? Then I could figure out where it quits.

[2015-01-22 10:52] lephyrius commented on #2491
I have now found the error I will put up a test app as soon as I have cleaned it up a bit. Also I found a bonus error which I also include that I found in my desperate testing.(that you will see when you run the tests on 9000 but not on 1.7.18 or MRI 2.2) I will put it on github. :)

[2015-01-22 11:44] zigolab opened #2498 "[compass] org/jruby/RubyFile.java: No such process"
I built a test project with `yo angular`.
When I run `grunt serve -v`, using jruby 1.7.18 on Windows 7, compass fails with the following error

Diving into the grunt code, it seems that the problem is related to the way jruby instantiate the compass process on Windows 7... If I run the same command using Windows 7+jruby 1.7.15 or OS X+jruby 1.7.18 everything goes fine.

My setup is:

[2015-01-22 13:10] yuki24 opened #2499 "jrubyc command doesn't work on 9.0.0.0-pre1"
on 9.0.0.0-pre1:

[code]

on 1.7.18:

[code]

Am I missing something or it's a bug?

[2015-01-22 14:00] nirvdrum commented on #1876
@mkristian Perhaps you can take a quick pass over the documentation to clarify?

[2015-01-22 14:23] headius commented on #2499
It's known to be broken at the moment. The JIT is completely different and does not yet support ahead-of-time compilation.

[2015-01-22 14:27] lephyrius commented on #2491
I created the dummy app and it's available here:
https://github.com/lephyrius/minitest-9000-test
I tried to make it as minimal as possible. But rails is rails and they have a lot of cruft.
To reproduce just bundle and run "rake test:controllers"

[2015-01-22 14:49] headius commented on #2497
Wow, that's surprising. We do test Rails periodically and did so again immediately before the release on multiple platforms. This seems like something missed in the parser.

I'll try to reproduce. Is this the entire, exact contents of `create_api_key.rake`?

[2015-01-22 14:52] headius commented on #2497
The task as given appears to parse successfully in JRuby. There's something else at play here, perhaps with how activesupport is loading the file?

[2015-01-22 14:53] headius commented on #2497
Can you run this same command but with `JRUBY_OPTS="-Xbacktrace.style=raw -Xjit.threshold=0` and `--trace` passed to rake, please? I need more information about where this is coming from.

[2015-01-22 15:09] headius commented on #2498
Windows is known to be a little...undersupported in the preview. Can you provide a literal transcript of your session leading up to the error, so we can reproduce it and fix it?

[2015-01-22 15:18] enebo commented on #2497
We run Rails + Rake we before we release so we are at least loading enough to run a database migration.  I sometimes see misreported lines in backtraces when a subfile fails and Rails also uses Autoload which could possibly fire off a load which is failing?

[2015-01-22 16:33] mkristian commented on #1876
@chrisseaton please have a look at the current text. also reflect the new situation on master with the truffle module. just feel free to tell if something is still unclear.

[2015-01-22 17:03] AdamKyle commented on #2497
@headius The entire contents of the rake file is:

[code]

People in stack are stating that `SecureRandom` and `ApiKey` are considered constants and that they cannot reproduce this on there versions of Jruby. `SecureRandom` and `ApiKey` are both valid classes, one is a model class - which is tested with Rspec 3.1.0 and the other is a Ruby Class (**Java also has a version of this class, could they

[2015-01-22 17:04] DavidEGrayson commented on #1554
I tested this again today: MRI 2.2.0p0 prints `:cva` while JRuby 9.0.0.0.pre1 prints `:cvb`, so the bug is still present and nothing has changed.

[2015-01-22 17:23] DavidEGrayson commented on #1422
I tested this again today with MRI 2.2.0-p0 and JRuby 9.0.0.0-pre1, and nothing has changed so the bug is still there.

[2015-01-22 17:37] DavidEGrayson commented on #1348
MRI fixed [that bug](https://bugs.ruby-lang.org/issues/10598), by the way.  I tested this issue again today with MRI 2.2.0-p0 (on Linux) and JRuby 9.0.0.0-pre1 (on Windows).  Here are the results I get when I run the original script from my first post:

[code]

[code]

So the only thing that has changed since I reported this in December 2013 is that the encoding of sym4 changed from US-ASCII to Wi

[2015-01-22 17:43] DavidEGrayson commented on #1329
I tested this again today with MRI 2.2.0p0 and JRuby 9.0.0.0.pre1 and nothing has changed.  I could probably make a pull request that fixes it 99.9% of the time, but issue #1348 is still open so it would not be a complete fix.  As described in issue #1348, symbols retrieved from the JRuby symbol table will sometimes have the wrong encoding, so we cannot  guarantee that unmarshalled symbols will ha

[2015-01-22 17:59] DavidEGrayson commented on #1328
I tested the script from my original post on JRuby 9.0.0.0-pre1 and I got a more serious error:

[code]

To help people reproduce the issue, here is what my hex editor (WinHex) shows for sym_enc.rb:

[code]

[2015-01-22 18:27] djberg96 opened #2500 "gem install failure on Windows"
Windows 7
jruby 9.0.0.0.pre1 (2.2.0p0) 2015-01-20 d537cab Java HotSpot(TM) Client VM 24.51-b03 on 1.7.0_51-b13 +jit [Windows 7-x86]

    C:\>jruby -S gem install test-unit
    ERROR:  Loading command: install (Win32::Registry::Error)
    The system cannot find the file specified.
    ERROR:  While executing gem ... (NoMethodError) undefined method `invoke_with_build_args' for nil:NilClass

[2015-01-22 18:46] rtyler commented on #2498
@headius this is a JRuby 1.7.18 issue, not the 9k preview1

[2015-01-22 19:26] AdamKyle commented on #2497
After comparing with some of my rails friends, to make sure I wasn't on drugs it does seem to be a parser error.

[2015-01-22 20:17] zigolab commented on #2498
I asked for help from the grunt project to find out how compass is instantiated.
I will post more details as soon as I will have more information about it.
In the meantime, I tested the same command on Windows 7 with:
- rubyinstaller-1.9.3-p551: ok
- jruby_windows_x64_1_7_15: ok
- jruby_windows_x64_1_7_16: error
- jruby_windows_x64_1_7_17: error
- jruby_windows_x64_1_7_18: error

compass gems used

[2015-01-22 20:30] oblutak commented on #2012
Not sure where it was fixed, but don't seem to have the issue in 1.7.18.

[2015-01-22 20:30] #2012 closed

[2015-01-22 20:42] DavidEGrayson commented on #1328
I put the script into a gist: https://gist.github.com/DavidEGrayson/5a03462b705f6d96e2fe

[2015-01-22 21:25] cheald commented on #1328
I couldn't reproduce this on Fedora, and @headius couldn't on OS X, but I did successfully reproduce it on Windows 8.1 with pre1. Yay for platform bugs!

[2015-01-22 21:44] keltia opened #2502 "Using Celluloid::IO for async reading from a TLS socket does not work"
9.0.0.0-pre1 installed through rbenv. OS X 10.10.1.

Hello, using the following code https://gist.github.com/keltia/e3bc40e9b2b1d84da5f8 to read from a streaming TLS-enabled socket, 1.7.18 works perfectly, printing snippets of JSON data, 9.0.0.0-pre1 gives me 0-byte strings instead.

1.7.18
---------------
    386 [22:30] roberto@lonrach-2:GIT/flightaware-client> bin/fa-export
    Connecting to fo

[2015-01-22 21:45] DavidEGrayson commented on #1328
If I run this slightly modified script, JRuby seems to get stuck in an infinite loop:

[code]

[2015-01-22 21:48] headius commented on #2502
I signed up for an account but I'm not sure what to put for "site" and "port" in the script.

[2015-01-22 22:04] headius commented on #2502
Oh, I found the bit about json feeds through a commercial account at the low low price of $1100. I'm guessing we won't be able to reproduce this locally?

Perhaps you can dig into the code a bit and try to narrow it down to the line(s) that are failing to read any data?

[2015-01-22 22:05] headius commented on #2502
Also, you may want to try downgrading jruby-openssl to 0.9.5 or confirm you're using the same version on 1.7.18.

[2015-01-22 22:15] keltia commented on #2502
0.9.6 for 9.0.0.0-pre1 and 0.9.5 for 1.7.18 yes.  Will try with 0.9.5 on 9.0.0.0-pre1.

I'm getting these messages when using 0.9.5 with 9.0.0.0-pre1.  Maybe I missed something when installing 0.9.5?

    file:/Volumes/Users/roberto/.rbenv/versions/jruby-9.0.0.0-pre1/lib/jruby.jar!/jruby/kernel/kernel.rb:28: warning: unsupported exec option: close_others
    LoadError: no such file to load -- kryp

[2015-01-22 22:18] keltia commented on #2502
jruby 1.7.18 works fine with ruby-openssl 0.9.6.

[2015-01-22 22:42] mooreniemi opened #2503 "jruby prompt adding chars?"
in pry (using a custom prompt), i see it add up  to 4 chars. for instance, if i type "foodler", hit enter, then up arrow to retype, "food" will be caught in the prompt. if i press enter, it will clear the cursor back to the actual  prompt end. i've talked to the pry guys  and i'm not 100% sure it isn't  an issue there, but i hoped  you could help lead me to a fix.

![screenshot 2015-01-22 17 38 19

[2015-01-23 00:00] DavidEGrayson commented on #2503
If the JRuby verison number in your IRB screenshot is accurate, you are using a pretty old version.  I think you should try out [9.0.0.0-pre1](http://jruby.org/2015/01/20/jruby-9-0-0-0-pre1.html) to see if the problem was already fixed.

I can't reproduce the IRB problem using JRuby 9.0.0.0-pre1 in Windows.

[2015-01-23 00:43] yuki24 commented on #2499
@headius Thanks for the info!

[2015-01-23 02:18] kingspider1971 opened #2505 "IO.popen cannot run 'date' on Windows 7"
dateProc = IO.popen("date", 'w+')
dateProc.puts "\n"
dateProc.close_write
s2 = dateProc.gets
puts s2

Execution Result:
D:\ruby\jruby-1.7.18\bin\jruby.exe --1.9 -e $stdout.sync=true;$stderr.sync=true;load($0=ARGV.shift) D:/ruby/projects/test1/test/test1.rb
IOError: Cannot run program "date" (in directory "D:\ruby\projects\test1\test"): CreateProcess error=2, ?????????
   popen at org/jruby/RubyIO.

[2015-01-23 04:17] digitalextremist opened #2506 "Mysterious core dump / segfault with 9.0.0.0-pre."
Not sure where to even begin describing this issue. I have 2.8+ megabytes of error output and am afraid to post it all here in case it has something compromising in it. Let me know where to privately post a secret gist and the trainwreck is _all yours_ free of charge.

The fatal error completely took out all fault-tolerance for my otherwise impossible to kill process, down to crashing the Java VM

[2015-01-23 09:02] raskhadafi opened #2507 "load error: jopenssl/load in jruby 9.0.0.0.pre1"
On my osx with jruby 9.0.0.0.pre1 (2.2.0p0) 2015-01-20 d537cab Java HotSpot(TM) 64-Bit Server VM 25.5-b02 on 1.8.0_05-b13 +jit [darwin-x86_64]

Used gem: airbrake

I get:

[code]

[2015-01-23 09:48] mkristian commented on #2502
for jruby-openssl-0.9.5 you need to install the krypt gem as well, it was part of jruby's default gems until jruby-openssl stopped needing it but the old gems do NOT have a declared dependency on krypt.

[2015-01-23 10:12] kares commented on #1597
**0.9.6** cut things half and will be part of **1.7.19** ... there's certainly more optimization work possible, but maybe those should get split into smaller pieces instead of one general issue report here ...

[2015-01-23 10:15] nirvdrum commented on #1597
I'm fine scoping it more, but to clarify this is mostly aimed at all the static initialization that goes on.

[2015-01-23 10:43] mkristian commented on #2507
this probably has two reasons: one it the reversed classloader hierarchy of jruby-9.0.0.0.pre1 and second that you probably have BC in your extension classloader (i.e. BC is part of your java installation)

the first part will be reverted to what we have in jruby-1_7 in 9.0.0.0.pre2

[2015-01-23 10:59] kares commented on #1597
ah OK, been actually thinking about that but got slightly de-motivated by looking at RubyGems/Bundler to see what's it really using ... there's stuff to figure out from the "happy-path" to know what to load in advance.

[2015-01-23 11:06] mkristian commented on #2487
did look at the complete distribution and used pack200 to reduce the jars which leads to:
[code]

to use the pack200.zip you need to run a "post_install" script
[code]

the reduction in size is impressive and worth for using with rbenv, rvm and alike. maybe even windows installer. the post_installer could be also an executable jar.

[2015-01-23 11:24] ayappanec commented on #1389
Can any maintainers look into this issue ( https://github.com/jnr/jffi/pull/12 )

[2015-01-23 13:50] mkristian commented on #2487
another point are the native libraries

* both lib/jruby.jar has bundled the jni/* directory inside the jar and the dist archive contains lib/jni/* as well

[2015-01-23 14:33] headius commented on #1389
Wow, apologies for missing this one for so long. The PR has been merged and we'll try to get releases of the whole JNR chain out for JRuby 1.7.x and 9k.pre2.

[2015-01-23 14:33] raskhadafi commented on #2507
Thanks for your immediate answer!

For BC should I use the lastest version? Thanks in advance for your help.

[2015-01-23 14:38] headius commented on #1389
Oops...don't close until we have updated JNR-* in a JRuby release.

[2015-01-23 14:46] mkristian commented on #2507
either remove it from your jdk installation if that is possible or
use jdk15on-1.49 which comes with jruby-9.0.0.0.pre1 (which still could
create problems with the current release)

[2015-01-23 15:29] bbrowning opened #2510 "Explicit require of autoloaded class triggers double load"
Explicitly requiring a class that's also marked to autoload can result in that class getting loaded twice. Normally that's not a huge problem, but in cases where the class undefs methods or something else similar it's an issue.

Here's a simple example created from a real-world ActiveSupport 4.1.8 issue I hit:

https://gist.github.com/bbrowning/cb59f764a697b93b5b6c